:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 80vw;
  background: var(--is-light-theme, #ffffff) var(--is-dark-theme, #222222) !important;
}

p {
  margin: 0;
}

.vex-list-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 72px;
  padding: 0 var(--padding-16);
  position: relative;
  user-select: none;

  &:hover {
    background: var(--background-hover);
  }
}

.progress-bar {
  margin-top: 8px;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-buttons {
  display: flex;
  align-items: center;
}
p,
h4 {
  color: var(--is-light-theme, #222222) var(--is-dark-theme, #ffffff);
}
.white {
  color: white;
}
