<form>
  <div class="flex items-center" mat-dialog-title>
    <h2 class="headline m-0 flex-auto">{{'bookings_page.bonus.title' | translate
      }}</h2>

    <!--<button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>-->

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col">
    <div style="width:100%">
      <mat-radio-group>
        <ng-container *ngFor="let b of bonuses">
          <mat-radio-button *ngIf="!b.payed " [disabled]="isInUse(b.id)" class="radio" (change)="bonus = b" [value]="b">
            {{ b.code }} - {{'remaining_balance' | translate}}: {{
            b.remaining_balance }} {{defaults.currency}} <span style="color:#8fd14f">{{ isInUse(b.id) ? 'applied' : '' |
              translate}}</span>
          </mat-radio-button>
        </ng-container>
      </mat-radio-group>
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label>{{'Código bono'
          |translate}}</mat-label>
        <input type="text" matInput [(ngModel)]="voucherName"  name="voucherName"  />
      </mat-form-field>
      <app-form-button (click)="searchVoucher()" form="flat" name="search">
      </app-form-button>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <app-form-button form="stroked" name="cancel" [mat-dialog-close]="false">
    </app-form-button>
    <app-form-button (click)="closeModal()" form="flat" name="confirm">
    </app-form-button>
  </mat-dialog-actions>
</form>
