::ng-deep .mat-progress-bar-buffer {
  background: #e4e8eb;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

.box-detail-timeline {
  width: 450px;
  position: fixed;
  top: 140px;
  right: 0;
  overflow-y: auto;
  margin-top: 20px;
  border: 1px solid grey;
  padding: 0;
  height: fit-content;
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
  background: #ff3085;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;

  &:hover {
    background-color: darken(#ff3085, 10%);
  }

  &.btn-1 {
    background-color: #ff3085;
    box-shadow: 0 6px darken(#ff3085, 10%);
    transition: none;

    &:hover {
      box-shadow: 0 4px darken(#ff3085, 10%);
      top: 2px;
    }
  }
}

.input-container {
  padding: 0 0 0 10px;
}

.image-container,
.input-container {
  float: left;
}

.chip-level {
  width: 90px;
  height: 25px;
  margin: 0 10px 10px 0;
  float: left;
  border-radius: 20px;
  cursor: pointer;
}
.delete-column {
  width: 50px !important;
}

::ng-deep .sports-table mat-header-row {
  display: block !important;
}
::ng-deep .sports-table mat-row {
  display: block !important;
}
.table-show-detail {
  width: 100%;
  float: left;
}
.box-detail-boxes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  flex-wrap: wrap;
}
.box-detail-box {
  width: calc(50% - 6px);
  height: 110px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
  margin-bottom: 4px;
}
.box-background-grey {
  background: var(--is-light-theme, #e6e6e6) var(--is-dark-theme, #121212);
}
.box-detail-user-block {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 12px;
}
.box-detail-user-block-img {
  width: 60px;
  min-width: 60px;
  height: 60px;
  position: relative;
  border-radius: 60px;
}
.box-detail-user-block-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.box-detail-user-block-text {
  display: flex;
  width: 100%;
  gap: 4px;
  flex-direction: column;
}
.box-detail-user-block-text div {
  font-weight: bold;
  font-size: 16px;
}
.box-detail-user-block-text span {
  font-size: 12px;
}
.box-detail-user-blocklevel {
  color: #fff;
  padding: 2px 4px;
  width: fit-content;
  border-radius: 6px;
}
.font-bold {
  font-weight: bold;
}
.font-white {
  color: #fff;
}
.box-detail-user-block {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 12px;
}
.box-detail-user-block-img {
  width: 60px;
  min-width: 60px;
  height: 60px;
  position: relative;
  border-radius: 60px;
}
.box-detail-user-block-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.box-detail-user-block-text {
  display: flex;
  width: 100%;
  gap: 4px;
  flex-direction: column;
}
.box-detail-user-block-text div {
  font-weight: bold;
  font-size: 16px;
}
.box-detail-user-block-text span {
  font-size: 12px;
}
.box-detail-user-blocklevel {
  color: #fff;
  padding: 2px 4px;
  width: fit-content;
  border-radius: 6px;
}
