<div class="container py-6">
  <div class="card overflow-hidden">
    <div class="h-64 relative overflow-hidden">
      <img
        class="w-full h-full object-cover"
        src="../../../../assets/img/8.png" />
      <div
        class="absolute bg-black opacity-25 top-0 right-0 bottom-0 left-0 w-full h-full z-0"></div>

      <img
        class="avatar h-24 w-24 absolute top-6 ltr:left-4 rtl:right-4 sm:hidden"
        [src]="defaults.image" />
    </div>

    <div class="z-10 relative -mt-16 px-6 flex items-center" style="margin-top: -6rem !important;position: relative;bottom: 80px;" >
      <img
        @scaleIn
        class="avatar h-24 w-24 flex-none align-start hidden sm:block border-2 border-white"
        [src]="defaults.image" />

      <div class="max-w-full flex-auto sm:ltr:ml-6 sm:rtl:mr-6">
        <div class="h-16 items-end">
          <p @fadeInRight class="headline text-white" style="font-size: 12px;">{{getNacionality(defaults.country)}} · {{getCountry(defaults.country)}} · {{calculateAge(defaults.birth_date)}} ans</p>

          <h1 @fadeInRight class="headline text-white">{{defaults.first_name}} {{defaults.last_name}}</h1>

          <mat-icon svgIcon="mat:chat"></mat-icon>
          <mat-icon svgIcon="mat:mail_outline"></mat-icon>
          <mat-icon svgIcon="mat:contact_phone"></mat-icon>
        </div>

      </div>
    </div>
  </div>

  <div class="mt-6 flex flex-col md:flex-row md:items-start" [formGroup]="formInfoAccount" *ngIf="!loading && !editing">
    <div style="margin-left:0; margin-right: 1.5rem" class="card max-w-unset md:max-w-xs w-full flex-none md:ltr:ml-6 md:rtl:mr-6 mt-6 md:mt-0">
      <div class="px-6 py-4 border-b">
        <h2 class="title m-0">Utilisateurs</h2>
      </div>

      <div @stagger class="px-6 py-4 flex flex-col gap-4" style="cursor:pointer;">
        <div
          class="flex items-center" (click)="changeClientData(mainId)">
          <img
            @scaleIn
            [src]="mainClient?.image === null || mainClient?.image === '' ? '../../../../assets/img/avatar.png': mainClient?.image"
            [ngStyle]="{
              'border': mainId && +mainId === defaults?.id ? '#FF3085 1px solid' : 'none'
            }"
            alt="Profile Picture"
            class="avatar ltr:mr-3 rtl:ml-3 flex-none" />

          <div @fadeInRight class="flex-auto">
            <h4 class="body-2 m-0 leading-snug" style="width: 90%; float:left">{{ mainClient?.first_name }} {{ mainClient?.last_name }}</h4>
          </div>
        </div>
        <div
          *ngFor="let user of clientUsers;"
          class="flex items-center" style="cursor:pointer;" (click)="changeClientData(user.id)">
          <img
            @scaleIn
            [src]="user?.image === null || user?.image === '' ? '../../../../assets/img/avatar.png': user?.image"
            alt="Profile Picture"
            class="avatar ltr:mr-3 rtl:ml-3 flex-none"
            [ngStyle]="{
              'border': +id === defaults.id && this.id !== mainId ? '#FF3085 1px solid' : 'none'
            }"
            />
          <div @fadeInRight class="flex-auto">
            <h4 class="body-2 m-0 leading-snug" style="width: 90%; float:left">{{ user?.first_name }} {{ user?.last_name }}</h4>
            <span class="body-2 m-0 leading-snug"  style="width: 10%; float:left" (click)="deleteUserClient(user?.utilizer_id)"><mat-icon svgIcon="mat:delete"></mat-icon></span>
          </div>
        </div>

        <div style="cursor:pointer"
          class="flex items-center">
          <mat-icon svgIcon="mat:add"></mat-icon>
          <div @fadeInRight class="flex-auto" (click)="addUtilisateur()">
            <h4 class="body-2 m-0 leading-snug">Add utilisateur</h4>
          </div>
        </div>


      </div>
    </div>

    <mat-tab-group style="width: 100%">
      <mat-tab label="About">
        <div class="flex-auto">
          <div class="card">
            <div class="px-6 py-4 border-b">
              <h2 class="title m-0">Données Personnelles
                <mat-icon svgIcon="mat:expand_less" style="float:right;cursor:pointer" *ngIf="!showInfo" (click)="showInfoEvent(true)"></mat-icon>
                <mat-icon svgIcon="mat:expand_less" style="float:right;cursor:pointer" *ngIf="showInfo" (click)="showInfoEvent(false)"></mat-icon>
                <mat-icon svgIcon="mat:remove_red_eye" style="float:right;cursor:pointer" *ngIf="editInfo" (click)="showInfoEditEvent(false)"></mat-icon>
                <mat-icon svgIcon="mat:edit" style="float:right;cursor:pointer" *ngIf="!editInfo" (click)="showInfoEditEvent(true)"></mat-icon>
              </h2>
            </div>

            <div class="px-6 py-4 grid grid-cols-1 sm:grid-cols-2 gap-4" *ngIf="showInfo">
              <div class="py-3 flex items-center">
                <div
                  @scaleIn
                  class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                  <mat-icon class="icon-sm" svgIcon="mat:mail"></mat-icon>
                </div>

                <div @fadeInRight>
                  <p class="m-0 caption text-hint">Nom</p>
                  <p class="m-0 body-1">{{defaults.first_name}}</p>
                </div>

              </div>

              <div class="py-3 flex items-center">
                <div
                  @scaleIn
                  class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                  <mat-icon class="icon-sm" svgIcon="mat:lock"></mat-icon>
                </div>

                <div @fadeInRight>
                  <p class="m-0 caption text-hint">Prenom</p>
                  <p class="m-0 body-1">{{defaults.last_name}}</p>
                </div>
              </div>

              <div class="py-3 flex items-center">
                <div
                  @scaleIn
                  class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                  <mat-icon class="icon-sm" svgIcon="mat:business"></mat-icon>
                </div>

                <div @fadeInRight>
                  <p class="m-0 caption text-hint">Fecha de nacimient</p>
                  <p class="m-0 body-1">{{defaults.birth_date | date: 'dd/MM/YYYY'}}
                  </p>
                </div>
              </div>

              <div class="py-3 flex items-center">
                <div
                  @scaleIn
                  class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                  <mat-icon class="icon-sm" svgIcon="mat:business"></mat-icon>
                </div>

                <div @fadeInRight>
                  <p class="m-0 caption text-hint">Movil</p>
                  <p class="m-0 body-1">{{defaults.phone}}
                  </p>
                </div>
              </div>

              <div class="py-3 flex items-center">
                <div
                  @scaleIn
                  class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                  <mat-icon class="icon-sm" svgIcon="mat:business"></mat-icon>
                </div>

                <div @fadeInRight>
                  <p class="m-0 caption text-hint">Email</p>
                  <p class="m-0 body-1">{{defaults.email}}
                  </p>
                </div>
              </div>

              <div class="py-3 flex items-center">
                <div
                  @scaleIn
                  class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                  <mat-icon class="icon-sm" svgIcon="mat:business"></mat-icon>
                </div>

                <div @fadeInRight>
                  <p class="m-0 caption text-hint">Idiomas</p>
                  <p class="m-0 body-1">{{getSelectedLanguageNames()}}
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="card" style="margin: 3% 0 0 0;">
            <div class="px-6 py-4 border-b">
              <h2 class="title m-0">Deportes
                <mat-icon svgIcon="mat:expand_less" style="float:right;cursor:pointer" *ngIf="!showSportInfo" (click)="showSportInfoEvent(true)"></mat-icon>
                <mat-icon svgIcon="mat:expand_less" style="float:right;cursor:pointer" *ngIf="showSportInfo" (click)="showSportInfoEvent(false)"></mat-icon>
                <mat-icon svgIcon="mat:remove_red_eye" style="float:right;cursor:pointer" *ngIf="editSportInfo"  (click)="showSportInfoEditEvent(false)"></mat-icon>
                <mat-icon svgIcon="mat:edit" style="float:right;cursor:pointer" *ngIf="!editSportInfo"  (click)="showSportInfoEditEvent(true)"></mat-icon>
              </h2>
            </div>

            <div class="px-6 py-4 grid grid-cols-1 sm:grid-cols-2 gap-4" *ngIf="showSportInfo">

              <div *ngFor="let item of clientSport">
                <div class="py-3 flex items-center">
                  <div
                    @scaleIn
                    class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                    <img [src]="item.icon_selected" style="border-radius: 10px 0 10px 10px" [style.background-color]="item.level.color">
                  </div>

                  <div @fadeInRight *ngIf="!editSportInfo">
                    <p class="m-0 caption text-hint">Sport</p>
                    <p class="m-0 body-1">{{item.name}}
                    </p>
                  </div>
                </div>

                <div class="py-3 flex items-center">
                  <div
                    @scaleIn
                    class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                    <mat-icon class="icon-sm" svgIcon="mat:language"></mat-icon>
                  </div>

                  <div @fadeInRight *ngIf="!editSportInfo">
                    <p class="m-0 caption text-hint">Level</p>
                    <div style="padding: 5%;color: #fff;width: 100%;border-radius: 10px 0 10px;width: 250px;" [style.background-color]="item.level.color">
                      <p class="m-0 body-1" style="text-wrap: pretty;text-align: center;">{{item.level.annotation}} - {{item.level.name}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card" style="margin: 3% 0 0 0;">
            <div class="px-6 py-4 border-b">
              <h2 class="title m-0">Direccion
                <mat-icon svgIcon="mat:expand_less" style="float:right;cursor:pointer" *ngIf="!showAddressInfo" (click)="showAddressInfoEvent(true)"></mat-icon>
                <mat-icon svgIcon="mat:expand_less" style="float:right;cursor:pointer" *ngIf="showAddressInfo" (click)="showAddressInfoEvent(false)"></mat-icon>
                <mat-icon svgIcon="mat:remove_red_eye" style="float:right;cursor:pointer" *ngIf="editAddressInfo" (click)="showAddressInfoEditEvent(false)"></mat-icon>
                <mat-icon svgIcon="mat:edit" style="float:right;cursor:pointer" *ngIf="!editAddressInfo" (click)="showAddressInfoEditEvent(true)"></mat-icon>
              </h2>
            </div>

            <div class="px-6 py-4 grid grid-cols-1 sm:grid-cols-2 gap-4" *ngIf="showAddressInfo">
              <div class="py-3 flex items-center">
                <div
                  @scaleIn
                  class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                  <mat-icon class="icon-sm" svgIcon="mat:mail"></mat-icon>
                </div>

                <div @fadeInRight>
                  <p class="m-0 caption text-hint">Calle -nº</p>
                  <p class="m-0 body-1">{{defaults.address}}</p>
                </div>

              </div>

              <div class="py-3 flex items-center">
                <div
                  @scaleIn
                  class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                  <mat-icon class="icon-sm" svgIcon="mat:lock"></mat-icon>
                </div>

                <div @fadeInRight>
                  <p class="m-0 caption text-hint">CP</p>
                  <p class="m-0 body-1">{{defaults.cp}}</p>
                </div>
              </div>

              <div class="py-3 flex items-center">
                <div
                  @scaleIn
                  class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                  <mat-icon class="icon-sm" svgIcon="mat:business"></mat-icon>
                </div>

                <div @fadeInRight>
                  <p class="m-0 caption text-hint">Ciudad</p>
                  <p class="m-0 body-1">{{getProvince(defaults.province)}}
                  </p>
                </div>
              </div>

              <div class="py-3 flex items-center">
                <div
                  @scaleIn
                  class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                  <mat-icon class="icon-sm" svgIcon="mat:business"></mat-icon>
                </div>

                <div @fadeInRight>
                  <p class="m-0 caption text-hint">Canton</p>
                  <p class="m-0 body-1">{{getCountry(defaults.country)}}
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="card" style="margin: 3% 0 0 0;">
            <div class="px-6 py-4 border-b">
              <h2 class="title m-0">Other info
                <mat-icon svgIcon="mat:expand_less" style="float:right;cursor:pointer" *ngIf="!showPersonalInfo" (click)="showPersonalInfoEvent(true)"></mat-icon>
                <mat-icon svgIcon="mat:expand_less" style="float:right;cursor:pointer" *ngIf="showPersonalInfo" (click)="showPersonalInfoEvent(false)"></mat-icon>
                <mat-icon svgIcon="mat:remove_red_eye" style="float:right;cursor:pointer" *ngIf="editPersonalInfo" (click)="showPersonalInfoEditEvent(false)"></mat-icon>
                <mat-icon svgIcon="mat:edit" style="float:right;cursor:pointer" *ngIf="!editPersonalInfo" (click)="showPersonalInfoEditEvent(true)"></mat-icon>
              </h2>
            </div>

            <div class="px-6 py-4 grid grid-cols-1 sm:grid-cols-2 gap-4" *ngIf="showPersonalInfo">
              <div class="py-3 flex items-center">
                <div
                  @scaleIn
                  class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                  <mat-icon class="icon-sm" svgIcon="mat:mail"></mat-icon>
                </div>

                <div @fadeInRight>
                  <p class="m-0 caption text-hint">Nombre de usuario</p>
                  <p class="m-0 body-1">{{defaultsUser.username || 'No asigned'}}</p>
                </div>

              </div>

              <div class="py-3 flex items-center">
                <div
                  @scaleIn
                  class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                  <mat-icon class="icon-sm" svgIcon="mat:lock"></mat-icon>
                </div>

                <div @fadeInRight>
                  <p class="m-0 caption text-hint">Password</p>
                  <p class="m-0 body-1">*************</p>
                </div>
              </div>

              <div class="py-3 flex items-center">
                <div
                  @scaleIn
                  class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                  <mat-icon class="icon-sm" svgIcon="mat:mail"></mat-icon>
                </div>

                <div @fadeInRight>
                  <p class="m-0 caption text-hint">Notas de la escuela</p>
                  <p class="m-0 body-1">{{defaultsObservations.notes || 'No asigned'}}</p>
                </div>

              </div>

              <div class="py-3 flex items-center">
                <div
                  @scaleIn
                  class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                  <mat-icon class="icon-sm" svgIcon="mat:mail"></mat-icon>
                </div>

                <div @fadeInRight>
                  <p class="m-0 caption text-hint">Généralites</p>
                  <p class="m-0 body-1">{{defaultsObservations.general || 'No asigned'}}</p>
                </div>

              </div>

            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Sports">

        <div class="card" style="margin: 3% 0 0 0;">
          <div class="px-6 py-4 border-b">
            <h2 class="title m-0">Evolution Sportive
            </h2>
          </div>

          <div class="px-6 py-4 grid grid-cols-1 sm:grid-cols-2 gap-4" *ngIf="showInfo" style="border-bottom: 1px solid #ededed; padding:5%">
            <div class="py-3 flex items-center">
              <div style="float: left; width:100%;">
                <div style="float: left; width:25%;" *ngFor="let item of clientSport" (click)="selectSportEvo(item)">
                  <img [src]="selectedSport?.sport_id === item.sport_id ? item.icon_selected : item.icon_unselected" style="float: left;border-radius: 20%;border:1px solid; cursor:pointer;"
                  [ngStyle]="{
                    'background': selectedSport?.sport_id === item.sport_id ? '#e91e63' : '#e6e6e6',
                    'border': selectedSport?.sport_id === item.sport_id ? '#fff' : '#808080'
                  }">
                  <p style="width: 50%;float: left;text-align: center;text-wrap: nowrap;"> {{item.name}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="px-6 py-4 grid grid-cols-1 sm:grid-cols-2 gap-4" *ngIf="showInfo" style="border-bottom: 1px solid #ededed; padding:5%">
            <div class="py-3 flex items-center">
              <div style="float: left; width:100%;">
                <div style="float: left; width:100%;">
                  <div style="float: left; width:20%;">
                    <img [src]="selectedSport?.icon_selected" [style.background]="selectedSport?.level?.color" [style.border]="selectedSport?.level?.color" style="float: left;border-radius: 20%;border:1px solid">
                  </div>
                  <div style="float: left; width:80%;">
                    <p style="float: left; width:100%;font-size: 12px;">{{selectedSport?.level?.league}} - {{calculateGoalsScore() === 0 ? 0 : calculateGoalsScore() / this.selectedGoal.length}}%</p>
                    <h1 style="float: left; width:100%;font-size: 20px;">{{selectedSport?.level?.annotation}} / {{selectedSport?.level?.name}}</h1>
                  </div>

                  <div style="float: left; width:100%;margin: 2% 0 0 0;">
                    <mat-progress-bar mode="determinate" [value]="calculateGoalsScore()" [color]="selectedSport?.level?.color"></mat-progress-bar>

                  </div>

                  <div style="float: left; width:100%;margin: 4% 0 0 0;" *ngFor="let goal of selectedGoal">

                    <div style="float: left; width:3%;margin-right: 15px;">
                      <mat-icon svgIcon="mat:donut_large"></mat-icon>
                    </div>

                    <div style="float: left; width:70%;">
                      <p>{{goal.name}} </p>
                    </div>

                    <div style="float: left; width:5%;margin-right: 15px;">
                      <mat-icon svgIcon="mat:donut_large"></mat-icon>

                    </div>

                    <div style="float: left; width:5%;margin-right: 15px;">
                      <mat-icon svgIcon="mat:star_half" style="color: yellow"></mat-icon>

                    </div>

                    <div style="float: left; width:5%;">
                      <mat-icon svgIcon="mat:check" style="color: green"></mat-icon>

                    </div>

                  </div>
                </div>



                <div style="float: left; width:100%;margin-top: 5%" *ngIf="false">
                  <h1 style="float: left; width:100%;font-size: 20px;">Histórico</h1>

                </div>

              </div>

            </div>
            <div class="py-3 flex items-center">

              <div style="float: left; width:100%;">
                <app-level-user *ngIf="!coloring" [allLevels]="allLevels" [selectLevel]="selectedSport?.level?.id" [size]="200" [userImage]="this.defaults.image"></app-level-user>

              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Cours">

      </mat-tab>
      <mat-tab label="Statistiques">

      </mat-tab>
    </mat-tab-group>

  </div>


  <div class="mt-6 flex flex-col md:flex-row md:items-start"*ngIf="!loading && editing">
    <div style="margin-left:0; margin-right: 1.5rem"
      class="card max-w-unset md:max-w-xs w-full flex-none md:ltr:ml-6 md:rtl:mr-6 mt-6 md:mt-0">
      <div class="px-6 py-4 border-b">
        <h2 class="title m-0">Utilisateurs</h2>
      </div>

      <div @stagger class="px-6 py-4 flex flex-col gap-4" style="cursor:pointer;">
        <div
          class="flex items-center" (click)="changeClientData(mainId)">
          <img
            @scaleIn
            [src]="mainClient?.image === null || mainClient?.image === '' ? '../../../../assets/img/avatar.png': mainClient?.image"
            [ngStyle]="{
              'border': mainId && +mainId === defaults?.id ? '#FF3085 1px solid' : 'none'
            }"
            alt="Profile Picture"
            class="avatar ltr:mr-3 rtl:ml-3 flex-none" />

          <div @fadeInRight class="flex-auto">
            <h4 class="body-2 m-0 leading-snug" style="width: 90%; float:left">{{ mainClient?.first_name }} {{ mainClient?.last_name }}</h4>
          </div>
        </div>
        <div
          *ngFor="let user of clientUsers;"
          class="flex items-center" style="cursor:pointer;" (click)="changeClientData(user.id)">
          <img
            @scaleIn
            [src]="user?.image === null || user?.image === '' ? '../../../../assets/img/avatar.png': user?.image"
            alt="Profile Picture"
            class="avatar ltr:mr-3 rtl:ml-3 flex-none"
            [ngStyle]="{
              'border': +id === defaults.id && this.id !== mainId ? '#FF3085 1px solid' : 'none'
            }"
            />
          <div @fadeInRight class="flex-auto">
            <h4 class="body-2 m-0 leading-snug" style="width: 90%; float:left">{{ user?.first_name }} {{ user?.last_name }}</h4>
            <span class="body-2 m-0 leading-snug"  style="width: 10%; float:left" (click)="deleteUserClient(user?.utilizer_id)"><mat-icon svgIcon="mat:delete"></mat-icon></span>
          </div>
        </div>

        <div style="cursor:pointer"
          class="flex items-center">
          <mat-icon svgIcon="mat:add"></mat-icon>
          <div @fadeInRight class="flex-auto" (click)="addUtilisateur()">
            <h4 class="body-2 m-0 leading-snug">Add utilisateur</h4>
          </div>
        </div>


      </div>
    </div>
    <mat-tab-group style="width: 100%" (selectedTabChange)="onTabChange($event)" *ngIf="!loading && editing">
      <mat-tab label="Profile">
        <mat-vertical-stepper #stepper="matHorizontalStepper" [linear]="false" [selectedIndex]="selectedTabIndex">

          <ng-template matStepperIcon="edit">
            <mat-icon svgIcon="mat:done_all"></mat-icon>
          </ng-template>

          <ng-template matStepperIcon="done">
            <mat-icon svgIcon="mat:done_all"></mat-icon>
          </ng-template>

          <mat-step [stepControl]="formInfoAccount">
            <form [formGroup]="formInfoAccount">
              <ng-template matStepLabel>Info de compte</ng-template>

              <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                <div class="image-container">
                  <img [src]="defaults.image !== null ? defaults.image : '../../../../assets/img/no-image.jpg'" alt="Image Preview" style="width: 200px;height: 200px;border-radius: 100%;object-fit: fill;">
                </div>

                <div class="input-container">

                  <input type="file" formControlName="image" placeholder="Select an image" (change)="onFileChanged($event)" id="file"/>
                  <label for="file" class="btn-1">upload file</label>
                  <p>Maximum 2mb</p>
                  <p>Formats supportés: PNG, JPG</p>
                </div>
              </div>

                <div class="flex flex-col sm:flex-row gap-2 sm:gap-6" style="margin: 3% 0 0 0;">
                  <mat-form-field class="flex-auto">
                    <mat-label>Nom</mat-label>
                    <input formControlName="name" matInput required type="text" [(ngModel)]="defaults.first_name">

                  </mat-form-field>

                  <mat-form-field class="flex-auto">
                    <mat-label>Prenom</mat-label>
                    <input formControlName="surname" matInput required type="text" [(ngModel)]="defaults.last_name">
                  </mat-form-field>
              </div>

                <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                  <mat-form-field class="flex-auto">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput required type="mail" [(ngModel)]="defaults.email">

                  </mat-form-field>

                  <mat-form-field class="flex-auto">
                    <mat-label>Nom d'utilisateur</mat-label>
                    <input formControlName="username" matInput required type="text" [(ngModel)]="defaultsUser.username">
                  </mat-form-field>
                </div>


              <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                <mat-form-field class="flex-auto">
                  <mat-label>Password</mat-label>
                  <input formControlName="password" matInput required type="password" [(ngModel)]="defaultsUser.password">

                </mat-form-field>
              </div>
              <div class="actions flex items-center justify-end gap-2">
                <button mat-button type="button" (click)="editing = false; selectedTabIndex = 0">Ir a Preview</button>
                <button mat-button type="button" (click)="goTo('/clients')">Volver al listado</button>
                <button [disabled]="formInfoAccount.invalid" color="primary" mat-raised-button matStepperNext>
                  Next
                </button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="formPersonalInfo">
            <form [formGroup]="formPersonalInfo">
              <ng-template matStepLabel>Données Personnelles</ng-template>

              <div class="flex flex-col sm:flex-row gap-2 sm:gap-6" style="margin: 3% 0 0 0;">

                <mat-form-field class="flex-auto">
                  <input matInput [matDatepicker]="pickerFrom" placeholder="Date de naissance" formControlName="fromDate" [max]="minDate" [(ngModel)]="defaults.birth_date">
                  <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                  <mat-datepicker #pickerFrom [startAt]="minDate"></mat-datepicker>
                </mat-form-field>

              </div>

              <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                <mat-form-field class="flex-auto">
                  <mat-label>Teléphone</mat-label>

                  <input formControlName="phone" matInput required type="tel"  [(ngModel)]="defaults.telephone">
                </mat-form-field>

                <mat-form-field class="flex-auto">
                  <mat-label>Portable</mat-label>
                  <input formControlName="mobile" matInput required type="tel" [(ngModel)]="defaults.phone">

                </mat-form-field>
              </div>

              <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                <mat-form-field class="flex-auto">
                  <mat-label>Addresse</mat-label>

                  <input formControlName="address" matInput required type="text" [(ngModel)]="defaults.address">
                </mat-form-field>

                <mat-form-field class="flex-auto">
                  <mat-label>Code Postal</mat-label>
                  <input formControlName="postalCode" matInput required type="text" [(ngModel)]="defaults.cp">

                </mat-form-field>
              </div>



              <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                <mat-form-field class="vex-flex-form-field flex-auto">
                  <mat-label>Pays</mat-label>
                  <input type="text" placeholder="Selecciona una opción" matInput [formControl]="myControlCountries" [matAutocomplete]="autoCountry">
                  <mat-autocomplete #autoCountry="matAutocomplete" [displayWith]="displayFnCountry">
                    <mat-option *ngFor="let country of filteredCountries | async" [value]="country" (onSelectionChange)="defaults.country = country.id">
                      {{country.name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <mat-form-field class="vex-flex-form-field flex-auto">
                  <mat-label>Canton</mat-label>
                  <input type="text" placeholder="Selecciona una opción" matInput [formControl]="myControlProvinces" [matAutocomplete]="autoProvince">
                  <mat-autocomplete #autoProvince="matAutocomplete" [displayWith]="displayFnProvince">
                    <mat-option *ngFor="let province of filteredProvinces | async" [value]="province" (onSelectionChange)="defaults.province = province.id">
                      {{province.name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <mat-form-field class="flex-auto" appearance="fill">
                  <mat-label>Idiomas</mat-label>
                  <mat-select [formControl]="languagesControl" multiple>
                    <mat-select-trigger>
                      <div *ngIf="selectedLanguages.length > 0; else placeholderLangs">
                        {{ getSelectedLanguageNames() }}
                      </div>
                      <ng-template #placeholderLangs>Selecciona los idiomas</ng-template>
                    </mat-select-trigger>
                    <mat-option *ngFor="let language of filteredLanguages | async" [value]="language" (onSelectionChange)="toggleSelectionLanguages(language)">
                      {{language.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="actions flex items-center justify-end gap-2">
                <button mat-button type="button" (click)="editing = false; selectedTabIndex = 0">Ir a Preview</button>
                <button mat-button type="button" (click)="goTo('/clients')">Volver al listado</button>
                <button [disabled]="formPersonalInfo.invalid" color="primary" mat-raised-button matStepperNext>
                  Next
                </button>
              </div>
            </form>
          </mat-step>


          <mat-step [stepControl]="formSportInfo">
            <form [formGroup]="formSportInfo">
              <ng-template matStepLabel>Sports</ng-template>

              <div class="flex flex-col sm:flex-row gap-2 sm:gap-6" style="margin: 2% 0 0 0;">
                <mat-form-field class="flex-auto" appearance="fill">
                  <mat-label>Deportes</mat-label>
                  <mat-select [formControl]="sportsControl" multiple>

                    <mat-select-trigger>
                      <div *ngIf="sportsControl.value?.length > 0; else placeholder">
                        {{ getSelectedSportsNames() }}
                      </div>
                      <ng-template #placeholder>Selecciona los deportes</ng-template>
                    </mat-select-trigger>

                    <mat-option *ngFor="let sport of filteredSports | async" [value]="sport" (onSelectionChange)="toggleSelection($event, sport)">
                      {{sport.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">

                <!-- Añadir niños con modal -->
                <mat-table #sportsCurrentTable [dataSource]="sportsCurrentData" >
                  <caption style="width: 100px"> Current sports</caption>

                  <!-- Otros contenedores según tu descripción -->

                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <mat-form-field class="flex-auto" style="margin: 2% 0 0 0;">
                        <mat-label>Name</mat-label>
                        <input matInput [value]="element.name" type="text" [readonly]="true">
                      </mat-form-field>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="level">
                    <mat-header-cell *matHeaderCellDef>Niveaux</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <mat-form-field class="flex-auto" style="margin: 2% 0 0 0;">
                        <mat-label>Niveaux</mat-label>
                        <input type="text" placeholder="Pick one" aria-label="Number" matInput [matAutocomplete]="autoLevel" [value]="element.level.name" [(ngModel)]="element.level"/>
                      <mat-autocomplete #autoLevel="matAutocomplete" [displayWith]="displayFnLevel">
                        <mat-option *ngFor="let level of element.degrees" [value]="level"  (onSelectionChange)="element.level = level" (onSelectionChange)="updateLevel(element, level)">
                          {{level.annotation}} - {{level.name}}
                        </mat-option>
                      </mat-autocomplete>
                      </mat-form-field>
                    </mat-cell>
                  </ng-container>


                  <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef class="delete-column">Eliminar</mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index" class="delete-column">
                      <mat-icon svgIcon="mat:delete" (click)="removeSport(i, element)"></mat-icon>
                    </mat-cell>
                  </ng-container>
                  <!-- Ícono para eliminar
                  <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <mat-icon svgIcon="mat:delete" (click)="removeChild(element)"></mat-icon>
                    </mat-cell>
                  </ng-container> -->

                  <mat-header-row *matHeaderRowDef="displayedCurrentColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedCurrentColumns;"></mat-row>
                </mat-table>
              </div>

              <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">

                <!-- Añadir niños con modal -->
                <mat-table #sportsTable [dataSource]="sportsData" *ngIf="this.sportsData.data.length > 0">
                  <caption style="width: 100px"> New sports</caption>

                  <!-- Otros contenedores según tu descripción -->

                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <mat-form-field class="flex-auto" style="margin: 2% 0 0 0;">
                        <mat-label>Name</mat-label>
                        <input matInput [value]="element.name" type="text" [readonly]="true">
                      </mat-form-field>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef>Niveaux</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <mat-form-field class="flex-auto" style="margin: 2% 0 0 0;">
                        <mat-label>Niveaux</mat-label>
                        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="levelForm" [matAutocomplete]="autoLevel" [(ngModel)]="element.level"/>
                        <mat-autocomplete #autoLevel="matAutocomplete" [displayWith]="displayFnLevel">
                          <mat-option *ngFor="let level of element.degrees" [value]="level">
                            {{level.annotation}} - {{level.name}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </mat-cell>
                  </ng-container>

                  <!-- Ícono para eliminar
                  <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <mat-icon svgIcon="mat:delete" (click)="removeChild(element)"></mat-icon>
                    </mat-cell>
                  </ng-container> -->

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              </div>

              <div class="actions flex items-center justify-end gap-2">
                <button mat-button type="button" (click)="editing = false; selectedTabIndex = 0">Ir a Preview</button>
                <button mat-button type="button" (click)="goTo('/clients')">Volver al listado</button>
                <button [disabled]="formPersonalInfo.invalid" color="primary" mat-raised-button matStepperNext>
                  Save
                </button>
              </div>
            </form>

          </mat-step>

          <mat-step [stepControl]="formOtherInfo">
            <form [formGroup]="formOtherInfo">
              <ng-template matStepLabel>Other info</ng-template>

              <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                <mat-form-field class="flex-auto">
                  <mat-label>Généralites</mat-label>
                  <textarea formControlName="summary" matInput [(ngModel)]="defaultsObservations.general"></textarea>
                </mat-form-field>
              </div>

              <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                <mat-form-field class="flex-auto">
                  <mat-label>Notes de l'école</mat-label>
                  <textarea formControlName="notes" matInput [(ngModel)]="defaultsObservations.notes"></textarea>
                </mat-form-field>
              </div>

              <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                <mat-form-field class="flex-auto">
                  <mat-label>Hisotrique</mat-label>
                  <textarea formControlName="hitorical" matInput [(ngModel)]="defaultsObservations.historical"></textarea>
                </mat-form-field>
              </div>

              <div class="actions flex items-center justify-end gap-2">
                <button mat-button type="button" (click)="editing = false; selectedTabIndex = 0">Ir a Preview</button>
                <button mat-button type="button" (click)="goTo('/clients')">Volver al listado</button>
                <button [disabled]="formPersonalInfo.invalid" color="primary" mat-raised-button matStepperNext (click)="save()">
                  Save
                </button>
              </div>
            </form>

          </mat-step>
        </mat-vertical-stepper>
      </mat-tab>

      <mat-tab label="Sports">

        <div class="card" style="margin: 3% 0 0 0;">
          <div class="px-6 py-4 border-b">
            <h2 class="title m-0">Evolution Sportive
            </h2>
          </div>

          <div class="px-6 py-4 grid grid-cols-1 sm:grid-cols-2 gap-4" *ngIf="showInfo" style="border-bottom: 1px solid #ededed; padding:5%">
            <div class="py-3 flex items-center">
              <div style="float: left; width:100%;">
                <div style="float: left; width:25%;" *ngFor="let item of clientSport" (click)="selectSportEvo(item)">
                  <img [src]="selectedSport?.sport_id === item.sport_id ? item.icon_selected : item.icon_unselected" style="float: left;border-radius: 20%;border:1px solid; cursor:pointer;"
                  [ngStyle]="{
                    'background': selectedSport?.sport_id === item.sport_id ? '#e91e63' : '#e6e6e6',
                    'border': selectedSport?.sport_id === item.sport_id ? '#fff' : '#808080'
                  }">
                  <p style="width: 50%;float: left;text-align: center;text-wrap: nowrap;"> {{item.name}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="px-6 py-4 grid grid-cols-1 sm:grid-cols-2 gap-4" *ngIf="showInfo" style="border-bottom: 1px solid #ededed; padding:5%">
            <div class="py-3 flex items-center">
              <div style="float: left; width:100%;">
                <div style="float: left; width:100%;">
                  <div style="float: left; width:20%;">
                    <img [src]="selectedSport?.icon_selected" [style.background]="selectedSport?.level?.color" [style.border]="selectedSport?.level?.color" style="float: left;border-radius: 20%;border:1px solid">
                  </div>
                  <div style="float: left; width:80%;">
                    <p style="float: left; width:100%;font-size: 12px;">{{selectedSport?.level?.league}} - {{calculateGoalsScore() === 0 ? 0 : calculateGoalsScore() / this.selectedGoal.length}}%</p>
                    <h1 style="float: left; width:100%;font-size: 20px;">{{selectedSport?.level?.annotation}} / {{selectedSport?.level?.name}}</h1>
                  </div>

                  <div style="float: left; width:100%;margin: 2% 0 0 0;">
                    <mat-progress-bar mode="determinate" [value]="calculateGoalsScore()" [color]="selectedSport?.level?.color"></mat-progress-bar>

                  </div>

                  <div style="float: left; width:100%;margin: 4% 0 0 0;" *ngFor="let goal of selectedGoal">

                    <div style="float: left; width:3%;margin-right: 15px;">
                      <mat-icon svgIcon="mat:donut_large"></mat-icon>
                    </div>

                    <div style="float: left; width:70%;">
                      <p>{{goal.name}} </p>
                    </div>

                    <div style="float: left; width:5%;margin-right: 15px;">
                      <mat-icon svgIcon="mat:donut_large"></mat-icon>

                    </div>

                    <div style="float: left; width:5%;margin-right: 15px;">
                      <mat-icon svgIcon="mat:star_half" style="color: yellow"></mat-icon>

                    </div>

                    <div style="float: left; width:5%;">
                      <mat-icon svgIcon="mat:check" style="color: green"></mat-icon>

                    </div>

                  </div>
                </div>



                <div style="float: left; width:100%;margin-top: 5%" *ngIf="false">
                  <h1 style="float: left; width:100%;font-size: 20px;">Histórico</h1>

                </div>

              </div>

            </div>
            <div class="py-3 flex items-center">

              <div style="float: left; width:100%;">
                <app-level-user *ngIf="!coloring" [allLevels]="allLevels" [selectLevel]="selectedSport?.level?.id" [size]="200" [userImage]="this.defaults.image"></app-level-user>

              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Cours">

      </mat-tab>
      <mat-tab label="Statistiques" *ngIf="false">

      </mat-tab>
    </mat-tab-group>
  </div>

</div>
