::ng-deep .mat-progress-bar-buffer {
  background: #e4e8eb;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

.box-detail-timeline {
  width: 450px;
  position: fixed;
  top: 140px;
  right: 0;
  overflow-y: auto;
  margin-top: 20px;
  border: 1px solid grey;
  padding: 0;
  height: fit-content;
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
  background: #ff3085;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;

  &:hover {
    background-color: darken(#ff3085, 10%);
  }

  &.btn-1 {
    background-color: #ff3085;
    box-shadow: 0 6px darken(#ff3085, 10%);
    transition: none;

    &:hover {
      box-shadow: 0 4px darken(#ff3085, 10%);
      top: 2px;
    }
  }
}

.input-container {
  padding: 0 0 0 10px;
}

.image-container,
.input-container {
  float: left;
}

.chip-level {
  width: 90px;
  height: 25px;
  margin: 0 10px 10px 0;
  float: left;
  border-radius: 20px;
  cursor: pointer;
}
.delete-column {
  width: 50px !important;
}

::ng-deep .sports-table mat-header-row {
  display: block !important;
}
::ng-deep .sports-table mat-row {
  display: block !important;
}
.table-show-detail {
  width: 100%;
  float: left;
}
.box-detail-boxes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  flex-wrap: wrap;
}
.box-detail-box {
  width: calc(50% - 6px);
  height: 110px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
  margin-bottom: 4px;
}
.box-background-grey {
  background: var(--is-light-theme, #e6e6e6) var(--is-dark-theme, #121212);
}
.box-detail-user-block {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 12px;
}
.box-detail-user-block-img {
  width: 60px;
  min-width: 60px;
  height: 60px;
  position: relative;
  border-radius: 60px;
}
.box-detail-user-block-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.box-detail-user-block-text {
  display: flex;
  width: 100%;
  gap: 4px;
  flex-direction: column;
}
.box-detail-user-block-text div {
  font-weight: bold;
  font-size: 16px;
}
.box-detail-user-block-text span {
  font-size: 12px;
}
.box-detail-user-blocklevel {
  color: #fff;
  padding: 2px 4px;
  width: fit-content;
  border-radius: 6px;
}
.font-bold {
  font-weight: bold;
}
.font-white {
  color: #fff;
}
.box-detail-user-block {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 12px;
}
.box-detail-user-block-img {
  width: 60px;
  min-width: 60px;
  height: 60px;
  position: relative;
  border-radius: 60px;
}
.box-detail-user-block-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.box-detail-user-block-text {
  display: flex;
  width: 100%;
  gap: 4px;
  flex-direction: column;
}
.box-detail-user-block-text div {
  font-weight: bold;
  font-size: 16px;
}
.box-detail-user-block-text span {
  font-size: 12px;
}
.box-detail-user-blocklevel {
  color: #fff;
  padding: 2px 4px;
  width: fit-content;
  border-radius: 6px;
}

.flex-sections-user {
  display: flex;
  gap: 20px;
  padding: 0 60px;
  margin-top: 24px;
  flex-direction: row;
  justify-content: center;
  position: relative;
  align-items: center;
  > div {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 270px;
    flex-wrap: nowrap;
    flex-direction: column;
    > div {
      display: flex;
      gap: 8px;
      .descripcion {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}

.tabsWrapper {
  width: 100%;
  ::ng-deep {
    .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
      font-weight: 600;
    }
    .mat-mdc-tab {
      background-color: white;
      border: 1px solid #dee6ea;
      height: 64px;
      font-size: 0.85rem;

      line-height: 1.15rem;
    }

    .mdc-tab-indicator--active {
      background-color: white;
      font-size: 0.85rem;
      font-weight: 600;
      line-height: 1.15rem;
    }

    .mat-mdc-tab .mdc-tab-indicator__content--underline {
      border-top-width: 3px;
      align-self: flex-start;
      border-color: #e91e63;
    }
    .mat-mdc-tab-body.mat-mdc-tab-body-active {
      background-color: white;
    }
  }
}

.flowcard {
  width: calc(88vw - 360px);
  max-width: 1800px;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /* Activa el scroll snap en el eje X */
  scroll-padding: 0; /* Asegura que el desplazamiento no tenga padding adicional */

  height: 1000px;
  @media only screen and (max-width: 900px) {
    width: 100%;
  }
}
.arrowflowcard {
  width: calc(88vw - 360px);
  max-width: 1800px;
  position: absolute;
  box-shadow: none;
  padding: 0;
  top: calc(50% - 30px);
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  z-index: 999;
  @media only screen and (max-width: 1800px) {
    display: none;
  }
}

.sportCard {
  border-top: 1px solid #8b9099;
  padding: 20px;
  @media only screen and (max-width: 900px) {
    padding: 0;
  }
}
.flowcardGroup {
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
  width: max-content;
  padding: 0 300px;
  gap: 40px;
  @media only screen and (max-width: 900px) {
    padding: 0 10px;
  }
}
.flex-sections-user > app-user-detail-sport-card {
  scroll-snap-align: center;
}


.vex-page-layout-content {
  &.col-right {
    width: 30%;
    top: 115px;
    float: left;
    position: fixed;
    left: calc(70% - 40px);
    overflow-y: auto;
    max-height: calc(100vh - 180px);
    border-radius: 10px;
    padding: 0px;
    margin-top: 30px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

    @media (max-width: 1280px) {
      width: 50%;
      left: calc(50% - 40px);
    }

    @media (max-width: 1020px) {
      width: 60%;
      left: calc(40% - 40px);
    }

    @media (max-width: 768px) {
      width: 90%;
      left: calc(10% - 40px);
    }

    .mat-mdc-card-subtitle {
      > div {
        display: block !important;
        width: 100% !important;
        text-align: left !important;
      }
    }
  }

  .mat-mdc-card-header {
    background-color: #2f3844;
    padding: 25px 35px !important;

    .mat-mdc-card-title {
      font-weight: 700;
      font-size: 1.5rem;
      color: #fff;
    }

    .mat-icon {
      fill: white !important;
    }
  }

  .mat-mdc-card-content {
    padding: 0px !important;
    background: var(--is-light-theme, #ffffff) var(--is-dark-theme, #222222);

    .title-client {
      padding: 10px 35px;
      color: var(--color-dark1);
      font-size: 1.1em;
      font-weight: 700;
    }

    .holder-client {
      padding-left: 45px;

      .col-left {
        display: inline-block;
        vertical-align: middle;
      }
      .col-right {
        display: inline-block;
        vertical-align: middle;
        padding-left: 15px;

        .client-name {
          font-size: 1.3em;
          font-weight: 700;
          color: var(--color-dark1);
          margin-bottom: 2px;
        }

        .client-dates {
          font-family: "Montserrat", sans-serif;
          font-size: 0.9em;
        }
      }
    }
  }
}

.list-holder {
  padding: 0px 35px;
  font-size: 1em;
  font-weight: 400;
  color: var(--color-dark1);
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;

  .col-left {
    width: 70%;
    display: inline-block;
    vertical-align: middle;

    .col-l {
      width: 50%;
      display: inline-block;
      vertical-align: middle;
    }
    .col-r {
      width: 50%;
      display: inline-block;
      vertical-align: middle;
      text-align: right;

      span {
        color: #fa9917;
      }
    }
  }

  .col-right {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
  }
}

.list-inner-holder {
  padding: 0px 0px;
  font-size: 1em;
  font-weight: 400;
  color: var(--color-dark1);
  margin-bottom: 10px;

  .col-left {
    width: 70%;
    display: inline-block;
    vertical-align: middle;

    .col-l {
      width: 50%;
      display: inline-block;
      vertical-align: middle;
    }
    .col-r {
      width: 50%;
      display: inline-block;
      vertical-align: middle;
      text-align: right;

      span {
        color: #fa9917;
      }
    }
  }
  .col-right {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
  }
}

.icon-calendar {
  display: inline-block;
  height: 23px;
  width: 23px;
  vertical-align: bottom;
}

.date-course {
  font-size: 0.9em;
  font-weight: 300;
  color: var(--color-dark1);

  i {
    font-weight: 500;
  }
}

.title-actividad {
  background-color: var(--color-grey4);
  padding: 15px 35px;
  margin-top: 20px;
  margin-bottom: 10px;

  .title {
    font-size: 1.2em;
    font-weight: 700;
    color: var(--color-dark1);
  }

  b {
    font-weight: 700;
  }

  .col-left {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }

  .col-right {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    text-align: right;

    b {
      color: var(--color-dark1);
      font-size: 1.4em;
      font-weight: 600;
    }
  }
}

.holder-content {
  padding: 15px 6%;

  .subtitle {
    position: relative;
    font-size: 1.1em;
    font-weight: 400;
    color: var(--color-dark1);
    margin-top: 20px;
    margin-bottom: 20px;

    &:after {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      background-color: #523f69;
      opacity: 0.06;
    }
  }
}

.dot {
  background-color: #19f349;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 0px;
  position: relative;
  top: 13px;
  left: 7px;
}

.subtitle-sub {
  position: relative;
  font-size: 1.1em;
  font-weight: 700;
  color: var(--color-dark1);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 35px 20px 35px;

  &:after {
    position: relative;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #523f69;
    opacity: 0.06;
    top: 10px;
  }
}

.holder-actividad {
  width: 100%;

  .col-left {
    display: inline-block;
    width: 70%;

    .course-title {
      font-size: 1.4em;
      font-weight: 700;
      color: var(--color-dark1);
    }

    .course-label {
      font-family: "Montserrat", sans-serif;
      font-size: 1em;
      font-weight: 400;
      color: var(--color-dark1);
      margin-bottom: 10px;
    }

    b {
      font-weight: 700;
    }

    .c-l {
      display: inline-block;
      vertical-align: top;
    }

    .c-r {
      display: inline-block;
      vertical-align: top;
    }
  }

  .col-right {
    display: inline-block;
    width: 30%;
    text-align: right;

    b {
      color: var(--color-dark1);
      font-size: 1.4em;
      font-weight: 600;
    }
  }
}

.holder-participante {
  width: 100%;

  .col-left {
    display: flex;
    width: 100%;
    gap: 10px;

    .course-title {
      font-size: 1.4em;
      font-weight: 700;
      color: var(--color-dark1);
      display: inline-block;
    }

    .course-label {
      font-family: "Montserrat", sans-serif;
      font-size: 1em;
      font-weight: 400;
      color: var(--color-dark1);
      margin-bottom: 0px;
    }

    b {
      font-weight: 700;
    }

    .c-l {
      display: inline-block;
      vertical-align: top;
    }

    .c-r {
      display: inline-block;
      vertical-align: top;
    }
  }
}

.label-user {
  display: inline-block;
  width: max-content;
  margin: 2% 0 2% 0;
  padding: 2%;
  color: #fff;
  font-weight: 500;
  border-radius: 3px;
  text-align-last: center;
  text-align: center;
}

.total-bottom {
  width: 100%;
  margin-top: 20px;
  background-color: #2f3844;

  .col-left {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }

  .col-right {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
  }

  .total {
    color: #ffffff;
    font-size: 1.1em;
    font-weight: 400;
    padding: 15px 35px;

    b {
      font-weight: 700;
    }
  }
}

.placeLevel {
  color: #fff;
  border-radius: 5px;
  width: fit-content;
  padding: 5px;
  text-align: center;
  font-size: 10px;
  overflow: inherit;
}
