.swiper-container {
  width: 100%;
  overflow: hidden; /* Esto es crucial para ocultar slides adicionales */
}

.swiper-slide {
  width: 25% !important; /* Ajusta este valor según el ancho que quieras para cada slide */
}

.highlighted {
  background-color: #f5f5f5; /* color de fondo gris claro */
  border: 1px solid #ddd;    /* borde gris */
}
