<div class="w-full h-full bg-pattern flex flex-col items-center justify-center bg-login">
  <div @fadeInUp class="card overflow-hidden w-full max-w-md">
    <div class="p-6 pb-0 flex flex-col items-center justify-center" *ngIf="!updated">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/login-logo.png" style="width: 14rem !important">
      </div>
    </div>
    <div>
      <div class="px-1" style="float: right;">
        <button [matMenuTriggerFor]="languageMenu" mat-icon-button type="button">
          <mat-icon [svgIcon]="flag"></mat-icon>
        </button>
      </div>

      <mat-menu #languageMenu="matMenu" overlapTrigger="false" xPosition="before" yPosition="below">
        <button mat-menu-item (click)="changeLang('flag:france', 'fr')">
          <mat-icon svgIcon="flag:france"></mat-icon>
          <span>{{'France' | translate}}</span>
        </button>

        <button mat-menu-item (click)="changeLang('flag:uk', 'en')">
          <mat-icon svgIcon="flag:uk"></mat-icon>
          <span>{{'English' | translate}}</span>
        </button>

        <button mat-menu-item (click)="changeLang('flag:germany', 'de')">
          <mat-icon svgIcon="flag:germany"></mat-icon>
          <span>{{'Germany' | translate}}</span>
        </button>

        <button mat-menu-item (click)="changeLang('flag:spain', 'es')">
          <mat-icon svgIcon="flag:spain"></mat-icon>
          <span>{{'Spanish' | translate}}</span>
        </button>

        <button mat-menu-item (click)="changeLang('flag:italy', 'it')">
          <mat-icon svgIcon="flag:italy"></mat-icon>
          <span>{{'Italian' | translate}}</span>
        </button>
      </mat-menu>
    </div>
    <div class="text-center mt-4" *ngIf="!updated">
      <h2 class="title m-0">{{'welcome' | translate}}</h2>
      <h4 class="body-2 text-secondary m-0">{{'set_pwd' | translate}}.</h4>
    </div>

    <div [formGroup]="form" class="p-6 flex flex-col gap-4" *ngIf="!loading && !updated">
      <div class="flex flex-col">
        <mat-form-field appearance="outline" class="flex-1">
          <mat-label>Password</mat-label>
          <input [type]="inputType" formControlName="password" matInput required>
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Ver contraseña" type="button">
            <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
            <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
          </button>
          <mat-error *ngIf="form.controls?.password?.errors?.['required']">
            {{'must_pwd' | translate}}
          </mat-error>
          <mat-error *ngIf="form.controls?.password?.errors?.['minlength']">
            {{'pwd_length' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="flex-1">
          <mat-label>{{'repeat_pwd' | translate}}</mat-label>
          <input [type]="inputType" formControlName="password_repeat" matInput required>
          <button (click)="toggleVisibilityRepeat()" mat-icon-button matSuffix matTooltip="Ver contraseña" type="button">
            <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
            <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
          </button>
          <mat-error *ngIf="form.controls?.password_repeat?.errors?.['required']">
            {{'must_pwd' | translate}}
          </mat-error>
          <mat-error *ngIf="form.controls?.password_repeat?.errors?.['minlength']">
            {{'pwd_length' | translate}}
          </mat-error>
          <mat-error *ngIf="form.value?.password !== form.value?.password_repeat">
            {{'same_pwd' | translate}}
          </mat-error>
        </mat-form-field>
      </div>

      <button (click)="send()" color="primary" mat-raised-button type="button" [disabled]="form.invalid">
        {{'confirm' | translate}}
      </button>
    </div>


    <div class="p-6 flex flex-col items-center" *ngIf="updated">
      <img class="w-16" src="assets/img/login-logo.png" style="width: 14rem !important">
    </div>

    <h1 style="padding: 5%;" class="display-1 font-medium m-0" *ngIf="updated">{{'pwd_updated' | translate }}</h1>
    <h3 style="padding: 5%; text-align: center;" class="title mt-3 mb-0" *ngIf="updated">{{'close_pwd' | translate }}.</h3>


  </div>
</div>
