<div class="w-full h-full bg-pattern flex flex-col items-center justify-center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-md">
    <div class="p-6 pb-0 flex flex-col items-center justify-center" *ngIf="!updated">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/demo/logo.svg">
      </div>
    </div>

    <div class="text-center mt-4" *ngIf="!updated">
      <h2 class="title m-0">Bienvenido</h2>
      <h4 class="body-2 text-secondary m-0">Ingresa tu nueva contraseña.</h4>
    </div>

    <div [formGroup]="form" class="p-6 flex flex-col gap-4" *ngIf="!loading && !updated">
      <div class="flex flex-col">
        <mat-form-field appearance="outline" class="flex-1">
          <mat-label>Contraseña</mat-label>
          <input [type]="inputType" formControlName="password" matInput required>
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Ver contraseña" type="button">
            <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
            <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
          </button>
          <mat-error *ngIf="form.controls?.password?.errors?.['required']">
            La constraseña es obligatoria
          </mat-error>
          <mat-error *ngIf="form.controls?.password?.errors?.['minlength']">
            La contraseña no tiene un formato correcto. Tiene que contener un de 6 caracteres
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="flex-1">
          <mat-label>Repetir Contraseña</mat-label>
          <input [type]="inputType" formControlName="password_repeat" matInput required>
          <button (click)="toggleVisibilityRepeat()" mat-icon-button matSuffix matTooltip="Ver contraseña" type="button">
            <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
            <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
          </button>
          <mat-error *ngIf="form.controls?.password_repeat?.errors?.['required']">
            La constraseña es obligatoria
          </mat-error>
          <mat-error *ngIf="form.controls?.password_repeat?.errors?.['minlength']">
            La contraseña no tiene un formato correcto. Tiene que contener un de 6 caracteres
          </mat-error>
          <mat-error *ngIf="form.value?.password !== form.value?.password_repeat">
            La contraseña no son iguales
          </mat-error>
        </mat-form-field>
      </div>

      <button (click)="send()" color="primary" mat-raised-button type="button" [disabled]="form.invalid">
        Confirmar
      </button>
    </div>


    <div class="p-6 flex flex-col items-center" *ngIf="updated">
      <img class="w-16" src="assets/img/demo/logo.svg">
    </div>

    <h1 style="padding: 5%;" class="display-1 font-medium m-0" *ngIf="updated">Contraseña actualizada</h1>
    <h3 style="padding: 5%; text-align: center;" class="title mt-3 mb-0" *ngIf="updated">Cierre esta página e ingrese su nueva contraseña en su cuenta.</h3>


  </div>
</div>
