<ng-container [ngSwitch]="form">
	<ng-container *ngSwitchCase="'stroked'">
		<button mat-stroked-button type="button" [disabled]="disabled">
			<span>
				<mat-icon *ngIf="icon" class="icon-sm" [svgIcon]="icon"></mat-icon>
				{{ name | translate }}
			</span>
		</button>
	</ng-container>
	<ng-container *ngSwitchCase="'flat'">
		<button mat-flat-button type="button" [disabled]="disabled" style="color: white;">
			<span style="color: white;">
				<mat-icon *ngIf="icon" class="icon-sm" [svgIcon]="icon"></mat-icon>
				{{ name | translate }}
			</span>
		</button>
	</ng-container>
	<ng-container *ngSwitchCase="'back'">
		<button mat-button type="button" [disabled]="disabled" class="back">
			<span>
				<mat-icon *ngIf="icon" class="icon-sm" [svgIcon]="icon"></mat-icon>
				{{ name | translate }}
			</span>
		</button>
	</ng-container>
	<ng-container *ngSwitchDefault>

	</ng-container>
</ng-container>