<form [formGroup]="stepForm" class="wrapper">
  <div formArrayName="course_dates">
    <div *ngFor="let dateGroup of courseDates.controls; let i = index" [formGroupName]="i">
      <mat-card-header class="card__header">
        <mat-card-title> {{ "date" | translate }} {{ i + 1 }} </mat-card-title>
        <ng-container *ngIf="i > 0">
          <mat-icon fontSet="material-icons-outlined" (click)="removeDate(i)">delete</mat-icon>
        </ng-container>
      </mat-card-header>
      <mat-card-content class="card__content wrapper">
        <div class="row1">
          <mat-form-field appearance="outline">
            <mat-label>{{ "date" | translate }}</mat-label>
            <input matInput [matDatepicker]="picker" (click)="picker.open()" [matDatepickerFilter]="inUseDatesFilter"
              formControlName="date" readonly />
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [startAt]="minDate"
              [dateClass]="utilService.dateClass('green', this.course, minDate)"></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ "hour" | translate }}</mat-label>
            <mat-select formControlName="startHour">
              <mat-option *ngFor="let hour of possibleHours" [value]="hour"
                [disabled]="utilService.calculateAvailableHours( dateGroup.get('date').value, hour, course, activitiesBooked, utilizers)">
                {{ hour }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ "duration" | translate }}</mat-label>
            <input matInput *ngIf="!course.is_flexible" formControlName="duration" readonly />
            <mat-select *ngIf="course.is_flexible" formControlName="duration">
              <mat-option *ngFor="let duration of possibleDurations" [value]="duration">
                {{ duration }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row2" *ngIf="isRow1Complete(i)">
          <mat-form-field appearance="outline">
            <mat-label>{{ "monitor" | translate }}</mat-label>
            <mat-select formControlName="monitor">
              <mat-option *ngFor="let monitor of possibleMonitors[i]" [value]="monitor">
                {{ monitor.first_name }} {{ monitor.last_name }}
              </mat-option>
            </mat-select>
            <mat-icon matPrefix fontSet="material-icons-outlined">school</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ "select_monitor" | translate }}</mat-label>
            <mat-select formControlName="changeMonitorOption" [disabled]="!dateGroup.get('monitor').value">
              <mat-select-trigger *ngIf="dateGroup.get('changeMonitorOption').value">
                <mat-icon matPrefix [class]="dateGroup.get('changeMonitorOption').value.class"
                  fontSet="material-icons-outlined">
                  {{ dateGroup.get('changeMonitorOption').value.icon }}
                </mat-icon>
                {{ dateGroup.get('changeMonitorOption').value.description |
                translate }}
              </mat-select-trigger>
              <mat-option [value]="null">{{ "no_monitor" | translate }}</mat-option>
              <mat-option *ngFor="let option of possibleChangeMonitorSelection" [value]="option">
                <mat-icon [class]="option.class" fontSet="material-icons-outlined">{{ option.icon }}</mat-icon>
                {{ option.description | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <ng-container [formArrayName]="'utilizers'">
          <div class="row3" *ngFor="let utilizerGroup of getUtilizersArray(i).controls; let u = index"
            [formGroupName]="u">
            <!-- Datos del utilizador -->
            <div>
              <mat-form-field appearance="outline">
                <mat-label>{{ "participant" | translate }} {{ u + 1
                  }}</mat-label>
                <input matInput disabled
                  [value]="utilizerGroup.get('first_name').value + ' ' + utilizerGroup.get('last_name').value" />
                <mat-icon class="disabled-icon" matPrefix fontSet="material-icons-outlined">people</mat-icon>
              </mat-form-field>
            </div>
            <!-- Selección de extras -->
            <div class="extra-field-wrapper" *ngIf=" this.possibleExtras && this.possibleExtras.length">
              <mat-form-field appearance="outline" class="extras-field">
                <mat-label>{{ "extras" | translate }}</mat-label>
                <mat-select formControlName="extras" multiple
                  [disabled]="!this.possibleExtras || !this.possibleExtras.length">
                  <mat-option *ngFor="let extra of possibleExtras" [value]="extra">
                    {{ extra.description }} - {{ extra.price | currency:
                    course.currency}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- Precio de los extras -->
              <span class="extras-price">
                {{ utilizerGroup.get('totalExtraPrice').value | currency:
                course.currency }}
              </span>
            </div>
          </div>
        </ng-container>
      </mat-card-content>
    </div>
  </div>
</form>