:host {
  background: var(--is-light-theme, #ffffff) var(--is-dark-theme, #222222);
  box-sizing: border-box;
  color: var(--toolbar-color);
  display: block;
  white-space: nowrap;
  width: 100%;
  z-index: var(--toolbar-z-index);
}

.toolbar {
  height: var(--toolbar-height);
}

a {
  color: var(--toolbar-color);
  text-decoration: none;
}

button {
  border-radius: 3px !important;
}
::ng-deep .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
  background: none;
}
