<form class="wrapper">
  <div class="row">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ "participant" | translate }} {{ 1 }} </mat-label>
        <input
          matInput
          disabled
          [value]="utilizer.first_name + ' ' + utilizer.last_name"
        />
        <mat-icon
          class="disabled-icon"
          matPrefix
          fontSet="material-icons-outlined"
          >people</mat-icon
        >
      </mat-form-field>
    </div>
    <div>
      <div class="extra-field-wrapper">
        <mat-form-field appearance="outline" class="extras-field">
          <mat-label>{{ "extras" | translate }} </mat-label>
          <mat-select multiple>
            <!-- // TODO: mostrar bien los extras en el trigger cuando estos datos esten bindeados a una variable    
                    <mat-select-trigger> 
      
                   </mat-select-trigger> -->
            <mat-option
              class="extra-field-option"
              *ngFor="let extra of posibleExtras"
              [value]="extra"
            >
              <span>{{ extra.description }} </span>
              <span> {{ extra.price }} </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- // TODO: quitar hardcoded y mostrar bien los precios cuando esten seteados en alguna variable calculada   
                -->
        <span class="extras-price"> {{ extraPrice }} </span>
      </div>
    </div>
  </div>
</form>
