:root {
  padding: 0 !important;
}

.selected-item {
  transition: all 0.3s ease;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
  border: 2px solid #ff3085;
  background-color: rgba(255, 48, 133, 0.1);
}
.image {
  margin-bottom: 10px;

  img {
    width: 70px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.box-detail-timeline {
  width: 450px;
  position: fixed;
  top: 140px;
  right: 0;
  overflow-y: auto;
  margin-top: 20px;
  border: 1px solid grey;
  padding: 0;
  height: fit-content;
}
img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 1rem;
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
  background: #ff3085;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;

  &:hover {
    background-color: darken(#ff3085, 10%);
  }

  &.btn-1 {
    background-color: #ff3085;
    box-shadow: 0 6px darken(#ff3085, 10%);
    transition: none;

    &:hover {
      box-shadow: 0 4px darken(#ff3085, 10%);
      top: 2px;
    }
  }
}

.input-container {
  padding: 0 0 0 10px;
}

.image-container,
.input-container {
  float: left;
}

.chip-level {
  width: 90px;
  height: 25px;
  margin: 0 10px 10px 0;
  float: left;
  border-radius: 20px;
  cursor: pointer;
}
.delete-column {
  width: 50px !important;
}

::ng-deep .sports-table mat-header-row {
  display: block !important;
}
::ng-deep .sports-table mat-row {
  display: block !important;
}
.table-show-detail {
  width: 100%;
  float: left;
}

/*Planificador*/
.full-page-timeline {
  width: 100%;
  position: relative;
}
.timeline-with-detail {
  width: calc(100% - 450px) !important;
}
.box-detail-timeline-monitor {
  width: 450px;
  position: fixed;
  height: calc(100% - 112px);
  top: 165px;
  right: 0;
  overflow-y: auto;
}
.header-navigation-monitor {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
  margin-top: 12px;
  font-size: 15px;
}
.date-navigation span {
  margin-right: 24px;
  font-weight: 500;
}
.date-navigation button {
  font-size: 20px;
  margin-right: 12px;
}
.view-selection {
  text-align: right;
}
.view-option {
  margin-left: 16px;
  cursor: pointer;
}
.view-option.selected {
  text-decoration: underline;
  color: rgb(233, 30, 99);
}

.schedule-container {
  display: flex;
}
.monitors-column {
  flex-shrink: 0;
  width: 270px;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
.monitor {
  height: 100px;
  border-top: 1px solid #bbb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 0px 28px 0px 2px;
  position: relative;
}
.monitor-left {
  display: flex;
  align-items: center;
  gap: 6px;
}
.monitor-img-wrapper {
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 50px;
  position: relative;
}
.monitor-img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.monitor-text {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  flex-direction: column;
}
.monitor-lang {
  font-size: 12px;
  color: var(--color-dark1);
}
.monitor-title {
  font-size: 15px;
  font-weight: 500;
  color: var(--color-dark2);
}
.monitor-icons {
  display: flex;
  align-items: center;
  gap: 12px;
}
.monitor-icons img {
  height: 14px;
}
.monitor-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}
.monitor-sport {
  display: flex;
  align-items: center;
  gap: 6px;
}
.monitor-sport img {
  width: 24px;
}
.monitor-sport div {
  font-size: 9px;
  color: #666;
}
.day-start-week {
  position: absolute;
  top: 0px;
  right: 1px;
  color: var(--color-dark1);
  font-size: 10px;
  font-weight: 500;
}
.day-end-week {
  position: absolute;
  bottom: 0px;
  right: 1px;
  color: var(--color-dark1);
  font-size: 10px;
  font-weight: 500;
}
.hours-container {
  flex-grow: 1;
  overflow-x: auto;
}
.hours-row {
  display: flex;
}
.hour {
  min-width: 150px;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.day {
  min-width: 300px;
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.grid-container {
  min-width: max-content;
  position: relative;
}
.grid-row {
  display: flex;
  width: fit-content;
}
.grid-cell {
  border-left: 1px solid #bbb;
  border-top: 1px solid #bbb;
  min-width: 150px;
  width: 150px;
  height: 100px;
  position: relative;
}
.grid-cell-last {
  border-left: 1px solid #bbb;
  min-width: 20px;
  width: 20px;
  height: 100px;
  position: relative;
}
.grid-cell-day {
  border-left: 1px solid #bbb;
  border-top: 1px solid #bbb;
  min-width: 300px;
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.grid-cell-inside {
  border-left: 1px solid #ddd;
  width: inherit;
}
.grid-row:last-child .grid-cell {
  border-bottom: none;
}
.grid-cell:last-child {
  border-right: none;
}
.task-wrapper {
  height: 100px;
  position: absolute;
  padding: 4px 6px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 6px;
  border-radius: 12px;
  overflow: hidden;
}
.task-collective {
  border: 2px solid rgba(252, 196, 47, 0.7);
  background: rgba(252, 196, 47, 0.5);
}
.task-selected-collective {
  background: rgba(252, 196, 47, 1) !important;
}
.task-private {
  border: 2px solid rgba(147, 206, 90, 0.7);
  background: rgba(147, 206, 90, 0.5);
}
.task-selected-private {
  background: rgba(56, 199, 77, 1) !important;
}
.task-other {
  border: 2px solid rgba(241, 36, 120, 1);
  background: rgba(241, 36, 120, 0.5);
}
.task-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.task-text img {
  width: 20px;
  height: auto;
  filter: invert(100%);
}
.task-text div {
  font-size: 14px;
  color: var(--color-dark1);
  font-weight: 500;
}
.sport-img-week {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  filter: invert(100%);
  height: auto;
  border-radius: 0;
}
.task-blocks {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  width: 54px;
  min-width: 54px;
}
.task-block-level {
  position: absolute;
  right: 3px;
  top: 3px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  padding: 0px 4px;
  width: fit-content;
  border-radius: 6px;
}
.task-block-people {
  position: absolute;
  right: 3px;
  bottom: 2px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  padding: 0px 4px;
  width: fit-content;
  background: #f24628;
  border-radius: 6px;
}
.task-block-grouped {
  position: absolute;
  right: 3px;
  top: 3px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  padding: 0px 4px;
  width: fit-content;
  background: var(--color-dark2);
  border-radius: 6px;
}
.task-wrapper-week {
  height: 100px;
  position: absolute;
  padding: 3px 1px;
  display: block;
  border-radius: 12px;
  overflow: hidden;
}
.task-blocks-week {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.task-block-level-week {
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  padding: 0px 1px;
  width: fit-content;
  border-radius: 4px;
}
.task-block-people-week {
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  padding: 0px 1px;
  width: fit-content;
  background: #f24628;
  border-radius: 4px;
}
.task-block-grouped-week {
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  padding: 0px 1px;
  width: fit-content;
  background: var(--color-dark2);
  border-radius: 4px;
}

.outside-month {
  background-color: #999;
  display: block;
}
.outside-month-day {
  background-color: #999;
  display: flex;
}
.big-border {
  border-top: 2px solid #fe3583;
}
.hour-day-scroll {
  position: absolute;
  top: -12px;
  left: 0px;
  font-size: 9px;
  background: var(--color-grey1);
  color: white;
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 0px 2px;
  z-index: 10;
}

.border-selected {
  border: 4px solid rgb(233, 30, 99) !important;
}

.modal-grouped {
  position: fixed;
  top: 200px;
  left: 296px;
  height: 50vh;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  padding: 8px;
  width: 275px;
  border-radius: 6px;
  border: 2px solid #888;
}
@media (max-width: 1279px) {
  .modal-grouped {
    position: fixed;
    top: 200px;
    left: 10px;
  }
}
.modal-grouped-close {
  text-align: right;
  margin-bottom: 5px;
}
.modal-grouped-task-wrapper {
  position: relative;
  height: 80px;
  width: 100%;
  margin-bottom: 6px;
  padding: 4px 6px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 6px;
  border-radius: 12px;
  overflow: hidden;
}
.font-bold {
  font-weight: bold;
}
.font-white {
  color: #fff;
}

.box-detail-boxes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  flex-wrap: wrap;
}
.box-detail-box {
  width: calc(50% - 6px);
  height: 110px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
  margin-bottom: 4px;
}
.box-background-grey {
  background: var(--is-light-theme, #e6e6e6) var(--is-dark-theme, #121212);
}
.box-detail-user-block {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 12px;
}
.box-detail-user-block-img {
  width: 60px;
  min-width: 60px;
  height: 60px;
  position: relative;
  border-radius: 60px;
}
.box-detail-user-block-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.box-detail-user-block-text {
  display: flex;
  width: 100%;
  gap: 4px;
  flex-direction: column;
}
.box-detail-user-block-text div {
  font-weight: bold;
  font-size: 16px;
}
.box-detail-user-block-text span {
  font-size: 12px;
}
.box-detail-user-blocklevel {
  color: #fff;
  padding: 2px 4px;
  width: fit-content;
  border-radius: 6px;
}
.img-box-detail {
  width: 100px;
  height: auto;
}

.private-color-green {
  background-color: #42c55a;
  position: absolute;
  bottom: 3px;
  right: 5px;
  z-index: 2;
  width: 12px;
  height: 12px;
  border-radius: 12px;
}
.private-color-yellow {
  background-color: #ffee67;
  position: absolute;
  bottom: 3px;
  right: 5px;
  z-index: 2;
  width: 12px;
  height: 12px;
  border-radius: 12px;
}
.private-color-red {
  background-color: #ea0a0e;
  position: absolute;
  bottom: 3px;
  right: 5px;
  z-index: 2;
  width: 12px;
  height: 12px;
  border-radius: 12px;
}
