<mat-card-content>
  <p class="stepTitle">{{ "bookings_page.select_utilizers" | translate }}</p>
  <form [formGroup]="stepForm">
    <div class="cards-wrapper">
      <label class="utilizerCard" *ngFor="let item of utilizers">
        <mat-checkbox [value]="item" [checked]="isChecked(item)" (change)="onCheckboxChange($event)"></mat-checkbox>
        <div class="image" *ngIf="!item.client_sports || !item.client_sports.length">
          <img [src]="item.image !== null && item.image !== '' ? item.image : userAvatar" />
        </div>
        <app-level-user *ngIf="item.client_sports && item.client_sports.length " mat-card-avatar
          style="margin-right: 5px" [allLevels]="utilsService.getSportLevels(item.client_sports[0].sport_id, allLevels)"
          [selectLevel]="item.client_sports[0]?.degree_id" [size]="60"
          [userImage]="item.image !== null && item.image !== '' ? item.image : userAvatar">
        </app-level-user>
        <div class="utilizerCard__description">
          <h4>{{ item.first_name }} {{ item.last_name }}</h4>
          <span>{{ langService.getLanguage(item.language1_id) }} ·
            {{ utilsService.calculateYears(item.birth_date) }} &ensp;{{
            "years" | translate
            }}
            · {{ utilsService.getCountry(item.country) }}</span>
        </div>
      </label>
    </div>
  </form>

  <mat-card class="info-message">
    <mat-card-content>
      <mat-icon color="secondary" style="margin-right: 8px;">info</mat-icon>
      <span>{{ "multiple_participants_private_courses" | translate }}</span>
    </mat-card-content>
  </mat-card>

  <div class="stepButtonsWrapper">
    <app-form-button (click)="handlePrevStep()" form="back" name="back" icon="mat:arrow_back">
    </app-form-button>

    <app-form-button (click)="openBookingDialog()" form="stroked" name="add_participant">
    </app-form-button>

    <app-form-button (click)="completeStep()" form="flat" name="confirm" [disabled]="!isFormValid()">
    </app-form-button>

  </div>
</mat-card-content>