.stepTitle {
  font-family: var(--font-dm);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-dark2);
  margin-bottom: 1.25rem;
}

.cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.info-message {
  background-color: #e3f2fd !important;
  border: 1px solid #bbdefb;
  border-radius: 4px;
  margin-bottom: 16px;
  margin-top: 16px;
  color: #0d47a1;
  span {
    color: black;
  }
  mat-icon {
    color: black;
  }
  mat-card-content {
    display: flex;
    align-items: center;
  }
}

.utilizerCard {
  width: calc(50% - 0.5rem);
  display: flex;
  flex-direction: row;
  border: 1px solid var(--color-grey1);
  padding: 0.75rem;
  border-radius: 3px;
  gap: 10px;
  cursor: pointer;
  min-width: 300px;
  align-items: center;

  img {
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
  }
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      font-family: var(--font-dm);
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      color: var(--color-dark1);
    }

    span {
      font-family: var(--font-dm);
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 1rem;
      color: var(--color-grey1);
    }
  }
}

.stepButtonsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;

  div {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

.image {
  img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
  }
}
