.cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.sportCard {
  width: calc(50% - 0.5rem);
  display: flex;
  flex-direction: row;
  border: 2px solid var(--color-grey1);
  padding: 0.75rem;
  border-radius: 3px;
  gap: 8px;
  cursor: pointer;
  align-items: center;
  min-width: 300px;

  &.active {
    border: 2px solid var(--color-primary-red);
  }

  .sportImg {
    border-radius: 3px;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-dark2);
    border-radius: 3px;
    padding: 0.5rem;
  }

  .sportTitle {
    font-family: var(--font-dm);
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.15rem;
    color: var(--color-dark1);
  }
}

.searchInput {
  width: 100%;
  margin-top: 2rem;
}

.stepButtonsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
.custom-option {
  font-size: 14px; /* Ajusta el tamaño del texto */
  padding: 8px 16px; /* Ajusta el espacio interno */
  border-radius: 4px; /* Bordes redondeados */
  margin: 2px 0; /* Espaciado entre las opciones */
  transition: background-color 0.3s, color 0.3s; /* Animación al cambiar estilos */
}

.custom-option:hover {
  background-color: #333; /* Color de fondo al pasar el cursor */
  color: #fff; /* Color del texto al pasar el cursor */
}

.mat-autocomplete-panel {
  border-radius: 8px; /* Bordes redondeados para todo el panel */
  overflow: hidden; /* Esconde contenido que se desborde */
}

::ng-deep .mat-option {
  color: white !important; /* Fuerza el color blanco del texto */
}
