<vex-secondary-toolbar current>
  <vex-breadcrumbs [crumbs]="[
    {icon:'comunicacion'},
    {text:'mailbox', title: true},
    ]" class="flex"></vex-breadcrumbs>
</vex-secondary-toolbar>

<div [class.container]="isVerticalLayout$ | async" class="h-full w-full px-0">
  <mat-drawer-container class="h-full w-full">
    <mat-drawer #drawer
      style="background-color: var(--is-light-theme, #ffffff) var(--is-dark-theme, #222222);"
      [(opened)]="drawerOpen"
      [mode]="drawerMode$ | async"
      [disableClose]="isDesktop$ | async"
      class="vex-mail-drawer max-w-3xs w-full bg-base"
      position="start">
      <!--<div class="vex-mail-header px-gutter relative flex flex-col">
        <div [class.h-full]="ltLg$ | async"
          class="vex-mail-header-overflow flex-none flex items-center">
          <button (click)="openCompose()" class="w-full" color="primary"
            mat-raised-button type="button">{{'compose' | translate}}
          </button>
        </div>
      </div>-->

      <vex-mail-sidenav [drawer]="drawer"></vex-mail-sidenav>
    </mat-drawer>

    <mat-drawer-content class="bg-base flex flex-col overflow-hidden"
      style="background-color: var(--is-light-theme, #ffffff) var(--is-dark-theme, #222222);">
      <div class="vex-mail-header flex-none  flex flex-col"
        *ngIf="ltLg$ | async">
        <div class="flex-auto flex items-center">
          <button (click)="drawer.open()"
            class="mx-gutter" mat-icon-button type="button">
            <mat-icon class="text-contrast-white" svgIcon="mat:menu"></mat-icon>
          </button>
        </div>

        <div class="vex-mail-header-overflow flex-none"></div>
      </div>

      <div
        [ngClass]="{ 'ltr:mr-gutter rtl:ml-gutter mb-gutter': isDesktop$ | async }"
        class="vex-mail-content-overflow flex-auto bg-foreground rounded shadow flex flex-col overflow-hidden">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
