.bookingContainer {
  width: 100%;
  padding: 0.5em;
  display: flex;
  flex-direction: column;

  .mat-mdc-card-content {
    padding: 1.25rem;
  }
}

.modalButton {
  max-width: fit-content;
  margin-left: auto;
  margin-bottom: 1rem;
}

.barWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: var(--is-light-theme, #ffffff) var(--is-dark-theme, #222222);
  border-bottom: 1px solid var(--color-grey3);
  border-top: 1px solid var(--color-grey3);
  + .barWrapper {
    border-top: 0px;
  }
  @media (max-width: 700px) {
    flex-direction: column-reverse;
  }
}

.left-column {
  width: 100%;
}

.right-column {
  display: none;
  max-width: 400px;
}

.booking-breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.crumb {
  font-family: var(--font-dm);
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.25rem;
  text-transform: uppercase;
  margin-right: 1.25rem;
  position: relative;
  color: var(--color-grey1) var(--is-dark-theme, #dee6ea);
  &.active {
    color: var(--color-primary-red);
    font-weight: 400;
  }
  &.prev {
    color: var(--color-dark1);
    font-weight: 400;
  }
  &::after {
    content: ">";
    position: absolute;
    right: -1.25rem;
    transform: translate(-50%, -60%);
    color: var(--color-grey2);
    font-size: 1.25rem;
    top: 50%;
  }
  &.last {
    &::after {
      content: "";
    }
  }
}

.clientDescription {
  margin-left: auto;
  font-family: var(--font-dm);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;

  span {
    font-weight: 300;
    line-height: 1rem;
    color: var(--color-grey1);
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .bookingContainer {
    padding: 1.875rem;
  }
}

@media (min-width: 1440px) {
  .bookingContainer {
    flex-direction: row;
    gap: 1.875rem;
    max-width: 1700px;
    margin: 0 auto;
  }

  .left-column {
    flex: 1 1 0;
    height: fit-content;
  }

  .right-column {
    display: block;
    flex: 400px 1 0;
  }

  .modalButton {
    display: none;
  }
}

.bookingDetailContainer {
  display: flex;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
  .activities {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    booking-description-card {
      width: 400px;
      max-width: 100%;
    }
  }
}

@media (min-width: 1440px) {
  .bookingDetailContainer {
    flex-direction: row;
    gap: 1.875rem;
    max-width: 1700px;
    margin: 0;
  }

  .left-column {
    flex: 1 1 0;
    height: fit-content;
  }

  .right-column {
    display: block;
    flex: 400px 1 0;
  }
}
.mobileFixe {
  display: flex;
  padding: 10px;
  gap: 10px;
  position: fixed;
  bottom: 0;
  background-color: var(--is-light-theme, #ffffff) var(--is-dark-theme, #222222);
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
  flex-wrap: wrap;
}
