<div class="barWrapper">
  <vex-breadcrumbs
    class="booking-breadcrumb"
    [crumbs]="[
      { icon: 'reservas' },
      { text: 'bookings', title: true, link: '/bookings' },
      { text: 'bookings_page.creation.title', subtitle: true }
    ]"></vex-breadcrumbs>
</div>
<div class="bookingDetailContainer">
  <!--    <button
        style="margin-bottom: 0;"
        mat-button
        type="button"
        class="modalButton"
        (click)="openBookingDialog()">
        {{ "bookings_page_descriptionModal_button" | translate }}
      </button>-->
  <div class="left-column">
    <div class="activities">
      <booking-detail-description-card
        *ngFor="let activity of groupedActivities; let i = index"
        [index]="i"
        [utilizers]="activity.utilizers"
        [sport]="activity.sport"
        [sportLevel]="activity.sportLevel"
        [course]="activity.course"
        [dates]="activity.dates"
        [monitors]="activity.monitors"
        [clientObs]="activity.clientObs"
        [schoolObs]="activity.schoolObs"
        [total]="activity.total"
        [isDetail]="true"
        [status]="activity.status"
        [groupedActivities]="groupedActivities"
        (deleteActivity)="deleteModal=true; deleteIndex=i"
        (editActivity)="editActivity($event, i)">
      </booking-detail-description-card>
    </div>
  </div>
  <div class="right-column">
    <booking-detail-reservation-detail
      *ngIf="mainClient"
      [client]="mainClient"
      [bookingData]="bookingData$ | async"
      [activities]="groupedActivities"
      [activitiesChanged]="activitiesChanged$"
      (endClick)="endModal=true"
      (payClick)="payModal=true">
    </booking-detail-reservation-detail>
  </div>
</div>

<vex-flux-modal *ngIf="deleteModal" (Close)="deleteModal=false"
                [width]="570" title="Eliminar actividad">
  <div body>
    <div style="margin: 10px;">
      Quieres cancelar “Actividad #{{("00"+deleteIndex+1).slice(-2)}}”?
    </div>
  </div>
  <div footer style="display: flex;">
    <button
      style="height: 38px; width: 85px;border-radius: 3px;margin-top: 20px; margin-left: auto;"
      mat-raised-button
      type="button"
      class="client-button" (click)="deleteModal=false">
      {{"cancel" | translate }}
    </button>
    <button
      style="height: 38px; width: 85px;border-radius: 3px;margin-top:20px;margin-left: 20px;"
      color="primary"
      mat-raised-button
      type="button"
      class="client-button" (click)="cancelActivity(deleteIndex)">
      {{ "Si, eliminar" | translate }}
    </button>
  </div>
</vex-flux-modal>
