<ng-container *ngIf="!isDetail">
  <div class="barWrapper">
    <vex-breadcrumbs
      class="booking-breadcrumb"
      [crumbs]="[
      { icon: 'reservas' },
      { text: 'bookings', title: true, link: '/bookings' },
      { text: 'bookings_page.creation.title', subtitle: true }
    ]"></vex-breadcrumbs>
  </div>
  <div class="barWrapper">
    <div>
      <button [disabled]="forms.length"
        class="crumb"
        [ngClass]="{ active: currentStep === 0, prev: currentStep > 0 }"
        (click)="forceChange(0)">
        {{ "bookings_page.crumbs.client" | translate }}
      </button>
      <button
        class="crumb"
        [ngClass]="{ active: currentStep === 1, prev: currentStep > 1 }"
        (click)="forceChange(1)">
        {{ "bookings_page.crumbs.utilizers" | translate }}
      </button>
      <button
        class="crumb"
        [ngClass]="{ active: currentStep === 2, prev: currentStep > 2 }"
        (click)="forceChange(2)">
        {{ "bookings_page.crumbs.sport" | translate }}
      </button>
      <button
        class="crumb"
        [ngClass]="{ active: currentStep === 3, prev: currentStep > 3 }"
        (click)="forceChange(3)">
        {{ "bookings_page.crumbs.course" | translate }}
      </button>
      <button
        class="crumb"
        [ngClass]="{ active: currentStep === 4, prev: currentStep > 4 }"
        (click)="forceChange(4)">
        {{ "bookings_page.crumbs.details" | translate }}
      </button>
      <button
        class="crumb last"
        [ngClass]="{ active: currentStep === 5, prev: currentStep > 5 }"
        (click)="forceChange(5)">
        {{ "bookings_page.crumbs.observations" | translate }}
      </button>
    </div>
    <div *ngIf="mainClient" class="clientDescription">
      <span> {{ "bookings_page.crumbs.client" | translate }}: </span>
      {{ mainClient.first_name }} {{ mainClient.last_name }}
    </div>
  </div>
  <div class="bookingContainer">
    <button
      mat-button
      type="button"
      class="modalButton"
      (click)="openBookingDialog()">
      {{ "bookings_page_descriptionModal_button" | translate }}
    </button>
    <mat-card class="left-column">
      <div *ngIf="forceStep < 5 && selectedIndexForm != null">
        Una vez que selecciones continuar en esté paso se reiniciaran y
        eliminarán todas las selecciones de los pasos siguientes.
      </div>
      <booking-form-stepper
        [forceStep]="forceStep"
        [activitiesBooked]="normalizedDates"
        [selectedForm]="selectedForm"
        [selectedDates]="normalizedDates[selectedIndexForm] || null"
        (changedCurrentStep)="currentStep = $event; forceStep = $event;"
        [allLevels]=allLevels
        (changedFormData)="handleFormChange($event)"></booking-form-stepper>
    </mat-card>
    <mat-card class="right-column">
      <booking-description-card
        [utilizers]="utilizers"
        [allLevels] = allLevels
        [sport]="sport"
        [sportLevel]="sportLevel"
        [course]="course"
        [dates]="dates"
        [monitors]="monitors"
        [clientObs]="clientObs"
        [schoolObs]="schoolObs"
        [total]="total">
      </booking-description-card>
      <button *ngIf="forms.length"
        mat-button
        type="button"
        (click)="isDetail = true">
        {{ "Volver a la pagina de pago" | translate }}
      </button>
    </mat-card>
  </div>
</ng-container>
<ng-container *ngIf="isDetail">
  <div class="bookingDetailContainer">
    <button
      style="margin-bottom: 0;"
      mat-button
      type="button"
      class="modalButton"
      (click)="openBookingDialog()">
      {{ "bookings_page_descriptionModal_button" | translate }}
    </button>
    <div class="left-column">
      <div class="activities">
        <booking-description-card
          *ngFor="let activity of normalizedDates; let i = index"
          [index]="i"
          [utilizers]="activity.utilizers"
          [sport]="activity.sport"
          [sportLevel]="activity.sportLevel"
          [course]="activity.course"
          [dates]="activity.dates"
          [monitors]="activity.monitors"
          [clientObs]="activity.clientObs"
          [schoolObs]="activity.schoolObs"
          [total]="activity.total"
          [isDetail]="true"
          [summaryMode]="true"
          (editActivity)="editActivity($event, i)"
          (deleteActivity)="deleteModal=true; deleteIndex=i">
        </booking-description-card>
      </div>
    </div>
    <div class="right-column">
      <booking-reservation-detail
        [client]="mainClient"
        [activities]="normalizedDates"
        (endClick)="endModal=true"
        (payClick)="payModal=true"
        (addClick)="addNewActivity()">
      </booking-reservation-detail>
    </div>
  </div>
  <div class="mobileFixe">
    <div style="width: 100%;">
      <span class="totalPrice" style="
      color: var(--color-dark1);
       font-size: 14px;
       font-family: DM Sans;
       font-weight: 600;
       line-height: 18px;
       word-wrap: break-word">
        <span style="
        color: #var(--color-dark1);
         font-size: 14px;
         font-family: DM Sans;
         font-weight: 400;
         line-height: 18px;
         word-wrap: break-word;padding-right: 10px;">
          Total
        </span>
        {{ sumActivityTotal().toFixed(2) }}
        {{ normalizedDates[0].course.currency }}
      </span>
    </div>
    <div style="width: 100%;display: flex;gap: 10px;">
      <button
        style="height: 38px; width: calc(50% - 5px);border-radius: 3px;margin-top: 16px;
        color: var(--color-dark1);
         font-size: 14px;
         font-family: DM Sans;
         font-weight: 600;
         line-height: 18px;
         word-wrap: break-word"
        mat-raised-button
        type="button"
        class="client-button">
        {{ "Añadir actividad" | translate }}
      </button>
      <button
        style="height: 38px; width: calc(50% - 5px);border-radius: 3px;margin-top: 16px;
        color: white;
         font-size: 14px;
         font-family: DM Sans;
         font-weight: 600;
         line-height: 18px;
         word-wrap: break-word"
        color="primary"
        mat-raised-button
        type="button"
        class="client-button">
        {{ "Ir a pago" | translate }}
      </button>
    </div>
  </div>
</ng-container>

<vex-flux-modal *ngIf="deleteModal" (Close)="deleteModal=false"
  [width]="570" title="Eliminar actividad">
  <div body>
    <div style="margin: 10px;">
      Quieres cancelar “Actividad #{{("00"+deleteIndex+1).slice(-2)}}”?
    </div>
  </div>
  <div footer style="display: flex;">
    <button
      style="height: 38px; width: 85px;border-radius: 3px;margin-top: 20px; margin-left: auto;"
      mat-raised-button
      type="button"
      class="client-button" (click)="deleteModal=false">
      {{"Cancelar" | translate }}
    </button>
    <button
      style="height: 38px; width: 85px;border-radius: 3px;margin-top:20px;margin-left: 20px;"
      color="primary"
      mat-raised-button
      type="button"
      class="client-button" (click)="deleteActivity(deleteIndex)">
      {{ "Si, eliminar" | translate }}
    </button>
  </div>
</vex-flux-modal>

<vex-flux-modal *ngIf="endModal" (Close)="endModal=false"
  [width]="570" title="Finalizar reserva">
  <div body>
    <div style="margin: 10px;">
      Si dejas esta pagina los datos no se guardarán los datos de la reserva,
      <br>
      Estás seguro?
    </div>
  </div>
  <div footer style="display: flex;">
    <button
      style="height: 38px; width: 150px;border-radius: 3px;margin-top: 20px; margin-left: auto;"
      mat-raised-button
      type="button"
      class="client-button" (click)="endModal=false">
      {{"Salir de la reserva" | translate }}
    </button>
    <button
      style="height: 38px; width: 200px;border-radius: 3px;margin-top:20px;margin-left: 20px;"
      color="primary"
      mat-raised-button
      type="button"
      class="client-button">
      {{ "Finalizar reserva y pagar" | translate }}
    </button>
  </div>
</vex-flux-modal>

<vex-flux-modal *ngIf="payModal" (Close)="payModal=false" [width]="570"
  title="Finalizar reserva">
  <div body>
    <div style="margin: 10px;">
      Pendiente de pago: {{bookingService.calculatePendingPrice()}}
    </div>

    <!-- Radio Buttons for Payment Methods -->
    <div style="margin: 10px 0;">
      <mat-radio-group [(ngModel)]="paymentMethod"
        (change)="onPaymentMethodChange($event)">
        <mat-radio-button [value]="1" style="display: block;">Pago
          directo</mat-radio-button>

        <!-- Payment method dropdown only for 'Pago directo' -->
        <div *ngIf="paymentMethod === 1" style="margin: 10px 0;">
          <mat-form-field appearance="fill">
            <mat-label>Selecciona la forma de pago</mat-label>
            <mat-select [(ngModel)]="selectedPaymentOption">
              <mat-option *ngFor="let option of paymentOptions"
                [value]="option.type">{{option.type}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-radio-button [value]="3" style="display: block;">Pago
          online</mat-radio-button>
        <mat-radio-button [value]="5" style="display: block;">Confirmación sin
          pago</mat-radio-button>
      </mat-radio-group>
    </div>

  </div>

  <div footer style="display: flex;">
    <button
      style="height: 38px; width: 150px;border-radius: 3px;margin-top: 20px; margin-left: auto;"
      mat-raised-button
      type="button"
      class="client-button"
      (click)="payModal=false">
      {{"Salir de la reserva" | translate }}
    </button>
    <button
      style="height: 38px; width: 200px;border-radius: 3px;margin-top:20px;margin-left: 20px;"
      color="primary"
      mat-raised-button
      type="button"
      class="client-button"
      (click)="finalizeBooking()">
      {{ "Finalizar reserva y pagar" | translate }}
    </button>
  </div>
</vex-flux-modal>
