<mat-form-field *ngIf="control" [formGroup]="form" [style.margin]="margin+'px 0'" appearance="outline">
	<mat-label>
		{{name | translate}}
	</mat-label>
	<span *ngIf="Prefix" matPrefix>
		{{Prefix | translate}}
	</span>
	<input [id]="control" [placeholder]="name | translate" [formControlName]="control" [type]="type"
		[required]="required" [max]="max" [min]="min" (input)="do.emit($event)" matInput class="form-control">
	<span *ngIf="Suffix" matTextSuffix>
		{{Suffix | translate}}
	</span>
	<mat-error *ngIf="c[control].touched && c[control].errors">
		{{ getErrorMessage(control) }}
	</mat-error>
</mat-form-field>
<mat-form-field *ngIf="!control" [style.margin]="margin+'px 0'" appearance="outline">
	<mat-label>
		{{name | translate}}
	</mat-label>
	<span *ngIf="Prefix" matPrefix>
		{{Prefix | translate}}
	</span>
	<input [placeholder]="name | translate" [type]="type" [(ngModel)]="value" [required]="required" [max]="max"
		[min]="min" (input)="do.emit($event)" matInput class="form-control">
	<span *ngIf="Suffix" matTextSuffix>
		{{Suffix | translate}}
	</span>
	<mat-hint *ngIf="errors">
		{{ errors | translate}}
	</mat-hint>
</mat-form-field>