input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid var(--color-dark1);
  border-radius: 3px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.outside {
  text-align-last: center;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  border: 1px #c7d0d3;
  border-style: dashed;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
}
:ng-deep .ngx-ic-cropper.ngx-ic-round {
  margin: 0;
}
