input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid var(--color-dark1);
  border-radius: 3px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.outside {
  text-align-last: center;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}
