.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.month-label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--font-dm);
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.15rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-dark1);
}

.previous {
  flex: 0 0 auto;
}

.next {
  margin-left: auto;
}
