<mat-sidenav-container class="v5-container">
  <mat-sidenav #sidenav mode="side" opened class="v5-sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/v5" (click)="sidenav.close()">Home</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Boukii v5</span>
    </mat-toolbar>

    <div class="v5-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
