<vex-page-layout mode="card">

  <vex-page-layout-header class="flex flex-col items-start justify-center">
    <div class="container">
      <h2 class="title m-0">Card - Large Header & Tabbed</h2>
      <vex-breadcrumbs [crumbs]="['Page Layouts', 'Card', 'Large Header & Tabbed']"></vex-breadcrumbs>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content class="container" style="max-width: none !important;">
    <div class="card">
      <mat-tab-group>
        <mat-tab label="Niveau de salaire">
          <vex-page-layout>
            <vex-page-layout-content class="-mt-6 fullwidth">
                <vex-aio-table [columns]="columns" [entity]="entity" [title]="'Reglages'" [route]="'settings'" [createComponent]="createComponent" [createOnModal]="true" [heigthModal]="'35vh'"></vex-aio-table>
            </vex-page-layout-content>
          </vex-page-layout>
        </mat-tab>
        <mat-tab label="Sports">
          <div class="p-6">

              <mat-tab-group>
                <mat-tab label="Hiver">

                    <div
                    @stagger
                    class="overflow-y-auto flex-auto">
                    <div
                      class="p-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 container">
                      <ng-container *ngFor="let sport of mockSportData">
                        <vex-widget-clients-sports-no-swiper *ngIf="sport.sport_type === 1" [sport]="sport" [type]="1"></vex-widget-clients-sports-no-swiper>
                      </ng-container>
                    </div>
                  </div>
                </mat-tab>


                <mat-tab label="Été">

                  <div
                  @stagger
                  class="overflow-y-auto flex-auto">
                  <div
                    class="p-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 container">
                    <ng-container *ngFor="let sport of mockSportData">
                      <vex-widget-clients-sports-no-swiper *ngIf="sport.sport_type === 2" [sport]="sport" [type]="2"></vex-widget-clients-sports-no-swiper>
                    </ng-container>
                  </div>
                </div>
              </mat-tab>


              <mat-tab label="Autres">

                <div
                @stagger
                class="overflow-y-auto flex-auto">
                <div
                  class="p-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 container">
                  <ng-container *ngFor="let sport of mockSportData">
                    <vex-widget-clients-sports-no-swiper *ngIf="sport.sport_type === 3" [sport]="sport" [type]="3"></vex-widget-clients-sports-no-swiper>
                  </ng-container>
                </div>
              </div>
            </mat-tab>
              </mat-tab-group>
            </div>

        </mat-tab>
        <mat-tab label="Niveaux">
          <div class="p-6">
            <mat-tab-group>
              <mat-tab label="SKi">
                <div
                @stagger
                class="overflow-y-auto flex-auto">
                  <div
                    class="p-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 container">
                    <ng-container *ngFor="let level of mockLevelData">
                      <vex-widget-sports-level [level]="level"></vex-widget-sports-level>
                    </ng-container>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Snowboard">
                <div
                @stagger
                class="overflow-y-auto flex-auto">
                  <div
                    class="p-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 container">
                    <ng-container *ngFor="let level of mockLevelData">
                      <vex-widget-sports-level [level]="level"></vex-widget-sports-level>
                    </ng-container>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Ski De Randonné">
                <div
                @stagger
                class="overflow-y-auto flex-auto">
                  <div
                    class="p-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 container">
                    <ng-container *ngFor="let level of mockLevelData">
                      <vex-widget-sports-level [level]="level"></vex-widget-sports-level>
                    </ng-container>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Raquettes De Neige">
                <div
                @stagger
                class="overflow-y-auto flex-auto">
                  <div
                    class="p-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 container">
                    <ng-container *ngFor="let level of mockLevelData">
                      <vex-widget-sports-level [level]="level"></vex-widget-sports-level>
                    </ng-container>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="VTT">
                <div
                @stagger
                class="overflow-y-auto flex-auto">
                  <div
                    class="p-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 container">
                    <ng-container *ngFor="let level of mockLevelData">
                      <vex-widget-sports-level [level]="level"></vex-widget-sports-level>
                    </ng-container>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </mat-tab>
        <mat-tab label="Blocage">
          <div class="p-6">
            <mat-form-field class="flex-auto" *ngFor="let item of mockBlockageData" style="width: 30%; margin: 0 2% 0 0">
              <span matPrefix class="square-prefix" [ngStyle]="{'background-color': item.color}"></span>
              <input matInput placeholder="Enter text" [value]="item.name" [(ngModel)]="item.name">
            </mat-form-field>
          </div>
        </mat-tab>
        <mat-tab label="Durée flexible">
          <div class="p-6">

            <mat-form-field class="flex-auto">
              <input matInput placeholder="Enter people number" type="number" [value]="people" [(ngModel)]="people" (ngModelChange)="updateTable()">
            </mat-form-field>

            <div class="table-container" >
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" #scrollContainer>
                <caption>Price in CFH</caption>

                <!-- Intervalo Column -->
                <ng-container matColumnDef="intervalo">
                  <th mat-header-cell *matHeaderCellDef> Intervalo </th>
                  <td mat-cell *matCellDef="let row"> {{row.intervalo}} </td>
                </ng-container>

                <!-- Personas Columns -->
                <ng-container *ngFor="let col of displayedColumns.slice(1)" [matColumnDef]="col">
                  <th mat-header-cell *matHeaderCellDef> {{col}} </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-form-field class="flex-auto">
                      <input class="flex-auto" matInput [(ngModel)]="row[col]" style="margin-top:3%">
                    </mat-form-field>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
  </vex-page-layout-content>

</vex-page-layout>
