.square-prefix {
  color: white;
  padding: 18px;
}

.mat-form-field-infix {
  align-items: center;
  display: flex;
}

.table-container {
  overflow-x: auto;
}

.mat-table {
  width: 100%;
}

.centered-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

table caption {
  text-align: left;
  font-weight: bold;
  padding: 8px;
}

.add-date {
  box-shadow: none;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 100%;
}

.icon-date {
  color: #e6e6e6;
  font-size: 10px;
  width: 50px;
  height: 50px;
}

.add-date:hover {
  box-shadow: none;
  background: var(--is-light-theme, #e6e6e6) var(--is-dark-theme, #121212);
  border: 1px solid #e6e6e6;
}
.add-date:hover .icon-date {
  color: #fff;
}

.margin-right {
  margin-right: 2%;
}

.unselected-icon {
  background: var(--is-light-theme, #e6e6e6) var(--is-dark-theme, #121212);
  border: solid 1px #808080;
}
.selected-icon {
  background: #e91e63;
  border: solid 1px #e91e63;
}

$border-color: rgba(
  82,
  63,
  105,
  0.12
); // Equal to Material Design Outline Input Border

.vex-mail-compose-editor {
  min-height: 250px;

  .ql-toolbar.ql-snow {
    border-color: $border-color;
    @apply rounded-t;
  }

  .ql-container.ql-snow {
    border-color: $border-color;
    @apply rounded-b;
  }

  .ql-editor {
    @apply flex-auto;

    &.ql-blank::before {
      font-style: normal;
    }
  }
}

.vex-mail-compose-attachment {
  border-color: $border-color;
}

.selected-item {
  border: 1px solid #e01d5f;
  background-color: #f0f0f4;
}

.items-icons {
  .item {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    padding: 10px 10px;

    &.select {
      .icon {
        background-color: #e91e63;
        border: solid 1px #e91e63;

        img {
          &:nth-child(1) {
            display: inline-block;
          }
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }

    &.unselect {
      .icon {
        background-color: #e6e6e6;
        border: solid 1px #e6e6e6;

        img {
          &:nth-child(1) {
            display: none;
          }
          &:nth-child(2) {
            display: inline-block;
          }
        }
      }
    }

    .icon {
      height: 40px;
      width: 40px;
      display: inline-block;
      vertical-align: middle;
      border-radius: 6px;
      padding: 5px;
    }

    .text {
      display: inline-block;
      vertical-align: middle;
      width: 120px;
      padding-left: 10px;
      font-size: 12px;
      line-height: 15px;
    }
  }
}

.paginaReserva {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  > div > div {
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
  }
  .left,
  .right {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .left {
    border-right: 1px solid #e6e6e6;
  }

  @media (max-width: 800px) {
    .left,
    .right {
      width: 100%;
    }
    .square {
      height: 150px;
    }
  }
}
.info_message {
  gap: 8px;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
