<vex-page-layout>

  <vex-secondary-toolbar current="Home">
    <vex-breadcrumbs [crumbs]="['Home', 'Journee']" class="flex-auto"></vex-breadcrumbs>

    <button class="ml-2" color="primary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>
  </vex-secondary-toolbar>
  <vex-page-layout-content class="-mt-6 fullwidth">
    <div class="container p-gutter grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4" style="max-width: none !important;">

      <vex-widget-summary class="sm:col-span-4"></vex-widget-summary>
      <vex-widget-summary-charts class="sm:col-span-4"></vex-widget-summary-charts>
      <vex-widget-summary-monitors class="sm:col-span-4"></vex-widget-summary-monitors>
      <vex-widget-summary-tasks class="sm:col-span-4"></vex-widget-summary-tasks>

      <!-- Sample

      <vex-widget-assistant class="sm:col-span-2"></vex-widget-assistant>

      <vex-widget-quick-line-chart icon="mat:pageview"
                                   [series]="pageViewsSeries"
                                   iconClass="text-primary bg-primary/10"
                                   label="Page Views"
                                   value="92.4k"></vex-widget-quick-line-chart>

      <vex-widget-quick-line-chart icon="mat:group"
                                   [options]="uniqueUsersOptions"
                                   [series]="uniqueUsersSeries"
                                   iconClass="text-orange bg-orange/10"
                                   label="Unique Users"
                                   value="67.2k"></vex-widget-quick-line-chart>

      <vex-widget-large-chart [series]="userSessionsSeries"
                              class="sm:col-span-2"></vex-widget-large-chart>

      <vex-widget-table [columns]="tableColumns"
                        [data]="tableData"
                        class="sm:col-span-2"></vex-widget-table>



      <vex-widget-large-goal-chart [series]="salesSeries"
                                   class="sm:col-span-full"
                                   total="4,374"></vex-widget-large-goal-chart>-->

    </div>
    <vex-aio-table [withHeader]="false" [columns]="columns" [entity]="entity" [title]="'Bookings'" [route]="'bookings'"></vex-aio-table>

  </vex-page-layout-content>
</vex-page-layout>
