<div class="stepper">
  <!-- Paso 1 -->
  <div *ngIf="currentStep === 0">
    <booking-step-one
      [initialData]="stepperForm.get('step1')?.value"
      (stepOneCompleted)="handleStepCompletion(1, $event)"
    >
    </booking-step-one>
  </div>

  <!--  
  <div *ngIf="currentStep === 1">
    <booking-step-two
      [initialData]="stepperForm.get('step2')?.value"
      (stepTwoCompleted)="handleStepCompletion(2, $event)"
    >
    </booking-step-two>
  </div>


  <div *ngIf="currentStep === 2">
    <booking-step-three
      [initialData]="stepperForm.get('step3')?.value"
      (stepThreeCompleted)="handleStepCompletion(3, $event)"
    >
    </booking-step-three>
  </div> -->
</div>
