<div class="stepper">
  <!-- Paso 1 -->
  <div *ngIf="currentStep === 0">
    <booking-step-one
      [initialData]="stepperForm.get('step1')?.value"
      (stepCompleted)="handleStepCompletion(1, $event)"
    >
    </booking-step-one>
  </div>

  <div *ngIf="currentStep === 1">
    <booking-step-two
      [initialData]="stepperForm.get('step2')?.value"
      [client]="stepperForm.get('step1')?.value?.mainClient"
      (stepCompleted)="handleStepCompletion(2, $event)"
      (prevStep)="previousStep()"
    >
    </booking-step-two>
  </div>

  <div *ngIf="currentStep === 2">
    <booking-step-three
      [initialData]="stepperForm.get('step3')?.value"
      [utilizers]="stepperForm.get('step2')?.value?.utilizers"
      (stepCompleted)="handleStepCompletion(3, $event)"
      (prevStep)="previousStep()"
    >
    </booking-step-three>
  </div>

  <div *ngIf="currentStep === 3">
    <booking-step-four
      [initialData]="stepperForm.get('step4')?.value"
      [client]="stepperForm.get('step1')?.value?.mainClient"
      [sportLevel]="stepperForm.get('step3')?.value?.sportLevel"
      (stepCompleted)="handleStepCompletion(4, $event)"
      (prevStep)="previousStep()"
    >
    </booking-step-four>
  </div>
</div>
