<form>
  <div class="flex items-center" mat-dialog-title>
    <h2 class="headline m-0 flex-auto">{{'bookings_page.edit_dates.title' |
      translate }}</h2>

    <!--<button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>-->

    <button class="text-secondary" mat-dialog-close mat-icon-button
      type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col">

    <mat-dialog-actions align="end">
      <button color="primary" mat-flat-button (click)="closeModal()">{{'confirm'
        | translate}}</button>
      <button color="primary" mat-flat-button [mat-dialog-close]="false">{{'no'
        | translate}}</button>
    </mat-dialog-actions>

    <ng-container
      *ngIf="(defaults.course.course_type === 2 || defaults.course.course_type === 3) ">
      <ng-container
        *ngIf="(defaults.course.course_type === 2 || defaults.course.course_type === 3)">
        <mat-form-field appearance="outline" class="flex-auto"
          style="width: 48%; margin-right: 2%">
          <mat-label>{{'hour' | translate}}</mat-label>
          <mat-select
            [(ngModel)]="hourStart"
            [ngModelOptions]="{standalone: true}">
            <mat-option
              *ngFor="let time of generateCourseHours(defaults.course.course_dates[0].hour_start,
              defaults.course.course_dates[0].hour_end, '5min', '5min')"
              [value]="time"
              [disabled]="calculateAvailableHours(defaults.course, time)"
              (onSelectionChange)="setHourStart($event, time, dates[0]); setHourEnd(dates[0])">{{
              time }}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <mat-form-field appearance="outline" class="flex-auto" style="width: 48%">
        <mat-label>{{'dates' | translate}}</mat-label>
        <mat-select [(ngModel)]="selectedCourseDateId"
          [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let date of selectedDates" [value]="date.id"
            [disabled]="!isAfter(date)">
            {{ date.date | date: 'dd-MM-yyyy' }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="flex-auto"
        (click)="checkAvailableMonitors(hourStart);">
        <mat-label>{{'choose_monitor' | translate }}</mat-label>
        <input
          type="text"
          placeholder="{{'choose_monitor' | translate }}"
          aria-label="Number"
          matInput
          [matAutocomplete]="autoMoniteur"
          [disabled]="!selectedCourseDateId || !hourStart" />
        <mat-autocomplete
          #autoMoniteur="matAutocomplete"
          [displayWith]="displayFnMoniteurs">
          <mat-option
            *ngFor="let monitor of filteredMonitors | async"
            [value]="monitor"
            (onSelectionChange)="selectedMonitorId = monitor.id;">
            {{monitor.first_name}} {{monitor.last_name}}
          </mat-option>
        </mat-autocomplete>
        <mat-icon matPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>

    </ng-container>

    <!--    <div style="width:100%" *ngIf="defaults.course.course_type === 1 || (defaults.course.course_type === 2 && !defaults.course.is_flexible)">
      <mat-form-field appearance="outline" class="flex-auto" style="width: 50%;" *ngIf="defaults.course.course_type === 2">
        <mat-label>{{'hour' | translate}}</mat-label>
        <mat-select [(ngModel)]="hourStart" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let time of generateCourseHours(defaults.course.course_dates[0].hour_start, defaults.course.course_dates[0].hour_end, defaults.course.duration.includes(':')
          ? this.transformTime(defaults.course.duration) : defaults.course.duration, '5min')"
          [value]="time" [disabled]="calculateAvailableHours(defaults.course, time)"
            (onSelectionChange)="hourStart = time;">{{ time }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="flex-auto" style="width: 100%">
        <mat-label>{{'dates' | translate}}</mat-label>
        <mat-select multiple [formControl]="datesControl">
          <mat-option *ngFor="let date of selectedDates" [value]="date.id" [disabled]="!isAfter(date)">
            {{ date.date | date: 'dd-MM-yyyy' }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>-->
  </mat-dialog-content>

</form>
