.button-div {
  padding: 10px 20px;
  margin: 10px;
  color: white;
  background-color: #ff0055;
  text-align: center;
  border: 1px solid #ff0055;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.button-div:hover {
  background-color: #ff5577;
}
.title-status {
  background-color: var(--color-grey5);
  padding: 15px 35px;
  display: flex;
  align-items: center;

  b {
    color: var(--color-dark1);
    font-size: 1em;
    font-weight: 700;
  }

  .col-left {
    width: 25%; /* Ajusta el porcentaje según sea necesario */
    text-align: left;
  }

  .col-center {
    width: 50%; /* Ajusta el porcentaje según sea necesario */
    text-align: center;
  }

  .col-right {
    width: 25%; /* Ajusta el porcentaje según sea necesario */
    text-align: right;
    font-size: 1em;
    font-weight: 700;
  }
}
