<div class="w-full h-full flex flex-col items-center justify-center bg-login">
  <!--<img src="assets/img/login-logo-head2.png" style="width: 20%;position: absolute;top: -10%;left: 81%;">-->

  <div @fadeInUp class="card overflow-hidden w-full max-w-md">

    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center" style="position: absolute;">
        <img class="w-16" src="../assets/img/login-logo.png"
          style="height: 200px;width: 100%;">
      </div>
    </div>
    <div class="text-center mt-4" style="margin: 15% 0 0 0;">
      <h2 class="title m-0">Reset Password</h2>
      <h4 class="body-2 text-secondary m-0">Enter your email for password
        recovery.</h4>
    </div>

    <div [formGroup]="form" class="p-6 flex flex-col">
      <mat-form-field appearance="outline">
        <mat-label>E-Mail</mat-label>

        <mat-icon class="mr-2" matPrefix>mail</mat-icon>
        <input formControlName="email" matInput required>
        <mat-error *ngIf="form.get('email').hasError('required')">
          We can't recover your password, without your email.
        </mat-error>
      </mat-form-field>

      <button (click)="send()" class="mt-2" color="primary" mat-raised-button
        type="button">
        SEND RECOVERY LINK
      </button>
    </div>
  </div>
</div>
