<mat-tab-group
  (selectedTabChange)="onTabChange($event)"
  [selectedIndex]="selectedIndex" >
  <mat-tab *ngFor="let tab of tabs" [disabled]="isLoading">
    <ng-template mat-tab-label>
      <mat-icon class="custom-icon" [ngClass]="tab.class">circle</mat-icon>
      {{ tab.label | translate }}
    </ng-template>
    <ng-container *ngTemplateOutlet="myForm"></ng-container>
  </mat-tab>
</mat-tab-group>
<mat-card-content class="wrapper">
  <div class="stepButtonsWrapper">
    <app-form-button (click)="handlePrevStep()" form="back" name="back" icon="mat:arrow_back">
    </app-form-button>

    <app-form-button (click)="completeStep()" [disabled]="!isFormValid()" form="flat" icon="mat:add" name="confirm">
    </app-form-button>

  </div>
</mat-card-content>

<ng-template #myForm>
  <mat-spinner *ngIf="isLoading"
               style="margin: 0 auto"></mat-spinner>
  <form [formGroup]="stepForm">
    <div *ngIf="!isLoading">
      <div class="calendarWrapper">
        <div *ngIf="!showTwoMonths" class="one-month">
          <mat-calendar [startAt]="selectedDate" [minDate]="minDate" [(selected)]="selectedDate"
                        [dateClass]="dateClass()" (monthSelected)="getCourses(sportLevel)"
                        (selectedChange)="handleDateChange($event)"></mat-calendar>
        </div>

        <div *ngIf="showTwoMonths" class="two-months">
          <div class="no-arrows no-next">
            <mat-calendar [startAt]="selectedDate" [minDate]="minDate" [(selected)]="selectedDate"
                          [dateClass]="dateClass()" (monthSelected)="getCourses(sportLevel)"
                          (selectedChange)="handleDateChange($event)" [headerComponent]="CustomHeader"></mat-calendar>
          </div>
          <div class="no-arrows no-previous">
            <mat-calendar #secondCalendar [startAt]="nextMonthDate" [minDate]="minDate" [(selected)]="selectedDate"
                          [dateClass]="dateClass()" (monthSelected)="getCourses(sportLevel)"
                          (selectedChange)="handleDateChange($event)" [headerComponent]="CustomHeader"></mat-calendar>
          </div>
        </div>
      </div>

      <mat-radio-group aria-label="Select an option" formControlName="course" class="courses-wrapper">
        <label class="courseCard" [ngClass]="{ active: stepForm.get('course').value === item }"
               (click)="handleCourseSelection(item)" *ngFor="let item of cursesInSelectedDate">
          <mat-radio-button [value]="item"> </mat-radio-button>
          <img class="courseImg" [src]="item.icon" />
          <div style="width: 100%">
            <h4 class="courseTitle">
              {{ item.name }}
              <div [style.background]="sportLevel?.color" style="
      display: inline-block;
      padding: 0.2rem 0.5rem;
      color: #fff;
      border-radius: 5px;
      text-align: center;
      font-size: 10px;
      margin-left: 0.5rem;
      overflow: inherit;
    ">
                {{ sportLevel?.league }} {{ sportLevel?.name }}
              </div>
              <span class="coursePrice">
                {{ item.minPrice }} {{ item.currency }}
              </span>
            </h4>

            <span class="courseSubtitle">
              {{item.typeString | translate}} {{item.is_flexible ? 'Flex' : 'Fix' | translate}} {{item.sport.name}}
            </span>
            <ng-container *ngIf="item.course_type !== 1">
              <span class="courseDate">
                {{utilsService.getAvailableWeekDays(item.settings)}}
              </span>
              <div class="courseDate">
                <img src="assets/img/icons/calendar-1.svg" />
                <span class="courseDate_day">
                  {{ item.date_start | date:'dd-MM-yyyy' }} - {{ item.date_end | date:'dd-MM-yyyy' }}
                </span>
                <span> {{ item.hour_min }}h - {{ item.hour_max }}h</span>
              </div>
            </ng-container>
            <ng-container *ngIf="item.course_type === 1">
              <ng-container *ngFor="let courseDate of item.course_dates">
                <div class="courseDate" *ngIf="utilsService.isFutureDate(courseDate)">
                  <img src="assets/img/icons/calendar-1.svg" />
                  <span class="courseDate_day">
        {{ courseDate.date | date:'dd-MM-yyyy' }}
      </span>
                  <span>{{ courseDate.hour_start }}h - {{ courseDate.hour_end }}h</span>
                </div>
              </ng-container>
            </ng-container>


          </div>
          <!--          <ng-container *ngIf="item.course_type === 1 && selectedCourse === item">
                      <div class="subGroups-container">
                        <mat-radio-group formControlName="selectedSubGroup">
                          <div
                            class="subGroup"
                            *ngFor="let group of selectedSubGroups"
                            (click)="selectSubGroup(group)"
                          >
                            <mat-radio-button [value]="group">
                              <div
                                [style.background]="sportLevel?.color"
                                style="padding: 5%;;color: #fff;border-radius: 5px;width: 100%;text-align: center; font-size:10px;overflow: inherit;">
                                {{sportLevel?.annotation}}
                                {{sportLevel?.name}}
                              </div>
                              {{group.booking_users.length}} - {{group.max_participants}}
                            </mat-radio-button>
                          </div>
                        </mat-radio-group>
                      </div>
                    </ng-container>-->
        </label>
      </mat-radio-group>
    </div>
  </form>
</ng-template>
