<vex-secondary-toolbar current>
	<vex-breadcrumbs [crumbs]="[
{icon:'cursos'},
{text:'courses.title', title: true,link: '/courses'},
{text: defaults.id, subtitle: true},
]" class="flex-auto"></vex-breadcrumbs>
</vex-secondary-toolbar>
<div [@stagger]="true" class="p-gutter container" style="max-width: none">
	<div class="flex flex-col sm:flex-row gap-4" style="width: 100%;float:left;padding: 2%">
		<div @fadeInUp class="card flex-auto">
			<mat-tab-group>
				<mat-tab label="{{'course' | translate }}">
					<mat-spinner *ngIf="loading" style="margin: 0 auto"></mat-spinner>
					<mat-card *ngIf="!loading" style="padding: 3% 5% 0 5%;">
						<mat-card-header style="display:block">
							<div style="float: left; width: 100%;">
								<div style="float: left;width: 50%;">
									<div style="float: left; margin-right: 2%">
										<img *ngIf="defaults.course_type === 1"
											[src]="'https://api.boukii.com/storage/icons/collectif_'+ defaults?.sport?.name.toLowerCase() +'2x.png'"
											width="100" height="100">
										<img *ngIf="defaults.course_type === 2"
											[src]="'https://api.boukii.com/storage/icons/prive_'+ defaults?.sport?.name.toLowerCase() +'2x.png'"
											width="100" height="100">
									</div>
									<div style="float: left; width: 75%;">
										<p>
											<strong>
												{{getCourseName(defaults)}}
											</strong>
										</p>
										<p>
											{{defaults.course_type === 1 ? 'Collectif' : 'Privee'}}
											{{defaults?.sport?.name}}
										</p>
										<p>
											{{defaults?.station?.name}}
										</p>
									</div>
									<div (click)="goTo('/courses/update/'+id)" style="float: right;"
										style="float: right;cursor:pointer">
										<i class="fa fa-edit" style="color: #ff3085;font-size: 30px;"></i>
									</div>
								</div>
								<div style="float: left;width: 50%;">
									<div style="float:right;width: 100%">
										<div style="float: right;margin: 0 0 0 25px;">
											<mat-slide-toggle [checked]="defaults?.options" [disabled]="true">
												{{'options' | translate}}
											</mat-slide-toggle>
										</div>
										<div style="float: right;margin: 0;">
											<mat-slide-toggle [checked]="defaults?.online" [disabled]="true">
												{{'payment_online' | translate}}
											</mat-slide-toggle>
										</div>
										<div style="float: right;margin: 0 25px 0 0;">
											<mat-slide-toggle [checked]="defaults?.active" [disabled]="true">
												{{'status' | translate}}
											</mat-slide-toggle>
										</div>
									</div>
								</div>
							</div>
						</mat-card-header>
						<mat-card-content>
							<div style="float: left; width: 47%;margin: 2% 3% 0 0;">
								<img
									[src]="defaults.image !== null && defaults.image !== '' ? defaults.image : '../../../../assets/img/defult.jpg'">
								<ul *ngIf="defaults.course_type === 2" style="margin: 2% 0 0 0;">
									<li style="margin: 0 0 2% 0">
										<strong>
											{{'dates' | translate}}
										</strong>
									</li>
									<li>
										{{defaults.course_dates[0].date|date:'dd-MM-yyyy'}}
										<i style="text-align: right;float:right">
											{{defaults.course_dates[0].hour_start}}h -
											{{defaults.course_dates[0].hour_end}}h
										</i>
									</li>
									<li>
										{{defaults.course_dates[defaults.course_dates.length-1].date|date:'dd-MM-yyyy'}}
										<i style="text-align: right;float:right">
											{{defaults.course_dates[defaults.course_dates.length-1].hour_start}}h -
											{{defaults.course_dates[defaults.course_dates.length-1].hour_end}}h
										</i>
									</li>
								</ul>
								<ul *ngIf="defaults.course_type === 1" style="margin: 2% 0 0 0;">
									<li style="margin: 0 0 2% 0">
										<strong>
											{{'dates'|translate}}
										</strong>
									</li>
									<li *ngFor="let item of defaults.course_dates">
										{{item.date| date:'dd-MM-yyyy'}}
										<i style="text-align: right;float:right">
											{{item.hour_start}}h - {{item.hour_end}}h
										</i>
									</li>
								</ul>
							</div>
							<div style="width:50%; margin-top:2%;float:left">
								<div style="width: 100%;">
									<p style="float: left;width: 80%;text-align: left;">
										<b>
											{{'summary'
											| translate}}
										</b>
									</p>
									<p style="float: left;width: 20%;text-align: right;">
										<b>
											{{'price'
											| translate}}
										</b>
									</p>
								</div>
								<div style="width: 100%;">
									<p [innerHTML]="getShotrDescription(defaults)"
										style="float: left;width: 50%;text-align: left;">
									</p>
									<p *ngIf="defaults.course_type === 1 || (defaults.course_type === 2 && !defaults.is_flexible)"
										style="float: left;width: 50%;text-align: right;color:#ff3085">
										<b>{{defaults.price}}</b>
										{{defaults.currency}}
									</p>
									<p *ngIf="defaults.course_type === 2 && defaults.is_flexible"
										style="float: left;width: 50%;text-align: right;color:#ff3085">
										<b>
											{{'from' | translate }} {{
											encontrarPrimeraClaveConValor(encontrarPrimeraCombinacionConValores(defaults.price_range))
											}}
										</b>
										{{defaults.currency}}
									</p>
								</div>
							</div>
							<div style="width:50%; margin-top:2%;float:left">
								<div style="width: 100%;">
									<p style="float: left;width: 80%;text-align: left;">
										<b>
											{{'courses.desc'
											| translate}}
										</b>
									</p>
									<p style="float: left;width: 20%;text-align: right;">
										<b>
											{{'age'
											| translate}}
										</b>
									</p>
								</div>
								<div style="width: 100%;">
									<p [innerHTML]="getDescription(defaults)" class="ql-editor"
										style="float: left; width: 50%; text-align: left;">
									</p>
									<p *ngIf="defaults.course_type === 2"
										style="float: left;width: 50%;text-align: right;">
										{{'from' | translate}}
										{{defaults.age_min}} {{'to' | translate}}
										{{defaults.age_max}} {{'years' | translate}}
									</p>
									<p *ngIf="defaults.course_type === 1 && defaults.course_dates.length===1"
										style="float: left;width: 50%;text-align: right;">
										{{'from' | translate}}
										{{getAgeRange(defaults.course_dates[0].course_groups).age_min || null}}
										{{'to' | translate}}
										{{getAgeRange(defaults.course_dates[0].course_groups).age_max || null}}
										{{'years' | translate}}
									</p>
								</div>
							</div>
							<div style="width:50%; margin-top:2%;float:left">
								<div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
									<div class="flex-auto">
										<mat-form-field appearance="outline" style="width: 100%">
											<mat-label>
												{{'courses.date_reservable' |
												translate}}
											</mat-label>
											<input [value]="defaults.date_start_res | date: 'dd-MM-yyyy'"
												[readonly]="true" matInput id="dateFrom">
										</mat-form-field>
									</div>
									<div class="flex-auto">
										<mat-form-field appearance="outline" style="width: 100%">
											<mat-label>
												{{'courses.date_reservable_to' |
												translate}}
											</mat-label>
											<input [value]="defaults.date_end_res | date: 'dd-MM-yyyy'"
												[readonly]="true" matInput id="dateTo">
										</mat-form-field>
									</div>
								</div>
								<div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
									<div class="flex-auto" style="width: 50%; float:left">
										<mat-form-field appearance="outline" style="width: 100%">
											<mat-label>
												{{'duration' | translate}}
											</mat-label>
											<input
												[value]="defaults.duration ? defaults.duration : (getShortestDuration(defaults?.course_dates) | translate)"
												[readonly]="true" id="duration" matInput required type="text"
												placeholder="{{'duration' | translate}}">
										</mat-form-field>
									</div>
									<div class="flex-auto" style="width: 50%; float:left">
										<mat-form-field appearance="outline" style="width: 100%">
											<mat-label>
												{{'max_pax' | translate}}
											</mat-label>
											<input [value]="defaults.max_participants"
												[(ngModel)]="defaults.max_participants" [readonly]="true"
												id="participants" matInput required type="number">
										</mat-form-field>
									</div>
								</div>
							</div>
						</mat-card-content>
					</mat-card>
				</mat-tab>
				<mat-tab *ngIf="defaults.course_type === 1" label="{{'level' | translate }}">
					<mat-spinner *ngIf="loading" style="margin: 0 auto"></mat-spinner>
					<mat-card *ngIf="!loading" style="padding: 0 3%;">
						<mat-card-header style="display:block">
							<div style="width: 100%;float:left;">
								<mat-card-title style="float: left;width: 35%;">
									{{'course_detail' | translate
									}}
								</mat-card-title>
								<div style="float:right;width: 65%">
									<div style="float: right;margin: 0 0 0 25px;">
										<mat-slide-toggle [checked]="true">
											{{'options' | translate }}
										</mat-slide-toggle>
									</div>
									<div style="float: right;margin: 0;">
										<mat-slide-toggle [checked]="true">
											{{'payment_online' | translate}}
										</mat-slide-toggle>
									</div>
									<div style="float: right;margin: 0 25px 0 0;">
										<mat-slide-toggle [checked]="true">
											{{'status' | translate }}
										</mat-slide-toggle>
									</div>
								</div>
							</div>
							<mat-divider style="float: left;width: 100%;margin: 2% 0 0 0;"></mat-divider>
						</mat-card-header>
						<mat-card-content style="margin-top: 5%;">
							<button (click)="save()" mat-raised-button color="accent"
								style="color: #fff;background: #f53d7c;padding: 1%;width: 15%;border-radius: 0;height: 50px;margin: 0 0 1% 0;float: right;">
								{{'save_changes' | translate}}
							</button>
							<div *ngIf="!loading" class="flex flex-col sm:flex-row gap-4"
								style="width: 100%;float:left;">
								<div @fadeInUp class="card flex-auto">
									<mat-card style="padding: 0 3%;">
										<mat-card-content style="margin-top: 5%;">
											<div style="width: 100%;float:left;">
												<ng-container *ngFor="let colorKey of colorKeys">
													<div
														*ngFor="let groupLevel of groupedByColor[colorKey]; let groupIndex = index">
														<div style="float: left; width: 100%;margin-top:3%">
															<div [title]="disableActive(groupLevel) ? 'Este grupo no puede eliminarse porque tiene reservas asociadas' : ''"
																style="float: left;width: 10%;border-radius: 11%;height: 100px;padding: 2%;color: #fff;text-align: center;">
																<mat-slide-toggle [disabled]="disableActive(groupLevel)"
																	[checked]="groupLevel.active"
																	(change)="activeGroup($event, groupLevel)"></mat-slide-toggle>
															</div>
															<div style="float: left;width: 16%;">
																<div *ngIf="!groupLevel.visible && groupLevel.active"
																	[style.background-color]="colorKey"
																	(click)="groupLevel.visible = true; checkAvailableMonitors(groupLevel);"
																	style="width:100%;text-align: center;border-radius:10px;height: 100px;padding: 2%;color: #fff;cursor:pointer">
																	{{groupLevel.annotation}} -
																	{{groupLevel.name}}
																</div>
																<div *ngIf="groupLevel.visible && groupLevel.active"
																	[style.background-color]="colorKey"
																	(click)="groupLevel.visible = false"
																	style="width:100%;text-align: center;border-radius:10px;height: 100px;padding: 2%;color: #fff;cursor:pointer">
																	{{groupLevel.annotation}} -
																	{{groupLevel.name}}
																</div>
																<div *ngIf="!groupLevel.visible && !groupLevel.active"
																	[style.background-color]="colorKey"
																	style="width:100%;text-align: center;border-radius:10px;height: 100px;padding: 2%;color: #fff;cursor:pointer">
																	{{groupLevel.annotation}} -
																	{{groupLevel.name}}
																</div>
																<mat-form-field *ngIf="groupLevel.active"
																	appearance="outline" class="flex-auto"
																	style="width: 100%; margin-top: 10%;">
																	<mat-select
																		[value]="calculateMonitorLevel(groupLevel)"
																		(selectionChange)="setLevelTeacher($event, groupLevel)"
																		placeholder="Nivel minimo del profesor">
																		<mat-option *ngFor="let item of levels"
																			[value]="item">
																			{{ item.annotation }} - {{ item.name }}
																		</mat-option>
																	</mat-select>
																</mat-form-field>
															</div>
															<div *ngIf="groupLevel.active"
																style="float: left;width: 16%;margin: 0 0 0 2%;">
																<div style="width:100%;border-radius: 0;height: 100px;padding: 2%;  color: var(--is-light-theme, #121212) var(--is-dark-theme, #dee6ea);
 ;background: var(--is-light-theme, #e6e6e6) var(--is-dark-theme, #121212);text-align: center;border-radius:10px">
																	{{defaults?.course_dates[0]?.course_groups[groupIndex]?.course_subgroups.length}}
																	{{'groups' | translate}}
																</div>
																<div style="width: 100%; margin-top: 10%;height: 60px">
																	<button (click)="addSubGroup(groupLevel)" mat-button
																		color="accent"
																		style="width: 100%;border-radius: 5px;color:#fff !important;background: #ff3085;height: 100%">
																		<span style="color: white !important;">
																			{{'add_subgroup' | translate }}
																		</span>
																	</button>
																</div>
															</div>
															<div *ngIf="groupLevel.active"
																style="float: left;width: 16%;margin: 0 0 0 2%;">
																<div style="width:100%;border-radius: 0;height: 100px;padding: 2%; color: var(--is-light-theme, #121212) var(--is-dark-theme, #dee6ea);
 ;background: var(--is-light-theme, #e6e6e6) var(--is-dark-theme, #121212);text-align: center;border-radius:10px">
																	{{'age' | translate}}
																</div>
																<form [formGroup]="rangeForm" novalidate>
																	<mat-form-field appearance="outline"
																		style="width: 45%; margin-top: 10%;margin-right: 10%">
																		<input [min]="0" [value]="groupLevel.age_min"
																			[value]="calculateAgeMin(groupLevel)"
																			(blur)="setMinAge($event, groupLevel)"
																			type="number" placeholder="Min."
																			aria-label="Number" matInput>
																		<mat-error *ngIf="minAge.errors?.['min']">
																			{{'courses.errors.min_age_levels' |
																			translate}}
																		</mat-error>
																		<mat-error *ngIf="minAge.errors?.['required']">
																			{{'mandatory' | translate}}
																		</mat-error>
																	</mat-form-field>
																	<mat-form-field appearance="outline"
																		style="width: 45%; margin-top: 10%">
																		<input [min]="0" [value]="groupLevel.age_max"
																			[value]="calculateAgeMax(groupLevel)"
																			(blur)="setMaxAge($event, groupLevel)"
																			type="number" placeholder="Max"
																			aria-label="Number" matInput>
																		<mat-error *ngIf="maxAge.errors?.['ageRange']">
																			{{'courses.errors.max_age_range' |
																			translate}}
																		</mat-error>
																		<mat-error *ngIf="maxAge.errors?.['max']">
																			{{'courses.errors.max_age_levels' |
																			translate}}
																		</mat-error>
																		<mat-error *ngIf="maxAge.errors?.['required']">
																			{{'mandatory' | translate}}
																		</mat-error>
																	</mat-form-field>
																</form>
															</div>
															<div *ngIf="groupLevel.active"
																style="float: left;width: 16%;margin: 0 0 0 2%;">
																<div
																	style="width:100%;border-radius: 0;height: 100px;padding: 2%;color: var(--color-dark1);background: var(--is-light-theme, #e6e6e6) var(--is-dark-theme, #121212);;text-align: center;border-radius:10px">
																	{{'duracion' | translate}}
																	<br>
																	{{calculateFormattedDuration(defaults.course_dates[daySelectedIndex].hour_start,
																	defaults.course_dates[daySelectedIndex].hour_end)}}
																</div>
																<mat-form-field appearance="outline"
																	style="width: 100%; margin-top: 10%;margin-right: 10%">
																	<input
																		[value]="calculateFormattedDuration(defaults.course_dates[daySelectedIndex].hour_start, defaults.course_dates[daySelectedIndex].hour_end)"
																		[readonly]="true" type="text"
																		placeholder="Duración" aria-label="Number"
																		matInput>
																</mat-form-field>
															</div>
															<div *ngIf="groupLevel.active"
																style="float: left;width: 16%;margin: 0 0 0 2%;">
																<div [style.color]="calculateMaxGroup(groupLevel)>defaults.max_participants?'red':'var(--color-dark1)'"
																	style="width:100%;border-radius: 0%;height: 100px;padding: 2%;background: var(--is-light-theme, #e6e6e6) var(--is-dark-theme, #121212);;text-align: center;border-radius:10px">
																	{{'students' | translate}}
																	<strong>
																		{{calculateStudentsGroup(groupLevel)}}/{{calculateMaxGroup(groupLevel)}}
																	</strong>
																</div>
																<mat-form-field appearance="outline" class="flex-auto"
																	style="width: 100%; margin-top: 10%">
																	<input [value]="calculateMaxGroup(groupLevel)"
																		type="number" placeholder="Max per Group"
																		aria-label="Number" matInput>
																	<mat-error
																		*ngIf="groupLevel.max_participants > defaults.max_participants">
																		{{'courses.errors.students' | translate }}
																	</mat-error>
																</mat-form-field>
															</div>
															<ng-container
																*ngIf="groupLevel.active && groupLevel.visible">
																<table
																	*ngFor="let subGroup of readSubGroups(groupLevel.id); let subGroupIndex = index"
																	style="margin-left: 10%">
																	<thead>
																		<tr>
																			<td>
																				<mat-icon
																					(click)="deleteSubGroup(subGroup)"
																					svgIcon="mat:delete"
																					style="color:red;cursor: pointer;float:left;">
																				</mat-icon>
																				<span [style.color]="colorKey">
																					<strong>
																						{{groupLevel.annotation}}
																					</strong>
																					- {{groupLevel.name}} - {{
																					subGroupIndex + 1 }}
																				</span>
																			</td>
																			<td *ngFor="let dayLevel of daysDatesLevels; let dayIndex = index;"
																				style="width: 100px; text-align: center;">
																				<span *ngIf="dayLevel.active === 1"
																					[style.color]="selectedItem === dayLevel.dateString && dayIndex === daySelectedIndex && subGroupIndex === subGroupSelectedIndex ? '#FF3085' : ''"
																					(click)="selectItem(dayLevel, dayIndex, subGroupIndex, subGroup)"
																					style="text-align: center; cursor: pointer;">
																					{{ dayLevel.date }}
																				</span>
																			</td>
																		</tr>
																	</thead>
																	<tbody *ngIf="subGroupSelectedIndex !== null">
																		<tr>
																			<td>
																				<span
																					(click)="subGroupSelectedIndex = subGroupIndex;"
																					style="float: left; width: 20%;">
																					<label for="monitor"
																						style="font-size: 20px;">
																						{{'monitor'
																						| translate}}
																					</label>
																					<mat-spinner
																						*ngIf="loadingMonitors"></mat-spinner>
																					<mat-form-field
																						*ngIf="!loadingMonitors"
																						appearance="outline"
																						class="flex-auto">
																						<input
																							[matAutocomplete]="autoMoniteur"
																							[value]="getMonitorValue(groupLevel, subGroupIndex, daySelectedIndex)"
																							type="text" id="monitor"
																							placeholder="Select monitor"
																							matInput>
																						<mat-autocomplete
																							#autoMoniteur="matAutocomplete"
																							[displayWith]="displayFnMoniteurs">
																							<mat-option
																								(onSelectionChange)="setSubGroupMonitor($event, null, groupLevel, subGroupSelectedIndex, daySelectedIndex)">
																								{{ 'no_monitor_choose' |
																								translate }}
																							</mat-option>
																							<ng-container
																								*ngFor="let monitor of filteredMonitors | async">
																								<mat-option
																									*ngIf="!checkIfExistInDate(daySelectedIndex, monitor, groupLevel)"
																									(onSelectionChange)="setSubGroupMonitor($event, monitor, groupLevel, subGroupSelectedIndex, daySelectedIndex)">
																									{{monitor?.first_name
																									|| ''}}
																									{{monitor?.last_name
																									|| ''}}
																								</mat-option>
																							</ng-container>
																						</mat-autocomplete>
																						<mat-icon matPrefix
																							svgIcon="mat:person"></mat-icon>
																					</mat-form-field>
																				</span>
																			</td>
																			<td
																				*ngFor="let item of daysDatesLevels; let dayIndex = index;">
																				<span *ngIf="item.active === 1">
																					<div [ngStyle]="{'background-color': hasMonitorAssigned(item, groupLevel, subGroupIndex) ? '#CEE741' : 'red'}"
																						style="background-color: #CEE741;width: 25px;border-radius: 100%;height: 25px;margin: 0 auto;">
																					</div>
																				</span>
																			</td>
																		</tr>
																		<!-- Iteración por alumno -->
																		<tr *ngFor="let courseUser of getCourseUsers(subGroup); let courseUserIndex = index"
																			style="height: 100px;">
																			<td>
																				<div style="float: left; width: 100%;">
																					<div
																						style="float: left; width: 25%;">
																						<img [src]="courseUser.client?.image || userAvatar"
																							style="border-radius: 100%;height: 50px;width: 50px;">
																					</div>
																					<div
																						style="float: left; width: 75%;">
																						<p style="font-size: 16px;">
																							{{
																							courseUser.client?.first_name
																							}} {{
																							courseUser.client?.last_name
																							}}
																						</p>
																						<p style="font-size: 10px;">
																							{{
																							getLanguage(courseUser.client?.language1_id)
																							}} · {{
																							getCountry(courseUser.client?.country)
																							}} · {{
																							calculateAge(courseUser.client?.birth_date)
																							}} {{ 'years' | translate }}
																						</p>
																						<img *ngIf="courseUserIndex === 0"
																							(click)="openUserTransfer(groupLevel, subGroup, courseUserIndex + 1, groupLevel)"
																							src="../../../../assets/img/icons/change.svg"
																							style="float:left;cursor: pointer;">
																					</div>
																				</div>
																			</td>
																			<td
																				*ngFor="let item of daysDatesLevels; let dayIndex = index;">
																				<span *ngIf="item.active === 1">
																					<div [ngStyle]="{'background-color': isInDay(item.date, courseUser.client_id) ? '#CEE741' : 'red'}"
																						style="width: 25px;border-radius: 100%;height: 25px;margin: 0 auto;">
																					</div>
																				</span>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</ng-container>
														</div>
													</div>
												</ng-container>
											</div>
										</mat-card-content>
									</mat-card>
								</div>
							</div>
						</mat-card-content>
					</mat-card>
				</mat-tab>
				<mat-tab label="{{'bookings' | translate }}">
					<vex-page-layout style="margin: 2% 0 0 0;">
						<vex-page-layout-content [ngClass]="{'table-show-detail': showDetail}" class="-mt-6 fullwidth">
							<vex-aio-table [columns]="columns" [entity]="entity" [title]="'bookings'"
								[route]="'bookings'" [filterField]="id" [filterColumn]="'course_id'" [with]="['bookingUsers.course.sport', 'bookingUsers.monitor',
                                      'bookingUsers.client.clientSports.degree',
                                      'bookingUsers.courseSubGroup.degree',
                                      'clientMain.clientSports.degree', 'user',
                                      'vouchersLogs.voucher', 'bookingUsers.bookingUserExtras.courseExtra']"
								[showDetail]="showDetail" (showDetailEvent)="showDetailEvent($event)">
							</vex-aio-table>
						</vex-page-layout-content>
					</vex-page-layout>
					<vex-page-layout-content *ngIf="showDetail" class="fullwidth col-right">
						<mat-card>
							<mat-card-header style="display:block">
								<div style="width: 100%;">
									<span style="display: inline-block;width: 80%; text-align: left;">
										<mat-card-title>
											{{'booking' | translate}}
											#{{detailData.id}}
										</mat-card-title>
									</span>
									<span style="display: inline-block;width: 20%; text-align: right;">
										<img (click)="goTo('/bookings/update/' + detailData.id)"
											src="assets/img/icons/edit.svg" class="btn-edit">
										<img (click)="showDetail = false" src="assets/img/icons/close.svg"
											class="btn-close">
									</span>
								</div>
								<div
									style="width: 100%; border-top: 1px solid white; margin-top: 5px; padding-top: 5px;">
									<mat-card-subtitle style="width:100%;">
										<div style="width: 60%;display:inline-block;text-align: left; color: #868686;">
											<b>
												{{ 'register' | translate}}:
											</b>
											<span style="margin-left: 10px;font-weight: normal;color: white;">
												<span style="color: white;">
													{{detailData.created_at |
													date: 'dd-MM-yyyy'}}
												</span>
												<span style="margin-left: 10px;font-style: italic;color: white;">
													{{detailData.created_at
													| date: 'HH:mm'}}h
												</span>
											</span>
										</div>
										<div *ngIf="detailData.user"
											style="width: 40%;display:inline-block;text-align: right;color: white;font-weight: normal;">
											{{ detailData.user.username }}
											<span style="margin-left: 10px;color: white;">
												({{
												detailData.user.first_name +
												' ' + detailData.user.last_name
												}})
											</span>
										</div>
										<div
											style="width: 40%;display:inline-block;text-align: right;color: white;font-weight: normal;">
											{{ 'from' | translate }}
											<span *ngIf="detailData.source == 'web'"
												style="margin-left: 10px;color: white;">
												{{'page_created' |
												translate}}
											</span>
											<span *ngIf="detailData.source == 'admin'"
												style="margin-left: 10px;color: white;">
												{{'api_created' |
												translate}}
											</span>
										</div>
									</mat-card-subtitle>
								</div>
								<div class="title-status">
									<span *ngIf="isActive" style="color:#00C32B;background-color: #B2EFAD;">
										{{'active' | translate | uppercase }}
									</span>
									<span *ngIf="isFinished"
										style="color:rgba(68, 74, 88, 1);background-color: #E3E3E3;">
										{{'finished' | translate | uppercase }}
									</span>
									<span *ngIf="detailData.status === 2"
										style="color:rgba(146, 26, 0, 1);background-color: #F7BB99;">
										{{'cancelled' | translate | uppercase }}
									</span>
									<span *ngIf="detailData.status === 3"
										style="color:rgba(83, 65, 0, 1);background-color:#F7E399;">
										{{'partial_cancelled' | translate | uppercase }}
									</span>
									<span class="col-right">
										<span *ngIf="detailData.status === 1 && detailData.paid"
											style="color:#00C32B;background-color: #B2EFAD;">
											{{'payed' | translate | uppercase }}
										</span>
										<span
											*ngIf="detailData.status === 1 && !detailData.paid && detailData.payment_method_id != 3"
											style="color:#FF0000;background-color: #F7BB99;">
											{{'no_payed' | translate | uppercase }}
										</span>
										<span
											*ngIf="detailData.status === 1 && !detailData.paid && detailData.payment_method_id == 3"
											style="color:#FA9917;background-color: #F7E399;">
											{{'link_send' | translate | uppercase }}
										</span>
									</span>
								</div>
							</mat-card-header>
							<mat-card-content>
								<div style="width: 100%;">
									<div class="title-client">
										{{'client' | translate}}
									</div>
									<div class="holder-client">
										<div class="col-left">
											<!-- <img [src]="detailData.client_main?.image !== null ? detailData.client_main?.image : userAvatar" width="60" height="60" style="border-radius: 100%"> -->
											<app-level-user
												*ngIf="detailData.degrees_sport && detailData.degrees_sport.length"
												[allLevels]="detailData.degrees_sport"
												[selectLevel]="getClientDegree(detailData?.client_main_id)" [size]="60"
												[userImage]="detailData.client_main?.image !== null && detailData.client_main?.image !== '' ? detailData.client_main?.image : userAvatar"></app-level-user>
										</div>
										<div class="col-right">
											<div class="client-name">
												{{detailData?.client_main?.first_name}}
												{{detailData?.client_main?.last_name}}
											</div>
											<div class="client-dates">
												{{getLanguage(detailData?.client_main?.language1_id)}}
												·
												{{getCountry(detailData?.client_main?.country) }}
												·
												{{calculateAge(detailData?.client_main?.birth_date)}}
												&ensp;{{'years' | translate}}
											</div>
											<div style="display: flex;">
												<vex-icon src="chat"></vex-icon>
												<vex-icon src="mail" href="mailto:{{detailData?.client_main?.email}}"
													style="cursor:pointer" title="{{detailData?.client_main?.email}}">
												</vex-icon>
												<vex-icon src="phone" href="tel:{{detailData?.client_main?.phone}}"
													title="{{detailData?.client_main?.phone}}">
												</vex-icon>
											</div>
										</div>
									</div>
								</div>
								<ng-container *ngFor="let bUsers of bookingUsersUnique; let buI = index"
									[style.marginTop]="buI > 0 ? '35px' : ''">
									<div class="title-actividad">
										<div class="col-left">
											<b class="title">
												{{ 'activity' | translate }} {{buI + 1}}:
											</b>
											<b *ngIf="isActiveBookingUser(bUsers)" style="color:#00C32B">
												{{'active' | translate | uppercase }}
											</b>
											<b *ngIf="isFinishedBookingUser(bUsers)" style="color:#A4A3A3">
												{{'finished' | translate | uppercase }}
											</b>
											<b *ngIf="bUsers.status === 2" style="color:#FF0000;margin-left:10px;">
												{{'cancelled' | translate | uppercase }}
											</b>
											<b *ngIf="bUsers.status === 3" style="color:#FF0000;margin-left:10px;">
												{{'partial_cancelled' | translate | uppercase }}
											</b>
										</div>
										<div class="col-right">
											<b>
												{{bUsers.price}} {{ detailData.currency }}
											</b>
										</div>
									</div>
									<div>
										<div class="holder-content">
											<div>
												<div class="holder-actividad">
													<div class="col-left">
														<div class="c-l">
															<img *ngIf="bUsers?.course?.course_type === 1"
																[src]="bUsers.course.sport.icon_collective"
																class="avatar h-16 w-16 align-middle"
																style="display: inline; margin-right: 0.5rem; border-radius: 5px;">
															<img *ngIf="bUsers?.course?.course_type !== 1"
																[src]="bUsers.course.sport.icon_prive"
																class="avatar h-16 w-16 align-middle"
																style="display: inline; margin-right: 0.5rem; border-radius: 5px;">
														</div>
														<div class="c-r">
															<div class="course-title">
																{{bUsers?.course?.name}}
															</div>
															<div class="course-label">
																{{
																(bUsers?.course?.course_type === 2 ? 'private' :
																bUsers?.course?.course_type === 1 ? 'collective'
																:
																'activity') | translate
																}}
																{{
																(bUsers?.course?.isFlexible ? 'flex' : 'fix') |
																translate
																}}
																{{bUsers?.course?.sport.name}}
															</div>
															<ng-container *ngIf="bUsers?.course?.course_type == 1">
																<div [style.background]="bUsers?.course_sub_group.degree.color"
																	class="m-0 body-1"
																	style="color: #fff;border-radius: 5px;width: 30%;text-align: center; font-size:10px;overflow: inherit;">
																	{{bUsers?.course_sub_group.degree?.annotation}}
																	{{bUsers?.course_sub_group.degree?.name}}
																</div>
															</ng-container>
															<ng-container *ngIf="bUsers?.course?.course_type !== 1">
																<!-- Para course_type distinto de 1 -->
																<ng-container
																	*ngFor="let item of detailData.bookingusers">
																	<div
																		*ngIf="item.client_id == bUsers.client_id && item.date == bUsers.date">
																		<span class="date-course">
																			<img class="icon-calendar"
																				src="assets/img/icons/calendar-1.svg">
																			{{ item.date | date: 'dd-MM-yyyy' }}
																			<i>
																				{{ item?.hour_start.substring(0, 5)
																				}}h
																			</i>
																			-
																			{{ item?.hour_end.substring(0, 5) }}h
																		</span>
																	</div>
																</ng-container>
															</ng-container>
															<!-- Para course_type 1 -->
															<ng-container *ngIf="bUsers?.course?.course_type === 1">
																<ng-container *ngFor="let item of bUsers.bookingusers">
																	<div>
																		<span class="date-course">
																			<img class="icon-calendar"
																				src="assets/img/icons/calendar-1.svg">
																			{{ item.date | date: 'dd-MM-yyyy' }}
																			<i>
																				{{ item?.hour_start.substring(0, 5)
																				}}h
																			</i>
																			- {{ item?.hour_end.substring(0,
																			5) }}h
																		</span>
																	</div>
																</ng-container>
															</ng-container>
														</div>
													</div>
													<div class="col-right">
														<!-- {{(bUsers?.course?.course_type === 1 ? 'colective' : 'private' )| translate}} {{getSportName(bUsers?.course?.sport_id)}} -->
														{{bUsers?.price}} {{bUsers?.currency}}
													</div>
												</div>
												<!-- <div style="float: left; width: 100%;" *ngIf="bUsers.course.course_type">
                          <div style="float: left; width: 75%;color:#fff; padding:5%;margin-top: 5%;font-size:12px" [ngStyle]="{'background-color': getDegree(bUsers?.degree_id)?.color}">
                            {{getDegree(bUsers?.degree_id)?.league}} - {{getDegree(bUsers?.degree_id)?.annotation}}/{{getDegree(bUsers?.degree_id)?.name}}
                          </div>
                        </div> -->
												<div>
													<div class="subtitle">
														<img class="icon-calendar" src="assets/img/icons/clientes2.svg">
														{{'participant' | translate}}
													</div>
													<div class="holder-participante">
														<div class="col-left">
															<div class="c-l">
																<app-level-user
																	*ngIf="detailData.degrees_sport && detailData.degrees_sport.length"
																	[allLevels]="detailData.degrees_sport"
																	[selectLevel]="getClientDegree(bUsers.client)"
																	[size]="60"
																	[userImage]="bUsers?.client?.image !== null && bUsers?.client?.image !== '' ? bUsers?.client?.image : userAvatar"></app-level-user>
															</div>
															<div class="c-r">
																<div class="course-title">
																	{{bUsers?.client?.first_name}}
																	{{bUsers?.client?.last_name}}
																</div>
																<div class="course-label">
																	{{getLanguage(bUsers?.client?.language1_id)}}
																	·
																	{{ getCountry(bUsers?.client?.country) }}
																	·
																	{{calculateAge(bUsers?.client?.birth_date)}}
																	{{'years' | translate }}
																</div>
																<div *ngIf="getClientDegreeObject(bUsers.client)"
																	[style.background]="getClientDegreeObject(bUsers.client)?.color"
																	class="m-0 body-1"
																	style="padding: 5%;;color: #fff;border-radius: 5px;width: 100%;text-align: center; font-size:10px;overflow: inherit;">
																	{{getClientDegreeObject(bUsers.client)?.annotation}}
																	{{getClientDegreeObject(bUsers.client)?.name}}
																</div>
																<div *ngIf="!getClientDegreeObject(bUsers.client)">
																	{{"level"
																	| translate}} NDF
																</div>
																<div style="display: flex;">
																	<vex-icon src="chat"></vex-icon>
																	<vex-icon src="mail"
																		href="mailto:{{bUsers?.client?.email}}"
																		style="cursor:pointer"
																		title="{{bUsers?.client?.email}}">
																	</vex-icon>
																	<vex-icon src="phone"
																		href="tel:{{bUsers?.client?.phone}}"
																		title="{{bUsers?.client?.phone}}">
																	</vex-icon>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div>
													<div class="subtitle">
														<img class="icon-calendar"
															src="assets/img/icons/monitores-3.svg">
														{{'monitor' | translate}}
													</div>
													<div class="holder-participante">
														<div class="col-left">
															<div *ngIf="bUsers?.monitor" class="c-l">
																<app-level-user
																	*ngIf="detailData.degrees_sport && detailData.degrees_sport.length"
																	[allLevels]="detailData.degrees_sport"
																	[selectLevel]="getHighestAuthorizedDegree(bUsers?.monitor, bUsers?.course?.sport_id).degree_id"
																	[size]="60"
																	[userImage]="bUsers?.monitor?.image !== null && bUsers?.monitor?.image !== '' ? bUsers?.monitor?.image : userAvatar"></app-level-user>
															</div>
															<div class="c-r">
																<div *ngIf="bUsers?.monitor">
																	<div class="course-title">
																		{{bUsers?.monitor?.first_name}}
																		{{bUsers?.monitor?.last_name}}
																	</div>
																	<span class="dot"></span>
																	<div class="course-label">
																		{{getLanguage(bUsers?.monitor?.language1_id)}}
																		·
																		{{ getCountry(bUsers?.monitor?.country) }}
																		·
																		{{calculateAge(bUsers?.monitor?.birth_date)}}
																		{{'years' | translate}}
																	</div>
																	<div style="display: flex;">
																		<vex-icon src="chat"></vex-icon>
																		<vex-icon src="mail"
																			href="mailto:{{bUsers?.client?.email}}"
																			style="cursor:pointer"
																			title="{{bUsers?.client?.email}}">
																		</vex-icon>
																		<vex-icon src="phone"
																			href="tel:{{bUsers?.client?.phone}}"
																			title="{{bUsers?.client?.phone}}">
																		</vex-icon>
																	</div>
																	<!-- <ng-container
                                        *ngFor="let item of bUsers?.monitor.monitor_sports_degrees_details"
                                      >
                                        <div
                                          style="width: calc(33.33% - 4px);display:inline-block;vertical-align:top;margin-right:4px;"
                                          *ngIf="item.school_id === user?.schools[0]?.id && bUsers?.course?.sport_id === item.sport_id"
                                        >
                                          <div style="text-align: center;width: 100%;">
                                            <img
                                              [src]="item.sport_icon_selected"
                                              width="50"
                                              height="50"
                                              style="border-radius: 6px; border: solid 1px #808080;display:inline-block;"
                                              [ngStyle]="{'background-color': item.degree?.color}"
                                            />
                                          </div>
                                          <div style="text-align: center;width: 100%;">
                                            {{item?.sport_name}}
                                          </div>
                                          <div style="text-align: center;width: 100%;">
                                            <div
                                              [ngStyle]="{
                              'color': '#fff',
                              'background-color':item.degree?.color,
                              'border-color': item.degree?.color,
                              'width': '100%',
                              'padding': '3px',
                              'border-radius': '6px'
                            }"
                                            >
                                              <div
                                                style="text-align: center;padding: 0px 3px; font-size:12px;"
                                              >
                                                {{item.degree?.annotation}}
                                                {{item.degree?.name}}
                                              </div>
                                            </div>
                                          </div>
                                          <div
                                            style="text-align: center;width: 100%; float: left"
                                          >
                                            <span
                                              *ngFor="let auth of item.monitor_sport_authorized_degrees"
                                            >
                                              <span
                                                style="width: 15px; height: 15px; margin: 4px 0 0 4px;  float: left; border-radius: 3px;"
                                                [style.background]="auth?.degree?.color"
                                              ></span>
                                            </span>
                                          </div>
                                        </div>
                                      </ng-container> -->
																	<!-- <div
                                    class="label-user"
                                    [ngStyle]="{'background': getDegree(bUsers?.degree_id)?.color !== null ? getDegree(bUsers?.degree_id)?.color : ''}"
                                  >
                                    {{getDegree(bUsers?.degree_id)?.annotation}}
                                    {{getDegree(bUsers?.degree_id)?.level}}
                                  </div> -->
																</div>
																<div *ngIf="!bUsers?.monitor">
																	<div class="course-label">
																		{{'no_monitor' | translate}}
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</ng-container>
								<div class="title-actividad">
									<div class="col-left">
										<b class="title">
											{{ 'ispaid' | translate }}:
										</b>
									</div>
									<div class="col-right">
										<b>
											{{detailData.paid_total}} {{ detailData.currency }}
										</b>
									</div>
								</div>
								<div class="subtitle-sub">
									{{ 'options' | translate }}
								</div>
								<div style="padding: 0px 35px;">
									<div class="list-inner-holder">
										<div class="col-left">
											<mat-slide-toggle [checked]="detailData?.has_cancellation_insurance"
												[disabled]="true"></mat-slide-toggle>
											{{ 'op_rem_abr' | translate }}
										</div>
										<div class="col-right">
											{{detailData.price_cancellation_insurance}}
											{{detailData.currency}}
										</div>
									</div>
									<div class="list-inner-holder">
										<div class="col-left">
											<mat-slide-toggle [disabled]="true"
												[checked]="detailData?.has_boukii_care"></mat-slide-toggle>
											Boukii Care
										</div>
										<div class="col-right">
											{{detailData.price_boukii_care}} {{detailData.currency}}
										</div>
									</div>
									<div class="list-inner-holder">
										<div class="col-left">
											<div *ngIf="true" style="width: 100%;">
												<mat-slide-toggle [disabled]="true"
													[checked]="existExtras()"></mat-slide-toggle>
												{{'extras' | translate}}
											</div>
										</div>
										<div class="col-right">
											{{getExtrasPrice()}} {{detailData.currency}}
										</div>
									</div>
								</div>
								<div class="subtitle-sub">
									{{ 'method_paiment' | translate
									}}
								</div>
								<div *ngIf="bonus?.length > 0" class="list-holder">
									<div class="col-left">
										{{'bonus' | translate}}
									</div>
									<div class="col-right">
										-{{getBonusPrice()}} {{detailData.currency}}
									</div>
								</div>
								<div *ngIf="detailData.payment_method != 6" class="list-holder">
									<div class="col-left">
										<div class="col-l">
											{{ getPaymentMethod(detailData.payment_method) | translate
											}}
										</div>
										<!-- TODO: revisar metodo de pago cuando hay varios pagos y que estado poner?? -->
										<!-- <div class="col-r">
                                  <span style="#FA9917">En attend de paiment</span>
                                </div>
                              </div>
                              <div class="col-right">
                                165.00 CHF
                              </div> -->
									</div>
								</div>
								<!-- <div style="float: left; width: 100%;margin-top:5%;padding:2%;background:#EFEFEF">
                  <h3
                    style="font-size: 1.5rem!important;"
                    *ngIf="bookingLog.length > 0"
                  >
                    {{'change_history' | translate}}
                  </h3>
                  <div class="opaque-box" *ngIf="bookingLog.length > 0">
                    <ng-container *ngFor="let item of bookingLog">
                      <span style="width: 100%; float:left">
                        <p style="float:left" *ngIf="item.action == 'created by api'">
                          {{item.created_at | date: 'dd-MM-yyyy hh:mm:ss'}}:
                          {{'api_created' | translate }}
                        </p>
                        <p style="float:left" *ngIf="item.action == 'refund'">
                          {{item.created_at | date: 'dd-MM-yyyy hh:mm:ss'}}:
                          {{'cancel_refund' | translate }}
                        </p>
                        <p
                          style="float:left"
                          *ngIf="item.action == 'refund_boukii_pay'"
                        >
                          {{item.created_at | date: 'dd-MM-yyyy hh:mm:ss'}}:
                          {{'refund_boukii_pay' | translate }}
                        </p>
                        <p style="float:left" *ngIf="item.action == 'full_cancel'">
                          {{item.created_at | date: 'dd-MM-yyyy hh:mm:ss'}}:
                          {{'full_cancel' | translate }}
                        </p>
                        <p style="float:left" *ngIf="item.action == 'partial_cancel'">
                          {{item.created_at | date: 'dd-MM-yyyy hh:mm:ss'}}:
                          {{'partial_cancel' | translate }}
                        </p>
                        <p style="float:left" *ngIf="item.action == 'no_refund'">
                          {{item.created_at | date: 'dd-MM-yyyy hh:mm:ss'}}:
                          {{'cancel_no_refund' | translate }}
                        </p>
                        <p style="float:left" *ngIf="item.action == 'refund_cash'">
                          {{item.created_at | date: 'dd-MM-yyyy hh:mm:ss'}}:
                          {{'refund_cash' | translate }}
                        </p>
                        <p style="float:left" *ngIf="item.action == 'voucher_refund'">
                          {{item.created_at | date: 'dd-MM-yyyy hh:mm:ss'}}:
                          {{'voucher_refund' | translate }}
                        </p>
                        <p style="float:left" *ngIf="item.action == 'update'">
                          {{item.created_at | date: 'dd-MM-yyyy hh:mm:ss'}}:
                          {{'mails.type3' | translate }}
                        </p>
                      </span>
                    </ng-container>
                  </div>
                </div> -->
								<div class="total-bottom">
									<div class="col-left">
										<ul>
											<li class="total">
												<b>
													{{'total' | translate | uppercase}}
												</b>
											</li>
										</ul>
									</div>
									<div class="col-right">
										<ul>
											<li class="total">
												{{detailData?.price_total}} {{detailData.currency}}
											</li>
										</ul>
									</div>
								</div>
							</mat-card-content>
						</mat-card>
					</vex-page-layout-content>
				</mat-tab>
				<mat-tab label="{{'menu.stats' | translate}}"></mat-tab>
			</mat-tab-group>
		</div>
	</div>
</div>
