.fluxbar {
  font-size: 12px;
  color: #c7d0d3;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  span {
    margin: 0 5px;
    color: var(--color-dark1);
  }
  span.Selected {
    color: #e91e63;
  }
  span.Past {
    color: var(--color-dark1);
    cursor: pointer;
  }
  span.Dir {
    font-weight: 900;
  }
}
