<div *ngIf="!loading">
  <div class="flex items-center" mat-dialog-title>
    <h2 class="headline m-0 flex-auto">Modifier les objectifs</h2>

    <!--<button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>-->

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col">
    <!--
    <div class="flex flex-col sm:flex-row gap-2 sm:gap-6" style="margin: 3% 0 0 0;">
      <mat-form-field appearance="outline" class="flex-auto">
        <mat-label>{{'name' | translate }}</mat-label>
        <input formControlName="name" matInput required type="text">

      </mat-form-field>

      <mat-form-field appearance="outline" class="flex-auto">
        <mat-label>{{'surname' | translate }}</mat-label>
        <input formControlName="payment" matInput required type="number">
      </mat-form-field>
   </div>-->

   <div class="flex flex-col sm:flex-row gap-2 sm:gap-6" style="margin: 3% 0 0 0;">

   <!-- Mat Table para los contenedores seleccionados -->
    <mat-table #objectiveTable [dataSource]="selectedObjective" *ngIf="selectedObjective.data.length > 0">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>
          <div class="header-content">
            <span>Objectives</span>
            <button color="primary" type="button" mat-flat-button style="float:right;width: 15%;" (click)="onAddObjective()">Add objective</button>

          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index" style="margin: 2% 0 0 0;">
          <mat-form-field appearance="outline" class="flex-auto">
            <input matInput [(ngModel)]="element.name" [value]="element.name" type="text" style="width: 98%;">
            <mat-icon svgIcon="mat:delete" (click)="removeObjective(i)" style="position:relative; z-index:9999; cursor: pointer;"></mat-icon>

          </mat-form-field>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedObjectiveColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedObjectiveColumns;" style="width:50%;float: left;"></mat-row>
    </mat-table>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">{{'cancel' | translate}}</button>
    <button *ngIf="isCreateMode()" color="primary" mat-flat-button type="submit">{{'confirm' | translate}}</button>
    <button *ngIf="isUpdateMode()" color="primary" mat-flat-button type="submit">Update</button>
  </mat-dialog-actions>
</div>
