
.selected-item {
  transition: all 0.3s ease;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
  border: 2px solid #ff3085;
  background-color: rgba(255, 48, 133, 0.1);
}

img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 1rem;
}


[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
  background: #FF3085;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
	font-family: 'Rubik', sans-serif;
	font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;

  &:hover {
    background-color: darken(#FF3085, 10%);
  }

  &.btn-1 {
    background-color: #FF3085;
    box-shadow: 0 6px darken(#FF3085, 10%);
    transition: none;

    &:hover {
      box-shadow: 0 4px darken(#FF3085, 10%);
      top: 2px;
    }
  }

}

.input-container {
  padding: 0 0 0 10px;
}

.image-container, .input-container {
  float:left;
}

.chip-level {width: 90px;height: 25px; margin: 0 10px 10px 0; float:left;border-radius: 20px;cursor:pointer}

::ng-deep .sports-table mat-header-row {
  display: block !important;
}
::ng-deep .sports-table mat-row {
  display: block !important;
}
