<vex-secondary-toolbar current="Admins">
  <vex-breadcrumbs
    [crumbs]="['Admins', 'Nouvelle Admin']"
    class="flex-auto"
  ></vex-breadcrumbs>
  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon svgIcon="mat:more_vert"></mat-icon>
  </button>
</vex-secondary-toolbar>
<div
  [@stagger]="true"
  class="p-gutter container"
  style="max-width: none"
  *ngIf="!loading"
>
  <div class="flex flex-col sm:flex-row gap-4">
    <div @fadeInUp class="card flex-auto">
      <div class="px-6 py-4 border-b flex items-center">
        <div style="float: left;width: 50%;">
          <h2 class="title m-0">Nouvelle admin</h2>
        </div>
        <div style="float: left;width: 50%;">
          <div style="float:right">
            Active <mat-slide-toggle [(ngModel)]="defaultsUser.active"></mat-slide-toggle>
          </div>
        </div>
      </div>
      <mat-vertical-stepper #stepper="matHorizontalStepper" [linear]="true">

        <ng-template matStepperIcon="edit">
          <mat-icon svgIcon="mat:done_all"></mat-icon>
        </ng-template>

        <ng-template matStepperIcon="done">
          <mat-icon svgIcon="mat:done_all"></mat-icon>
        </ng-template>

        <mat-step [stepControl]="formInfoAccount">
          <form [formGroup]="formInfoAccount">
            <ng-template matStepLabel>Info de compte</ng-template>

              <div class="flex flex-col sm:flex-row gap-2 sm:gap-6" style="margin: 3% 0 0 0;">
                <mat-form-field class="flex-auto">
                  <mat-label>Nom</mat-label>
                  <input formControlName="name" matInput required type="text" [(ngModel)]="defaults.first_name">

                </mat-form-field>

                <mat-form-field class="flex-auto">
                  <mat-label>Prenom</mat-label>
                  <input formControlName="surname" matInput required type="text" [(ngModel)]="defaults.last_name">
                </mat-form-field>
             </div>

              <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                <mat-form-field class="flex-auto">
                  <mat-label>Email</mat-label>
                  <input formControlName="email" matInput required type="mail" [(ngModel)]="defaults.email">

                </mat-form-field>

                <mat-form-field class="flex-auto">
                  <mat-label>Nom d'utilisateur</mat-label>
                  <input formControlName="username" matInput required type="text" [(ngModel)]="defaultsUser.username">
                </mat-form-field>
              </div>


            <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
              <mat-form-field class="flex-auto">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput required type="text" [(ngModel)]="defaultsUser.password">

              </mat-form-field>
            </div>
            <div class="actions flex items-center justify-end gap-2">
              <button (click)="stepper.reset()" [disabled]="formInfoAccount.pristine" color="primary" mat-button type="button">Reset</button>
              <button [disabled]="formInfoAccount.invalid" color="primary" mat-raised-button matStepperNext>
                Next
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="formPersonalInfo">
          <form [formGroup]="formPersonalInfo">
            <ng-template matStepLabel>Données Personnelles</ng-template>

            <div class="flex flex-col sm:flex-row gap-2 sm:gap-6" style="margin: 3% 0 0 0;">

              <mat-form-field class="flex-auto">
                <input matInput [matDatepicker]="pickerFrom" placeholder="Date de naissance" formControlName="fromDate" [max]="minDate" [(ngModel)]="defaults.birth_date">
                <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                <mat-datepicker #pickerFrom [startAt]="minDate"></mat-datepicker>
              </mat-form-field>

            </div>

            <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
              <mat-form-field class="flex-auto">
                <mat-label>Teléphone</mat-label>

                <input formControlName="phone" matInput required type="tel" [(ngModel)]="defaults.telephone">
              </mat-form-field>

              <mat-form-field class="flex-auto">
                <mat-label>Portable</mat-label>
                <input formControlName="mobile" matInput required type="tel" [(ngModel)]="defaults.phone">

              </mat-form-field>
            </div>

            <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
              <mat-form-field class="flex-auto">
                <mat-label>Addresse</mat-label>

                <input formControlName="address" matInput required type="text" [(ngModel)]="defaults.address">
              </mat-form-field>

              <mat-form-field class="flex-auto">
                <mat-label>Code Postal</mat-label>
                <input formControlName="postalCode" matInput required type="text" [(ngModel)]="defaults.cp">

              </mat-form-field>
            </div>



            <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
              <mat-form-field class="vex-flex-form-field flex-auto">
                <mat-label>Pays</mat-label>
                <input type="text" placeholder="Selecciona una opción" matInput [formControl]="myControlCountries" [matAutocomplete]="autoCountry" formControlName="country">
                <mat-autocomplete #autoCountry="matAutocomplete" [displayWith]="displayFnCountry">
                  <mat-option *ngFor="let country of filteredCountries | async" [value]="country" (onSelectionChange)="defaults.country = country.id">
                    {{country.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field class="vex-flex-form-field flex-auto">
                <mat-label>Canton</mat-label>
                <input type="text" placeholder="Selecciona una opción" matInput [formControl]="myControlProvinces" [matAutocomplete]="autoProvince" formControlName="province">
                <mat-autocomplete #autoProvince="matAutocomplete" [displayWith]="displayFnProvince">
                  <mat-option *ngFor="let province of filteredProvinces | async" [value]="province" (onSelectionChange)="defaults.province = province.id">
                    {{province.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field class="flex-auto" appearance="fill">
                <mat-label>Idiomas</mat-label>
                <mat-select [formControl]="languagesControl" multiple>
                  <mat-select-trigger>
                    <div *ngIf="selectedLanguages.length > 0; else placeholderLangs">
                      {{ getSelectedLanguageNames() }}
                    </div>
                    <ng-template #placeholderLangs>Selecciona los idiomas</ng-template>
                  </mat-select-trigger>
                  <mat-option *ngFor="let language of filteredLanguages | async" [value]="language" (onSelectionChange)="toggleSelectionLanguages(language)">
                    {{language.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="actions flex items-center justify-end gap-2">
              <button (click)="stepper.reset()" [disabled]="formPersonalInfo.pristine" color="primary" mat-button type="button">Reset</button>
              <button [disabled]="formPersonalInfo.invalid" color="primary" mat-raised-button matStepperNext (click)="save()">
                Save
              </button>
            </div>
          </form>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
</div>
