.table-show-detail {
  width: 100%;
  float: left;
}

.card-users {
  transition: border 0.1s;
  cursor: pointer;
  width: 25%;
  height: 200px;
  box-shadow: none;
  float: left;
}

.active-border {
  border: 2px solid #e91e63;
  border-radius: 10px;
}

.card-users mat-card-header {
  align-items: center;
}

.vex-page-layout-content {
  &.col-right {
    width: 30%;
    float: left;
    position: fixed;
    left: calc(70% - 40px);
    overflow-y: auto;
    max-height: calc(100vh - 180px);
    border-radius: 10px;
    padding: 0px;
    margin-top: 30px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

    @media (max-width: 1280px) {
      width: 50%;
      left: calc(50% - 40px);
    }

    @media (max-width: 1020px) {
      width: 60%;
      left: calc(40% - 40px);
    }

    @media (max-width: 768px) {
      width: 90%;
      left: calc(10% - 40px);
    }

    .mat-mdc-card-subtitle {
      > div {
        display: block !important;
        width: 100% !important;
        text-align: left !important;
      }
    }
  }

  .card-header {
    display: block;
    background-color: #2f3844;
    padding: 25px 35px !important;

    .mat-mdc-card-title {
      font-weight: 700;
      font-size: 1.5rem;
      color: #fff;
    }

    .mat-icon {
      fill: white !important;
    }
  }

  .mat-mdc-card-content {
    padding: 0px 0px 20px 0px !important;

    .dots {
      padding: 15px 35px;

      .dot {
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
        border-radius: 50%;
      }
    }

    .title-status {
      background-color: var(--color-grey4);
      padding: 15px 35px;
      margin-bottom: 8px;

      b {
        color: var(--color-dark1);
        font-size: 1em;
        font-weight: 700;
      }

      .col-left {
        display: inline-block;
        width: 70px;
      }

      .col-right {
        display: inline-block;
        width: calc(100% - 70px);
        text-align: right;
        font-size: 1em;
        font-weight: 700;
      }
    }

    .title-client {
      padding: 10px 35px;
      color: var(--color-dark1);
      font-size: 1.1em;
      font-weight: 700;
    }

    .holder-client {
      padding-left: 45px;
      padding-top: 20px;
      padding-bottom: 20px;

      .col-left {
        display: inline-block;
        vertical-align: middle;
      }
      .col-right {
        display: inline-block;
        vertical-align: middle;
        padding-left: 15px;

        .client-name {
          font-size: 1.3em;
          font-weight: 700;
          color: var(--color-dark1);  // O cualquier otra propiedad CSS válida
          margin-bottom: 2px;
        }

        .client-dates {
          font-family: "Montserrat", sans-serif;
          font-size: 0.9em;
        }
      }
    }
  }
}

.image {
  margin-bottom: 10px;

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.cards-user-holder {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-flow: wrap;
  margin-bottom: 20px;
  padding: 0px 35px;

  .cards-user {
    width: calc(33.33% - 17px);
    display: inline-flex;
    vertical-align: top;
    margin-right: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 6px !important;

    .image {
      margin-bottom: 10px;

      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .name {
      font-family: "Montserrat", sans-serif;
      font-size: 13px;
      font-weight: 700;
    }

    .subtitle {
      font-family: "Montserrat", sans-serif;
      font-size: 11px;
    }
  }
}

.list-holder {
  padding: 0px 35px;
  font-size: 1em;
  font-weight: 400;
  color: var(--color-dark1);
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;

  .col-left {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
  }

  .col-right {
    width: 60%;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
  }
}

.title-actividad {
  background-color: var(--color-grey4);
  padding: 15px 35px;
  margin-top: 20px;
  margin-bottom: 10px;

  .title {
    font-size: 1.2em;
    font-weight: 700;
    color: var(--color-dark1);
  }

  b {
    font-weight: 700;
  }

  .col-left {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }

  .col-right {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    text-align: right;

    b {
      color: var(--color-dark1);
      font-size: 1.4em;
      font-weight: 600;
    }
  }
}

.deportes-holder {
  width: 100%;
  padding: 15px 35px;
}

.title-label {
  background-color: var(--color-grey4);
  padding: 15px 35px;
  margin-bottom: 10px;

  .title {
    font-size: 1.2em;
    font-weight: 700;
    color: var(--color-dark1);
  }

  b {
    font-weight: 700;
  }
}
