.mat-mdc-tab {
  background-color: var(--is-light-theme, #f8f9fb) var(--is-dark-theme, #2b2f33) !important;
  font-family: var(--font-dm);
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.15rem;
  border-bottom: 1px solid var(--color-grey3);
  height: 64px;
}
.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs
  > .mat-mdc-tab-header
  .mat-mdc-tab {
  height: 64px;
  border-left: 1px solid #dee6ea;
  border-right: 1px solid #dee6ea;
  border-bottom: 1px solid #dee6ea;
}
.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs
  > .mat-mdc-tab-header
  .mat-mdc-tab
  + .mat-mdc-tab {
  border-left: none;
}
.mdc-tab-indicator--active {
  background-color: var(--is-light-theme, white) var(--is-dark-theme, #404348) !important;
  font-family: var(--font-dm);
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 1.15rem;
  border-bottom: none;
}

.mat-mdc-tab .mdc-tab__text-label {
  color: var(--color-dark2);
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: var(--color-dark1);
}

.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-top-width: 3px;
  align-self: flex-start;
  border-color: var(--color-primary-red);
  border-top: 2px solid #dee6ea;
  background-color: #ffffff;
}
