<div class="card bg-primary flex" style="width: 100%;">

  <div class="p-6 text-primary-contrast flex-auto">
    <h2 class="headline m-0">{{'welcome' | translate }},
      {{user.first_name}}!</h2>

    <mat-form-field style="height: 0px;">
      <input matInput [matDatepicker]="picker" (dateChange)="emitDate($event)"
        [value]="date.value" [min]="today">
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <p class="caption m-0"><i class="fa fa-calendar"
        aria-hidden="true" style="cursor: pointer;" (click)="picker.open()"></i>
      {{ getLocale(date) }}</p>
    <span class="body-2">{{'work_day' | translate }}</span>
    <div class="mt-4 items-center">
      <span class="body-2" style="width: 100%">{{"Meteo" | translate}}</span>
    </div>
    <div class="mt-4 items-center" style="display: flex;">
      <ng-container *ngFor="let item of weather; let i = index">
        <div *ngIf="weather.length <= 6 || i % 2 === 0"
          style="display: flex;flex-direction: column;align-content: center;align-items: center;width: 100%;gap: 5px;max-width: 50px;">
          <span> {{ item.time }}</span>
          <img [src]="'../../../../assets/icons/weather/' + item.icon + '.png'"
            style="background-color: #222222; border-radius: 25%;width: 100%;max-width: 40px;">
          <span> {{
            item.temperature }}º</span>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="p-4 ml-4 flex-none self-center hidden sm:block">
    <img src="assets/img/illustrations/checklist.svg"
      style="height: 168px; width: 152px">
  </div>
</div>
