<div class="card bg-primary flex">

  <div class="p-6 text-primary-contrast flex-auto">
    <h2 class="headline m-0">{{'welcome' | translate }}, {{user.first_name}}!</h2>
    <p class="caption m-0 opacity-50"><i class="fa fa-calendar" aria-hidden="true"></i> {{ today }}</p>
    <span class="body-2">{{'work_day' | translate }}</span>

    <div class="mt-4 flex items-center">
      <span class="body-2">Meteo</span>
    </div>
  </div>
  <div class="p-4 ml-4 flex-none self-center hidden sm:block">
    <img src="assets/img/illustrations/checklist.svg" style="height: 168px; width: 152px">
  </div>
</div>
