
  <ng-container *ngIf="course.course_type === 2">
    <div *ngFor="let item of dates; index as i" class="card">
      <mat-card-header class="card__header">
        <mat-card-title> {{ "date" | translate }} {{ i + 1 }} </mat-card-title>
        <ng-container *ngIf="i > 0">
          <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
        </ng-container>
      </mat-card-header>
      <mat-card-content class="card__content">
        <booking-form-details-private
          [course]="course"
          [utilizers]="item.utilizers"
        ></booking-form-details-private>
      </mat-card-content>
    </div>
  </ng-container>

  <ng-container *ngIf="course.course_type === 1">
    <ng-container *ngIf="course.is_flexible">
      <mat-card-content class="card__content">
        <booking-form-details-colective-flex
          [course]="course"
          [sportLevel]="sportLevel"
          [utilizer]="utilizer"
          [initialData]="initialData"
          [stepForm]="stepForm"
        ></booking-form-details-colective-flex>
      </mat-card-content>
    </ng-container>
    <ng-container *ngIf="!course.is_flexible">
      <mat-card-content class="card__content">
        <booking-form-details-colective-fix
          [course]="course"
          [sportLevel]="sportLevel"
          [utilizer]="utilizer"
          [initialData]="initialData"
          [stepForm]="stepForm"
        ></booking-form-details-colective-fix
        ></mat-card-content>
    </ng-container>
  </ng-container>

  <mat-card-actions class="stepButtonsWrapper">
    <button mat-button type="button" (click)="handlePrevStep()">
      <mat-icon class="icon-sm" svgIcon="mat:arrow_back"></mat-icon>
      {{ "back" | translate }}
    </button>
    <div>
      <button mat-stroked-button type="button" *ngIf="course.course_type === 2">
        {{ "add_date" | translate }}
      </button>

      <button
        mat-flat-button
        type="button"
        (click)="completeStep()"
        [disabled]="!isFormValid()"
      >
        {{ "confirm" | translate }}
      </button>
    </div>
  </mat-card-actions>
