.swiper-container {
  width: 100%;
  overflow: hidden; /* Esto es crucial para ocultar slides adicionales */
  height: 170px;
}

.swiper-slide {
  width: 20% !important; /* Ajusta este valor según el ancho que quieras para cada slide */
  margin: 0 20px 0 0;
}

.highlighted {
  transition: all 0.1s ease;
  border: 1px solid #ff3085;
  border-radius: 1%;
}
