<mat-card-content class="cardContainer">
  <h3 class="title">{{ "bookings_page.crumbs.observations" | translate }}
    <span style="float: right; margin-right: 1rem;" (click)="cancel()">
    								<img
                      src="assets/img/icons/close-black.svg"
                      class="btn-close">
  </span></h3>

  <form [formGroup]="stepForm" class="formWrapper">
    <mat-form-field appearance="outline" class="fullWidth">
      <textarea
        class="textarea"
        type="text"
        placeholder="{{ 'observation_client' | translate }}"
        matInput
        formControlName="clientObs"
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="fullWidth">
      <textarea
        class="textarea"
        type="text"
        placeholder="{{ 'observation_school' | translate }}"
        matInput
        formControlName="schoolObs"
      ></textarea>
    </mat-form-field>
  </form>

  <div class="stepButtonsWrapper">
    <button mat-stroked-button type="button" (click)="cancel()">
      {{ "cancel" | translate }}
    </button>
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="submitForm()"
      [disabled]="!isFormValid()"
    >
      {{ "confirm" | translate }}
    </button>
  </div>
</mat-card-content>
