<mat-card-content class="">
  <form [formGroup]="stepForm" class="wrapper cardWrapper">
    <mat-form-field appearance="outline">
      <textarea
        class="textarea"
        type="text"
        placeholder="{{ 'observation_client' | translate }}"
        matInput
        formControlName="clientObs"
      >
      </textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <textarea
        class="textarea"
        type="text"
        placeholder="{{ 'observation_school' | translate }}"
        matInput
        formControlName="schoolObs"
      >
      </textarea>
    </mat-form-field>
  </form>

  <div class="stepButtonsWrapper">
    <button mat-button type="button" (click)="cancel()">
      {{ "cancel" | translate }}
    </button>
    <div>
      <button
        mat-flat-button
        type="button"
        (click)="submitForm()"
        [disabled]="!isFormValid()"
      >
        {{ "confirm" | translate }}
      </button>
    </div>
  </div>
</mat-card-content>
