<form>
  <div class="flex items-center" mat-dialog-title>
    <h2 class="headline m-0 flex-auto" style="    color: var(--color-dark1);
     font-size: 14px;
     font-family: Dinamit;
     font-weight: 500;
     line-height: 18px;
     word-wrap: break-word">{{'bookings_page.reductions.title'
      |translate}}</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col" style="padding: 0;">

    <mat-tab-group  (selectedIndexChange)="onTabChange($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          {{ 'bookings_page.reductions.percentaje' | translate }}
        </ng-template>
        <div style="width:100%; display: flex;gap: 16px;  padding: 30px 6px;" [formGroup]="form">
          <mat-form-field appearance="outline" style="width:calc(50% - 8px)">
            <mat-label>{{'bookings_page.reductions.discount'
              |translate}}</mat-label>
            <input type="number" matInput formControlName="discount" [(ngModel)]="discount" />
            <mat-icon matSuffix svgIcon="mat:percent"></mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width:calc(50% - 8px)">
            <mat-label>{{'bookings_page.reductions.discount'
              |translate}}</mat-label>
            <input type="number" matInput [value]="totalDiscount | number: '1.2-2'" readonly />
            <mat-icon style="width: 50px !important;" matSuffix>{{defaults.currency}}</mat-icon>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Cantidad fija
        </ng-template>
        <div style="width:100%; display: flex;gap: 16px;  padding: 30px 6px;" [formGroup]="form">
          <mat-form-field appearance="outline" style="width:100%">
            <mat-label>{{'bookings_page.reductions.discount'
              |translate}}</mat-label>
            <input type="number" matInput (input)="updateFixedDiscount($event)" />
            <mat-icon style="width: 50px !important;" matSuffix>{{defaults.currency}}</mat-icon>
          </mat-form-field>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <app-form-button form="stroked" name="cancel" [mat-dialog-close]="false">
    </app-form-button>
    <app-form-button form="flat" name="confirm" [mat-dialog-close]="{type: type,
    discount: discount, totalDiscount: totalDiscount}" [disabled]="form.invalid">
    </app-form-button>
  </mat-dialog-actions>
</form>