<h3 matDialogTitle>
  {{ event.title }}
</h3>

<mat-dialog-content>
  <form [formGroup]="form" *ngIf="!loading">
    <mat-tab-group style="width: 100%"
      (selectedTabChange)="onTabChanged($event);"
      [selectedIndex]="selectedIndex">
      <mat-tab label="{{'available' | translate}}" *ngIf="false">

        <div class="flex flex-col" style="padding-top: 15px;">

          <mat-form-field appearance="outline">
            <mat-label>{{'courses.date_start' | translate }}</mat-label>
            <input
              [(ngModel)]="defaults.start_date"
              [value]="defaults.start_date"
              [matDatepicker]="startDatepickerAvailable"
              formControlName="startAvailable" readonly
              matInput (click)="startDatepickerAvailable.open()"/>
            <mat-datepicker-toggle
              [for]="startDatepickerAvailable"
              matSuffix></mat-datepicker-toggle>
            <mat-datepicker #startDatepickerAvailable></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{'start_hour' | translate }}</mat-label>
            <mat-select [(value)]="defaults.start_time"
              (selectionChange)="onStartTimeChange()">
              <mat-option *ngFor="let time of times" [value]="time"
                (onSelectionChange)="defaults.start_time = time">{{ time
                }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{'end_hour' | translate }}</mat-label>
            <mat-select [(value)]="defaults.end_time"
              [disabled]="defaults.start_time === null">
              <mat-option *ngFor="let time of filteredTimes" [value]="time"
                (onSelectionChange)="defaults.end_time = time">{{ time
                }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="{{'no_disponible' | translate }}">

        <div class="flex flex-col" style="padding-top: 15px;">

          <mat-checkbox *ngIf="!event.block_general"
            formControlName="range_dates">{{'range_of_dates' | translate
            }}</mat-checkbox>

          <mat-form-field appearance="outline">
            <mat-label>{{"courses.date_start" | translate }}</mat-label>
            <input
              [(ngModel)]="defaults.start_date"
              [matDatepicker]="startDatepickerNonAvailable"
              formControlName="startNonAvailable" readonly
              matInput (click)="startDatepickerNonAvailable.open()"/>
            <mat-datepicker-toggle
              [for]="startDatepickerNonAvailable"
              matSuffix></mat-datepicker-toggle>
            <mat-datepicker #startDatepickerNonAvailable></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline"
            *ngIf="form.get('range_dates').value && !event.block_general">
            <mat-label>{{'courses.date_end' | translate}}</mat-label>
            <input
              [(ngModel)]="defaults.end_date"
              [matDatepicker]="endDatepickerNonAvailable"
              formControlName="endNonAvailable" readonly
              matInput (click)="endDatepickerNonAvailable.open()"/>
            <mat-datepicker-toggle
              [for]="endDatepickerNonAvailable"
              matSuffix></mat-datepicker-toggle>
            <mat-datepicker #endDatepickerNonAvailable></mat-datepicker>
          </mat-form-field>

          <mat-checkbox formControlName="full_day">{{'full_day' | translate
            }}</mat-checkbox>

          <ng-container *ngIf="!form.get('full_day').value">
            <mat-form-field appearance="outline">
              <mat-label>{{'start_hour' | translate}}</mat-label>
              <mat-select (selectionChange)="onStartTimeChange()"
                [(value)]="defaults.start_time">
                <mat-option *ngFor="let time of times" [value]="time"
                  (onSelectionChange)="defaults.start_time = time">{{ time
                  }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{'end_hour' | translate}}</mat-label>
              <mat-select [(value)]="defaults.end_time">
                <mat-option *ngFor="let time of filteredTimes" [value]="time"
                  (onSelectionChange)="defaults.end_time = time">{{ time
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>

          <mat-form-field appearance="outline">
            <input type="text" id="description" formControlName="description"
              placeholder="{{'courses.errors.desc' | translate}}" matInput
              [value]="defaults.description" [(ngModel)]="defaults.description">
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="{{'paid_block' | translate }}">

        <div class="flex flex-col" style="padding-top: 15px;">

          <mat-form-field appearance="outline">
            <mat-label>{{'Selecciona un grupo' | translate}}</mat-label>
            <mat-select formControlName="blockage"
              [(ngModel)]="blockageSelected" [value]="blockageSelected"
              [style.background]="blockageSelected?.color">
              <mat-option *ngFor="let blockage of blockages" [value]="blockage"
                (onSelectionChange)="defaults.color = blockage.color;defaults.description = blockage.name"
                [style.background]="blockage.color">
                <span style="color: #fff">{{ blockage.name }}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-checkbox *ngIf="!event.block_general"
            formControlName="range_dates">{{'range_of_dates' | translate
            }}</mat-checkbox>

          <mat-form-field appearance="outline">
            <mat-label>{{"courses.date_start" | translate }}</mat-label>
            <input
              [(ngModel)]="defaults.start_date"
              [matDatepicker]="startDatepickerPayedBlock"
              formControlName="startPayedBlock" readonly
              matInput (click)="startDatepickerPayedBlock.open()"/>
            <mat-datepicker-toggle
              [for]="startDatepickerPayedBlock"
              matSuffix></mat-datepicker-toggle>
            <mat-datepicker #startDatepickerPayedBlock></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline"
            *ngIf="form.get('range_dates').value && !event.block_general">
            <mat-label>{{'courses.date_end' | translate}}</mat-label>
            <input
              [(ngModel)]="defaults.end_date"
              [matDatepicker]="endDatepickerNonAvailable"
              formControlName="endNonAvailable" readonly
              matInput (click)="endDatepickerNonAvailable.open()"/>
            <mat-datepicker-toggle
              [for]="endDatepickerNonAvailable"
              matSuffix></mat-datepicker-toggle>
            <mat-datepicker #endDatepickerNonAvailable></mat-datepicker>
          </mat-form-field>

          <mat-checkbox formControlName="full_day">{{'full_day' | translate
            }}</mat-checkbox>

          <ng-container *ngIf="!form.get('full_day').value">
            <mat-form-field appearance="outline">
              <mat-label>{{'start_hour' | translate}}</mat-label>
              <mat-select (selectionChange)="onStartTimeChange()"
                [(value)]="defaults.start_time">
                <mat-option *ngFor="let time of times" [value]="time"
                  (onSelectionChange)="defaults.start_time = time">{{ time
                  }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{'end_hour' | translate}}</mat-label>
              <mat-select [disabled]="defaults.start_time === null"
                [(value)]="defaults.end_time">
                <mat-option *ngFor="let time of filteredTimes" [value]="time"
                  (onSelectionChange)="defaults.end_time = time">{{ time
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>

          <mat-form-field appearance="outline">
            <input type="text" id="description" formControlName="description"
              placeholder="{{'courses.errors.desc' | translate}}" matInput
              [value]="defaults.description" [(ngModel)]="defaults.description">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{'station' | translate }}</mat-label>

            <input type="text"
              placeholder="{{'Selecciona una opción' | translate}}" matInput
              [formControl]="myControlStations" [matAutocomplete]="autoStation"
              formControlName="station">

            <mat-autocomplete #autoStation="matAutocomplete">
              <mat-option *ngFor="let option of filteredStations | async"
                [value]="option.name"
                (onSelectionChange)="defaults.station_id = option.id">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="{{'no_paid_block' | translate}}">

        <div class="flex flex-col" style="padding-top: 15px;">

          <mat-checkbox *ngIf="!event.block_general"
            formControlName="range_dates">{{'range_of_dates' | translate
            }}</mat-checkbox>

          <mat-form-field appearance="outline">
            <mat-label>{{"courses.date_start" | translate }}</mat-label>
            <input
              [(ngModel)]="defaults.start_date"
              [matDatepicker]="startDatepickerNonPayedBlock"
              formControlName="startNonPayedBlock" readonly
              matInput (click)="startDatepickerNonPayedBlock.open()"/>
            <mat-datepicker-toggle
              [for]="startDatepickerNonPayedBlock"
              matSuffix></mat-datepicker-toggle>
            <mat-datepicker #startDatepickerNonPayedBlock></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline"
            *ngIf="form.get('range_dates').value && !event.block_general">
            <mat-label>{{'courses.date_end' | translate}}</mat-label>
            <input
              [(ngModel)]="defaults.end_date"
              [matDatepicker]="endDatepickerNonAvailable"
              formControlName="endNonAvailable" readonly
              matInput (click)="endDatepickerNonAvailable.open()"/>
            <mat-datepicker-toggle
              [for]="endDatepickerNonAvailable"
              matSuffix></mat-datepicker-toggle>
            <mat-datepicker #endDatepickerNonAvailable></mat-datepicker>
          </mat-form-field>

          <mat-checkbox formControlName="full_day">{{'full_day' | translate
            }}</mat-checkbox>

          <ng-container *ngIf="!form.get('full_day').value">
            <mat-form-field appearance="outline">
              <mat-label>{{'start_hour' | translate}}</mat-label>
              <mat-select (selectionChange)="onStartTimeChange()"
                [(value)]="defaults.start_time">
                <mat-option *ngFor="let time of times" [value]="time"
                  (onSelectionChange)="defaults.start_time = time">{{ time
                  }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{'end_hour' | translate}}</mat-label>
              <mat-select [disabled]="defaults.start_time === null"
                [(value)]="defaults.end_time">
                <mat-option *ngFor="let time of filteredTimes" [value]="time"
                  (onSelectionChange)="defaults.end_time = time">{{ time
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>

          <mat-form-field appearance="outline">
            <input type="text" id="description" formControlName="description"
              placeholder="{{'courses.errors.desc' | translate}}"
              [value]="defaults.description"
              matInput [(ngModel)]="defaults.description">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{'station' | translate }}</mat-label>

            <input type="text"
              placeholder="{{'Selecciona una opción' | translate}}" matInput
              [formControl]="myControlStations" [matAutocomplete]="autoStation"
              formControlName="station">

            <mat-autocomplete #autoStation="matAutocomplete">
              <mat-option *ngFor="let option of filteredStations | async"
                [value]="option.name"
                (onSelectionChange)="defaults.station_id = option.id">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="{{'bookings_page.creation.title' | translate}}"
        *ngIf="!event.block_general && calculateIfCanNewBooking()">

      </mat-tab>
    </mat-tab-group>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="flex justify-end">
  <button mat-button mat-dialog-close>{{'cancel' | translate}}</button>
  <button (click)="save()" class="save" color="primary" mat-raised-button>
    {{'save' | translate }}
  </button>
</mat-dialog-actions>
