<mat-card-content class="cardWrapper">
  <form [formGroup]="stepForm" class="wrapper">

    <mat-form-field appearance="outline" class="flex-auto">
      <mat-label>
        {{'observation_client' |translate}}
      </mat-label>
      <textarea formControlName="clientObs" #clientObsField matInput></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="flex-auto">
      <mat-label>
        {{'observation_school' |translate}}
      </mat-label>
      <textarea formControlName="schoolObs" matInput></textarea>
    </mat-form-field>
  </form>

  <div class="stepButtonsWrapper">

    <app-form-button (click)="handlePrevStep()" form="back" name="back" icon="mat:arrow_back">
    </app-form-button>

    <app-form-button form="stroked" name="bookings_page.buttons.save&CreateBooking">
    </app-form-button>

    <app-form-button (click)="completeStep()" form="flat" name="confirm" [disabled]="!isFormValid()">
    </app-form-button>
  </div>
</mat-card-content>