<form class="wrapper" [formGroup]="stepForm">
  <div formArrayName="course_dates">
    <div *ngFor="let courseDate of courseDatesArray.controls; let i = index" [formGroupName]="i">
      <div class="content-wrapper">
        <mat-checkbox formControlName="selected" (change)="onDateSelect($event, i)"></mat-checkbox>
        <div [class]="{ rowsWrapper: true, last: i === courseDatesArray.controls.length - 1 }">
          <div class="row-1">
            <!-- Aquí usamos courseDatesArray en lugar de course.course_dates -->
            <span class="date">{{ formatDate(courseDatesArray.at(i).get('date').value) }}</span>
            <span class="hour">{{ courseDatesArray.at(i).get('startHour').value }}h - {{
              courseDatesArray.at(i).get('endHour').value }}h</span>
            <span class="price">{{ course.price }} {{ course.currency }} </span>
          </div>
          <div class="row-2">
            <div>
              <mat-form-field appearance="outline">
                <mat-label>{{ "participant" | translate }} </mat-label>
                <input matInput disabled [value]="utilizer.first_name + ' ' + utilizer.last_name" />
                <mat-icon class="disabled-icon" matPrefix fontSet="material-icons-outlined">people</mat-icon>
              </mat-form-field>
            </div>
            <div>
              <div class="extra-field-wrapper" *ngIf=" this.posibleExtras && this.posibleExtras.length">
                <mat-form-field appearance="outline" class="extras-field">
                  <mat-label>{{ "extras" | translate }} </mat-label>
                  <mat-select multiple formControlName="extras" (selectionChange)="onExtraChange(i)"
                    [disabled]="!(courseDatesArray.at(i)).get('selected').value || !this.posibleExtras || !this.posibleExtras.length">
                    <mat-option *ngFor="let extra of posibleExtras" [value]="extra">
                      <span>{{ extra.name }} - {{ extra.description }}</span>
                      <span>{{ extra.price }}</span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <span class="extras-price">{{ isSelected(i) ? totalExtraPrice[i] : '00.00' + course.currency }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>