<div class="wrapper">
  <div class="headerWrapper">
    {{ 'booking' | translate }} #{{bookingData.id}}
    {{'status' | translate}}    {{bookingData.cancellation_status}}
    {{'paid' | translate}}    {{bookingData.payment_method_status}}
  </div>
  <div class="bodyWrapper" style="padding-bottom: 0;">
    <div class="section">
      <div class="sectionTitle">
        <img src="assets/img/icons/clientes2.svg" style="min-width: 24px;
        width: 24px;
        height: 24px;" />
        {{'client' | translate}}
      </div>
      <div class="utilizersWrapper">
        <img
          class="avatarImg"
          [src]="
              client.image !== null && client.image !== ''
                ? client.image
                : 'assets/img/booking-avatar.svg'
            " />

        <div class="utilizersWrapper__description">
          <h4>{{ client.first_name }} {{ client.last_name }}</h4>
          <span>{{ langService.getLanguage(client.language1_id) }} ·
            {{ utilsService.calculateYears(client.birth_date) }} &ensp;{{
            "years" | translate
            }}
            · {{ utilsService.getCountry(client.country) }}</span>
          <div style="display: flex;gap: 8px;">
            <img src="assets/icons/icon/chat.png" style="min-width: 24px;
              width: 24px;
              height: 24px;" />
            <img src="assets/icons/icon/mail.png" style="min-width: 24px;
                      width: 24px;
                      height: 24px;" />
            <img src="assets/icons/icon/phone.png" style="min-width: 24px;
                              width: 24px;
                              height: 24px;" />
          </div>

        </div>
      </div>
    </div>
    <div class="section">
      <div class="dateRow" *ngFor="let activity of activities; let i = index">
        <div [ngClass]="{ 'line-through': activity.status == 2 }">
          <span class="date">{{("00"+ (i + 1)).slice(-2)}}.</span>
          <span class="hour"> {{ activity.course.name }} </span>
          <span class="price" [ngClass]="{ 'line-through': activity.status == 2 }">
            <span class="discounted-price">
              {{
              activity.total }}
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="dateRow">
        <div>
          <span class="hour">{{ "Subtotal" | translate
            }}</span>
          <span class="price">
            <span class="discounted-price">
              {{ sumActivityTotal().toFixed(2) }} {{
              activities[0].course.currency }}
            </span>
          </span>
        </div>
      </div>
    </div>

    <div class="section" style="margin-bottom: 0;border: none;">
      <div class="dateRow">
        <div>
          <span class="hour" (click)="addReduction()"
            *ngIf="bookingData.reduction == null && this.calculateTotalVoucherPrice()
            < bookingData.price_total && !bookingData.isPaid"
            style="
            color: #E91E63;
             font-size: 14px;
             font-family: DM Sans;
             font-weight: 400;
             line-height: 18px; cursor: pointer;
             word-wrap: break-word;display: flex;
             align-items: center;gap: 8px">
            <mat-icon style="margin: 0 8px;">add</mat-icon>
            {{ "apply_reduction" | translate }}
          </span>
          <span style="width: 100%; float:left" *ngIf="bookingData.reduction != null;">
            <mat-icon *ngIf="!bookingData.isPaid"
              svgIcon="mat:delete"
              style="float: left;color: red; cursor:pointer"
              (click)="deleteReduction()"></mat-icon>
            <p style="float:left">{{'reduction' |translate}}</p>
            <p style="float:right">
              -{{bookingData.price_reduction}}
              {{activities[0].course.currency}}
            </p>
          </span>
        </div>
      </div>
      <div class="dateRow">
        <div>
          <span class="hour" *ngIf="this.calculateTotalVoucherPrice() < bookingData.price_total && !bookingData.isPaid"
                (click)="addBonus()"
            style="
          color: #E91E63;
           font-size: 14px;
           font-family: DM Sans;
           font-weight: 400;
           line-height: 18px; cursor: pointer;
           word-wrap: break-word;display: flex;
           align-items: center;gap: 8px;">
            <mat-icon style="margin: 0 8px;">add</mat-icon>
            {{ "apply_bonus" | translate }}
          </span>
          <ng-container *ngIf="bookingData.vouchers?.length">
            <span style="width: 100%; float:left"
              *ngFor="let item of bookingData.vouchers; let i = index">
              <mat-icon *ngIf="!bookingData.isPaid"
                svgIcon="mat:delete"
                style="float: left;color: red; cursor:pointer"
                (click)="deleteBonus(i);"></mat-icon>
              <p style="float:left">{{'bonus' |translate}}
                {{item.bonus.code}}</p>
              <p style="float:right">
                -{{item.bonus.reducePrice}}
                {{activities[0].course.currency}}
              </p>
            </span>
          </ng-container>
        </div>
      </div>
      <div class="dateRow">
        <div>
          <mat-checkbox
            color="primary"
            [(ngModel)]="bookingData.has_cancellation_insurance"
            (change)="calculateRem($event)"
            [disabled]="isNaN(this.cancellationInsurancePercent) && !bookingData.isPaid"
            style="float: left;"></mat-checkbox>
          <span class="hour">{{ "op_rem" | translate }}</span>
          <p style="float:right">
            -{{bookingData.price_cancellation_insurance}}
            {{activities[0].course.currency}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footerWrapper">
    {{ "bookings_page.description.total" | translate }}
    <ng-container>
      <span class="totalPrice">
        {{ bookingData.price_total}}
        {{ activities[0].course.currency }}
      </span>
    </ng-container>
    <span *ngIf="bookingData.price_total - calculateTotalVoucherPrice() > 0">{{ "A pagar" | translate }}</span>
    <span *ngIf="bookingData.price_total - calculateTotalVoucherPrice() <= 0">{{ "A devolver" | translate }}</span>
    <ng-container>
      <span class="totalPrice" *ngIf="bookingData.price_total - calculateTotalVoucherPrice() != 0">
        {{ bookingData.price_total - calculateTotalVoucherPrice() }}
        {{ activities[0].course.currency }}
      </span>
    </ng-container>
  </div>
</div>
<button *ngIf="!bookingData.isPaid"
  style="height: 56px; width: 400px;border-radius: 3px;margin-top: 16px;"
  color="primary"
  mat-raised-button
  type="button"
  class="client-button" (click)="payClick.emit()">
  {{ "Pagar" | translate }}
</button>

