
<section class="flex" [formGroup]="courseFormGroup"
  style="flex-wrap: wrap;gap: 16px;justify-content: space-around;padding: 20px;">
  <div
    style="color: black; font-size: 12px; font-weight: 400; line-height: 16px; margin-bottom: 20px;width: 100%;">
    Seleccionar los extras que pueden ser añadidos haciendo la reserva:
  </div>
  <ng-container
    *ngFor="let ite of courseFormGroup.controls['course_type'].value===3&&courseFormGroup.controls['categoryPart'].value.length>0?courseFormGroup.controls['categoryPart'].value.length:[1];index as i">
    <div *ngIf="courseFormGroup.controls['course_type'].value===3"
      style="width: 100%;background-color: #EFF2F5;height: 60px;border-top: 1px solid #C7D0D3;padding: 0 24px;align-content: space-evenly;">
      <span>
        {{courseFormGroup.controls['categoryPart'].value[i]?courseFormGroup.controls['categoryPart'].value[i].name:"EXTRAS"}}
      </span>
    </div>
    <div
      *ngFor="let item of extras"
      style="width: calc(50% - 8px); height: 64px; padding: 12px; border-radius: 3px; border: 1px #8B9099 solid; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
      <mat-checkbox [value]="item.id"
        (change)="selectExtra($event,item)">
      </mat-checkbox>
      <div
        style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div
          style="align-self: stretch; color: #222222; font-size: 14px; font-weight: 600; line-height: 18px; word-wrap: break-word">
          {{item.product}}
        </div>
        <div
          style="align-self: stretch; color: #8B9099; font-size: 12px; font-weight: 400; line-height: 16px; word-wrap: break-word">
          {{item.name}}
        </div>
      </div>
      <div
        style="flex: 1 1 0; text-align: right; color: #222222; font-size: 14px; font-weight: 400; line-height: 18px; word-wrap: break-word">
        {{item.price}} CHF/Día
      </div>
    </div>
    <div
      (click)="extrasModal=!extrasModal"
      style="width: calc(50% - 8px); height: 64px; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; border-radius: 3px; border: 1px #E91E63 dotted; flex-direction: column; justify-content: space-between; align-items: center; display: inline-flex;cursor: pointer;">
      <div style="width: 24px; height: 24px; position: relative">
        <mat-icon
          color="primary"
          style="height: 30px;min-width: 30px;border-radius: 15px; cursor: pointer; font-size: 30px;align-content: space-evenly;">add</mat-icon>
      </div>
      <div
        style="width: 259px; text-align: center; color: #E91E63; font-size: 14px; font-weight: 400; line-height: 18px; word-wrap: break-word">Crear
        extra</div>
    </div>
  </ng-container>
</section>

<vex-flux-modal *ngIf="extrasModal" (Close)="extrasModal=false"
  [width]="670" title="Crear extra">
  <div body style="display: flex; column-gap: 20px; flex-wrap: wrap;"
    [formGroup]="extrasFormGroup">
    <mat-form-field appearance="outline"
      style="width: calc(50% - 10px);margin-top: 10px;">
      <mat-label>{{'Producto' | translate}}</mat-label>
      <input matInput required type="text"
        formControlName="product">
    </mat-form-field>
    <mat-form-field appearance="outline"
      style="width: calc(50% - 10px);margin-top: 10px;">
      <mat-label>{{'Nombre' | translate}}</mat-label>
      <input matInput required type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline"
      style="width: calc(50% - 10px)">
      <mat-label>{{'Precio por día' | translate}}</mat-label>
      <input matInput required type="number" formControlName="price">
    </mat-form-field>
    <mat-form-field appearance="outline"
      style="width: calc(50% - 10px)">
      <mat-label>{{'IVA' | translate}}</mat-label>
      <input matInput required type="number" formControlName="iva">
    </mat-form-field>
    <div style="width: 100%">
      <mat-slide-toggle [checked]="true"> Activo </mat-slide-toggle>
    </div>
    <button
      style="margin-top: 0px !important;height: 38px; width: 128px;margin-left: auto;"
      color="primary"
      mat-stroked-button
      (click)="extrasModal=false"
      type="button"
      class="client-button">
      {{'Cancelar' | translate }}
    </button>
    <button
      style="margin-top: 0px !important;height: 38px; width: 128px;"
      color="primary"
      mat-raised-button
      (click)="extrasModal=false;extras.push(extrasFormGroup.getRawValue());extrasFormGroup.reset()"
      type="button"
      class="client-button">
      {{'Crear extras' | translate }}
    </button>
  </div>
</vex-flux-modal>
