

.custom-card {
  transition: all 0.3s ease;
  box-shadow: none;
  border: 2px solid transparent; /* Añadido para mantener el mismo tamaño de la tarjeta al cambiar el borde */
}

.custom-card:hover, .custom-card.selected {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
  border: 2px solid #e6e6e6; /* Añade un borde del color deseado */
  cursor: pointer;
}

.selected {
  background-color: #e91e63;
}
button {
  border-radius: 3px !important;
}
.sport_checkbox {
  width: calc(50% - 32px);
  border: 1px #c7d0d3 solid;
  padding: 16px;
  border-radius: 3px;
  min-width: 250px;
  label {
    font-size: 14px;
    font-weight: 900;
  }
}


mat-form-field,
.mat-mdc-form-field,
::ng-deep.mat-mdc-form-field {
  width: 100%;
}

.centered-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

table caption {
  text-align: left;
  font-weight: bold;
  padding: 8px;
}

.icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: cover;
}
.icon-bike:hover #icon,
.icon-bike:focus #icon {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

svg {
  --icon-color: red;
}
