<vex-secondary-toolbar current>
  <vex-breadcrumbs [crumbs]="[
    {icon:'cursos'},
    {text:'courses.title', title: true,  link: '/courses'},
    {text: (mode !== 'update' ? 'courses.new' : 'courses.update'), subtitle: true},
    ]" class="flex"></vex-breadcrumbs>
</vex-secondary-toolbar>

<vex-flux-toolbad [Modal]="ModalProgress" [Flux]="ModalFlux"></vex-flux-toolbad>

<div [@stagger]="true" class="p-gutter container" style="max-width: none;">
  <mat-spinner *ngIf="loading" style="margin:0 auto"></mat-spinner>
  <div
    class="flex flex-col sm:flex-row gap-4 pb-4"
    style="width: 65%;float:left;"
    *ngIf="!loading">
    <div @fadeInUp class="card flex-auto" style="width: 65%">
      <div class="flex flex-col" style="padding: 4px;">
        <ng-container *ngIf="ModalFlux===0" [formGroup]="courseTypeFormGroup">
          <mat-radio-group class="flex" style="flex-wrap: wrap;"
            formControlName="sportType">
            <mat-radio-button
              class="sport_checkbox"
              *ngFor="let item of sportData"
              [value]="item.id">
              <div style="display: flex;align-items: center;">
                <img [src]="item.icon_selected"
                  *ngIf="courseTypeFormGroup.controls['sportType'].value===item.id"
                  class="sport_icon selected">
                <img [src]="item.icon_unselected"
                  *ngIf="courseTypeFormGroup.controls['sportType'].value!==item.id"
                  class="sport_icon noselected">
                {{item.name}}
              </div>
            </mat-radio-button>
          </mat-radio-group>
        </ng-container>
      </div>
      <div class="flex flex-col" style="padding: 20px;">
        <ng-container *ngIf="ModalFlux===1"
          [formGroup]="courseInfoCollecDateSplitFormGroup">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon style="color: #E5962A;">circle</mat-icon>
                Curso Colectivo
              </ng-template>
              <mat-checkbox style="margin: 20px 0;"> {{'Fechas flexibles' |
                translate }} </mat-checkbox>
              <vex-flux-upload-img
                (upload)="defaults.image=$event"></vex-flux-upload-img>
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>{{'courses.coursename' | translate}}</mat-label>
                <input id="courseName" formControlName="course_name"
                  matInput required type="text">
              </mat-form-field>
              <div style="margin: 10px 0;">
                <angular-editor id="summary" style="width: 100%"
                  [placeholder]="'courses.summary' | translate"
                  formControlName="summary" [config]="editorConfig">
                </angular-editor>
              </div>
              <div style="margin: 20px 0;">
                <angular-editor id="description" style="width: 100%"
                  [placeholder]="'courses.desc' | translate"
                  formControlName="description" [config]="editorConfig">
                </angular-editor>
              </div>
              <div style="margin: 10px 0;">
                <mat-form-field appearance="outline"
                  style="width: 49%;margin-right: 1%;">
                  <mat-label>{{'courses.price' | translate}}</mat-label>
                  <input id="price" formControlName="price"
                    matInput required type="number">
                </mat-form-field>
                <mat-form-field appearance="outline"
                  style="width: 49%;margin-left: 1%;">
                  <mat-label>{{'courses.participants' | translate}}</mat-label>
                  <input id="participants" formControlName="participants"
                    matInput required type="number">
                </mat-form-field>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon style="color: #2FAA41;">circle</mat-icon>
                Curso Privado
              </ng-template>
              Content 2
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon style="color: #0AB0BC;">circle</mat-icon>
                Actividad
              </ng-template>
              Content 3
            </mat-tab>
          </mat-tab-group>
        </ng-container>
        <ng-container *ngIf="ModalFlux===2">

        </ng-container>

        <div style="margin: 16px;display: flex;justify-content: space-between;">
          <button
            *ngIf="ModalFlux>0"
            (click)="ModalFlux=ModalFlux-1"
            style="margin-top: 0px !important;height: 38px; width: 128px;"
            color="primary"
            mat-button
            type="button"
            class="client-button">
            <mat-icon>arrow_back</mat-icon>
            {{'Atrás' | translate }}
          </button>
          <button
            (click)="ModalFlux=ModalFlux+1"
            style="margin-top: 0px !important;height: 38px; width: 128px;margin-left: auto;"
            color="primary"
            mat-raised-button
            type="button"
            class="client-button">
            {{'Confirmar' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
