<vex-secondary-toolbar current>
  <vex-breadcrumbs [crumbs]="[
    {icon:'cursos'},
    {text:'courses.title', title: true,  link: '/courses'},
    {text:'courses.new', subtitle: true},
    ]" class="flex"></vex-breadcrumbs>
</vex-secondary-toolbar>

<vex-flux-toolbad [Modal]="ModalProgress" [Flux]="ModalFlux"
  (Check)="ModalFlux=$event;Confirm(0)"></vex-flux-toolbad>
<vex-flux-layout>
  <mat-spinner loading *ngIf="loading" style="margin:0 auto"></mat-spinner>
  <div body *ngIf="!loading">
    <div class="flex flex-col" style="padding: 20px 20px 0;"
      *ngIf="ModalFlux===0"
      [formGroup]="courseFormGroup">
      <mat-radio-group class="flex"
        style="flex-wrap: wrap;gap: 16px;justify-content: space-between;"
        formControlName="sport_id">
        <mat-radio-button
          class="sport_checkbox"
          *ngFor="let item of sportData"
          [value]="item.sport_id">
          <div style="display: flex;align-items: center;">
            <img [src]="item.icon_selected"
              *ngIf="courseFormGroup.controls['sport_id'].value===item.sport_id"
              class="sport_icon selected">
            <img [src]="item.icon_unselected"
              *ngIf="courseFormGroup.controls['sport_id'].value!==item.sport_id"
              class="sport_icon noselected">
            {{item.name}}
          </div>
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="flex flex-col"
      *ngIf="ModalFlux===1">
      <vex-course-componente-detalles [courseFormGroup]="courseFormGroup"
        mode="create">
      </vex-course-componente-detalles>
    </div>
    <div class="flex flex-col" *ngIf="ModalFlux===2" style="padding-top: 20px;">
      <vex-course-componente-fechas mode="create"
        [courseFormGroup]="courseFormGroup">
      </vex-course-componente-fechas>
    </div>
    <div class="flex flex-col" *ngIf="ModalFlux===3" style="padding-top: 20px;">
      <vex-course-componente-niveles
        [courseFormGroup]="courseFormGroup"
        mode="create"
        [levels]="levels">
      </vex-course-componente-niveles>
    </div>
    <div class="flex flex-col" *ngIf="ModalFlux===4">
      <vex-course-componente-extras
        [courseFormGroup]="courseFormGroup"
        mode="create"
        [extras]="extras">
      </vex-course-componente-extras>
    </div>
    <div class="flex flex-col" *ngIf="ModalFlux===5">
      <vex-course-componente-idiomas
        [courseFormGroup]="courseFormGroup"
        mode="create">
      </vex-course-componente-idiomas>
    </div>
    <div style="margin: 20px;display: flex;justify-content: space-between;">
      <button
        *ngIf="ModalFlux>0"
        (click)="ModalFlux=ModalFlux-1"
        style="margin-top: 0px !important;height: 38px; width: 128px;"
        color="primary"
        mat-button
        type="button"
        class="client-button">
        <mat-icon>arrow_back</mat-icon>
        {{'Atrás' | translate }}
      </button>
      <button
        (click)="Confirm(1);"
        style="margin-top: 0px !important;height: 38px; width: 128px;margin-left: auto;"
        color="primary"
        mat-raised-button
        type="button"
        class="client-button">
        {{'Confirmar' | translate }}
      </button>
    </div>
  </div>
  <vex-course-detail-card
    card
    *ngIf="!loading"
    [step]="ModalFlux"
    mode="create"
    [courseFormGroup]="courseFormGroup">
  </vex-course-detail-card>
  <vex-course-detail-card
    card2
    [step]="ModalFlux"
    *ngIf="!loading"
    mode="create"
    [courseFormGroup]="courseFormGroup">
  </vex-course-detail-card>
</vex-flux-layout>

<vex-flux-modal *ngIf="confirmModal" (Close)="confirmModal=false"
  [width]="670" title="Casi estás!">
  <div body style="display: flex; gap: 20px; flex-wrap: wrap;">
    <div
      style="width: 100;
        color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    word-wrap: break-word">
      {{"El curso ha sido creado!"}} Confirma estas
      opciones:
    </div>
    <div style="width: 100%">
      <mat-slide-toggle [checked]="true">
        <span style="
        color: #222222;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        word-wrap: break-word">
          {{"Visible en la página de reservas" | translate}}
        </span>
        <br>
        <span style="
        color: #8B9099;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        word-wrap: break-word">
          {{"El curso serà visible y online desde ahora" | translate}}
        </span>
      </mat-slide-toggle>
    </div>
    <div style="width: 100%">
      <mat-slide-toggle [checked]="true">
        <span style="
        color: #222222;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        word-wrap: break-word">
          {{"Activo" | translate}}
        </span>
        <br>
        <span style="
        color: #8B9099;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        word-wrap: break-word">
          {{"El curso es activo y reservable" | translate}}
        </span>
      </mat-slide-toggle>
    </div>
    <button
      style="margin-top: 0px !important;height: 38px; width: 128px;margin-left: auto;"
      color="primary"
      mat-stroked-button
      (click)="confirmModal=false"
      type="button"
      class="client-button">
      {{'Cancelar' | translate }}
    </button>
    <button
      style="margin-top: 0px !important;height: 38px; width: 200px;"
      color="primary"
      mat-raised-button
      (click)="confirmModal=false"
      type="button"
      class="client-button">
      {{'Finalizar creación curso' | translate }}
    </button>
  </div>
</vex-flux-modal>