.sport_icon {
  border-radius: 3px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.noselected {
  background-color: #2f3844;
}

.selected {
  background-color: #e91e63;
}
button {
  border-radius: 3px !important;
}
.sport_checkbox {
  width: calc(50% - 32px);
  border: 1px #c7d0d3 solid;
  margin: 16px;
  padding: 16px;
  border-radius: 3px;
  label {
    font-family: "Dinamit", sans-serif;
    font-size: 14px;
    font-weight: 900;
  }
}
.tab_icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
}

