<vex-page-layout>
	<vex-secondary-toolbar current>
		<vex-breadcrumbs [crumbs]="[
    {icon:'cursos'},
    {text:'courses.title', title: true},
    {text:'list', subtitle: true},
    ]" class="flex"></vex-breadcrumbs>
	</vex-secondary-toolbar>

	<vex-page-layout-content class="fullwidth" style="padding: 0;margin: 50px 25px 25px;">
		<vex-aio-table [columns]="columns" [entity]="entity" [deleteEntity]="deleteEntity" [title]="'courses.title'"
			[route]="'courses'" [createComponent]="createComponent" [canDelete]="false" [canDeactivate]="true"
			[ngClass]="{'table-show-detail': this.showDetail}" [sectionIcon]="icon" [canDuplicate]="true"
			[withHeader]="false" [showDetail]="showDetail"
			[with]="['user','courseDates.courseGroups.courseSubgroups.monitor', 'courseDates.courseGroups.courseSubgroups.degree', 'station', 'bookingUsers', 'sport','bookingUsers.client']"
			[updatePage]="'detail'" [filterColumn]="'school_id'" [filterField]="user.schools[0].id"
			(showDetailEvent)="showDetailEvent($event)"></vex-aio-table>
	</vex-page-layout-content>

	<vex-page-layout-content *ngIf="showDetail" class="fullwidth col-right">
		<vex-course-detail-card [courseFormGroup]="courses.courseFormGroup" (open)="goTo('courses-v2/detail/'+$event)"
			(close)="showDetail=!showDetail">
		</vex-course-detail-card>
	</vex-page-layout-content>
</vex-page-layout>