.flex-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle-container {
  position: relative;
}
.circle-container svg {
  z-index: 2;
  position: relative;
}
.level-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 100%;
}
