<div class="wrapper">
  <div class="headerWrapper">
    {{ 'booking' | translate }} #****
  </div>
  <div class="bodyWrapper">
    <div class="section" style="padding: 20px;">
      <div class="sectionTitle">
        <img src="assets/img/icons/clientes2.svg"  class="icon24" />
        {{'client' | translate}}
      </div>
      <div class="utilizersWrapper">
        <img class="avatarImg" [src]="
              client.image !== null && client.image !== ''
                ? client.image
                : 'assets/img/avatar.png'
            " />

        <div class="utilizersWrapper__description">
          <h4>{{ client.first_name }} {{ client.last_name }}</h4>
          <span>{{ langService.getLanguage(client.language1_id) }} ·
            {{ utilsService.calculateYears(client.birth_date) }} &ensp;{{
              "years" | translate
            }}
            · {{ utilsService.getCountry(client.country) }}</span>
          <div style="display: flex;gap: 8px;">
            <!-- <vex-icon src="chat"></vex-icon>-->
            <vex-icon src="mail" href="mailto:{{client.email}}" style="cursor:pointer" title="{{client.email}}">
            </vex-icon>
            <vex-icon src="phone" href="tel:{{client.phone}}" style="cursor:pointer" title="{{client.phone}}">
            </vex-icon>
          </div>

        </div>
      </div>
    </div>
    <div class="section" style="margin: 20px;">
      <div class="dateRow" *ngFor="let activity of activities; let i = index">
        <div>
          <span class="date">{{("00"+ (i + 1)).slice(-2)}}.</span>
          <span class="hour"> {{ activity.course.name }} </span>
          <span class="price">
            <span class="discounted-price">
              {{
                activity.total }}
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="section" style="margin: 20px;">
      <div class="dateRow">
        <div>
          <span class="hour">{{ "text_subtotal" | translate
            }}</span>
          <span class="price">
            <span class="discounted-price">
              {{ sumActivityTotal()| number:'0.2-2' }} {{
                activities[0].course.currency }}
            </span>
          </span>
        </div>
      </div>
    </div>

    <div class="section" style="margin: 20px;border: none;">
      <div class="dateRow">
        <div>
          <span class="hour" (click)="addReduction()"
                *ngIf="bookingData.reduction === null && this.calculateTotalVoucherPrice() < bookingData.price_total" style="
            color: #E91E63;
             font-size: 14px;
             font-family: DM Sans;
             font-weight: 400;
             line-height: 18px; cursor: pointer;
             word-wrap: break-word;display: flex;
             align-items: center;gap: 8px">
            <mat-icon>add</mat-icon>
            {{ "apply_reduction" | translate }}
          </span>
          <span style="width: 100%; float:left" *ngIf="bookingData.reduction !== null;">
            <mat-icon svgIcon="mat:delete" style="float: left;color: red; cursor:pointer"
                      (click)="deleteReduction()"></mat-icon>
            <p style="float:left">{{'reduction' |translate}}</p>
            <p style="float:right">
              -{{bookingData.price_reduction| number:'0.2-2'}}
              {{activities[0].course.currency}}
            </p>
          </span>
        </div>
      </div>
      <div class="dateRow">
        <div>
          <span class="hour" *ngIf="this.calculateTotalVoucherPrice() < bookingData.price_total" (click)="addBonus()"
                style="
          color: #E91E63;
           font-size: 14px;
           font-family: DM Sans;
           font-weight: 400;
           line-height: 18px; cursor: pointer;
           word-wrap: break-word;display: flex;
           align-items: center;gap: 8px;">
            <mat-icon>add</mat-icon>
            {{ "apply_bonus" | translate }}
          </span>
        </div>
      </div>
      <ng-container *ngIf="bookingData.vouchers?.length">
        <div class="dateRow">
          <div>
            <span style="width: 100%; float:left" *ngFor="let item of bookingData.vouchers; let i = index">
              <mat-icon svgIcon="mat:delete" style="float: left;color: red; cursor:pointer"
                        (click)="deleteBonus(i);"></mat-icon>
              <p style="float:left">{{'bonus' |translate}}
                {{item.bonus.code}}</p>
              <p style="float:right">
                -{{item.bonus.reducePrice}}
                {{activities[0].course.currency}}
              </p>
            </span>
          </div>
        </div>
      </ng-container>
      <div class="dateRow">
        <div>
          <mat-checkbox color="primary"  [(ngModel)]="bookingData.has_cancellation_insurance"
                        (change)="calculateRem($event)" [disabled]="isNaN(this.cancellationInsurancePercent)"
                        style="float: left;"></mat-checkbox>
          <span class="hour">{{ "op_rem" | translate }}</span>
          <p class="price">
            -{{bookingData.price_cancellation_insurance| number:'0.2-2'}}
            {{activities[0].course.currency}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footerWrapper" style="padding: 20px;">
    {{ "bookings_page.description.total" | translate }}
    <ng-container>
      <span class="totalPrice">
        {{ bookingData.price_total | number:'0.2-2' }}
        {{ activities[0].course.currency }}
      </span>
    </ng-container>
    {{ "to_pay" | translate }}
    <ng-container>
      <span class="totalPrice">
        {{ bookingData.price_total - calculateTotalVoucherPrice() | number:'0.2-2' }}
        {{ activities[0].course.currency }}
      </span>
    </ng-container>
  </div>
</div>
<button *ngIf="!hideBotton"
        style="height: 56px; width: 400px; border-radius: 3px; margin-top: 16px;"
        color="primary" mat-raised-button type="button" class="client-button"
        (click)="payClick.emit()">
  {{ (bookingService.calculatePendingPrice() === 0 ? "end_booking"  : "end_reserve_pay") | translate }}
</button>
<button *ngIf="!hideBotton" style="height: 38px; width: 400px;border-radius: 3px;margin-top: 16px;" mat-raised-button
        type="button" class="client-button" (click)="addClick.emit()">
  {{ "add_activity" | translate }}
</button>
