<div (mouseenter)="showButton = true"
     (mouseleave)="showButton = false"
     class="card p-6 relative hover:shadow-lg trans-shadow flex flex-col items-center" style="border-radius: 0 !important;"
     [ngClass]="{'highlighted': isLevelSelected(level.id)}" (click)="selectLevel(level.id)" [style.background]="level.color">
  <div [ngClass]="iconClass" class="rounded-full w-12 h-12 flex items-center justify-center">
    <mat-slide-toggle></mat-slide-toggle>
  </div>

  <h2 class="display-2 font-bold mt-4 mb-2">{{ value }}</h2>
  <h3 class="subheading-2 font-medium text-secondary m-0" style="color: #fff !important">{{ label }}</h3>

  <h4 [class.text-green]="change > 0"
      [class.text-red]="change <= 0"
      class="subheading-1 font-medium mt-4 mb-0 flex items-center">
    <mat-icon *ngIf="change > 0" class="icon-sm" svgIcon="mat:arrow_drop_up"></mat-icon>
    <mat-icon *ngIf="change <= 0" class="icon-sm" svgIcon="mat:arrow_drop_down"></mat-icon>
    <span *ngIf="withPercent">{{ change }}%</span>
  </h4>

  <button *ngIf="canEdit"
          [matTooltip]="editText"
          class="absolute top-0 right-0 mt-2 ml-2 text-hint"
          mat-icon-button
          matTooltipPosition="after"
          type="button"
          style="border: 1px solid white;margin: 2% 2% 0 0;"
          (click)="openModal(level)">
    <mat-icon class="icon-sm" svgIcon="mat:edit" style="color: #fff"></mat-icon>
  </button>

  <button (click)="openSheet()"
          *ngIf="showButton && canShare"
          @scaleInOut
          class="absolute -top-3 -right-3 bg-foreground shadow-xl"
          color="primary"
          mat-icon-button
          type="button">
    <mat-icon svgIcon="mat:share"></mat-icon>
  </button>
</div>
