<form >
  <div class="flex items-center" mat-dialog-title>
    <h2 class="headline m-0 flex-auto">Anular reserva Parcial</h2>

    <!--<button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>-->

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <mat-vertical-stepper #stepper="matHorizontalStepper" [linear]="false" >

    <mat-step [stepControl]="noRefundForm" >
      <ng-template matStepLabel>Sin Reembolso</ng-template>

      <mat-dialog-content class="flex flex-col" *ngIf="!loading">
        <div style="width: 100%;">
          <p>Está a punto de cancelar una reserva sin opción a reembolso por el precio de <span style="color:#fe3085">{{defaults.itemPrice}} {{defaults.booking.currency}}</span></p>
        </div>
        <mat-divider></mat-divider>

        <mat-dialog-actions align="end"  *ngIf="!loading">
          <button color="primary" mat-flat-button (click)="closeAndSave('no_refund')">Confirmer</button>
          <button color="primary" mat-flat-button [mat-dialog-close]="false">No</button>
        </mat-dialog-actions>
      </mat-dialog-content>
    </mat-step>
    <mat-step [stepControl]="refundForm">
      <ng-template matStepLabel>Reembolso</ng-template>

      <mat-tab-group>
        <mat-tab label="Boukii Pay"></mat-tab>
        <mat-tab label="Cash or others">

          <mat-dialog-content class="flex flex-col" *ngIf="!loading">
            <div style="width: 100%;">
              <p>Está a punto de cancelar una reserva. Por favor, indique el motivo de la cancelación:</p>
              <div style="float:left; width: 100%">
                <mat-form-field class="flex-auto" style="float:left; width: 100%">
                  <mat-label>Reason</mat-label>
                  <input type="text" formControlName="reason" matInput required>
                </mat-form-field>
              </div>
            </div>

            <mat-divider></mat-divider>

            <mat-dialog-actions align="end"  *ngIf="!loading">
              <button color="primary" mat-flat-button (click)="closeAndSaveRefund('refund', refundForm.value.reason)">Confirmer</button>
              <button color="primary" mat-flat-button [mat-dialog-close]="false">No</button>
            </mat-dialog-actions>
          </mat-dialog-content>
        </mat-tab>
        <mat-tab label="Gift Voucher">

          <mat-dialog-content class="flex flex-col" *ngIf="!loading">
            <div style="width: 100%;">
              <p>Está a punto de cancelar una reserva. Se generará un bono regalo teniendo en cuenta los siguientes bonos que no serán reembolsados:</p>
              <div style="float:left; width: 100%">
                <mat-checkbox *ngFor="let item of defaults.currentBonus" (change)="checkBonus($event, item)" [disabled]="calculateAllRemainingQuantity() && defaults.currentBonus.length > 1" [disabled]="true" [checked]="true"
                style="float:left;width: 100%">{{item.bonus.code}}: <span style="color:#fe3085">{{getCurrentUse(item)}} {{defaults.booking.currency}} </span>
                  <span *ngIf="getCurrentUse(item) === item.bonus.quantity" style="font-weight: bold; color: #A1D14F;">Fully applied</span>
                  <span *ngIf="getCurrentUse(item) < item.bonus.quantity" style="font-weight: bold; color: #F99D22;"><span style="color:#A1D14F">({{item.bonus.quantity}} {{defaults.booking.currency}})</span> Partially applied </span>
                </mat-checkbox>
              </div>
            </div>

            <mat-divider></mat-divider>

            <mat-dialog-actions align="end"  *ngIf="!loading">
              <button color="primary" mat-flat-button (click)="closeAndSaveGift('refund_gift')">Confirmer</button>
              <button color="primary" mat-flat-button [mat-dialog-close]="false">No</button>
            </mat-dialog-actions>
          </mat-dialog-content>
        </mat-tab>
      </mat-tab-group>
    </mat-step>
    <mat-step [stepControl]="bonusForm">

      <ng-template matStepLabel>Devolución a través de bonos</ng-template>

      <mat-dialog-content class="flex flex-col" *ngIf="!loading">
        <div style="width: 100%;">
          <p>Está a punto de cancelar una reserva. Elija los bonos que quieren devolverse:</p>
          <div style="float:left; width: 100%">
            <mat-checkbox *ngFor="let item of defaults.currentBonus" (change)="checkBonus($event, item)" [disabled]="(calculateAllRemainingQuantity() && defaults.currentBonus.length > 1) || unifyBonus"
              [checked]="unifyBonus || checkBonusChecked(item)" style="float:left;width: 100%">{{item.bonus.code}}: <span style="color:#fe3085">{{getCurrentUse(item)}} {{defaults.booking.currency}} </span>
              <span *ngIf="getCurrentUse(item) === item.bonus.quantity" style="font-weight: bold; color: #A1D14F;">Fully applied</span>
              <span *ngIf="getCurrentUse(item) < item.bonus.quantity" style="font-weight: bold; color: #F99D22;"><span style="color:#A1D14F">({{item.bonus.quantity}} {{defaults.booking.currency}})</span> Partially applied </span>
            </mat-checkbox>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div style="width: 100%;">
          <p>O devuelva todos los importes del bono en uno unificado:</p>
          <div style="float:left; width: 100%">
            <mat-radio-group [(ngModel)]="unifyBonus" [ngModelOptions]="{standalone: true}">
              <mat-radio-button [value]="true">
                Si
              </mat-radio-button>
              <mat-radio-button [value]="false">
                No
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <mat-divider></mat-divider>

        <mat-dialog-actions align="end"  *ngIf="!loading">
          <button color="primary" mat-flat-button  (click)="closeAndSaveBonus('refund_bonus')">Confirmer</button>
          <button color="primary" mat-flat-button [mat-dialog-close]="false">No</button>
        </mat-dialog-actions>
      </mat-dialog-content>
    </mat-step>
  </mat-vertical-stepper>


</form>
