<form>
  <div class="flex items-center" mat-dialog-title>
    <h2 class="headline m-0 flex-auto">{{'bookings_page.cancelations.cancel_partial_booking' | translate }}</h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <mat-tab-group>

    <!-- Pestaña No Refund -->
    <mat-tab label="{{'bookings_page.cancelations.no_refund' | translate}}">
      <mat-dialog-content class="flex flex-col" *ngIf="!loading">
        <div style="width: 100%;">
          <p>{{'bookings_page.cancelations.no_refund_text' | translate}}
            <span style="color:#fe3085">{{defaults.itemPrice}} {{defaults.booking.currency}}</span>
          </p>
        </div>
        <mat-divider></mat-divider>
        <mat-dialog-actions align="end" *ngIf="!loading">
          <button color="primary" mat-flat-button (click)="closeAndSave('no_refund')">{{'confirm' | translate}}</button>
          <button color="primary" mat-flat-button [mat-dialog-close]="false">{{'no' | translate}}</button>
        </mat-dialog-actions>
      </mat-dialog-content>
    </mat-tab>

    <!-- Pestaña Refund -->
    <mat-tab label="{{'bookings_page.cancelations.refund' | translate}}">
      <mat-tab-group>
        <mat-tab label="Boukii Pay">
          <mat-dialog-content class="flex flex-col" *ngIf="!loading">
            <div style="width: 100%;">
              <p *ngIf="defaults.booking.payrexx_reference !== null">{{'bookings_page.cancelations.refund_boukiipay_text' | translate }}: <span style="color:#fe3085">{{defaults.itemPrice}} {{defaults.booking.currency}}</span></p>
              <p *ngIf="defaults.booking.payrexx_reference === null">{{'bookings_page.cancelations.refund_no_boukiipay_text' | translate }}: <span style="color:#fe3085">{{defaults.itemPrice}} {{defaults.booking.currency}}</span></p>
            </div>
            <mat-divider></mat-divider>
            <mat-dialog-actions align="end" *ngIf="!loading && defaults.booking.payrexx_reference !== null">
              <button color="primary" mat-flat-button (click)="closeAndSave('boukii_pay')">{{'confirm' | translate}}</button>
              <button color="primary" mat-flat-button [mat-dialog-close]="false">{{'no' | translate}}</button>
            </mat-dialog-actions>
          </mat-dialog-content>
        </mat-tab>
        <mat-tab label="{{'bookings_page.cancelations.cash' | translate}}">
          <mat-dialog-content class="flex flex-col" *ngIf="!loading">
            <div style="width: 100%;">
              <p>{{'bookings_page.cancelations.refund_text' | translate}}</p>
              <div style="float:left; width: 100%">
                <mat-form-field appearance="outline" class="flex-auto" style="float:left; width: 100%">
                  <mat-label>{{'reason' | translate}}</mat-label>
                  <input type="text" formControlName="reason" matInput required (blur)="setReason($event)">
                </mat-form-field>
              </div>
            </div>
            <mat-divider></mat-divider>
            <mat-dialog-actions align="end" *ngIf="!loading">
              <button color="primary" mat-flat-button (click)="closeAndSaveRefund('refund', reason)">{{'confirm' | translate}}</button>
              <button color="primary" mat-flat-button [mat-dialog-close]="false">{{'no' | translate}}</button>
            </mat-dialog-actions>
          </mat-dialog-content>
        </mat-tab>
        <mat-tab label="{{'bookings_page.cancelations.gift_voucher' | translate}}">
          <mat-dialog-content class="flex flex-col" *ngIf="!loading">
            <div style="width: 100%;">
              <p>{{'bookings_page.refund.gift_voucher_text' | translate}}</p>
              <div style="float:left; width: 100%">
                <mat-checkbox *ngFor="let item of defaults.currentBonus" (change)="checkBonus($event, item)" [disabled]="calculateAllRemainingQuantity() && defaults.currentBonus.length > 1" [disabled]="true" [checked]="true" style="float:left;width: 100%">
                  {{item.bonus.code}}: <span style="color:#fe3085">{{getCurrentUse(item)}} {{defaults.booking.currency}}</span>
                  <span *ngIf="getCurrentUse(item) === item.bonus.quantity" style="font-weight: bold; color: #A1D14F;">{{'bookings_page.cancelations.full' | translate}}</span>
                  <span *ngIf="getCurrentUse(item) < item.bonus.quantity" style="font-weight: bold; color: #F99D22;"><span style="color:#A1D14F">({{item.bonus.quantity}} {{defaults.booking.currency}})</span> {{'bookings_page.cancelations.partial' | translate}}</span>
                </mat-checkbox>
              </div>
            </div>
            <mat-divider></mat-divider>
            <mat-dialog-actions align="end" *ngIf="!loading">
              <button color="primary" mat-flat-button (click)="closeAndSaveGift('refund_gift')">{{'confirm' | translate}}</button>
              <button color="primary" mat-flat-button [mat-dialog-close]="false">{{'no' | translate}}</button>
            </mat-dialog-actions>
          </mat-dialog-content>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>

  </mat-tab-group>
</form>
