.full-screen-dialog .mat-dialog-container {
  overflow-y: scroll !important;
  width: 90vw;
  height: 90vh;
  max-width: 100vw;
  position: static;
  margin: 20px auto;
}

.custom-card {
  transition: all 0.3s ease;
  box-shadow: none;
  border: 1px solid #e6e6e6; /* Añadido para mantener el mismo tamaño de la tarjeta al cambiar el borde */
  color: #e6e6e6;
  text-align: center;
  cursor: pointer;
}

.selected-collectif {
  background-color: #fac710; /* Color de fondo ligero para mejorar la selección */
  color: #fff;
}

.selected-prive {
  background-color: #8fd14f; /* Color de fondo ligero para mejorar la selección */
  color: #fff;
}

.smaller-calendar {
  transform-origin: top left;
  width: 100%; /* Ajusta según la escala para mantener la anchura */
}

/* Opcionalmente, puedes ajustar el tamaño de la fuente si lo consideras necesario */
.smaller-calendar .mat-calendar-body-cell-content {
  font-size: 0.85em; /* Ajusta este valor para cambiar el tamaño de la fuente */
}

.columns-container {
  display: flex; /* Establecemos un contenedor flex */
  width: 100%; /* Aseguramos que tome todo el ancho disponible */
  height: 100%; /* Asegura que ocupe toda la altura disponible */
}

.calendar-column {
  padding: 2% 5%;
  height: 100%;
  width: 50%;
  background-color: white;
  border-radius: 5%;
}

.list-column {
  height: 550px;
  width: 50%;
}

.list-overflow-container {
  max-height: 100%; /* Cambia esto para que ocupe toda la altura disponible */
  overflow-y: auto;
}

.custom-list-item {
  display: flex;
  align-items: stretch; /* Asegura que todos los hijos ocupen la misma altura */
  height: 100%;
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* Previene que el contenedor se encoja */
  width: 15%; /* Ajusta según el tamaño que desees para la imagen */
  padding: 8px; /* Ajusta según el espacio que desees alrededor de la imagen */
  float: left;
}

.custom-avatar {
  height: 100%;
  width: auto; /* Asegura que la imagen mantenga sus proporciones */
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinea el contenido verticalmente al centro */
  flex-grow: 1; /* Ocupa el espacio restante */
  padding: 10px 0 0 15px; /* Espacio entre la imagen y el contenido */
  float: left;
  width: 80%;
}

.price {
  width: 30%;
  text-align: right;
  float: left;
}

mat-list {
  overflow: auto;
}

.selected-item {
  transition: all 0.3s ease;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
  border: 2px solid #ff3085;
  background-color: rgba(255, 48, 133, 0.1);
}

.reservation-detail-card {
  width: 31%;
  position: relative;
  margin: 1%;
  float: left;
  height: 90%;
}

.delete-icon {
  cursor: pointer; /* Cambia el cursor a una mano cuando pasas sobre el icono */
}

.column-container {
  padding: 1rem; /* Añade un pequeño padding alrededor para separar el contenido de las bordas */
}

.column-container:nth-child(1) {
  /* Selecciona la primera columna */
  flex: 7; /* Esto representa el 70% */
}

.column-container:nth-child(2) {
  /* Selecciona la segunda columna */
  flex: 3; /* Esto representa el 30% */
}

.card-container {
  display: flex; /* Habilita flexbox */
  flex-wrap: nowrap; /* Asegura que las cards no se envuelvan al siguiente renglón */
  gap: 1rem; /* Espacio entre las cards */
}

/* Ajusta la imagen de fondo de mat-card-avatar */
mat-card-avatar {
  background-size: cover; /* Ajusta la imagen para que cubra completamente el elemento */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Asegura que la imagen no se repita */
  color: red;
}

::ng-deep .mat-mdc-card-avatar {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

::ng-deep .mat-mdc-card-header-text {
  width: 100%;
  float: left;
}
/* Estilos para el contenido de la tarjeta */
.content-title {
  margin: 16px 0; /* Esto añade un poco de espacio arriba y abajo del título, ajusta según lo que necesites */
}

/* Alinea horizontalmente el avatar y el nombre del usuario */
.user-info {
  display: flex; /* Habilita flexbox */
  align-items: center; /* Alinea verticalmente al centro los ítems */
  gap: 8px; /* Espacio entre el avatar y el nombre, puedes ajustarlo según tus necesidades */
  margin: 10px 0 0 0;
}

.user-avatar {
  width: 25; /* Puedes ajustar según tus necesidades */
  height: 25;
  border-radius: 50%; /* Hace que la imagen sea redonda */
  object-fit: cover; /* En caso de que la imagen no tenga las dimensiones exactas, esto la ajustará */
}

.centered-chip-list {
  display: flex;
  justify-content: center; /* Centra el chip horizontalmente */
  align-items: center; /* Centra el chip verticalmente, aunque esto podría no ser necesario si el contenedor es del tamaño del chip */
  width: 100%; /* Ocupa el ancho total de su contenedor padre */
  margin-top: 16px; /* Espacio arriba del chip list, ajusta según lo que necesites */
}
.opaque-box {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con opacidad del 70% */
  padding: 1rem; /* Espacio interior */
  border-radius: 8px; /* Bordes redondeados */
  margin: 10px auto; /* Centrar la caja */
}

.opaque-box p {
  color: white; /* Texto en blanco para que sea legible contra el fondo negro */
  margin-bottom: 0.5rem; /* Espacio entre los párrafos */
}

.opaque-box p:last-child {
  margin-bottom: 0; /* Elimina el espacio extra en el último párrafo */
}

.reservation-multiple {
  float: left;
  width: 100%;
}

.reservation-multiple .text {
  float: left;
}

.reservation-multiple .title {
  font-size: 1.25rem !important;
}

.reservation-multiple .subtitle {
  color: grey;
}

.reservation-multiple .button {
  float: right;
  margin: 1% 0 0 0;
}

.square-buttons-container {
  display: flex;
}

.square-button {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  background: #fff !important;
  color: #f53d7c !important;
}

.square-button:active,
.square-button:hover,
.square-button.selected {
  background: #f53d7c !important;
  color: #fff !important;
}

.client-container {
  width: 100%;
  float: left;
}

.client-search-container {
  float: left;
  width: 50%;
}

.client-button-container {
  float: left;
  width: 15%;
}

.client-button {
  border-radius: 3px;
  width: 200px;
  height: 48px;
  margin: 10px 0 0 0;
}

.card-users {
  transition: border 0.1s;
  cursor: pointer;
  width: 220px;
  height: 220px;
  box-shadow: none;
}

.active-border {
  border: 2px solid #e91e63;
}

.card-users mat-card-header {
  align-items: center;
  margin: 0 auto;
}

.card-avatar {
  background-size: cover;
  border-radius: 50%;
  width: 100%;
  height: 60px;
}

/* Puedes ajustar los estilos de título y subtítulo según tus preferencias */
.card-users mat-card-title,
mat-card-subtitle {
  margin-left: 8px;
}

.card-users mat-card-content {
  padding-top: 15px;
}

.icon-wrapper {
  text-align: center;
}

/* Ajusta los estilos de la imagen para que se adapten al diseño de tu tarjeta */
img[mat-card-image] {
  width: 100%;
  /* Asegúrate de que la imagen se ajusta correctamente */
  height: auto;
  display: block;
}

/* Puedes agregar más estilos para personalizar la tarjeta a tu gusto */

@media only screen and (max-width: 1024px) {
  .reservation-detail-card {
    width: 48%;
    position: relative;
    margin: 1% 0 1% 10%;
    float: left;
  }
}

@media only screen and (max-width: 1024px) {
  .reservation-detail-card {
    width: 90%;
    position: relative;
    margin: 1% 0 1% 10%;
    float: left;
  }

  .column-container:nth-child(1) {
    /* Selecciona la primera columna */
    flex: 1; /* Esto representa el 70% */
  }

  .column-container:nth-child(2) {
    /* Selecciona la segunda columna */
    flex: 1; /* Esto representa el 30% */
  }
}

@media only screen and (max-width: 600px) {
  .reservation-detail-card {
    width: 90%;
    position: relative;
    margin: 1% 0 1% 7%;
    float: left;
  }

  .column-container:nth-child(1) {
    /* Selecciona la primera columna */
    flex: 1; /* Esto representa el 70% */
  }

  .column-container:nth-child(2) {
    /* Selecciona la segunda columna */
    flex: 1; /* Esto representa el 30% */
  }
}

@media only screen and (min-width: 2100px) {
  .reservation-detail-card {
    width: 23%;
  }
}
