<form (ngSubmit)="save()" [formGroup]="form" *ngIf="!loading">
  <div class="flex items-center" mat-dialog-title>
    <h2 class="headline m-0 flex-auto">Ajouter Niveau de salaire</h2>

    <!--<button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>-->

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col">
    <div class="flex flex-col sm:flex-row gap-2 sm:gap-6" style="margin: 3% 0 0 0;">
      <mat-form-field class="flex-auto">
        <mat-label>Nom</mat-label>
        <input formControlName="name" matInput required type="text">

      </mat-form-field>

      <mat-form-field class="flex-auto">
        <mat-label>Prenom</mat-label>
        <input formControlName="payment" matInput required type="number">
      </mat-form-field>
   </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <button *ngIf="isCreateMode()" color="primary" mat-flat-button type="submit">Confirmer</button>
    <button *ngIf="isUpdateMode()" color="primary" mat-flat-button type="submit">Update</button>
  </mat-dialog-actions>
</form>
