.mat-mdc-card-header {
  background-color: #ED297B;
  padding: 25px 35px!important;

  .mat-mdc-card-title {
    font-weight: 700;
    font-size: 1.5rem;
    color: #fff;
  }

  .mat-icon {
    fill: white!important;
  }
}
