<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>X</button>
</mat-dialog-actions>
<mat-spinner *ngIf="loading" style="margin: 0 auto"></mat-spinner>
<div [@stagger]="true" class="p-gutter container" style="max-width: none">
  <div class="flex flex-col sm:flex-row gap-4" style="width: 100%;float:left;padding: 2%">
    <div @fadeInUp class="card flex-auto">
      <mat-tab-group>
        <mat-tab label="{{'course' | translate }}">
          <mat-spinner *ngIf="loading" style="margin: 0 auto"></mat-spinner>

          <mat-card style="padding: 3% 5% 0 5%;" *ngIf="!loading">
            <mat-card-header style="display:block">
              <div style="float: left; width: 100%;">
                <div style="float: left;width: 50%;">
                  <div style="float: left; margin-right: 2%">
                    <img
                      [src]="'https://api.boukii.com/storage/icons/collectif_'+ defaults?.sport?.name.toLowerCase() +'2x.png'"
                      width="100" height="100" *ngIf="defaults.course_type === 1">
                    <img
                      [src]="'https://api.boukii.com/storage/icons/prive_'+ defaults?.sport?.name.toLowerCase() +'2x.png'"
                      width="100" height="100" *ngIf="defaults.course_type === 2">
                  </div>
                  <div style="float: left; width: 75%;">
                    <p><strong>{{getCourseName(defaults)}}</strong></p>
                    <p>{{defaults.course_type === 1 ? 'Collectif' : 'Privee'}}
                      {{defaults?.sport?.name}}</p>
                    <p>{{defaults?.station?.name}}</p>
                  </div>

                  <div style="float: right;" style="float: right;cursor:pointer"
                    (click)="goTo('/courses/update/'+this.id)">
                    <i class="fa fa-edit" style="color: #ff3085;font-size: 30px;"></i>
                  </div>
                </div>
                <div style="float: left;width: 50%;">
                  <div style="float:right;width: 100%">

                    <div style="float: right;margin: 0 0 0 25px;">
                      <mat-slide-toggle [checked]="defaults?.options" [disabled]="true">
                        {{'options' | translate}}
                      </mat-slide-toggle>
                    </div>
                    <div style="float: right;margin: 0;">
                      <mat-slide-toggle [checked]="defaults?.online" [disabled]="true">
                        {{'payment_online' | translate}}
                      </mat-slide-toggle>
                    </div>
                    <div style="float: right;margin: 0 25px 0 0;">
                      <mat-slide-toggle [checked]="defaults?.active" [disabled]="true">
                        {{'status' | translate}}
                      </mat-slide-toggle>
                    </div>
                  </div>
                </div>
              </div>

            </mat-card-header>
            <mat-card-content>

              <div style="float: left; width: 47%;margin: 2% 3% 0 0;">
                <img
                  [src]="defaults.image !== null && defaults.image !== '' ? defaults.image : '../../../../assets/img/defult.jpg'">
                <ul style="margin: 2% 0 0 0;" *ngIf="defaults.course_type === 2">
                  <li style="margin: 0 0 2% 0"><strong>{{'dates' |
                      translate}}</strong></li>
                  <li>{{defaults.course_dates[0].date|date:'dd-MM-yyyy'}}
                    <i style="text-align: right;float:right">
                      {{defaults.course_dates[0].hour_start}}h -
                      {{defaults.course_dates[0].hour_end}}h</i>
                  </li>
                  <li>{{defaults.course_dates[defaults.course_dates.length-1].date|date:'dd-MM-yyyy'}}
                    <i style="text-align: right;float:right">
                      {{defaults.course_dates[defaults.course_dates.length-1].hour_start}}h -
                      {{defaults.course_dates[defaults.course_dates.length-1].hour_end}}h</i>
                  </li>
                </ul>

                <ul style="margin: 2% 0 0 0;" *ngIf="defaults.course_type === 1">
                  <li style="margin: 0 0 2% 0"><strong>{{'dates' |
                      translate}}</strong></li>
                  <li *ngFor="let item of defaults.course_dates">{{item.date|date:'dd-MM-yyyy'}}
                    <i style="text-align: right;float:right">
                      {{item.hour_start}}h - {{item.hour_end}}h</i>
                  </li>
                </ul>
              </div>
              <div style="width:50%; margin-top:2%;float:left">
                <div style="width: 100%;">
                  <p style="float: left;width: 80%;text-align: left;"><b>{{'summary'
                      | translate}}</b></p>
                  <p style="float: left;width: 20%;text-align: right;"><b>{{'price'
                      | translate}}</b></p>
                </div>
                <div style="width: 100%;">
                  <p style="float: left;width: 50%;text-align: left;" [innerHTML]="getShotrDescription(defaults)">

                  </p>
                  <p style="float: left;width: 50%;text-align: right;color:#ff3085"
                    *ngIf="defaults.course_type === 1 || (defaults.course_type === 2 && !defaults.is_flexible)">
                    <b>{{defaults.price}}</b>
                    {{defaults.currency}}
                  </p>
                  <p style="float: left;width: 50%;text-align: right;color:#ff3085"
                    *ngIf="defaults.course_type === 2 && defaults.is_flexible"><b>
                      {{'from' | translate }} {{
                      encontrarPrimeraClaveConValor(encontrarPrimeraCombinacionConValores(defaults.price_range))
                      }}
                    </b> {{ defaults.currency }}</p>
                </div>
              </div>
              <div style="width:50%; margin-top:2%;float:left">
                <div style="width: 100%;">
                  <p style="float: left;width: 80%;text-align: left;"><b>{{'courses.desc'
                      | translate}}</b></p>
                  <p style="float: left;width: 20%;text-align: right;"><b>{{'age'
                      | translate}}</b></p>
                </div>
                <div style="width: 100%;">
                  <p style="float: left;width: 50%;text-align: left;" [innerHTML]="getDescription(defaults)">
                  </p>
                  <p style="float: left;width: 50%;text-align: right;" *ngIf="defaults.course_type === 2">{{'from' |
                    translate}}
                    {{defaults.age_min}} {{'to' | translate}}
                    {{defaults.age_max}} {{'years' | translate}}</p>
                  <p style="float: left;width: 50%;text-align: right;" *ngIf="defaults.course_type === 1">{{'from' |
                    translate}}
                    {{getAgeRange(defaults.course_dates[0].course_groups).age_min}}
                    {{'to' | translate}}
                    {{getAgeRange(defaults.course_dates[0].course_groups).age_max}}
                    {{'years' | translate}}</p>
                </div>
              </div>

              <div style="width:50%; margin-top:2%;float:left">
                <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">

                  <div class="flex-auto">

                    <mat-form-field appearance="outline" style="width: 100%">
                      <mat-label>{{'courses.date_reservable' |
                        translate}}</mat-label>

                      <input matInput id="dateFrom" [value]="defaults.date_start_res | date: 'dd-MM-yyyy'"
                        [readonly]="true">
                    </mat-form-field>
                  </div>
                  <div class="flex-auto">

                    <mat-form-field appearance="outline" style="width: 100%">
                      <mat-label>{{'courses.date_reservable_to' |
                        translate}}</mat-label>
                      <input matInput id="dateTo" [value]="defaults.date_end_res | date: 'dd-MM-yyyy'"
                        [readonly]="true">
                    </mat-form-field>
                  </div>
                </div>

                <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                  <div class="flex-auto" style="width: 50%; float:left">
                    <mat-form-field appearance="outline" style="width: 100%">
                      <mat-label>{{'duration' | translate}}</mat-label>
                      <input id="duration" matInput required type="text" placeholder="{{'duration' | translate}}"
                        [value]="defaults.duration ? defaults.duration : (getShortestDuration(defaults?.course_dates)| translate)"
                        [readonly]="true">
                    </mat-form-field>
                  </div>
                  <div class="flex-auto" style="width: 50%; float:left">
                    <mat-form-field appearance="outline" style="width: 100%">
                      <mat-label>{{'max_pax' | translate}}</mat-label>
                      <input id="participants" matInput required type="number" [value]="defaults.max_participants"
                        [(ngModel)]="defaults.max_participants" [readonly]="true">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-tab>

        <mat-tab label="{{'level' | translate }}" *ngIf="defaults.course_type === 1">
          <mat-spinner *ngIf="loading" style="margin: 0 auto"></mat-spinner>

          <mat-card style="padding: 0 3%;" *ngIf="!loading">
            <mat-card-header style="display:block">
              <div style="width: 100%;float:left;">
                <mat-card-title style="float: left;width: 35%;">{{'course_detail' | translate
                  }}</mat-card-title>
                <div style="float:right;width: 65%">
                  <div style="float: right;margin: 0 0 0 25px;">
                    <mat-slide-toggle [checked]="true">
                      {{'options' | translate }}
                    </mat-slide-toggle>
                  </div>
                  <div style="float: right;margin: 0;">
                    <mat-slide-toggle [checked]="true">
                      {{'payment_online' | translate}}
                    </mat-slide-toggle>
                  </div>
                  <div style="float: right;margin: 0 25px 0 0;">
                    <mat-slide-toggle [checked]="true">
                      {{'status' | translate }}
                    </mat-slide-toggle>
                  </div>
                </div>
              </div>
              <mat-divider style="float: left;width: 100%;margin: 2% 0 0 0;"></mat-divider>
            </mat-card-header>
            <mat-card-content style="margin-top: 5%;">
              <button mat-raised-button color="accent"
                style="color: #fff;background: #f53d7c;padding: 1%;width: 15%;border-radius: 0;height: 50px;margin: 0 0 1% 0;float: right;"
                (click)="save()">{{'save_changes' | translate}}</button>

              <div class="flex flex-col sm:flex-row gap-4" style="width: 100%;float:left;" *ngIf="!loading">
                <div @fadeInUp class="card flex-auto">
                  <mat-card style="padding: 0 3%;">
                    <mat-card-content style="margin-top: 5%;">

                      <div style="width: 100%;float:left;">

                        <ng-container *ngFor="let colorKey of colorKeys">

                          <div *ngFor="let groupLevel of groupedByColor[colorKey]; let groupIndex = index">

                            <div style="float: left; width: 100%;margin-top:3%">
                              <div
                                style="float: left;width: 10%;border-radius: 11%;height: 100px;padding: 2%;color: #fff;text-align: center;"
                                [title]="disableActive(groupLevel) ? 'Este grupo no puede eliminarse porque tiene reservas asociadas' : ''">
                                <mat-slide-toggle (change)="activeGroup($event, groupLevel)"
                                  [disabled]="disableActive(groupLevel)"
                                  [checked]="groupLevel.active"></mat-slide-toggle>
                              </div>
                              <div style="float: left;width: 16%;">
                                <div
                                  style="width:100%;text-align: center;border-radius:10px;height: 100px;padding: 2%;color: #fff;cursor:pointer"
                                  [style.background-color]="colorKey" *ngIf="!groupLevel.visible && groupLevel.active"
                                  (click)="groupLevel.visible = true; checkAvailableMonitors(groupLevel);">
                                  {{groupLevel.annotation}} -
                                  {{groupLevel.name}}
                                </div>
                                <div
                                  style="width:100%;text-align: center;border-radius:10px;height: 100px;padding: 2%;color: #fff;cursor:pointer"
                                  [style.background-color]="colorKey" *ngIf="groupLevel.visible && groupLevel.active"
                                  (click)="groupLevel.visible = false">
                                  {{groupLevel.annotation}} -
                                  {{groupLevel.name}}
                                </div>
                                <div
                                  style="width:100%;text-align: center;border-radius:10px;height: 100px;padding: 2%;color: #fff;cursor:pointer"
                                  [style.background-color]="colorKey" *ngIf="!groupLevel.visible && !groupLevel.active">
                                  {{groupLevel.annotation}} -
                                  {{groupLevel.name}}
                                </div>
                                <mat-form-field appearance="outline" class="flex-auto"
                                  style="width: 100%; margin-top: 10%;" *ngIf="groupLevel.active">
                                  <mat-select placeholder="Nivel minimo del profesor"
                                    (selectionChange)="setLevelTeacher($event, groupLevel)"
                                    [value]="calculateMonitorLevel(groupLevel)">
                                    <mat-option *ngFor="let item of levels" [value]="item">
                                      {{ item.annotation }} - {{ item.name }}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div style="float: left;width: 16%;margin: 0 0 0 2%;" *ngIf="groupLevel.active">
                                <div style="width:100%;border-radius: 0;height: 100px;padding: 2%; color: var(--is-light-theme, #121212) var(--is-dark-theme, #dee6ea);
 ;background: var(--is-light-theme, #e6e6e6) var(--is-dark-theme, #121212);text-align: center;border-radius:10px">
                                  {{defaults?.course_dates[0]?.course_groups[groupIndex]?.course_subgroups.length}}
                                  {{'groups' | translate}}
                                </div>
                                <div style="width: 100%; margin-top: 10%;height: 60px">
                                  <button mat-button color="accent"
                                    style="width: 100%;border-radius: 5px;color:#fff;background: #ff3085;height: 100%"
                                    (click)="addSubGroup(groupLevel)">{{'add_subgroup'
                                    | translate }}</button>
                                </div>
                              </div>

                              <div style="float: left;width: 16%;margin: 0 0 0 2%;" *ngIf="groupLevel.active">
                                <div
                                  style="width:100%;border-radius: 0;height: 100px;padding: 2%;color: var(--color-dark1);background: var(--is-light-theme, #e6e6e6) var(--is-dark-theme, #121212);;text-align: center;border-radius:10px">
                                  {{'age' | translate}}
                                </div>
                                <form [formGroup]="rangeForm" novalidate>
                                  <mat-form-field appearance="outline"
                                    style="width: 45%; margin-top: 10%;margin-right: 10%">
                                    <input type="number" placeholder="Min." aria-label="Number" matInput [min]="0"
                                      (blur)="setMinAge($event, groupLevel)" [value]="groupLevel.age_min"
                                      [value]="calculateAgeMin(groupLevel)" />
                                    <mat-error *ngIf="minAge.errors?.['min']">
                                      {{'courses.errors.min_age_levels' |
                                      translate}}
                                    </mat-error>
                                    <mat-error *ngIf="minAge.errors?.['required']">
                                      {{'mandatory' | translate}}
                                    </mat-error>
                                  </mat-form-field>
                                  <mat-form-field appearance="outline" style="width: 45%; margin-top: 10%">
                                    <input type="number" placeholder="Max" aria-label="Number" matInput [min]="0"
                                      (blur)="setMaxAge($event, groupLevel)" [value]="groupLevel.age_max"
                                      [value]="calculateAgeMax(groupLevel)" />
                                    <mat-error *ngIf="maxAge.errors?.['ageRange']">
                                      {{'courses.errors.max_age_range' |
                                      translate}}
                                    </mat-error>
                                    <mat-error *ngIf="maxAge.errors?.['max']">
                                      {{'courses.errors.max_age_levels' |
                                      translate}}
                                    </mat-error>
                                    <mat-error *ngIf="maxAge.errors?.['required']">
                                      {{'mandatory' | translate}}
                                    </mat-error>
                                  </mat-form-field>
                                </form>
                              </div>
                              <div style="float: left;width: 16%;margin: 0 0 0 2%;" *ngIf="groupLevel.active">
                                <div
                                  style="width:100%;border-radius: 0;height: 100px;padding: 2%;color: var(--color-dark1);background: var(--is-light-theme, #e6e6e6) var(--is-dark-theme, #121212);;text-align: center;border-radius:10px">
                                  {{'duracion' | translate}}<br>
                                  {{calculateFormattedDuration(defaults.course_dates[daySelectedIndex].hour_start,
                                  defaults.course_dates[daySelectedIndex].hour_end)}}
                                </div>
                                <mat-form-field appearance="outline"
                                  style="width: 100%; margin-top: 10%;margin-right: 10%">
                                  <input type="text" placeholder="Duración" aria-label="Number" matInput
                                    [value]="calculateFormattedDuration(defaults.course_dates[daySelectedIndex].hour_start, defaults.course_dates[daySelectedIndex].hour_end)"
                                    [readonly]="true" />
                                </mat-form-field>
                              </div>
                              <div style="float: left;width: 16%;margin: 0 0 0 2%;" *ngIf="groupLevel.active">
                                <div
                                  style="width:100%;border-radius: 0%;height: 100px;padding: 2%;color: var(--color-dark1);background: var(--is-light-theme, #e6e6e6) var(--is-dark-theme, #121212);;text-align: center;border-radius:10px">
                                  {{'students' | translate}}
                                  <strong>{{calculateStudentsGroup(groupLevel)}}/{{calculateMaxGroup(groupLevel)}}</strong>
                                </div>
                                <mat-form-field appearance="outline" class="flex-auto"
                                  style="width: 100%; margin-top: 10%">
                                  <input type="number" placeholder="Max per Group"
                                    [value]="calculateMaxGroup(groupLevel)" aria-label="Number" matInput
                                    (blur)="setSubGroupPax($event, groupLevel)" />
                                  <mat-error *ngIf="groupLevel.max_participants > this.defaults.max_participants">
                                    {{'courses.errors.students' | translate }}
                                  </mat-error>
                                </mat-form-field>
                              </div>

                              <ng-container *ngIf="groupLevel.active && groupLevel.visible">

                                <div style="width:100%;float:left;overflow: scroll;"
                                  *ngFor="let subGroup of readSubGroups(groupLevel.id); let subGroupIndex = index">
                                  <div style="float:left; width: 100%; margin-top: 5%;padding: 0 0% 0 10%">
                                    <div>
                                      <ul style="display: flex">
                                        <li style="float: left; width: 20%;font-size: 14px">
                                          <mat-icon svgIcon="mat:delete" style="color:red;cursor: pointer;float:left;"
                                            (click)="deleteSubGroup(subGroup)"></mat-icon>

                                          <span [style.color]="colorKey"><strong>{{groupLevel.annotation}}</strong>
                                            - {{groupLevel.name}} - {{
                                            subGroupIndex + 1 }}</span>
                                        </li>
                                        <ng-container *ngFor="let dayLevel of daysDatesLevels; let dayIndex = index;">
                                          <li *ngIf="dayLevel.active === 1"
                                            (click)="selectItem(dayLevel, dayIndex, subGroupIndex, subGroup)"
                                            [style.color]="selectedItem === dayLevel.dateString && dayIndex === daySelectedIndex && subGroupIndex === subGroupSelectedIndex ? '#FF3085' : ''"
                                            style="float: left; width: 13%; text-align: center; cursor: pointer;">
                                            {{ dayLevel.dateString }}
                                          </li>
                                        </ng-container>

                                      </ul>
                                    </div>
                                  </div>
                                  <div style="float:left; width: 100%; margin-top: 5%;padding: 0 0% 0 10%"
                                    *ngIf="subGroupSelectedIndex !== null">
                                    <div>
                                      <ul>
                                        <li style="float: left; width: 20%;"
                                          (click)="subGroupSelectedIndex = subGroupIndex;">
                                          <label for="monitor" style="font-size: 20px;">{{'monitor'
                                            | translate}}</label>

                                          <mat-spinner *ngIf="loadingMonitors">
                                          </mat-spinner>
                                          <mat-form-field appearance="outline" class="flex-auto"
                                            *ngIf="!loadingMonitors">

                                            <input type="text" id="monitor" placeholder="Select monitor" matInput
                                              [matAutocomplete]="autoMoniteur"
                                              [value]="getMonitorValue(groupLevel, subGroupIndex, daySelectedIndex)" />
                                            <mat-autocomplete #autoMoniteur="matAutocomplete"
                                              [displayWith]="displayFnMoniteurs">

                                              <ng-container *ngFor="let monitor of filteredMonitors | async">
                                                <mat-option
                                                  *ngIf="!checkIfExistInDate(daySelectedIndex, monitor, groupLevel)"
                                                  (onSelectionChange)="setSubGroupMonitor($event, monitor, groupLevel, subGroupSelectedIndex, daySelectedIndex)">
                                                  {{monitor &&
                                                  monitor?.first_name ?
                                                  monitor?.first_name : '' }}
                                                  {{monitor &&
                                                  monitor?.last_name ?
                                                  monitor?.last_name : ''}}
                                                </mat-option>
                                              </ng-container>
                                            </mat-autocomplete>
                                            <mat-icon matPrefix svgIcon="mat:person"></mat-icon>
                                          </mat-form-field>
                                        </li>
                                        <ng-container *ngFor="let item of daysDatesLevels; let dayIndex = index;">

                                          <li style="float: left; width: 13%;margin: 3% 0 0 0;"
                                            *ngIf="item.active === 1">
                                            <div
                                              style="background-color: #CEE741;width: 25px;border-radius: 100%;height: 25px;margin: 0 auto;"
                                              [ngStyle]="{'background-color': hasMonitorAssigned(item, groupLevel, subGroupIndex) ? '#CEE741': 'red'}">
                                            </div>
                                          </li>
                                        </ng-container>
                                      </ul>
                                    </div>
                                  </div>
                                  <mat-divider class="text-border"
                                    style="float: left;width: 100%;border: 4px solid #f0f0f0;"></mat-divider>

                                  <!-- n iteraciones por alumno-->
                                  <div style="float:left; width: 100%; margin: 5% 0 5% 0;padding: 0 0 0 10%"
                                    *ngFor="let courseUser of getCourseUsers(subGroup); let courseUserIndex = index">
                                    <p *ngIf="courseUserIndex === 0" style="font-size: 20px;margin: 0 0 2% 0;">
                                      <img (click)="openUserTransfer(groupLevel, subGroup, subGroupIndex + 1)"
                                        src="../../../../assets/img/icons/change.svg"
                                        style="float:left;cursor: pointer;">{{'students'
                                      | translate }}
                                    </p>

                                    <ng-container>

                                      <div>
                                        <ul>
                                          <li style="float: left; width: 20%;">
                                            <div style="float: left; width: 100%;">
                                              <div style="float: left; width: 25%;">
                                                <img [src]="getClient(courseUser.client_id)?.image || userAvatar"
                                                  style="border-radius: 100%;height: 50px;width: 110px;">
                                              </div>
                                              <div style="float: left; width: 75%;">
                                                <p style="font-size: 16px;">
                                                  {{getClient(courseUser.client_id)?.first_name}}
                                                  {{getClient(courseUser.client_id)?.last_name}}</p>
                                                <p style="font-size: 10px;">
                                                  {{getLanguage(getClient(courseUser.client_id)?.language1_id)}}
                                                  · {{
                                                  getCountry(getClient(courseUser.client_id)?.country)
                                                  }}
                                                  · {{
                                                  calculateAge(getClient(courseUser.client_id)?.birth_date)
                                                  }}
                                                  {{'years' | translate }}</p>
                                              </div>
                                            </div>
                                          </li>

                                          <ng-container *ngFor="let item of daysDatesLevels; let dayIndex = index;">

                                            <li style="float: left; width: 13%;" *ngIf="item.active === 1">
                                              <div style="width: 25px;border-radius: 100%;height: 25px;margin: 0 auto;"
                                                [ngStyle]="{'background-color': isInDay(item.date, courseUser.client_id) ? '#CEE741': 'red'}">
                                              </div>
                                            </li>
                                          </ng-container>
                                        </ul>
                                      </div>
                                    </ng-container>
                                  </div>
                                </div>

                              </ng-container>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <mat-tab label="{{'bookings' | translate }}">
          <vex-page-layout style="margin: 2% 0 0 0;">
            <vex-page-layout-content class="-mt-6 fullwidth" [ngClass]="{'table-show-detail': this.showDetail}">
              <vex-aio-table [columns]="columns" [entity]="entity" [title]="'bookings'" [route]="'bookings'"
                (showDetailEvent)="showDetailEvent($event)" [filterField]="id" [filterColumn]="'course_id'"
                [with]="['booking','course.courseGroups.courseSubgroups']" [showDetail]="showDetail">
              </vex-aio-table>
            </vex-page-layout-content>
          </vex-page-layout>

          <!--<vex-page-layout-content class="-mt-6 fullwidth box-detail-timeline" *ngIf="showDetail">
              <mat-card-header style="display:block">
                <div style="width: 100%;float:left;">
                  <mat-card-title class="font-bold" style="float: left;width: 100%;">
                    {{'course_detail' | translate}}
                    <img src="assets/img/icons/close.svg" (click)="showDetail = false" class="btn-close" style="float: right;" />
                  </mat-card-title>
                </div>
                <div style="width:100%; margin-top:5%;float:left">
                <div style="width: 100%;">
                    <p style="float: left;width: 80%;text-align: left;"><b>{{'from' | translate }}</b></p>
                    <p style="float: left;width: 20%;text-align: right;"><b>{{'to' | translate }}</b></p>
                </div>
                <div style="width: 100%;">
                    <p style="float: left;width: 50%;text-align: left;"><b>{{detailData?.course.date_start | date: 'dd-MM-yyyy'}}</b></p>
                    <p style="float: left;width: 50%;text-align: right;"><b>{{detailData?.course.date_end | date: 'dd-MM-yyyy'}}</b></p>
                </div>
                </div>
                <mat-divider style="float: left;width: 100%;margin: 2% 0 0 0;"></mat-divider>

                <div style="width:100%; margin-top:5%;float:left">
                <div style="width: 100%;">
                    <p style="float: left;width: 35%;text-align: left;"><b>{{'price' | translate}}</b></p>
                    <p style="float: left;width: 65%;text-align: right;"><b>{{'max_pax' | translate}}</b></p>
                </div>
                <div style="width: 100%;">
                  <p style="float: left;width: 50%;text-align: left;" *ngIf="defaults.course_type === 1 || (defaults.course_type === 2 && !defaults.is_flexible)"><b>{{detailData?.course.price}}</b> {{detailData?.course.currency}}</p>
                  <p style="float: left;width: 50%;text-align: left;" *ngIf="defaults.course_type === 2 && defaults.is_flexible"><b>{{'from' | translate }} {{ encontrarPrimeraClaveConValor(encontrarPrimeraCombinacionConValores(defaults.price_range)) }}
                  </b> {{detailData?.course.currency}}</p>
                  <p style="float: left;width: 50%;text-align: right;"><b>{{detailData?.course.max_participants}}</b></p>
              </div>
                </div>
                <ng-container *ngIf="detailData?.course.course_type == 1">
                    <mat-divider style="float: left;width: 100%;margin: 2% 0 0 0;"></mat-divider>
                    <div style="float: left; width: 100%;margin-top: 5%;">
                    <ul>
                        <ng-container *ngFor="let date of detailData?.course.course_dates">
                            <li [ngClass]="{'font-bold': date.id == detailData?.course_date_id}">{{getDateFormatLong(date.date)}} <i style="text-align: right;float:right">{{getHourRangeFormat(date.hour_start,date.hour_end)}}</i></li>
                        </ng-container>
                    </ul>
                    </div>
                </ng-container>
                <mat-divider style="float: left;width: 100%;margin: 2% 0 0 0;"></mat-divider>
            </mat-card-header>-->

          <vex-page-layout-content class="fullwidth col-right" *ngIf="showDetail">
            <mat-card>

              <mat-card-header style="display:block">
                <div style="width: 100%;">
                  <span style="display: inline-block;width: 80%; text-align: left;">
                    <mat-card-title>{{'course_detail' |
                      translate}}</mat-card-title>
                  </span>
                  <span style="display: inline-block;width: 20%; text-align: right;">
                    <img src="assets/img/icons/edit.svg" (click)="goTo('/courses/detail/'+detailData.id)"
                      class="btn-edit" />
                    <img src="assets/img/icons/close.svg" (click)="showDetail = false" class="btn-close" />
                  </span>
                </div>
                <div style="width: 100%; border-top: 1px solid white; margin-top: 5px; padding-top: 5px;">
                  <mat-card-subtitle style="width:100%;">
                    <div style="width: 60%;display:inline-block;text-align: left; color: #868686;">
                      <b>{{ 'register' | translate}}:</b>
                      <span style="margin-left: 10px;font-weight: normal;">
                        <span>01/08/2024</span><span style="margin-left: 10px;font-style: italic;">11:13h</span>
                      </span>
                    </div>
                    <div style="width: 40%;display:inline-block;text-align: right;color: white;font-weight: normal;">
                      Admin <span style="margin-left: 10px;">(Arsene
                        Garcia)</span>
                    </div>
                  </mat-card-subtitle>
                </div>
              </mat-card-header>

              <mat-card-content>
                <div class="title-status">
                  <div class="col-left">
                    <b>{{'from' | translate}}</b>
                  </div>
                  <div class="col-right">
                    <b>{{'to' | translate}}</b>
                  </div>
                </div>
                <div class="list-holder">
                  <div class="col-left">
                    <b>{{detailData?.course.date_start | date:
                      'dd-MM-yyyy'}}</b>
                  </div>
                  <div class="col-right">
                    <b>{{detailData?.course.date_end | date: 'dd-MM-yyyy'}}</b>
                  </div>
                </div>
                <div class="title-status">
                  <div class="col-left">
                    <b>{{'price' | translate}}</b>
                  </div>
                  <div class="col-right">
                    <b>{{'max_pax' | translate}}</b>
                  </div>
                </div>
                <div class="list-holder">
                  <div class="col-left">
                    <div *ngIf="defaults.course_type === 1 || (defaults.course_type === 2 && !defaults.is_flexible)">
                      <b>{{detailData?.course.price}}</b>
                      {{detailData?.course.currency}}
                    </div>
                    <div *ngIf="defaults.course_type === 2 && defaults.is_flexible"><b>{{'from'
                        | translate }} {{
                        encontrarPrimeraClaveConValor(encontrarPrimeraCombinacionConValores(defaults.price_range))
                        }}</b> {{detailData?.course.currency}}</div>
                  </div>
                  <div class="col-right">
                    <b>{{detailData?.course.max_participants}}</b>
                  </div>
                </div>
                <div class="list-holder" *ngIf="detailData.course_type === 1">
                  <ul>
                    <ng-container *ngFor="let date of detailData?.course.course_dates">
                      <li [ngClass]="{'font-bold': date.id == detailData?.course_date_id}">
                        {{getDateFormatLong(date.date)}}
                        <i
                          style="text-align: right;float:right">{{getHourRangeFormat(date.hour_start,date.hour_end)}}</i>
                      </li>
                    </ng-container>
                  </ul>
                </div>

                <div style="float: left; width: 100%;margin-bottom:24px;">
                  <div style="float: left;width: 100%;">
                    <!--ESTAS IMAGENES VENDRAN DEL detailData?.SPORT -> icon box -->
                    <div style="float: left; width: 20%; margin-top: 5%">
                      <img style="width: 75px; height: 75px;" *ngIf="detailData?.course?.course_type == 1"
                        [src]="'https://api.boukii.com/storage/icons/collectif_'+ detailData?.sport?.name.toLowerCase() +'2x.png'"
                        width="100" height="100" />
                      <img style="width: 75px; height: 75px;" *ngIf="detailData?.course?.course_type == 2"
                        [src]="'https://api.boukii.com/storage/icons/prive_'+ detailData?.sport?.name.toLowerCase() +'2x.png'"
                        width="100" height="100" />
                    </div>
                    <div style="float: left; width: 75%;margin:6% 0 0 2%">
                      <p><strong>{{detailData?.course?.name}}</strong></p>
                      <p>
                        <ng-container *ngIf="detailData?.course?.course_type == 1">
                          {{'colective' | translate}}
                        </ng-container>
                        <ng-container *ngIf="detailData?.course?.course_type == 2">
                          {{'private' | translate}}
                        </ng-container>
                        <ng-container *ngIf="detailData?.sport">
                          {{detailData?.sport.name}}
                        </ng-container>
                      </p>
                    </div>
                  </div>
                </div>
                <mat-divider style="float: left;width: 100%;margin: 2% 0 0 0;"></mat-divider>

                <div *ngIf="detailData?.course?.course_type == 1" class="box-detail-boxes">
                  <div class="box-detail-box" [ngStyle]="{'background': detailData?.degree?.color}">
                    <img src="https://api.boukii.com/storage/icons/award_icon.svg" style="width:24px;height:24px;" />
                    <div class="font-bold font-white">{{detailData?.degree?.annotation}}</div>
                    <div class="font-bold font-white">{{detailData?.degree?.name}}</div>
                    <div class="font-bold font-white">{{getSubGroupsIndex()}}</div>
                  </div>
                  <div class="box-detail-box box-background-grey">
                    <img src="https://api.boukii.com/storage/icons/icons-outline-profile-2-user-white.svg"
                      style="width:24px;height:24px;" />
                    <div>{{'groups' | translate}}</div>
                    <div class="font-bold">{{getGroupsQuantity()}}</div>
                  </div>
                  <div class="box-detail-box box-background-grey">
                    <img src="https://api.boukii.com/storage/icons/icons-outline-clock.svg"
                      style="width:24px;height:24px;" />
                    <div>{{'duration' | translate}}</div>
                    <div class="font-bold">{{getHoursMinutes(detailData?.hour_start,detailData?.hour_end)}}</div>
                  </div>
                  <div class="box-detail-box box-background-grey">
                    <img src="https://api.boukii.com/storage/icons/icons-outline-calendar-tick.svg"
                      style="width:24px;height:24px;" />
                    <div>{{'days' | translate}}</div>
                    <div class="font-bold">{{getDateIndex()}}/{{detailData?.course?.course_dates?.length}}</div>
                  </div>
                </div>

                <mat-divider style="float: left;width: 100%;margin: 5% 0 5% 0;"></mat-divider>

                <ng-container *ngIf="detailData?.course.course_type == 2">

                  <div style="width: 100%;float:left;margin-bottom:12px;">
                    <mat-card-title class="font-bold" style="float: left;width: 80%;">{{'booking'
                      |translate}}</mat-card-title>
                  </div>

                  <div style="float: left; width: 100%;">
                    <ul>
                      <li class="font-bold">{{getDateFormatLong(detailData?.date)}}
                        <i
                          style="text-align: right;float:right">{{getHourRangeFormat(detailData?.hour_start,calculateHourEnd(detailData?.hour_start,detailData.course.duration))}}</i>
                      </li>
                    </ul>
                  </div>

                  <mat-divider style="float: left;width: 100%;margin: 5% 0 5% 0;"></mat-divider>

                  <div style="width: 100%;float:left;margin-bottom:12px;">
                    <mat-card-title class="font-bold" style="float: left;width: 100%;">{{'participant'
                      |translate}}</mat-card-title>
                  </div>

                  <div style="display:flex;width:100%;flex-direction:column;gap:8px;">
                    <div *ngFor="let client of detailData?.users" class="box-detail-user-block">
                      <app-level-user *ngIf="detailData.sport" [allLevels]="getAllLevelsBySport()"
                        [selectLevel]="getClientDegree(detailData?.sport.id, client.sports)" [size]="60"
                        [userImage]="getClient(client.client_id).image ? getClient(client.client_id).image : 'assets/img/avatar.png'"></app-level-user>
                      <div class="box-detail-user-block-text">
                        <div>{{ getClient(client.client_id)?.first_name }} {{
                          getClient(client.client_id)?.last_name }}</div>
                        <span>
                          <ng-container *ngIf="getClient(client.client_id)?.language1_id">
                            {{getLanguageById(getClient(client.client_id)?.language1_id)}}
                            ·
                          </ng-container>
                          <ng-container *ngIf="getClient(client.client_id)?.language2_id">
                            {{getLanguageById(getClient(client.client_id)?.language2_id)}}
                            ·
                          </ng-container>
                          <ng-container *ngIf="getClient(client.client_id)?.language3_id">
                            {{getLanguageById(getClient(client.client_id)?.language3_id)}}
                            ·
                          </ng-container>
                          {{getCountryById(getClient(client.client_id)?.country)}}
                          ·
                          {{getBirthYears(getClient(client.client_id)?.birth_date)}}{{'years'
                          | translate }}
                          · {{getClient(client.client_id)?.phone}} ·
                          {{getClient(client.client_id)?.email}}
                        </span>
                        <div *ngIf="detailData?.degree" class="box-detail-user-blocklevel"
                          [ngStyle]="{'background': detailData?.degree.color}">
                          {{detailData?.degree.name}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <mat-divider style="float: left;width: 100%;margin: 5% 0 5% 0;"></mat-divider>

                </ng-container>

                <div style="width: 100%;float:left;margin-bottom:12px;">
                  <mat-card-title class="font-bold" style="float: left;width: 80%;">{{'monitor' | translate
                    }}</mat-card-title>
                </div>

                <div *ngIf="detailData.monitor_id !== null" class="box-detail-user-block">
                  <div class="box-detail-user-block-img">
                    <img
                      [src]="getMonitor(detailData.monitor_id)?.image ? getMonitor(detailData.monitor_id)?.image : 'assets/img/avatar.png'" />
                  </div>
                  <div class="box-detail-user-block-text">
                    <div>{{ getMonitor(detailData.monitor_id)?.first_name }} {{
                      getMonitor(detailData.monitor_id)?.last_name }}</div>
                    <span>
                      <ng-container *ngIf="getMonitor(detailData.monitor_id)?.language1_id">
                        {{getLanguageById(getMonitor(detailData.monitor_id)?.language1_id)}}
                        ·
                      </ng-container>
                      {{getCountryById(getMonitor(detailData.monitor_id)?.country)}}
                      ·
                      {{getBirthYears(getMonitor(detailData.monitor_id)?.birth_date)}}{{'years'
                      | translate }}
                      · {{getMonitor(detailData.monitor_id)?.phone}} ·
                      {{getMonitor(detailData.monitor_id)?.email}}
                    </span>
                  </div>
                </div>

                <ng-container *ngIf="detailData?.course.course_type == 1">
                  <div style="width: 100%;float:left;margin-top:32px;margin-bottom:12px;">
                    <mat-card-title class="font-bold" style="float: left;width: 80%;">{{'students' | translate}}
                      {{detailData?.users.length}}/{{detailData?.course.max_participants}}</mat-card-title>
                    <mat-icon class="cursor-pointer" style="float: right;width: 10%;"
                      svgIcon="mat:swap_horiz"></mat-icon>
                  </div>

                  <div style="display:flex;width:100%;flex-direction:column;gap:8px;">
                    <div *ngFor="let client of detailData?.users" class="box-detail-user-block">
                      <app-level-user *ngIf="detailData.sport" [allLevels]="getAllLevelsBySport()"
                        [selectLevel]="getClientDegree(detailData?.sport.id, client.sports)" [size]="60"
                        [userImage]="getClient(client.client_id).image ? getClient(client.client_id).image : 'assets/img/avatar.png'"></app-level-user>
                      <div class="box-detail-user-block-text">
                        <div>{{ getClient(client.client_id)?.first_name }} {{
                          getClient(client.client_id)?.last_name }}</div>
                        <span>
                          <ng-container *ngIf="getClient(client.client_id)?.language1_id">
                            {{getLanguageById(getClient(client.client_id)?.language1_id)}}
                            ·
                          </ng-container>
                          <ng-container *ngIf="getClient(client.client_id)?.language2_id">
                            {{getLanguageById(getClient(client.client_id)?.language2_id)}}
                            ·
                          </ng-container>
                          <ng-container *ngIf="getClient(client.client_id)?.language3_id">
                            {{getLanguageById(getClient(client.client_id)?.language3_id)}}
                            ·
                          </ng-container>
                          {{getCountryById(getClient(client.client_id)?.country)}}
                          ·
                          {{getBirthYears(getClient(client.client_id)?.birth_date)}}{{'years'
                          | translate }}
                          · {{getClient(client.client_id)?.phone}} ·
                          {{getClient(client.client_id)?.email}}
                        </span>
                      </div>
                    </div>
                  </div>
                </ng-container>

              </mat-card-content>
            </mat-card>
          </vex-page-layout-content>
        </mat-tab>

        <mat-tab label="Statistiques" *ngIf="false"></mat-tab>

      </mat-tab-group>
    </div>
  </div>
</div>
