.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  > div[formArrayName] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }

  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinea el checkbox a la derecha */
    width: 100%;
  }

  .rowsWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid var(--color-grey3);
    width: calc(100% - 4rem); /* Ajusta el ancho para dar espacio al checkbox */
  }

  .rowsWrapper.last {
    border-bottom-width: 0;
  }
}

.row-1 {
  display: flex;
  gap: 0.5rem;

  .date,
  .hour,
  .price {
    font-family: var(--font-dm);
    font-size: 0.85rem;
    line-height: 1.15rem;
  }

  .date {
    font-weight: 600;
    color: var(--color-dark1);
  }

  .hour {
    font-weight: 400;
    color: var(--color-grey1);
  }

  .price {
    font-weight: 300;
    color: var(--color-dark1);
    margin-left: auto;
  }
}

.row-2 {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  > div {
    width: calc(50% - 0.5rem);
    display: flex;
    gap: 1rem;
    align-items: center;
    min-width: 260px;

    > * {
      width: 100%;
    }
  }

  .extra-field-wrapper {
    display: flex;
    align-items: center;
  }

  .extras-field {
    flex: 100% 0 1;
  }

  .extras-price {
    color: var(--color-grey1);
    min-width: 60px;
    text-align: right;
  }
}

::ng-deep {
  .mat-mdc-select,
  .mat-mdc-form-field-infix {
    height: auto; /* Ajustar según sea necesario */
  }

  mat-select-trigger {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding-left: 1rem;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .mat-mdc-option.mdc-list-item {
    font-family: var(--font-dm);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
  }

  .mdc-list-item__primary-text {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: 100%;
    justify-content: space-between;
  }
}

.disabled-icon {
  color: var(--color-grey1);
}
