.wrapper {
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
  > div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
  }
  .rowsWrapper {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid var(--color-grey3);
    width: 100%;
    &.last {
      border-bottom-width: 0px;
    }
  }
}

.row-1 {
  display: flex;
  gap: 0.5rem;
  .date {
    font-family: var(--font-dm);
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 1.15rem;
    color: var(--color-dark1);
  }

  .hour {
    font-family: var(--font-dm);
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.15rem;
    color: var(--color-grey);
  }

  .price {
    font-family: var(--font-dm);
    font-size: 0.85rem;
    font-weight: 300;
    line-height: 1.15rem;
    color: var(--color-dark1);
    margin-left: auto;
  }
}

.row-2 {
  display: flex;
  gap: 1rem;
  > div {
    width: 50%;
    display: flex;
    gap: 1rem;
    align-items: center;
    > * {
      width: 100%;
    }
  }

  .extra-field-wrapper {
    display: flex;
    align-items: center;
  }

  .extras-field {
    flex: 100% 0 1;
  }

  .extras-price {
    color: var(--color-grey1);
    min-width: 6rem;
    text-align: right;
  }
}

::ng-deep {
  .mdc-list-item__primary-text {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: 100%;
    justify-content: space-between;
  }

  .mat-mdc-select,
  .mat-mdc-form-field-infix {
    height: 1.5rem;
  }

  mat-select-trigger {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding-left: 1rem;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .mat-mdc-option.mdc-list-item {
    font-family: var(--font-dm);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
  }
}

.disabled-icon {
  color: var(--color-grey1);
}
