<div style="overflow-x: auto;overflow-y: hidden; height: 100%;">
	<table>
		<thead>
			<tr style="height: 34px;">
				<td style="color: var(--color-dark1);
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: 16px;">
					<div class="flexicon">
						<img src="assets/icons/icon/monitor.png" class="icon24">
						{{'monitor' | translate}}
					</div>
				</td>
				<td *ngFor="let item of courseFormGroup.controls['course_dates'].value;index as i"
					[style.backgroundColor]="selectDate===i?'var(--is-light-theme, #ffffff) var(--is-dark-theme, black)':' var(--is-light-theme, #f8f9fb) var(--is-dark-theme, #8e97a7)'"
					[style.borderTop]="selectDate===i?'3px solid #E91E63':''" (click)="selectDate=i;getAvail(item)"
					style="
			color: var(--color-dark1);
			font-size: 12px;
			font-family: DM Sans;
			font-weight: 600;
			line-height: 16px;
			word-wrap: break-word">
					{{item.date | date:'dd-MM-yyyy'}}
				</td>
			</tr>
		</thead>
		<tbody>
			<tr style="border-bottom: 3px solid #dee6ea;">
				<td style="background-color: var(--is-light-theme, #ffffff) var(--is-dark-theme, black);">
					<app-form-select [table]="monitors" [value]="find(courseFormGroup.controls['course_dates'].value[selectDate].course_groups,'degree_id',level.id).course_subgroups[subgroup_index].monitor?
						(find(courseFormGroup.controls['course_dates'].value[selectDate].course_groups,'degree_id',level.id).course_subgroups[subgroup_index].monitor.first_name + ' ' + find(courseFormGroup.controls['course_dates'].value[selectDate].course_groups,'degree_id',level.id).course_subgroups[subgroup_index].monitor.last_name)
						:''" (do)="SelectMonitor($event,selectDate) " name="first_name" name2="last_name">
					</app-form-select>
				</td>
				<td *ngFor="let item of courseFormGroup.controls['course_dates'].value; index as i"
					[style.backgroundColor]="selectDate===i?'var(--is-light-theme, #ffffff) var(--is-dark-theme, black)':'var(--is-light-theme, #f8f9fb) var(--is-dark-theme, #8e97a7)'"
					[style.color]="find(item.course_groups,'degree_id',level.id).course_subgroups[subgroup_index].monitor?modified[i]?'#FFCF25':'#31C044':'#C7D0D3'"
					(click)="selectDate=i;getAvail(item)">
					<mat-icon class="icon10">circle</mat-icon>
				</td>
			</tr>
			<tr style="height: 34px;">
				<td
					style="font-size: 12px; font-weight: 600;background-color: var(--is-light-theme, #ffffff) var(--is-dark-theme, black);">
					<div class="flexicon">
						<img src="assets/icons/icon/alumno.png" class="icon24">
						{{"students" | translate}}
						<img (click)="cambiarModal=true" src="assets/icons/icon/exc.png" class="icon24"
							style="cursor: pointer; margin-left: auto;margin-right: 10px;">
					</div>
				</td>
				<td *ngFor="let item of courseFormGroup.controls['course_dates'].value; index as i"
					[style.backgroundColor]="selectDate===i?'var(--is-light-theme, #ffffff) var(--is-dark-theme, black)':' var(--is-light-theme, #f8f9fb) var(--is-dark-theme, #8e97a7)'">
				</td>
			</tr>
			<tr *ngFor="let user of courseFormGroup.controls['booking_users'].value; index as i">
				<ng-container
					*ngIf="user.course_subgroup_id === find(courseFormGroup.controls['course_dates'].value[selectDate].course_groups,'degree_id',level.id).course_subgroups[subgroup_index].id">
					<td
						style="text-align-last: start;background-color: var(--is-light-theme, #ffffff) var(--is-dark-theme, black);">
						<div class="flexicon" style="font-size: 12px; font-weight: 600;">
							{{user.client?.first_name}} {{user.client?.last_name}}
						</div>
						<span style="font-size: 12px;">
							{{getLanguage(user.client.language1_id)}}
							· {{getCountry(user.client.country)}} ·
							{{calculateAge(user.client.birth_date)}} {{'years' | translate }}
						</span>
					</td>
					<td *ngFor="let item of courseFormGroup.controls['course_dates'].value; index as j"
						[style.backgroundColor]="selectDate===j?'var(--is-light-theme, #ffffff) var(--is-dark-theme, black)':' var(--is-light-theme, #f8f9fb) var(--is-dark-theme, #8e97a7)'"
						[style.color]="item.attended?'#31C044':modified2[user.id]?'#FFCF25':Date(item.date)<today?'#E70F0F':'#C7D0D3'"
						(click)="selectDate=j;getAvail(item)">
						<mat-icon class="icon10">circle</mat-icon>
					</td>
				</ng-container>
			</tr>
			<tr
				*ngIf="!find(courseFormGroup.controls['booking_users'].value,'course_subgroup_id',find(courseFormGroup.controls['course_dates'].value[selectDate].course_groups,'degree_id',level.id).course_subgroups[subgroup_index].id)">
				<td
					style="text-align-last: start;background-color: var(--is-light-theme, #ffffff) var(--is-dark-theme, black);">
					<div class="flexicon" style="font-size: 12px; font-weight: 600;">
						{{"no_user_reserved" | translate}}
					</div>
				</td>
				<td *ngFor="let item of courseFormGroup.controls['course_dates'].value; index as i"
					[style.backgroundColor]="selectDate===i?'var(--is-light-theme, #ffffff) var(--is-dark-theme, black)':' var(--is-light-theme, #f8f9fb) var(--is-dark-theme, #8e97a7)'"
					(click)="selectDate=i;getAvail(item)">
				</td>
			</tr>
		</tbody>
	</table>
</div>
<vex-flux-modal *ngIf="cambiarModal" (Close)="cambiarModal=false" title="Cambiar nivel alumno">
	<div body style="display: flex;flex-wrap: nowrap;">
		<div style="width: 50%; display: flex;">
			<div style="display: flex;
            flex-direction: column;
            gap: 16px;">
				<div class="flexicon">
					<img src="assets/icons/icon/alumno.png" class="icon24">
					{{"students" | translate}}
				</div>
				<mat-checkbox *ngFor="let item of booking_users; let i = index" [checked]="selectUser.includes(item)"
					(change)="onCheckboxChange($event, item)" style="display: flex;">
					<div style="display: flex; gap: 20px;">
						<div>
							<img [src]="item.client.image" style="height: 40px;height: 40px;">
						</div>
						<div>
							<div class="flexicon" style="font-size: 12px;font-weight: 600;">
								{{item.client.first_name}} {{item.client.last_name}}
							</div>
							<span style="font-size: 12px;">
								{{getLanguage(item.client.language1_id)}}
								· {{getCountry(item.client.country)}} ·
								{{calculateAge(item.client.birth_date)}} {{'years' | translate }}
							</span>
						</div>
					</div>
				</mat-checkbox>
				<div *ngIf="courseFormGroup.controls['booking_users'].value.length===0" style="text-align-last: start;">
					<div class="flexicon" style="font-size: 12px;font-weight: 600;">
						{{"no_user_reserved" | translate}}
					</div>
				</div>
			</div>
		</div>
		<div style="width: 50%;">
			<div class="flexicon" style="margin-bottom: 16px;">
				<img src="assets/icons/icon/alumno.png" class="icon24">
				{{'level' | translate}}
			</div>
			<vex-course-detail-nivel [checkbox]="true" [courseFormGroup]="courseFormGroup"
				(changeMonitor)="changeMonitor($event)"></vex-course-detail-nivel>
		</div>
	</div>
	<div footer style="display: flex;width: 100%;padding: 20px 20px 0;">
		<button (click)="cambiarModal=false"
			style="margin-top: 0px !important;height: 38px; width: 128px;margin-left: auto;" mat-button type="button">
			{{'cancel' | translate }}
		</button>
		<!-- <button (click)="cambiarModal=false"
			style="margin-top: 0px !important;height: 38px; width: 128px;margin-left: 20px;"
			color="primary"
			mat-raised-button
			type="button">
			{{'save' | translate }}
		</button> -->
	</div>
</vex-flux-modal>
