.modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

:root {
  --white: var(--is-light-theme, #ffffff) var(--is-dark-theme, black);
  --grey: var(--is-light-theme, #f8f9fb) var(--is-dark-theme, #8e97a7);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  position: absolute;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--color-grey5);
  text-decoration: none;
  cursor: pointer;
}
.modal-background {
  position: fixed;
  z-index: -2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-title {
  color: var(--color-dark1);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  word-wrap: break-word;
  font-family: Dinamit;
  padding-bottom: 16px;
}

.modal-body {
  padding-top: 20px;
}

table {
  table-layout: fixed;
  min-width: 100%;
  td {
    min-width: 90px;
    min-height: 48px;
    text-align-last: center;
  }
  tr > td:first-child {
    min-width: 100px;
  }
  thead {
    td {
      cursor: pointer;
    }
  }
  tbody {
    td {
      padding-left: 10px;
    }
  }
}
table td + td {
  border-left: 1px solid #dee6ea;
}
.flexicon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
button {
  border-radius: 3px !important;
}
td:hover {
  background-color: var(--color-grey5);
}
