<vex-secondary-toolbar current>
  <vex-breadcrumbs [crumbs]="[
    {icon:'cursos'},
    {text:'courses.title', title: true, link: '/courses'},
    {text: id, subtitle: true}
  ]" class="flex-auto"></vex-breadcrumbs>
</vex-secondary-toolbar>

<div [@stagger]="true" class="p-gutter container" style="max-width: none;">
  <div class="flex flex-col sm:flex-row gap-4"
    style="width: 100%; float: left; padding: 2%">
    <div @fadeInUp class="card flex-auto">
      <mat-tab-group>
        <mat-tab label="{{'course' | translate}}">
          <mat-spinner *ngIf="loading" style="margin: 0 auto"></mat-spinner>
          <mat-card style="padding: 3% 5% 0 5%;" *ngIf="!loading">
            <mat-card-header style="display: block;">
              <div style="float: left; width: 100%;">
                <div style="float: left; width: 50%;">
                  <div style="float: left; margin-right: 2%;">
                    <img
                      [src]="'https://api.boukii.com/storage/icons/collectif_' + course?.sport?.name.toLowerCase() + '2x.png'"
                      width="100" height="100" *ngIf="course.course_type === 1">
                    <img
                      [src]="'https://api.boukii.com/storage/icons/prive_' + course?.sport?.name.toLowerCase() + '2x.png'"
                      width="100" height="100" *ngIf="course.course_type === 2">
                  </div>
                  <div style="float: left; width: 75%;">
                    <p><strong>{{courseName}}</strong></p>
                    <p>{{course.course_type === 1 ? 'Collectif' : 'Privee'}}
                      {{course?.sport?.name}}</p>
                    <p>{{course?.station?.name}}</p>
                  </div>
                  <div style="float: right; cursor: pointer;"
                    (click)="goTo('/courses/update/' + id)">
                    <i class="fa fa-edit"
                      style="color: #ff3085; font-size: 30px;"></i>
                  </div>
                </div>
                <div style="float: left; width: 50%;">
                  <div style="float: right; width: 100%;">
                    <div style="float: right; margin: 0 0 0 25px;">
                      <mat-slide-toggle [checked]="course?.options"
                        [disabled]="true">{{'options' |
                        translate}}</mat-slide-toggle>
                    </div>
                    <div style="float: right; margin: 0;">
                      <mat-slide-toggle [checked]="course?.online"
                        [disabled]="true">{{'payment_online' |
                        translate}}</mat-slide-toggle>
                    </div>
                    <div style="float: right; margin: 0 25px 0 0;">
                      <mat-slide-toggle [checked]="course?.active"
                        [disabled]="true">{{'status' |
                        translate}}</mat-slide-toggle>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-header>
            <mat-card-content>
              <div style="float: left; width: 47%; margin: 2% 3% 0 0;">
                <img
                  [src]="course.image ? course.image : '../../../../assets/img/defult.jpg'">
                <ul style="margin: 2% 0 0 0;" *ngIf="course.course_type === 2">
                  <li style="margin: 0 0 2% 0"><strong>{{'dates' |
                      translate}}</strong></li>
                  <li>{{course.course_dates[0].date|date:'dd-MM-yyyy'}},
                    <i
                      style="text-align: right; float: right;">
                      {{course.course_dates[0].hour_start}}h -
                      {{course.course_dates[0].hour_end}}h</i>
                  </li>
                  <li>{{course.course_dates[course.course_dates.length-1].date|date:'dd-MM-yyyy'}},
                    <i
                      style="text-align: right; float: right;">
                      {{course.course_dates[course.course_dates.length-1].hour_start}}h -
                      {{course.course_dates[course.course_dates.length-1].hour_end}}h</i>
                  </li>
                </ul>
                <ul style="margin: 2% 0 0 0;" *ngIf="course.course_type === 1">
                  <li style="margin: 0 0 2% 0"><strong>{{'dates' |
                      translate}}</strong></li>
                  <li
                    *ngFor="let item of course.course_dates">{{item.date|date:'dd-MM-yyyy'}}
                    <i
                      style="text-align: right; float: right;">
                      {{item.hour_start}}h - {{item.hour_end}}h</i>
                  </li>
                </ul>
              </div>
              <div style="width: 50%; margin-top: 2%; float: left;">
                <div style="width: 100%;">
                  <p
                    style="float: left; width: 80%; text-align: left;"><b>{{'summary'
                      | translate}}</b></p>
                  <p
                    style="float: left; width: 20%; text-align: right;"><b>{{'price'
                      | translate}}</b></p>
                </div>
                <div style="width: 100%;">
                  <p style="float: left; width: 50%; text-align: left;"
                    [innerHTML]="shortDescription"></p>
                  <p
                    style="float: left; width: 50%; text-align: right; color: #ff3085"
                    *ngIf="course.course_type === 1 || (course.course_type === 2 && !course.is_flexible)">
                    <b>{{course.price}}</b> {{course.currency}}
                  </p>
                  <p
                    style="float: left; width: 50%; text-align: right; color: #ff3085"
                    *ngIf="course.course_type === 2 && course.is_flexible">
                    <b>{{'from' | translate }} {{firstCombinationValue}}</b>
                    {{course.currency}}
                  </p>
                </div>
              </div>
              <div style="width: 50%; margin-top: 2%; float: left;">
                <div style="width: 100%;">
                  <p
                    style="float: left; width: 80%; text-align: left;"><b>{{'courses.desc'
                      | translate}}</b></p>
                  <p
                    style="float: left; width: 20%; text-align: right;"><b>{{'age'
                      | translate}}</b></p>
                </div>
                <div style="width: 100%;">
                  <p style="float: left; width: 50%; text-align: left;"
                    [innerHTML]="description"></p>
                  <p style="float: left; width: 50%; text-align: right;"
                    *ngIf="course.course_type === 2">
                    {{'from' | translate}} {{course.age_min}} {{'to' |
                    translate}} {{course.age_max}} {{'years' | translate}}
                  </p>
                  <p style="float: left; width: 50%; text-align: right;"
                    *ngIf="course.course_type === 1">
                    {{'from' | translate}} {{ageRange.age_min}} {{'to' |
                    translate}} {{ageRange.age_max}} {{'years' | translate}}
                  </p>
                </div>
              </div>
              <div style="width: 50%; margin-top: 2%; float: left;">
                <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                  <div class="flex-auto">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>{{'courses.date_reservable' |
                        translate}}</mat-label>
                      <input matInput id="dateFrom"
                        [value]="course.date_start_res | date: 'dd-MM-yyyy'"
                        [readonly]="true">
                    </mat-form-field>
                  </div>
                  <div class="flex-auto">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>{{'courses.date_reservable_to' |
                        translate}}</mat-label>
                      <input matInput id="dateTo"
                        [value]="course.date_end_res | date: 'dd-MM-yyyy'"
                        [readonly]="true">
                    </mat-form-field>
                  </div>
                </div>
                <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                  <div class="flex-auto" style="width: 50%; float: left;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>{{'duration' | translate}}</mat-label>
                      <input id="duration" matInput required type="text"
                        placeholder="{{'duration' | translate}}"
                        [value]="shortestDuration" [readonly]="true">
                    </mat-form-field>
                  </div>
                  <div class="flex-auto" style="width: 50%; float: left;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>{{'max_pax' | translate}}</mat-label>
                      <input id="participants" matInput required type="number"
                        [value]="course.max_participants" [readonly]="true">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
