.tabsWrapper {
  ::ng-deep {
    .mat-mdc-tab {
      background-color: var(--color-grey5);
      font-family: var(--font-dm);
      font-size: 0.85rem;
      font-weight: 400;
      line-height: 1.15rem;
      border-bottom: 1px solid var(--color-grey3);
    }

    .mdc-tab-indicator--active {
      background-color: var(--color-white);
      font-family: var(--font-dm);
      font-size: 0.85rem;
      font-weight: 600;
      line-height: 1.15rem;
      border-bottom: none;
    }

    .mat-mdc-tab .mdc-tab__text-label {
      color: var(--color-dark2);
    }

    .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
      color: var(--color-dark1);
    }

    .mat-mdc-tab .mdc-tab-indicator__content--underline {
      border-top-width: 3px;
      align-self: flex-start;
      border-color: var(--color-primary-red);
    }
  }
}

.contents {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  > div {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #8b9099;
    padding: 20px;
    gap: 20px;
    > div {
      width: 100%;
    }
  }
}
