<vex-page-layout>

  <!--<vex-secondary-toolbar>
    <vex-breadcrumbs [crumbs]="[{text: '', icon: 'monitores-2'}, {text: 'list', icon: ''}]" class="flex"></vex-breadcrumbs>
    <button class="ml-2" color="primary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>
  </vex-secondary-toolbar>-->

  <vex-secondary-toolbar current>
    <vex-breadcrumbs [crumbs]="[
    {icon:'monitores-2'},
    {text:'menu.monitors', title: true},
    {text:'list', subtitle: true},
    ]" class="flex"></vex-breadcrumbs>
  </vex-secondary-toolbar>

  <vex-page-layout-content class="-mt-6 fullwidth" [ngClass]="{'table-show-detail': this.showDetail}">
    <vex-aio-table [columns]="columns" [entity]="entity" [deleteEntity]="deleteEntity" [title]="'menu.monitors'"
      [route]="'monitors'" [createComponent]="createComponent" [canDelete]="false" [canDeactivate]="true"
      (showDetailEvent)="showDetailEvent($event)" [with]="['sports', 'monitorsSchools', 'monitorsSchools',
                      'monitorSportsDegrees.monitorSportAuthorizedDegrees.degree', 'user']"
      [filterColumn]="'school_id'" [filterField]="user.schools[0].id" [sectionIcon]="icon"
      [showDetail]="showDetail"></vex-aio-table>
  </vex-page-layout-content>

  <vex-page-layout-content class="fullwidth col-right" *ngIf="showDetail">
    <mat-card>
      <mat-card-header style="display:block">
        <div style="width: 100%;">
          <span style="display: inline-block;width: 80%; text-align: left;">
            <mat-card-title>{{'monitor_detail' | translate}}</mat-card-title>
          </span>
          <span style="display: inline-block;width: 20%; text-align: right;">
            <img src="assets/img/icons/edit.svg" (click)="goTo('/monitors/update/' + detailData.id)" class="btn-edit" />
            <img src="assets/img/icons/close.svg" (click)="showDetail = false" class="btn-close" />
          </span>
        </div>
        <div style="width: 100%; border-top: 1px solid white; margin-top: 5px; padding-top: 5px;">
          <mat-card-subtitle style="width:100%;">
            <div style="width: 60%;display:inline-block;text-align: left; color:#868686;">
              <b>{{ 'register' | translate}}:</b>
              <span style="margin-left: 10px;font-weight: normal;color:white">
                <span style="color: white;">{{detailData.created_at | date: 'dd-MM-yyyy'}}</span>
                <span style="margin-left: 10px;font-style: italic;color:white">
                  {{detailData.created_at | date: 'HH:mm'}}h
                </span>
              </span>
            </div>
            <!-- <div style="width: 40%;display:inline-block;text-align: right;color: white;font-weight: normal;">
              {{ detailData.user.username }} <span style="margin-left: 10px;">({{ detailData.user.first_name + ' ' +  detailData.user.last_name}})</span>
            </div>-->
          </mat-card-subtitle>
        </div>
      </mat-card-header>

      <mat-card-content>
        <div class="title-label">
          <div class="title">
            <b>{{'monitor' | translate }}</b>
          </div>
        </div>
        <div class="holder-client">
          <div class="col-left">
            <img [src]="detailData.image ? detailData.image : '../../../assets/img/avatar.png'" width="60" height="60"
              style="float: left; width: 60px; height: 60px; border-radius: 100%; margin: 0 5px 0 0; object-fit: cover;">
            <!-- <app-level-user
              *ngIf="detailData.degrees_sport && detailData.degrees_sport.length"
              [allLevels]="detailData.degrees_sport"
              [selectLevel]="getClientDegree(detailData?.client_main_id)"
              [size]="60"
              [userImage]="detailData.image !== null && detailData.image !== '' ? detailData.image : imageAvatar"
            ></app-level-user>-->
            <!-- *** app-level-user da error *** -->
          </div>
          <div class="col-right">
            <div class="client-name">
              {{detailData?.first_name}} {{detailData?.last_name}}
            </div>
            <div class="client-dates">
              {{getLanguage(detailData?.language1_id)}} ·
              {{getCountry(detailData?.country)}} ·
              {{calculateAge(detailData?.birth_date)}} {{'years' | translate }}
            </div>
            <div style="display: flex;">
              <vex-icon src="chat">
              </vex-icon>
              <vex-icon src="mail" href="mailto:{{detailData?.email}}" style="cursor:pointer"
                title="{{detailData?.email}}">
              </vex-icon>
              <vex-icon src="phone" href="tel:{{detailData?.phone}}" title="{{detailData?.phone}}">
              </vex-icon>
            </div>
          </div>
        </div>

        <div class="title-label">
          <div class="title">
            <b>{{'sports' | translate }}</b>
          </div>
        </div>

        <div class="deportes-holder">
          <ng-container *ngFor="let item of detailData.monitor_sports_degrees">
            <ng-container *ngIf="item.school_id == user.schools[0].id">
              <div style="width: calc(33.33% - 4px);display:inline-block;vertical-align:top;margin-right:4px;">
                <div style="text-align: center;width: 100%;">
                  <img [src]="item.icon_selected" width="50" height="50"
                    style="border-radius: 6px; border: solid 1px #808080;display:inline-block;"
                    [ngStyle]="{'background-color': item.level?.color}" />
                </div>
                <div style="text-align: center;width: 100%;">{{item?.name}}</div>
                <div style="text-align: center;width: 100%;">
                  <div [ngStyle]="{
                  'color': '#fff',
                  'background-color':item.level?.color,
                  'border-color': item.level?.color,
                  'width': '100%',
                  'padding': '3px',
                  'border-radius': '6px'
                }">
                    <div style="text-align: center;padding: 0px 3px; font-size:12px;filter: invert(1);"
                      [style.color]="item.level?.color">
                      {{item.level?.annotation}}
                      {{item.level?.name}}</div>
                  </div>
                </div>
                <div style="text-align: center;width: 100%; float: left">
                  <span *ngFor="let auth of item.monitor_sport_authorized_degrees">
                    <span style="width: 15px; height: 15px; margin: 4px 0 0 4px;  float: left; border-radius: 3px;"
                      [style.background]="auth?.degree?.color"></span>
                  </span>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>

        <div class="title-label">
          <div class="title">
            <b>{{'data' | translate}}</b>
          </div>
        </div>

        <div class="list-holder">
          <div class="col-left">
            <b>Email</b>
          </div>
          <div class="col-right">
            {{detailData.email}}
          </div>
        </div>
        <div class="list-holder">
          <div class="col-left">
            <b>{{'mobile' | translate}}</b>
          </div>
          <div class="col-right">
            {{detailData.phone}}
          </div>
        </div>
        <div class="list-holder">
          <div class="col-left">
            <b>{{'birth_date' | translate }}</b>
          </div>
          <div class="col-right">
            {{detailData.birth_date | date: 'dd-MM-yyyy'}}
          </div>
        </div>
        <div class="list-holder">
          <div class="col-left">
            <b>{{'address' | translate}}</b>
          </div>
          <div class="col-right">
            {{detailData.address}}, {{detailData.cp}}
          </div>
        </div>
      </mat-card-content>

    </mat-card>
  </vex-page-layout-content>
</vex-page-layout>
