<vex-page-layout>

  <vex-secondary-toolbar>
    <vex-breadcrumbs [crumbs]="['Monitors', 'List']" class="flex-auto"></vex-breadcrumbs>

    <button class="ml-2" color="primary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>
  </vex-secondary-toolbar>
  <vex-page-layout-content class="-mt-6 fullwidth" [ngClass]="{'table-show-detail': this.showDetail}">
      <vex-aio-table [columns]="columns" [entity]="entity" [title]="'Monitors'" [route]="'monitors'" [createComponent]="createComponent"
      (showDetailEvent)="showDetailEvent($event)" [with]="'&with[]=sports'"
      [showDetail]="showDetail"></vex-aio-table>
  </vex-page-layout-content>

  <vex-page-layout-content class="-mt-6 fullwidth" style="width: 35%;float:left" *ngIf="showDetail">
    <mat-card style="padding: 0 3%;">
      <mat-card-header style="display:block">
        <div style="width: 100%;float: left;">
          <mat-icon svgIcon="mat:close" (click)="showDetail = false" style="cursor: pointer;float:right"></mat-icon>
          <mat-icon style="float: left;cursor: pointer;" svgIcon="mat:edit" (click)="goTo('/monitors/update/' + detailData.id)"></mat-icon>

        </div>
        <mat-divider style="float: left;width: 100%;margin: 5% 0 5% 0;"></mat-divider>
      </mat-card-header>
      <mat-card-content>
        <div style="float: left; width: 100%;">
          <div style="float: left; width: 100%;">
            <p style="font-size: 20px;">Moniteur</p>
          </div>
          <div style="float: left;width: 100%;">
            <div style="float: left; width: 20%; margin-top: 5%">
              <img [src]="detailData.image" width="100" height="100" style="border-radius: 100%;">
            </div>
            <div style="float: left; width: 75%;margin:6% 0 0 2%">
              <p><strong>{{detailData?.first_name}} {{detailData?.last_name}} (+3)</strong></p>
              <p>{{getNacionality(detailData?.country)}} · {{getCountry(detailData?.country)}} · {{calculateAge(detailData?.birth_date)}} ans</p>
              <div>
                <mat-icon svgIcon="mat:chat"></mat-icon>
                <mat-icon svgIcon="mat:mail_outline"></mat-icon>
                <mat-icon svgIcon="mat:contact_phone"></mat-icon>
              </div>
            </div>
          </div>
        </div>
        <mat-divider style="float: left;width: 100%;margin: 5% 0 5% 0;"></mat-divider>
        <div style="float: left; width: 100%;">
          <div style="float: left; width: 100%; margin: 0 0 5% 0">
            <p style="font-size: 20px;">Sports</p>
          </div>
          <ng-container *ngFor="let item of monitorSport">
            <div style="float: left; width: 50%;">
              <img [src]="item.icon_selected" width="50" height="50"  style="background: #e6e6e6; border-radius: 10px;border: solid 1px #808080; margin: 0 0 0 37%">
              <p style="text-align: center;">{{item?.name}}</p>
              <div style="float: left; width: 90%; margin: 2% 0 0 0">
                <div >
                  <div [ngStyle]="{
                    'color': '#fff' ,
                    'background-color': item?.level?.color,
                    'border-color': item?.level?.color,
                    'width': '100%',
                    'border-radius': '3px',
                    'margin-left': '2%',
                    'height': '35px',
                    'border-style': 'solid',
                    'border-width': '1px',
                    'float': 'left'
                  }">
                    <p style="text-align: center;font-size: 12px;margin: 3% 0 0 0;">{{item?.level?.annotation}} {{item?.level?.name}}</p>
                  </div>
                </div>
              </div>
            </div>

          </ng-container>
        </div>
        <div style="width:100%; margin-top:5%;float:left">
          <div style="float: left; width: 100%; margin: 0 0 5% 0">
            <p style="font-size: 20px;">Données</p>
          </div>
          <div style="width: 100%;float:left;">
            <p style="float: left;width: 50%;text-align: left;"><b>Email</b></p>
            <p style="float: left;width: 50%;text-align: right;">{{detailData.email}}</p>
          </div>
          <div style="width: 100%;float:left;">
            <p style="float: left;width: 50%;text-align: left;"><b>Teléphone</b></p>
            <p style="float: left;width: 50%;text-align: right;">{{detailData.phone}}</p>
          </div>
          <div style="width: 100%;float:left;">
            <p style="float: left;width: 50%;text-align: left;"><b>Date de Naissance</b></p>
            <p style="float: left;width: 50%;text-align: right;">{{detailData.birth_date | date: 'dd/MM/YYYYY'}}</p>
          </div>
          <div style="width: 100%;float:left;">
            <p style="float: left;width: 30%;text-align: left;"><b>Address</b></p>
            <p style="float: left;width: 70%;text-align: right;">{{detailData.address}}, {{detailData.cp}}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </vex-page-layout-content>
</vex-page-layout>
