<vex-page-layout>

  <!--<vex-secondary-toolbar>
    <vex-breadcrumbs [crumbs]="[{text: '', icon: 'monitores-2'}, {text: 'list', icon: ''}]" class="flex-auto"></vex-breadcrumbs>
    <button class="ml-2" color="primary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>
  </vex-secondary-toolbar>-->

  <vex-secondary-toolbar current="">
    <i class="icon"><img src="../assets/img/icons/monitores-2.svg" /></i>
    <h2 class="title">{{'menu.monitors' | translate}}</h2>
    <h3 class="subtitle">{{'list' | translate}}</h3>
  </vex-secondary-toolbar>

  <vex-page-layout-content class="-mt-6 fullwidth" [ngClass]="{'table-show-detail': this.showDetail}">
      <vex-aio-table [columns]="columns" [entity]="entity" [deleteEntity]="deleteEntity" [title]="'menu.monitors'"
                     [route]="'monitors'" [createComponent]="createComponent" [canDelete]="false" [canDeactivate]="true"
      (showDetailEvent)="showDetailEvent($event)"
                     [with]="['sports', 'monitorsSchools', 'monitorsSchools', 'monitorSportsDegrees.monitorSportAuthorizedDegrees.degree']" [filterColumn]="'school_id'" [filterField]="user.schools[0].id" [sectionIcon]="icon"
      [showDetail]="showDetail"></vex-aio-table>
  </vex-page-layout-content>

  <vex-page-layout-content
    class="fullwidth col-right"
    *ngIf="showDetail"
  >
    <mat-card>
      <mat-card-header style="display:block">
        <div style="width: 100%;">
          <span style="display: inline-block;width: 80%; text-align: left;">
            <mat-card-title>{{'monitor_detail' | translate}}</mat-card-title>
          </span>
          <span style="display: inline-block;width: 20%; text-align: right;">
            <img src="assets/img/icons/edit.svg" (click)="goTo('/monitors/update/' + detailData.id)" class="btn-edit" />
            <img src="assets/img/icons/close.svg" (click)="showDetail = false" class="btn-close" />
          </span>
        </div>
        <div style="width: 100%; border-top: 1px solid white; margin-top: 5px; padding-top: 5px;">
          <mat-card-subtitle style="width:100%;">
            <div style="width: 60%;display:inline-block;text-align: left; color: white;">
              <b>{{ 'register' | translate}}:</b>
              <span style="margin-left: 10px;font-weight: normal;">
                <span>01/08/2024</span><span style="margin-left: 10px;font-style: italic;">11:13h</span>
              </span>
            </div>
            <div style="width: 40%;display:inline-block;text-align: right;color: white;font-weight: normal;">
              Admin <span style="margin-left: 10px;">(Arsene Garcia)</span>
            </div>
          </mat-card-subtitle>
        </div>
      </mat-card-header>

      <mat-card-content>
        <div class="title-label">
          <div class="title">
            <b>{{'monitor' | translate }}</b>
          </div>
        </div>

        <!--<div style="width: 100%;">
          <div style="width: 100%;">
            <div style="width: 20%; margin-top: 5%">
              <img [src]="detailData.image ? detailData.image : '../../../assets/img/avatar.png'" width="100" height="100" style="border-radius: 100%; height: 100px; width: 100px; object-fit: cover;">
            </div>
            <div style="width: 75%;margin:6% 0 0 2%">
              <p><strong>{{detailData?.first_name}} {{detailData?.last_name}}</strong></p>
              <p>{{getLanguage(detailData?.language1_id)}} · {{getCountry(detailData?.country)}} · {{calculateAge(detailData?.birth_date)}} {{'years' | translate }}</p>
              <div>
                <mat-icon svgIcon="logo:message-text" ></mat-icon>
                <a href="mailto:{{detailData?.email}}" style="cursor:pointer" title="{{detailData?.email}}">
                  <mat-icon svgIcon="logo:mail"></mat-icon>
                </a>
                <a href="tel:{{detailData?.phone}}" style="cursor:pointer" title="{{detailData?.phone}}">
                  <mat-icon svgIcon="logo:phone"></mat-icon>
                </a>
              </div>
            </div>
          </div>
        </div>-->

        <div class="holder-client">
          <div class="col-left">
            <!--<img [src]="getClient(detailData.client_main_id)?.image !== null ? getClient(detailData.client_main_id)?.image : imageAvatar" width="100" height="100" style="border-radius: 100%">-->
            <!--<app-level-user
              *ngIf="detailData.degrees_sport && detailData.degrees_sport.length"
              [allLevels]="detailData.degrees_sport"
              [selectLevel]="getClientDegree(detailData?.client_main_id)"
              [size]="60"
              [userImage]="detailData.image !== null && detailData.image !== '' ? detailData.image : imageAvatar"
            ></app-level-user>-->

            <!-- *** app-level-user da error *** -->
          </div>
          <div class="col-right">
            <div class="client-name">
              {{detailData?.first_name}} {{detailData?.last_name}}
            </div>
            <div class="client-dates">
              {{getLanguage(detailData?.language1_id)}} · {{getCountry(detailData?.country)}} · {{calculateAge(detailData?.birth_date)}} {{'years' | translate }}
            </div>
            <div>
              <mat-icon svgIcon="logo:message-text"></mat-icon>
              <a
                href="mailto:{{detailData?.email}}"
                style="cursor:pointer"
                title="{{detailData?.email}}"
              >
                <mat-icon svgIcon="logo:mail"></mat-icon>
              </a>
              <a
                href="tel:{{detailData?.phone}}"
                title="{{detailData?.phone}}"
              >
                <mat-icon svgIcon="logo:phone"></mat-icon>
              </a>
            </div>
          </div>
        </div>

        <div class="title-label">
          <div class="title">
            <b>{{'sports' | translate }}</b>
          </div>
        </div>

        <div class="deportes-holder">
          <ng-container *ngFor="let item of monitorSport">
            <div style="width: calc(33.33% - 4px);display:inline-block;vertical-align:top;margin-right:4px;">
              <div style="text-align: center;width: 100%;"><img [src]="item.icon_selected" width="50" height="50" style="border-radius: 6px; border: solid 1px #808080;display:inline-block;" [ngStyle]="{'background-color': findHighestDegreeIdElement(item.authorized)?.color}" /></div>
              <div style="text-align: center;width: 100%;">{{item?.name}}</div>
              <div style="text-align: center;width: 100%;">
                <div [ngStyle]="{
                  'color': '#fff',
                  'background-color': findHighestDegreeIdElement(item.authorized)?.color,
                  'border-color': findHighestDegreeIdElement(item.authorized)?.color,
                  'width': '100%',
                  'padding': '3px'
                }">
                  <div style="text-align: center;pading: 0px 3px; font-size:12px;">{{findHighestDegreeIdElement(item.authorized)?.annotation}} {{findHighestDegreeIdElement(item.authorized)?.name}}</div>
                </div>
              </div>
              <div style="text-align: center;width: 100%">
                <span *ngFor="let auth of item.authorized">
                  <span style="width: 15px; height: 15px; margin: 4px 0 0 4px" [style.background]="auth?.degree?.color"></span>
                </span>
              </div>
            </div>
          </ng-container>
        </div>

        <div class="title-label">
          <div class="title">
            <b>{{'data' | translate}}</b>
          </div>
        </div>

        <div class="list-holder">
          <div class="col-left">
            <b>Email</b>
          </div>
          <div class="col-right">
            {{detailData.email}}
          </div>
        </div>
        <div class="list-holder">
          <div class="col-left">
            <b>{{'mobile' | translate}}</b>
          </div>
          <div class="col-right">
            {{detailData.phone}}
          </div>
        </div>
        <div class="list-holder">
          <div class="col-left">
            <b>{{'birth_date' | translate }}</b>
          </div>
          <div class="col-right">
            {{detailData.birth_date | date: 'dd/MM/YYYYY'}}
          </div>
        </div>
        <div class="list-holder">
          <div class="col-left">
            <b>{{'address' | translate}}</b>
          </div>
          <div class="col-right">
            {{detailData.address}}, {{detailData.cp}}
          </div>
        </div>
      </mat-card-content>

    </mat-card>
  </vex-page-layout-content>
</vex-page-layout>
