.swiper-container {
  width: 100%;
  overflow: hidden; /* Esto es crucial para ocultar slides adicionales */
}

.swiper-slide {
  width: 25% !important; /* Ajusta este valor según el ancho que quieras para cada slide */
}
::ng-deep .mat-mdc-card-header-text {
  width: 100% !important;
}
