<mat-card>
  <mat-card-header>
    <mat-card-title>
      Tâches planifiées
    </mat-card-title>
    <mat-card-subtitle>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <mat-card >
            <mat-card-header>
              <mat-card-title>
                Task 1
                <i class="fa fa-edit" style="float: right;font-size: 15px; color:green"></i>
                <i class="fa fa-trash" style="float: right;font-size: 15px;margin: 0 10px 0 0;color:red"></i>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Mensaje de bienvenida, meteorología, etc</p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="swiper-slide">
          <mat-card >
            <mat-card-header>
              <mat-card-title>
                Task 1
                <i class="fa fa-edit" style="float: right;font-size: 15px; color:green"></i>
                <i class="fa fa-trash" style="float: right;font-size: 15px;margin: 0 10px 0 0;color:red"></i>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Mensaje de bienvenida, meteorología, etc</p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="swiper-slide">
          <mat-card >
            <mat-card-header>
              <mat-card-title>
                Task 1
                <i class="fa fa-edit" style="float: right;font-size: 15px; color:green"></i>
                <i class="fa fa-trash" style="float: right;font-size: 15px;margin: 0 10px 0 0;color:red"></i>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Mensaje de bienvenida, meteorología, etc</p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="swiper-slide">
          <mat-card >
            <mat-card-header>
              <mat-card-title>
                Task 1
                <i class="fa fa-edit" style="float: right;font-size: 15px; color:green"></i>
                <i class="fa fa-trash" style="float: right;font-size: 15px;margin: 0 10px 0 0;color:red"></i>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Mensaje de bienvenida, meteorología, etc</p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="swiper-slide">
          <mat-card >
            <mat-card-header>
              <mat-card-title>
                Task 1
                <i class="fa fa-edit" style="float: right;font-size: 15px; color:green"></i>
                <i class="fa fa-trash" style="float: right;font-size: 15px;margin: 0 10px 0 0;color:red"></i>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Mensaje de bienvenida, meteorología, etc</p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="swiper-slide">
          <mat-card >
            <mat-card-header>
              <mat-card-title>
                Task 1
                <i class="fa fa-edit" style="float: right;font-size: 15px; color:green"></i>
                <i class="fa fa-trash" style="float: right;font-size: 15px;margin: 0 10px 0 0;color:red"></i>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Mensaje de bienvenida, meteorología, etc</p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="swiper-slide">
          <mat-card >
            <mat-card-header>
              <mat-card-title>
                Task 1
                <i class="fa fa-edit" style="float: right;font-size: 15px; color:green"></i>
                <i class="fa fa-trash" style="float: right;font-size: 15px;margin: 0 10px 0 0;color:red"></i>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Mensaje de bienvenida, meteorología, etc</p>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
      <!-- Flechas de navegación -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </mat-card-content>
</mat-card>
