<div class="stepper">
  <!-- Paso 1 -->
  <div *ngIf="currentStep === 0">
    <booking-step-one [initialData]="stepperForm.get('step1')?.value" [allLevels]="allLevels"
      (stepCompleted)="handleStepCompletion(1, $event)">
    </booking-step-one>
  </div>

  <div *ngIf="currentStep === 1">
    <booking-step-two [initialData]="stepperForm.get('step2')?.value"
      [client]="stepperForm.get('step1')?.value?.mainClient" [allLevels]="allLevels"
      (stepCompleted)="handleStepCompletion(2, $event)" (prevStep)="previousStep()">
    </booking-step-two>
  </div>

  <div *ngIf="currentStep === 2">
    <booking-step-three [initialData]="stepperForm.get('step3')?.value"
      [utilizers]="stepperForm.get('step2')?.value?.utilizers" (stepCompleted)="handleStepCompletion(3, $event)"
      (prevStep)="previousStep()">
    </booking-step-three>
  </div>

  <div *ngIf="currentStep === 3">
    <booking-step-four [initialData]="stepperForm.get('step4')?.value"
      [client]="stepperForm.get('step1')?.value?.mainClient" [sportLevel]="stepperForm.get('step3')?.value?.sportLevel"
      [utilizers]="stepperForm.get('step2')?.value?.utilizers" [activitiesBooked]="activitiesBooked"
      [selectedForm]="selectedForm" (stepCompleted)="handleStepCompletion(4, $event)" (prevStep)="previousStep()">
    </booking-step-four>
  </div>

  <ng-container *ngIf="currentStep === 4">
    <booking-step-details [initialData]="stepperForm.get('step5')?.value.course_dates"
      [course]="stepperForm.get('step4')?.value?.course" [date]="stepperForm.get('step4')?.value?.date"
      [sportLevel]="stepperForm.get('step3')?.value?.sportLevel"
      [utilizers]="stepperForm.get('step2')?.value?.utilizers" [activitiesBooked]="activitiesBooked"
      [selectedForm]="selectedDates" (stepCompleted)="handleStepCompletion(5, $event)" (prevStep)="previousStep()">
    </booking-step-details>
  </ng-container>

  <ng-container *ngIf="currentStep === 5">
    <booking-step-observations [initialData]="stepperForm.get('step6')?.value"
      (stepCompleted)="handleStepCompletion(6, $event)" (prevStep)="previousStep()">
    </booking-step-observations>
  </ng-container>
</div>