<form class="wrapper">
  <div class="row1">
    <mat-form-field appearance="outline">
      <mat-label>{{ "date" | translate }} *</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ "hour" | translate }} *</mat-label>
      <mat-select>
        <mat-option *ngFor="let hour of posibleHours" [value]="hour">{{
          hour.description
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ "duration" | translate }} *</mat-label>
      <input matInput *ngIf="!course.is_flexible" disabled value="1h" />

      <mat-select *ngIf="course.is_flexible">
        <mat-option
          *ngFor="let duration of posibleDurations"
          [value]="duration"
          >{{ duration.description }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row2">
    <mat-form-field appearance="outline">
      <mat-label>{{ "monitor" | translate }}</mat-label>
      <mat-select [(value)]="selectedMonitor">
        <mat-option *ngFor="let monitor of posibleMonitors" [value]="monitor">
          {{ monitor.first_name }} {{ monitor.last_name }}
        </mat-option>
      </mat-select>
      <mat-icon matPrefix fontSet="material-icons-outlined">school</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ "select_monitor" | translate }}</mat-label>
      <mat-select [(value)]="selectedPosibleMonitor">
        <mat-select-trigger *ngIf="selectedPosibleMonitor">
          <mat-icon
            matPrefix
            [class]="selectedPosibleMonitor.class"
            fontSet="material-icons-outlined"
            >{{ selectedPosibleMonitor.icon }}
          </mat-icon>
          {{ selectedPosibleMonitor.description | translate }}
        </mat-select-trigger>
        <mat-option
          *ngFor="let posibleMonitor of posibleMonitorSelection"
          [value]="posibleMonitor"
        >
          <mat-icon
            [class]="posibleMonitor.class"
            fontSet="material-icons-outlined"
            >{{ posibleMonitor.icon }}</mat-icon
          >
          {{ posibleMonitor.description | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row3" *ngFor="let utilizer of utilizers; let i = index">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ "participant" | translate }} {{ i + 1 }} </mat-label>
        <input
          matInput
          disabled
          [value]="utilizer.first_name + ' ' + utilizer.last_name"
        />
        <mat-icon
          class="disabled-icon"
          matPrefix
          fontSet="material-icons-outlined"
          >people</mat-icon
        >
      </mat-form-field>
    </div>
    <div>
      <div class="extra-field-wrapper">
        <mat-form-field appearance="outline" class="extras-field">
          <mat-label>{{ "extras" | translate }} </mat-label>
          <mat-select multiple>
            <!-- // TODO: mostrar bien los extras en el trigger cuando estos datos esten bindeados a una variable    
              <mat-select-trigger> 

             </mat-select-trigger> -->
            <mat-option
              class="extra-field-option"
              *ngFor="let extra of posibleExtras"
              [value]="extra"
            >
              <span>{{ extra.description }} </span>
              <span> {{ extra.price }} </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- // TODO: quitar hardcoded y mostrar bien los precios cuando esten seteados en alguna variable calculada   
          -->
        <span class="extras-price"> {{ extraPrice[i] }} </span>
      </div>
    </div>
  </div>
</form>
