<div class="dialogHeader">
  <h5>
    {{ "add_participant" | translate }}
  </h5>
  <mat-icon fontSet="material-icons-outlined" mat-dialog-close class="closeButton">close</mat-icon>
</div>

<mat-dialog-content>
  <form [formGroup]="stepForm">
    <div class="newUtilizerSection">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>{{ "name" | translate }}</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ "surname" | translate }}</mat-label>
          <input matInput formControlName="surname" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ "birth_date" | translate }}</mat-label>
          <input matInput required readonly (click)="picker.open()" [matDatepicker]="picker" [max]="today"
            formControlName="birthDate" />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ "langs" | translate }} </mat-label>
          <mat-select multiple formControlName="lenguages">
            <mat-option *ngFor="let language of languages" [value]="language">
              {{ language.name | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<div class="buttonsWrapper">

  <app-form-button form="back" mat-dialog-close name="cancel">
  </app-form-button>
  <app-form-button [disabled]="!isFormValid()" form="flat" name="confirm" (click)="handleConfirm()">
  </app-form-button>
</div>