h5 {
  font-family: var(--font-dinamit);
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1.15rem;
  color: var(--color-dark1);
}

.dialogHeader {
  padding: 1.15rem 1.25rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-grey3);

  .closeButton {
    cursor: pointer;
  }
}

.searchInput {
  width: 100%;
  margin-bottom: 1.85rem;
}

.newUtilizerSection {
  > div {
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 1.15rem 1.25rem;
}

::ng-deep {
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
  .mat-mdc-form-field {
    width: calc(50% - 0.65rem);
  }
}
