<vex-secondary-toolbar current="Bookings">
  <vex-breadcrumbs [crumbs]="['Bookings', 'Nouvelle réservation']" class="flex-auto"></vex-breadcrumbs>
  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon svgIcon="mat:more_vert"></mat-icon>
  </button>
</vex-secondary-toolbar>
<div [@stagger]="true" class="p-gutter container" style="max-width: none;" *ngIf="!loading" [hidden]="bookingComplete">
  <div class="flex flex-col sm:flex-row gap-4" style="width: 65%">
    <div @fadeInUp class="card flex-auto" style="width: 65%">
      <div class="px-6 py-4 border-b flex items-center">
        <h2 class="title m-0">Nouvelle réservation</h2>
      </div>
      <div class="px-6 py-4 flex flex-col" [formGroup]="form">
        <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
          <mat-form-field class="client-search-container">
            <mat-label>Client</mat-label>
            <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="clientsForm" [matAutocomplete]="auto" />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let client of filteredOptions | async" [value]="client">
                {{client.full_name}}
              </mat-option>
            </mat-autocomplete>
            <mat-icon matPrefix svgIcon="mat:person"></mat-icon>
          </mat-form-field>

          <div class="flex-auto">
            <button color="primary" mat-raised-button type="button" class="client-button"> Nuevo cliente </button>
          </div>
       </div>

       <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
          <mat-card class="card-users" (click)="toggleBorder()" [ngClass]="{'active-border': borderActive}">
            <mat-card-header>
              <div mat-card-avatar class="card-avatar"></div>

            </mat-card-header>
            <mat-card-content>
              <mat-card-title>Mirko Maternini</mat-card-title>
              <mat-card-subtitle>FR · 43 años · Switzerland</mat-card-subtitle>
            </mat-card-content>
            <mat-card-actions>
              <!-- Botones de acción, si son necesarios -->
            </mat-card-actions>
          </mat-card>
          <mat-card class="card-users" (click)="toggleBorder()" >
            <mat-card-header>
              <div mat-card-avatar class="card-avatar"></div>

            </mat-card-header>
            <mat-card-content>
              <mat-card-title>Mirko Maternini</mat-card-title>
              <mat-card-subtitle>FR · 43 años · Switzerland</mat-card-subtitle>
            </mat-card-content>
            <mat-card-actions>
              <!-- Botones de acción, si son necesarios -->
            </mat-card-actions>
          </mat-card>
          <mat-card class="card-users" (click)="toggleBorder()">
            <mat-card-header>
              <div mat-card-avatar class="card-avatar"></div>

            </mat-card-header>
            <mat-card-content>
              <mat-card-title>Mirko Maternini</mat-card-title>
              <mat-card-subtitle>FR · 43 años · Switzerland</mat-card-subtitle>
            </mat-card-content>
            <mat-card-actions>
              <!-- Botones de acción, si son necesarios -->
            </mat-card-actions>
          </mat-card>

          <mat-card class="card-users" (click)="toggleBorder()">
            <mat-card-header>
              <button mat-fab color="accent" style="margin: 0 auto;position: relative;top: 20px;right: 35%;">
                <mat-icon class="icon-sm" svgIcon="mat:add"></mat-icon>
              </button>

            </mat-card-header>
            <mat-card-content>
              <mat-card-title style="text-align: center;position: relative;top: 100%;">Nuevo usuario</mat-card-title>
            </mat-card-content>
            <mat-card-actions>
              <!-- Botones de acción, si son necesarios -->
            </mat-card-actions>
          </mat-card>
        </div>

        <mat-divider class="text-border" style="margin: 10px 0 10px 0"></mat-divider>

        <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
          <div class="flex-auto">
            <mat-radio-group aria-label="Select an option" formControlName="sportType" (change)="filterSportsByType()">
              <mat-radio-button *ngFor="let sport of mockSportType" class="mr-4" [value]="sport.id">{{sport.name}}</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="flex-auto" *ngIf="sportTypeSelected > -1">
            <div style="float:left">
              <span style="width: 100%;float: left;">
                <img style="background: #E6E6E6; float:left;border-radius: 20%;" src="https://school.boukii.com/assets/apps/sports/Ski.png">
              </span>
              <p style="text-align: center;">ski</p>
            </div>
            <div style="float:left;margin:0 0 0 10%">
              <span style="width: 100%;float: left;">
                <img style="background: #E6E6E6; float:left;border-radius: 20%;" src="https://school.boukii.com/assets/apps/sports/Snowboard.png">
              </span>
              <p style="text-align: center;">Snowboard</p>
            </div>
            <div style="float:left;margin:0 0 0 10%">
              <span style="width: 100%;float: left;">
                <img style="background: #E6E6E6; float:left;border-radius: 20%;" src="https://school.boukii.com/assets/apps/sports/Ski_randonée.png">
              </span>
              <p style="text-align: center;">Ski randonée</p>
            </div>
            <div style="float:left;margin:0 0 0 10%">
              <span style="width: 100%;float: left;">
                <img style="background: #E6E6E6; float:left;border-radius: 20%;" src="https://school.boukii.com/assets/apps/sports/Raquettés.png">
              </span>
              <p style="text-align: center;">Raquettés</p>
            </div>
          </div>
        </div>
        <mat-divider class="text-border" style="margin: 10px 0 10px 0"></mat-divider>

        <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">

          <div class="flex-auto" style="width:20%">
            <mat-card class="custom-card" [class.selected-collectif]="courseType === 'collectif'" (click)="setCourseType('collectif')">
              <mat-card-content>
                <p>Cours Collectif</p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="flex-auto" style="width:20%">
            <mat-card class="custom-card" [class.selected-prive]="courseType === 'privee'" (click)="setCourseType('privee')">
              <mat-card-content>
                <p>Cours Privés</p>
              </mat-card-content>
            </mat-card>
          </div>
          <mat-form-field class="flex-auto" style="width: 48%">
            <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="levelForm" [matAutocomplete]="autoLevel" />
            <mat-autocomplete #autoLevel="matAutocomplete" [displayWith]="displayFnLevel">
              <mat-option *ngFor="let level of filteredLevel | async" [value]="level">
                {{level.annotation}} - {{level.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-icon matPrefix svgIcon="mat:person"></mat-icon>
          </mat-form-field>
        </div>

        <mat-divider class="text-border" style="margin: 10px 0 10px 0"></mat-divider>
        <mat-form-field class="flex-auto" style="width: 50%"  *ngIf="courseType !== null && courseType === 'privee'">
          <input matInput [matDatepicker]="pickerFrom" placeholder="Select a date" formControlName="fromDate">
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom [startAt]="minDate"></mat-datepicker>
        </mat-form-field>

        <div class="columns-container" *ngIf="courseType !== null">
          <!-- Columna de la lista -->
          <div class="list-column" *ngIf="courseType === 'privee'">
            <div class="list-overflow-container">
              <mat-list class="list mat-elevation-z1">
                <mat-list-item class="custom-list-item" *ngFor="let course of mockCourses" (click)="selectItem(course)" [ngClass]="{'selected-item': selectedItem === course}">
                  <div class="avatar-container">
                    <img mat-list-avatar class="custom-avatar" [src]="course.icon" />
                  </div>
                  <div class="content-container">
                    <div class="title-container">
                      <h3 class="title" style="width: 70%;float: left;">{{ course.name | uppercase}}</h3>
                      <h3 class="price">
                        {{course.price}} {{ course.currency }}
                      </h3>
                    </div>
                    <p>{{course.subtitle}}</p>
                    <p>
                      {{course.date_start_format}} - {{course.date_end_format}}
                    </p>
                    <p>
                      {{course.day_start_res}} - {{course.day_end_res}}
                    </p>
                    <p>
                      {{course.duration}}
                    </p>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>
          </div>

          <div class="list-column" *ngIf="courseType === 'collectif'">
            <div class="list-overflow-container">
              <mat-list class="list mat-elevation-z1">
                <mat-list-item class="custom-list-item" *ngFor="let course of mockCourses" (click)="selectItem(course)" [ngClass]="{'selected-item': selectedItem === course}">
                  <div class="avatar-container">
                    <img mat-list-avatar class="custom-avatar" [src]="course.icon" />
                  </div>
                  <div class="content-container">
                    <div class="title-container">
                      <h3 class="title" style="width: 70%;float: left;">{{ course.name | uppercase}}</h3>
                      <h3 class="price">
                        {{course.price}} {{ course.currency }}
                      </h3>
                    </div>
                    <p>{{course.subtitle}}</p>
                    <div style="float: left; width: 100%;margin-top: 5%;">
                      <ul>
                        <li>07-01-2024 09:00 <i>09h30 - 11h00</i></li>
                        <li>14-01-2024 09:00 <i>09h30 - 11h00</i></li>
                        <li>21-01-2024 09:00 <i>09h30 - 11h00</i></li>
                        <li>28-01-2024 09:00 <i>09h30 - 11h00</i></li>
                        <li>04-02-2024 09:00 <i>09h30 - 11h00</i></li>
                      </ul>
                    </div>
                    <div style="float: left; width: 100%;margin-top: 5%;">
                      <div style="float: left;width: 95%;margin: 0 10px 0 0;">
                        <div style="background: #2D9BF0;width: 60%;text-align: center;padding: 5%;color: #fff">
                          RB-ROI / REINE BLEU
                        </div>
                        <div >
                          Sous-groupe 1
                        </div>
                      </div>
                      <div style="float: left;width: 70%;">

                        <div style="float: left; width: 20%;">
                          <img [src]="userAvatar">
                        </div>
                        <div style="float: left; width: 80%;">
                          <p style="margin: 0 0 0 10px;">Arsène Garcia</p>
                          <p style="font-size:8px;margin: 0 0 0 10px;"><i>FR · Switzerland · 39 ans</i></p>
                        </div>
                      </div>

                    </div>
                  </div>
                </mat-list-item>


              </mat-list>
            </div>
          </div>


          <!-- Columna del calendario -->
          <div class="calendar-column" *ngIf="courseType === 'collectif'">
            <mat-calendar class="smaller-calendar" [startAt]="minDate" [minDate]="minDate" [(selected)]="selectedDate"></mat-calendar>

          </div>

          <div class="calendar-column" *ngIf="courseType === 'privee'">.

            <ng-container>
              <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">

                <div class="flex-auto">
                  <mat-checkbox color="accent" [checked]="false">Fecha única</mat-checkbox>
                </div>
                <div class="flex-auto">
                  <mat-checkbox color="accent" [checked]="true">Varias fechas</mat-checkbox>
                </div>
                <div class="flex-auto">
                  <mat-checkbox color="accent" [checked]="true">Mismo profesor</mat-checkbox>
                </div>
              </div>

              <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                <mat-form-field class="flex-auto">
                  <mat-label>Fecha</mat-label>
                  <mat-select [formControl]="dateControl">
                    <mat-option *ngFor="let date of dates" [value]="date">{{ date }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="flex-auto">
                  <mat-label>Hora</mat-label>
                  <mat-select [formControl]="timeControl">
                    <mat-option *ngFor="let time of times" [value]="time">{{ time }}</mat-option>
                  </mat-select>
                </mat-form-field>

                </div>

              <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">


                <mat-form-field class="flex-auto">
                  <mat-label>Duración</mat-label>
                  <mat-select [formControl]="durationControl">
                    <mat-option *ngFor="let duration of durations" [value]="duration">{{ duration }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="flex-auto">
                  <mat-label>Personas</mat-label>
                  <mat-select [formControl]="personsControl">
                    <mat-option *ngFor="let person of persons" [value]="person">{{ person }}</mat-option>
                  </mat-select>
                </mat-form-field>
                </div>

              <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">

                <mat-form-field class="flex-auto">
                  <mat-label>Chercher Moniteur</mat-label>
                  <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="monitorsForm" [matAutocomplete]="autoMoniteur" />
                  <mat-autocomplete #autoMoniteur="matAutocomplete" [displayWith]="displayFnMoniteurs">
                    <mat-option *ngFor="let monitor of filteredMonitors | async" [value]="monitor">
                      {{monitor.full_name}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-icon matPrefix svgIcon="mat:person"></mat-icon>
                </mat-form-field>
              </div>
              <mat-divider class="text-border"></mat-divider>
            </ng-container>
            <ng-container>
              <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">

                <div class="flex-auto">
                  <mat-checkbox color="accent" [checked]="false">Fecha única</mat-checkbox>
                </div>
                <div class="flex-auto">
                  <mat-checkbox color="accent" [checked]="true">Varias fechas</mat-checkbox>
                </div>
                <div class="flex-auto">
                  <mat-checkbox color="accent" [checked]="true">Mismo profesor</mat-checkbox>
                </div>
              </div>

              <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                <mat-form-field class="flex-auto">
                  <mat-label>Fecha</mat-label>
                  <mat-select [formControl]="dateControl">
                    <mat-option *ngFor="let date of dates" [value]="date">{{ date }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="flex-auto">
                  <mat-label>Hora</mat-label>
                  <mat-select [formControl]="timeControl">
                    <mat-option *ngFor="let time of times" [value]="time">{{ time }}</mat-option>
                  </mat-select>
                </mat-form-field>

                </div>

              <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">


                <mat-form-field class="flex-auto">
                  <mat-label>Duración</mat-label>
                  <mat-select [formControl]="durationControl">
                    <mat-option *ngFor="let duration of durations" [value]="duration">{{ duration }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="flex-auto">
                  <mat-label>Personas</mat-label>
                  <mat-select [formControl]="personsControl">
                    <mat-option *ngFor="let person of persons" [value]="person">{{ person }}</mat-option>
                  </mat-select>
                </mat-form-field>
                </div>

              <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">

                <mat-form-field class="flex-auto">
                  <mat-label>Chercher Moniteur</mat-label>
                  <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="monitorsForm" [matAutocomplete]="autoMoniteur" />
                  <mat-autocomplete #autoMoniteur="matAutocomplete" [displayWith]="displayFnMoniteurs">
                    <mat-option *ngFor="let monitor of filteredMonitors | async" [value]="monitor">
                      {{monitor.full_name}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-icon matPrefix svgIcon="mat:person"></mat-icon>
                </mat-form-field>
              </div>
              <mat-divider class="text-border"></mat-divider>
            </ng-container>
          </div>
        </div>
        <div class="flex items-center justify-end gap-2">
          <button mat-button type="button">Cancelar</button>
          <!-- Added (click) event here -->
          <button color="primary" mat-raised-button type="button" (click)="save()"> Guardar </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div [@stagger]="true" class="p-gutter container" style="max-width: none;padding: 0.5%;" [hidden]="!bookingComplete">
  <div class="flex flex-col sm:flex-row gap-4">
    <div class="column-container">
      <!-- Aquí añade tu otro contenedor o lo que necesites -->
      <div class="card-container">
        <!-- Nuevo contenedor para las cards -->
        <div @fadeInUp class="card flex-auto" style="padding: 1px;">
          <div class="px-6 py-4 border-b flex items-center">
            <h2 class="title m-0">Information de la réserve</h2>
          </div>
          <mat-card class="reservation-detail-card">
            <div>
              <p style="padding: 5%;width: 40%;float: left;font-size: 13px;">Participant</p>
              <p style="padding: 5% 5% 0 0;width: 60%;float: left;font-size: 13px;text-align: right;font-weight: 500;color:#8fd14f">{{'payment effectué' | uppercase }}</p>
            </div>

            <mat-card-header>

              <button mat-icon-button color="warn" class="delete-icon">
                <mat-icon svgIcon="mat:delete"></mat-icon>
              </button>
              <div mat-card-avatar [style.background-image]="'url(' + userAvatar + ')'"></div>
              <mat-card-subtitle>Maternini Mirko</mat-card-subtitle>
              <mat-card-subtitle>FR · Switzerland · 43 ans</mat-card-subtitle>
            </mat-card-header>

            <mat-divider class="text-border"></mat-divider>
            <p style="padding: 5%;width: 40%;float: left;font-size: 13px; font-weight: bold;">Course</p>

            <mat-card-header>
              <div mat-card-avatar [style.background-image]="'url(' + imagePath + ')'" style="border-radius: 5px"></div>
              <mat-card-title class="mat-mdc-card-title">
                <div style="float: left;width: 70%;font-size: 14px;"> Título de la Reserva </div>
                <div class="ng-tns-c545279033-6" style="float: left;font-size: 14px;width: 30%;text-align: right;color: #EA0C60;"> 168 CHF </div>
            </mat-card-title>
              <mat-card-subtitle style="margin: 0">collectife Ski</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <ul style="font-size: 12px;padding: 0 0 0 18%;">
                <li *ngFor="let date of reservedDates">
                  <mat-icon style="height: 15px;width: 20px;" svgIcon="mat:calendar_today"></mat-icon>{{ date | date:'fullDate' }}
                </li>
              </ul>
              <div style="float: left;width: 100%;">
                <div class="user-info">
                  <img [src]="userAvatar" alt="Avatar de usuario" class="user-avatar" />
                  <span>{{ userName }}</span>
                </div>
                <div class="flex-auto" style="float: left;width: 15%;">
                  <mat-icon style="height: 60px;width: 36px;" svgIcon="mat:location_on"></mat-icon>
                </div>
                <mat-form-field class="flex-auto" style="float: left;width: 85%;">
                  <mat-select>
                    <mat-option value="Dirección predeterminada">Dirección predeterminada</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <mat-divider style="float: left;width: 100%;" class="text-border"></mat-divider>

              <p style="padding: 5%;width: 40%;float: left;font-size: 13px; font-weight: bold;">Opciones</p>

              <div style="width: 100%; float:left">
                <div style="width: 100%; float:left;background: #e6e6e6;padding: 2%; margin-bottom: 15px;">
                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <div style="width: 65%;">
                      <mat-slide-toggle>Alquiler material</mat-slide-toggle>
                    </div>
                    <div>
                      <p>+ 168 CHF</p>
                    </div>
                  </div>

                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <ul>
                      <li><mat-checkbox color="accent" [checked]="false">Casque</mat-checkbox></li>
                      <li><mat-checkbox color="accent" [checked]="true">Gants</mat-checkbox></li>
                      <li><mat-checkbox color="accent" [checked]="true">Skis</mat-checkbox></li>
                      <li><mat-checkbox color="accent" [checked]="true">Botes</mat-checkbox></li>
                      <li><mat-checkbox color="accent" [checked]="true">Batons</mat-checkbox></li>
                    </ul>
                  </div>
                </div>

                <div style="width: 100%; float:left;background: #e6e6e6;padding: 2%; margin-bottom: 15px;">
                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <div style="width: 65%;">
                      <mat-slide-toggle>Alquiler material</mat-slide-toggle>
                    </div>
                    <div>
                      <p>+ 168 CHF</p>
                    </div>
                  </div>


                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <div class="flex-auto">
                      <mat-checkbox color="accent" [checked]="false">Media Jornada</mat-checkbox>
                    </div>
                    <div class="flex-auto">
                      <mat-checkbox color="accent" [checked]="false">Jornada completa</mat-checkbox>
                    </div>
                  </div>
                </div>

                <div style="width: 100%; float:left;background: #e6e6e6;padding: 2%; margin-bottom: 15px;">
                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <div style="width: 65%;">
                      <mat-slide-toggle>Comida</mat-slide-toggle>
                    </div>
                    <div>
                      <p>+ 168 CHF</p>
                    </div>
                  </div>

                </div>

                <div style="width: 100%; float:left;background: #e6e6e6;padding: 2%;">
                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <div style="width: 65%;">
                      <mat-slide-toggle>Transporte</mat-slide-toggle>
                    </div>
                    <div>
                      <p>+ 168 CHF</p>
                    </div>
                  </div>
                </div>
              </div>
              <div style="width: 100%;float:left; margin-top: 10px">
                <div>
                  <p style="width: 78%;float: left;">Total Opciones</p>
                  <p style="color: #EA0C60;">151 CHF</p>
                </div>
              </div>

              <mat-divider style="float: left;width: 100%;" class="text-border"></mat-divider>

              <div style="width: 100%;float:left;">

                <div>
                  <p style="width: 78%;font-size: 21px;float:left">Total Reserva</p>
                  <p style="color: #EA0C60;">352 CHF</p>
                </div>
              </div>
              <mat-divider style="float: left;width: 100%;" class="text-border"></mat-divider>

              <div style="width: 100%;float:left;margin: 20px 0 0 0;">

                <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">

                  <mat-form-field class="flex-auto">
                    <mat-label>Remarques client</mat-label>
                    <input formControlName="observations" matInput required type="text">

                  </mat-form-field>

                </div>

                <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">

                  <mat-form-field class="flex-auto">
                    <mat-label>Remarques ecole</mat-label>
                    <input formControlName="observations_school" matInput required type="text">

                  </mat-form-field>

                </div>

              </div>
              <mat-divider style="float: left;width: 100%;" class="text-border"></mat-divider>
              <div style="width: 100%;float:left;margin: 20px 0 0 0;">
                <p style="font-size: 12px;"><strong>Enregistrée</strong>: 31/10/2023 14:40 / Mirko Maternini</p>
                <p style="font-size: 12px;"><strong>Desde donde:</strong>: Admin</p>
                <p style="font-size: 12px;"><strong>Por</strong>: Mirko Maternini</p>
              </div>
            </mat-card-content>
          </mat-card>


          <mat-card class="reservation-detail-card">
            <div>
              <p style="padding: 5%;width: 40%;float: left;font-size: 13px;">Participant</p>
              <p style="padding: 5% 5% 0 0;width: 60%;float: left;font-size: 13px;text-align: right;font-weight: 500;color:#8fd14f">{{'payment effectué' | uppercase }}</p>
            </div>

            <mat-card-header>

              <button mat-icon-button color="warn" class="delete-icon">
                <mat-icon svgIcon="mat:delete"></mat-icon>
              </button>
              <div mat-card-avatar [style.background-image]="'url(' + userAvatar + ')'"></div>
              <mat-card-subtitle>Maternini Mirko</mat-card-subtitle>
              <mat-card-subtitle>FR · Switzerland · 43 ans</mat-card-subtitle>
            </mat-card-header>

            <mat-divider class="text-border"></mat-divider>
            <p style="padding: 5%;width: 40%;float: left;font-size: 13px; font-weight: bold;">Course</p>

            <mat-card-header>
              <div mat-card-avatar [style.background-image]="'url(' + imagePath + ')'" style="border-radius: 5px"></div>
              <mat-card-title class="mat-mdc-card-title">
                <div style="float: left;width: 70%;font-size: 14px;"> Título de la Reserva </div>
                <div class="ng-tns-c545279033-6" style="float: left;font-size: 14px;width: 30%;text-align: right;color: #EA0C60;"> 168 CHF </div>
            </mat-card-title>
              <mat-card-subtitle style="margin: 0">collectife Ski</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <ul style="font-size: 12px;padding: 0 0 0 18%;">
                <li *ngFor="let date of reservedDates">
                  <mat-icon style="height: 15px;width: 20px;" svgIcon="mat:calendar_today"></mat-icon>{{ date | date:'fullDate' }}
                </li>
              </ul>
              <div style="float: left;width: 100%;">
                <div class="user-info">
                  <img [src]="userAvatar" alt="Avatar de usuario" class="user-avatar" />
                  <span>{{ userName }}</span>
                </div>
                <div class="flex-auto" style="float: left;width: 15%;">
                  <mat-icon style="height: 60px;width: 36px;" svgIcon="mat:location_on"></mat-icon>
                </div>
                <mat-form-field class="flex-auto" style="float: left;width: 85%;">
                  <mat-select>
                    <mat-option value="Dirección predeterminada">Dirección predeterminada</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <mat-divider style="float: left;width: 100%;" class="text-border"></mat-divider>

              <p style="padding: 5%;width: 40%;float: left;font-size: 13px; font-weight: bold;">Opciones</p>

              <div style="width: 100%; float:left">
                <div style="width: 100%; float:left;background: #e6e6e6;padding: 2%; margin-bottom: 15px;">
                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <div style="width: 65%;">
                      <mat-slide-toggle>Alquiler material</mat-slide-toggle>
                    </div>
                    <div>
                      <p>+ 168 CHF</p>
                    </div>
                  </div>

                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <ul>
                      <li><mat-checkbox color="accent" [checked]="false">Casque</mat-checkbox></li>
                      <li><mat-checkbox color="accent" [checked]="true">Gants</mat-checkbox></li>
                      <li><mat-checkbox color="accent" [checked]="true">Skis</mat-checkbox></li>
                      <li><mat-checkbox color="accent" [checked]="true">Botes</mat-checkbox></li>
                      <li><mat-checkbox color="accent" [checked]="true">Batons</mat-checkbox></li>
                    </ul>
                  </div>
                </div>

                <div style="width: 100%; float:left;background: #e6e6e6;padding: 2%; margin-bottom: 15px;">
                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <div style="width: 65%;">
                      <mat-slide-toggle>Alquiler material</mat-slide-toggle>
                    </div>
                    <div>
                      <p>+ 168 CHF</p>
                    </div>
                  </div>


                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <div class="flex-auto">
                      <mat-checkbox color="accent" [checked]="false">Media Jornada</mat-checkbox>
                    </div>
                    <div class="flex-auto">
                      <mat-checkbox color="accent" [checked]="false">Jornada completa</mat-checkbox>
                    </div>
                  </div>
                </div>

                <div style="width: 100%; float:left;background: #e6e6e6;padding: 2%; margin-bottom: 15px;">
                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <div style="width: 65%;">
                      <mat-slide-toggle>Comida</mat-slide-toggle>
                    </div>
                    <div>
                      <p>+ 168 CHF</p>
                    </div>
                  </div>

                </div>

                <div style="width: 100%; float:left;background: #e6e6e6;padding: 2%;">
                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <div style="width: 65%;">
                      <mat-slide-toggle>Transporte</mat-slide-toggle>
                    </div>
                    <div>
                      <p>+ 168 CHF</p>
                    </div>
                  </div>
                </div>
              </div>
              <div style="width: 100%;float:left; margin-top: 10px">
                <div>
                  <p style="width: 78%;float: left;">Total Opciones</p>
                  <p style="color: #EA0C60;">151 CHF</p>
                </div>
              </div>

              <mat-divider style="float: left;width: 100%;" class="text-border"></mat-divider>

              <div style="width: 100%;float:left;">

                <div>
                  <p style="width: 78%;font-size: 21px;float:left">Total Reserva</p>
                  <p style="color: #EA0C60;">352 CHF</p>
                </div>
              </div>
              <mat-divider style="float: left;width: 100%;" class="text-border"></mat-divider>

              <div style="width: 100%;float:left;margin: 20px 0 0 0;">

                <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">

                  <mat-form-field class="flex-auto">
                    <mat-label>Remarques client</mat-label>
                    <input formControlName="observations" matInput required type="text">

                  </mat-form-field>

                </div>

                <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">

                  <mat-form-field class="flex-auto">
                    <mat-label>Remarques ecole</mat-label>
                    <input formControlName="observations_school" matInput required type="text">

                  </mat-form-field>

                </div>

              </div>
              <mat-divider style="float: left;width: 100%;" class="text-border"></mat-divider>
              <div style="width: 100%;float:left;margin: 20px 0 0 0;">
                <p style="font-size: 12px;"><strong>Enregistrée</strong>: 31/10/2023 14:40 / Mirko Maternini</p>
                <p style="font-size: 12px;"><strong>Desde donde:</strong>: Admin</p>
                <p style="font-size: 12px;"><strong>Por</strong>: Mirko Maternini</p>
              </div>
            </mat-card-content>
          </mat-card>


          <mat-card class="reservation-detail-card">
            <div>
              <p style="padding: 5%;width: 40%;float: left;font-size: 13px;">Participant</p>
              <p style="padding: 5% 5% 0 0;width: 60%;float: left;font-size: 13px;text-align: right;font-weight: 500;color:#8fd14f">{{'payment effectué' | uppercase }}</p>
            </div>

            <mat-card-header>

              <button mat-icon-button color="warn" class="delete-icon">
                <mat-icon svgIcon="mat:delete"></mat-icon>
              </button>
              <div mat-card-avatar [style.background-image]="'url(' + userAvatar + ')'"></div>
              <mat-card-subtitle>Maternini Mirko</mat-card-subtitle>
              <mat-card-subtitle>FR · Switzerland · 43 ans</mat-card-subtitle>
            </mat-card-header>

            <mat-divider class="text-border"></mat-divider>
            <p style="padding: 5%;width: 40%;float: left;font-size: 13px; font-weight: bold;">Course</p>

            <mat-card-header>
              <div mat-card-avatar [style.background-image]="'url(' + imagePath + ')'" style="border-radius: 5px"></div>
              <mat-card-title class="mat-mdc-card-title">
                <div style="float: left;width: 70%;font-size: 14px;"> Título de la Reserva </div>
                <div class="ng-tns-c545279033-6" style="float: left;font-size: 14px;width: 30%;text-align: right;color: #EA0C60;"> 168 CHF </div>
            </mat-card-title>
              <mat-card-subtitle style="margin: 0">collectife Ski</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <ul style="font-size: 12px;padding: 0 0 0 18%;">
                <li *ngFor="let date of reservedDates">
                  <mat-icon style="height: 15px;width: 20px;" svgIcon="mat:calendar_today"></mat-icon>{{ date | date:'fullDate' }}
                </li>
              </ul>
              <div style="float: left;width: 100%;">
                <div class="user-info">
                  <img [src]="userAvatar" alt="Avatar de usuario" class="user-avatar" />
                  <span>{{ userName }}</span>
                </div>
                <div class="flex-auto" style="float: left;width: 15%;">
                  <mat-icon style="height: 60px;width: 36px;" svgIcon="mat:location_on"></mat-icon>
                </div>
                <mat-form-field class="flex-auto" style="float: left;width: 85%;">
                  <mat-select>
                    <mat-option value="Dirección predeterminada">Dirección predeterminada</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <mat-divider style="float: left;width: 100%;" class="text-border"></mat-divider>

              <p style="padding: 5%;width: 40%;float: left;font-size: 13px; font-weight: bold;">Opciones</p>

              <div style="width: 100%; float:left">
                <div style="width: 100%; float:left;background: #e6e6e6;padding: 2%; margin-bottom: 15px;">
                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <div style="width: 65%;">
                      <mat-slide-toggle>Alquiler material</mat-slide-toggle>
                    </div>
                    <div>
                      <p>+ 168 CHF</p>
                    </div>
                  </div>

                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <ul>
                      <li><mat-checkbox color="accent" [checked]="false">Casque</mat-checkbox></li>
                      <li><mat-checkbox color="accent" [checked]="true">Gants</mat-checkbox></li>
                      <li><mat-checkbox color="accent" [checked]="true">Skis</mat-checkbox></li>
                      <li><mat-checkbox color="accent" [checked]="true">Botes</mat-checkbox></li>
                      <li><mat-checkbox color="accent" [checked]="true">Batons</mat-checkbox></li>
                    </ul>
                  </div>
                </div>

                <div style="width: 100%; float:left;background: #e6e6e6;padding: 2%; margin-bottom: 15px;">
                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <div style="width: 65%;">
                      <mat-slide-toggle>Alquiler material</mat-slide-toggle>
                    </div>
                    <div>
                      <p>+ 168 CHF</p>
                    </div>
                  </div>


                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <div class="flex-auto">
                      <mat-checkbox color="accent" [checked]="false">Media Jornada</mat-checkbox>
                    </div>
                    <div class="flex-auto">
                      <mat-checkbox color="accent" [checked]="false">Jornada completa</mat-checkbox>
                    </div>
                  </div>
                </div>

                <div style="width: 100%; float:left;background: #e6e6e6;padding: 2%; margin-bottom: 15px;">
                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <div style="width: 65%;">
                      <mat-slide-toggle>Comida</mat-slide-toggle>
                    </div>
                    <div>
                      <p>+ 168 CHF</p>
                    </div>
                  </div>

                </div>

                <div style="width: 100%; float:left;background: #e6e6e6;padding: 2%;">
                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <div style="width: 65%;">
                      <mat-slide-toggle>Transporte</mat-slide-toggle>
                    </div>
                    <div>
                      <p>+ 168 CHF</p>
                    </div>
                  </div>
                </div>
              </div>
              <div style="width: 100%;float:left; margin-top: 10px">
                <div>
                  <p style="width: 78%;float: left;">Total Opciones</p>
                  <p style="color: #EA0C60;">151 CHF</p>
                </div>
              </div>

              <mat-divider style="float: left;width: 100%;" class="text-border"></mat-divider>

              <div style="width: 100%;float:left;">

                <div>
                  <p style="width: 78%;font-size: 21px;float:left">Total Reserva</p>
                  <p style="color: #EA0C60;">352 CHF</p>
                </div>
              </div>
              <mat-divider style="float: left;width: 100%;" class="text-border"></mat-divider>

              <div style="width: 100%;float:left;margin: 20px 0 0 0;">

                <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">

                  <mat-form-field class="flex-auto">
                    <mat-label>Remarques client</mat-label>
                    <input formControlName="observations" matInput required type="text">

                  </mat-form-field>

                </div>

                <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">

                  <mat-form-field class="flex-auto">
                    <mat-label>Remarques ecole</mat-label>
                    <input formControlName="observations_school" matInput required type="text">

                  </mat-form-field>

                </div>

              </div>
              <mat-divider style="float: left;width: 100%;" class="text-border"></mat-divider>
              <div style="width: 100%;float:left;margin: 20px 0 0 0;">
                <p style="font-size: 12px;"><strong>Enregistrée</strong>: 31/10/2023 14:40 / Mirko Maternini</p>
                <p style="font-size: 12px;"><strong>Desde donde:</strong>: Admin</p>
                <p style="font-size: 12px;"><strong>Por</strong>: Mirko Maternini</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>


    </div>


    <div class="column-container">
      <div class="card-container">
        <div @fadeInUp class="card flex-auto" style="padding: 1%">
          <div class="px-6 py-4 border-b flex items-center">
            <h2 class="title m-0">Information del moniteur</h2>
          </div>
          <mat-card style="width: 100%;padding:1%">
            <mat-card-header>
              <div mat-card-avatar [style.background-image]="'url(' + userAvatar + ')'"></div>
              <mat-card-title>{{ titleMoniteur }}</mat-card-title>
              <mat-card-subtitle>
                <button mat-icon-button color="primary">
                  <mat-icon svgIcon="mat:chat"></mat-icon>
                </button>
                <button mat-icon-button color="accent">
                  <mat-icon svgIcon="mat:phone"></mat-icon>
                </button>
                <button mat-icon-button color="warn">
                  <mat-icon svgIcon="mat:mail"></mat-icon>
                </button>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-divider class="text-border" style="margin: 10px 0 10px 0"></mat-divider>
            <button mat-raised-button color="accent">Appliquer une réduction</button>
            <mat-divider class="text-border" style="margin: 10px 0 10px 0"></mat-divider>
            <button mat-raised-button color="accent">Utiliziser un bon d'achat</button>
            <mat-divider class="text-border" style="margin: 10px 0 10px 0"></mat-divider>
            <div style="float: left;width: 100%;">
              <p style="float: left;">Option Remboursement (10%)</p>
              <mat-slide-toggle color="primary" [checked]="false" style="float: right;"></mat-slide-toggle>
            </div>
            <mat-divider class="text-border" style="margin: 10px 0 10px 0"></mat-divider>
            <h3 style="font-size: 1.5rem!important;">Résumé</h3>
            <div class="opaque-box">
              <span style="width: 100%; float:left">
                <p style="float:left">SOUS-TOTAL</p>
                <p style="float:right">400 CHF</p>
              </span>
              <span style="width: 100%; float:left">
                <p style="float:left">REMISE</p>
                <p style="float:right">-50 CHF</p>
              </span>
              <span style="width: 100%; float:left">
                <p style="float:left">MONTANT TOTAL</p>
                <p style="float:right">350 CHF</p>
              </span>
            </div>
            <mat-divider class="text-border" style="margin: 10px 0 10px 0"></mat-divider>
            <div class="square-buttons-container">
              <button mat-raised-button color="accent" class="square-button" (click)="selectedButton='1';selectedSubButton='0'" [class.selected]="selectedButton==='1'">Direct</button>
              <button mat-raised-button color="accent" class="square-button" (click)="selectedButton='2';selectedSubButton='0'" [class.selected]="selectedButton==='2'">Online</button>
              <button mat-raised-button color="accent" class="square-button" (click)="selectedButton='3';selectedSubButton='0'" [class.selected]="selectedButton==='3'">Confirmer sans paiment</button>
            </div>
            <mat-divider class="text-border" style="margin: 10px 0 10px 0"></mat-divider>
            <div class="square-buttons-container" *ngIf="selectedButton==='1'">
              <button mat-raised-button color="accent" class="square-button" (click)="selectedSubButton='1'" [class.selected]="selectedSubButton==='1'">Cash</button>
              <button mat-raised-button color="accent" class="square-button" (click)="selectedSubButton='2'" [class.selected]="selectedSubButton==='2'">Autre</button>
              <button mat-raised-button color="accent" class="square-button" (click)="selectedSubButton='3'" [class.selected]="selectedSubButton==='3'">Boukii Pay</button>
            </div>
            <mat-divider *ngIf="selectedSubButton==='1' || selectedSubButton==='2'" class="text-border" style="margin: 10px 0 10px 0"></mat-divider>
            <div style="width:100%" class="square-buttons-container" *ngIf="selectedSubButton==='1' || selectedSubButton==='2'">
              <p style="float:left;width: 100%;">LE CLIENT A PAYÉ LA RÉSERVATION ?</p>
              <mat-slide-toggle color="primary" [checked]="false" style="float: right;"></mat-slide-toggle>
            </div>
            <mat-divider *ngIf="selectedSubButton==='1' || selectedSubButton==='2' || selectedSubButton === '3'" class="text-border" style="margin: 10px 0 10px 0"></mat-divider>
            <div style="width:100%" class="square-buttons-container" *ngIf="selectedSubButton==='1' || selectedSubButton==='2' || selectedSubButton === '3'">
              <button mat-raised-button color="accent" class="square-button">Confirmer Reservation</button>
            </div>
            <div class="square-buttons-container" *ngIf="selectedButton==='2'">
              <button style="width:100%" mat-raised-button color="primary" class="square-button">Confirm by email</button>
            </div>
            <div class="square-buttons-container" *ngIf="selectedButton==='3'">
              <button style="width:100%" mat-raised-button color="primary" class="square-button">Confirmer reservation</button>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>


<mat-card style="padding: 0 1%;width: 35%;position: absolute; top:7%;left:65%;" *ngIf="bookingComplete" >
  <mat-card-header style="display:block">
    <div style="width: 100%;float: left;">
      <mat-icon svgIcon="mat:close"></mat-icon>
      <mat-icon svgIcon="mat:expand_more" *ngIf="!showDetail" style="float:right" (click)="showDetailFn(true)"></mat-icon>
      <mat-icon svgIcon="mat:expand_less" *ngIf="showDetail" style="float:right" (click)="showDetailFn(false)"></mat-icon>

    </div>
    <div style="width: 100%;float:left;">
      <mat-card-title style="float: left;width: 90%;">Reservation #4172</mat-card-title>
    </div>
    <div style="width:100%; margin-top:5%;float:left" *ngIf="showDetail">
      <div style="width: 100%;">
        <p style="float: left;width: 80%;text-align: left;"><b>Enregistrée</b></p>
        <p style="float: left;width: 20%;text-align: right;"><b>Etat</b></p>
      </div>
      <div style="width: 100%;">
        <p style="float: left;width: 60%;text-align: left;"><b>01/11/2023</b> 13:02</p>
        <p style="float: left;width: 40%;text-align: right;color:#5ade47">{{'paiement effectué' | uppercase }}</p>
      </div>
    </div>
    <mat-divider style="float: left;width: 100%;margin: 5% 0 5% 0;" *ngIf="showDetail"></mat-divider>
  </mat-card-header>
  <mat-card-content *ngIf="showDetail">
    <div style="float: left; width: 100%;">
      <div style="float: left; width: 100%;">
        <p style="font-size: 20px;">Client</p>
      </div>
      <div style="float: left;width: 100%;">
        <div style="float: left; width: 20%; margin-top: 5%">
          <img [src]="userAvatar" width="100" height="100">
        </div>
        <div style="float: left; width: 75%;margin:6% 0 0 2%">
          <p>FR · Switzerland · 43 ans</p>
          <p><strong>Maternini Mirko (+3)</strong></p>
          <div>
            <mat-icon svgIcon="mat:chat"></mat-icon>
            <mat-icon svgIcon="mat:mail_outline"></mat-icon>
            <mat-icon svgIcon="mat:contact_phone"></mat-icon>
          </div>
        </div>
      </div>
    </div>
    <mat-divider style="float: left;width: 100%;margin: 5% 0 5% 0;"></mat-divider>
    <div style="float: left; width: 100%;">
      <div style="float: left; width: 15%;">
        <img [src]="userAvatar" width="50" height="50">
      </div>
      <div style="float: left; width: 65%;">
        <p>FR · Switzerland · 43 ans</p>
          <p>Maternini Mirko (+3)</p>
      </div>
      <div style="float: left; width: 20%;">
        <p style="text-align: right;color:#dbd616">{{'Anulée' }}</p>
      </div>
    </div>
    <mat-divider style="float: left;width: 100%;margin: 5% 0 5% 0;"></mat-divider>
    <div style="float: left; width: 100%;">
      <div style="float: left; width: 50%;">
        <div style="float: left; width: 100%;">
          <p style="float: left; width: 100%; font-size: 18px">
            <strong>Classes de ski/ Diamanches Lève-tôt / dès 5 ans</strong>
          </p>
          <p style="float: left; width: 100%;">
            Collectif Ski 180.00 CHF
          </p>
        </div>
        <div style="float: left; width: 100%;">
          <div style="float: left; width: 75%;background:#2D9BF0;color:#fff; padding:5%;margin-top: 5%;">
            RB-ROI / REINE BLEU
          </div>

        </div>
        <div style="float: left; width: 100%;margin-top: 5%;">
          <ul>
            <li>07-01-2024 09:00 <i>09h30 - 11h00</i></li>
            <li>14-01-2024 09:00 <i>09h30 - 11h00</i></li>
            <li>21-01-2024 09:00 <i>09h30 - 11h00</i></li>
            <li>28-01-2024 09:00 <i>09h30 - 11h00</i></li>
            <li>04-02-2024 09:00 <i>09h30 - 11h00</i></li>
          </ul>
        </div>
        <div style="float: left; width: 100%;margin-top: 5%;">
          <div style="float: left; width: 20%;">
            <img [src]="userAvatar">
          </div>
          <div style="float: left; width: 80%;">
            <p>Arsène Garcia</p>
            <p style="font-size:8px"><i>FR · Switzerland · 39 ans</i></p>
          </div>

        </div>
        <div style="float: left; width: 100%;margin-top: 5%;">
          <mat-slide-toggle></mat-slide-toggle> Op. Rem (10%)
        </div>
      </div>
      <div style="float: left; width: 50%;">
        <div style="float: left; width: 100%;">
          <mat-slide-toggle></mat-slide-toggle> Alquiler material

        </div>
        <div style="float: left; width: 100%;margin-top: 5%;">
          <mat-slide-toggle></mat-slide-toggle> Fortrait Ski

        </div>
        <div style="float: left; width: 100%;margin-top: 5%;">
          <mat-slide-toggle></mat-slide-toggle> Comida

        </div>
        <div style="float: left; width: 100%;margin-top: 5%;">
          <mat-slide-toggle></mat-slide-toggle> Transporte

        </div>
      </div>
      <div style="float: left; width: 100%;margin-top:5%;padding:2%;background:#EFEFEF">
        <div style="float: left; width: 50%;">
          <p>198.00 CHF</p>
        </div>
        <div style="float: left; width: 25%;">
          <p>151.00 CHF</p>
        </div>
        <div style="float: left; width: 25%;">
          <p><strong>439.00 CHF</strong></p>
        </div>
      </div>
      <div style="float: left; width: 100%;margin-top:10%;padding:2%;background:#EFEFEF">

        <div style="text-align: left;width: 50%;float:left">
          <ul>
            <li>{{'sous total' | uppercase}}</li>
            <li>{{'remise' | uppercase}}</li>
            <li>{{'Option Rembousement (10%)'}}</li>
            <li>{{'Boukii Care'}}</li>
            <li>{{'Bon'}}</li>
            <li>{{'TVA'}}</li>
            <li><strong>{{'Montant total' | uppercase}}</strong></li>
          </ul>
        </div>
        <div style="text-align: right;width: 50%;float:left">
          <ul>
            <li>400 CHF</li>
            <li>-50 CHF</li>
            <li>18 CHF</li>
            <li>3 CHF</li>
            <li>-72 CHF</li>
            <li>- CHF</li>
            <li><strong>370 CHF</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
