<form  *ngIf="!loading">
  <div class="flex items-center" mat-dialog-title>
    <h2 class="headline m-0 flex-auto">{{'update_objectives' | translate }}</h2>

    <!--<button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>-->

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <h2 mat-dialog-title>{{'objectives' | translate }}</h2>
  <mat-dialog-content>
    <div style="width: 100%; float:left">
      <ol style="width: 100%; float:left">
        <li style="width: 100%; float:left" *ngFor="let item of goals;let i = index;">
          <div  style="width: 80%; float:left;">

            <mat-form-field appearance="outline" class="flex-auto" style="width: 100%">
              <input matInput placeholder="" type="text" (blur)="setName(i, $event)" [value]="item.name">
            </mat-form-field>
          </div>
          <div style="width: 20%; float:left;margin: 1% 0 0 0;cursor:pointer">
            <mat-icon svgIcon="mat:delete" style="width: 50%" (click)="deleteGoal(i)"></mat-icon>
          </div>
        </li>
      </ol>
    </div>
    <div style="width: 100%; margin: 2% 0 0 0; float:left;padding: 1%;">
      <div style="width: 10%; float:left;">

        <button class="add-date" mat-fab (click)="addGoal()">
          <mat-icon svgIcon="mat:add" class="icon-date"></mat-icon>
        </button>
      </div>
      <div style="width: 80%; float:left;margin: 2% 0 0 0;">
        <p> {{'add_goal' | translate }}</p>
      </div>
    </div>
    <div class="flex-auto" style="width: 100%;margin-top:5%">

      <div style="float:left; width: 100%">
        <div class="image-container" style="float: left;width: 50%;">

          <img [src]="imagePreviewUrl !== null ? imagePreviewUrl : '../../../../assets/img/no-image.jpg'" alt="Image Preview" width="400" height="290" style="border:1px solid #e6e6e6; height: 260px">
        </div>

        <div class="input-container">

          <input type="file" placeholder="Select an image" (change)="onFileChanged($event)" id="file"/>
          <label for="file" class="btn-1"><mat-icon svgIcon="mat:cloud_upload"></mat-icon></label>
          <p style="font-size: 12px">{{'image_max' | translate}}</p>
          <p style="font-size: 12px">{{'image_format' | translate}}</p>
          <p style="font-size: 12px">{{'image_recomendation' | translate}}</p>
        </div>
      </div>

    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close [mat-dialog-close]="false">{{'cancel' | translate }}</button>
    <button mat-button color="primary" (click)="save()">{{'save_changes' | translate}}</button>
  </mat-dialog-actions>
</form>
