::ng-deep .mdc-dialog {
  width: 50%;
  margin: 0 auto;
}

.input-container {
  padding: 0 0 0 10px;
  width: 50%;
}

.image-container, .input-container {
  float:left;
}

.image-container, .input-container {
  float:left;
}
[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
  background: #FF3085;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
	font-family: 'Rubik', sans-serif;
	font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;

  &:hover {
    background-color: darken(#FF3085, 10%);
  }

  &.btn-1 {
    background-color: #FF3085;
    transition: none;

    &:hover {
      box-shadow: 0 4px darken(#FF3085, 10%);
      top: 2px;
    }
  }

}
