<mat-card>
  <mat-card-header>
      <mat-card-title>
          La journee
      </mat-card-title>
      <mat-card-subtitle>
          <i class="fa fa-calendar" aria-hidden="true"></i> Lundi, 16 Octobre 2023
      </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="container p-gutter grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
      <vex-widget-quick-value-center [change]="124.4"
      icon="mat:group"
      iconClass="text-primary bg-primary/10"
      label="Cours collectif"
      value="67.4k"
      [canShare]="false"></vex-widget-quick-value-center>
      <vex-widget-quick-value-center [change]="124.4"
      icon="mat:group"
      iconClass="text-primary bg-primary/10"
      label="Cours privés"
      value="67.4k"
      [canShare]="false"></vex-widget-quick-value-center>
      <vex-widget-quick-value-center [change]="124.4"
      icon="mat:group"
      iconClass="text-primary bg-primary/10"
      label="Événements"
      value="67.4k"
      [canShare]="false"></vex-widget-quick-value-center>
      <vex-widget-quick-value-center [change]="124.4"
      icon="mat:group"
      iconClass="text-primary bg-primary/10"
      label="Tâches"
      value="67.4k"
      [canShare]="false"></vex-widget-quick-value-center>
  </mat-card-content>
</mat-card>
