<form [formGroup]="form" *ngIf="!loading">
  <div class="flex items-center" mat-dialog-title>
    <h2 class="headline m-0 flex-auto">{{'create_extras' | translate }}</h2>

    <!--<button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>-->

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col">
    <div class="flex flex-col sm:flex-row gap-2 sm:gap-6" style="margin: 3% 0 0 0;">
      <mat-form-field appearance="outline" class="flex-auto">
        <mat-label>{{'product' | translate}}</mat-label>
        <input formControlName="product" matInput required type="text" [readonly]="true" [(ngModel)]="defaults.product">

      </mat-form-field>

      <mat-form-field appearance="outline" class="flex-auto">
        <mat-label>{{'name' | translate }}</mat-label>
        <input formControlName="name" matInput required type="text" [(ngModel)]="defaults.name">
      </mat-form-field>
    </div>
    <div class="flex flex-col sm:flex-row gap-2 sm:gap-6" style="margin: 3% 0 0 0;">
      <mat-form-field appearance="outline" class="flex-auto">
        <mat-label>{{'price_per_day' | translate }}</mat-label>
        <input formControlName="price" matInput required type="number" [(ngModel)]="defaults.price">

      </mat-form-field>

      <mat-form-field appearance="outline" class="flex-auto">
        <mat-label>{{'tva' | translate}}</mat-label>
        <input formControlName="tva" matInput required type="number" [(ngModel)]="defaults.tva">
      </mat-form-field>
    </div>
    <div class="flex flex-col sm:flex-row gap-2 sm:gap-6" style="margin: 3% 0 0 0;">

      <div class="flex-auto">
        <mat-label>Active</mat-label>
        <mat-slide-toggle [checked]="defaults.status" formControlName="status" [(ngModel)]="defaults.status"></mat-slide-toggle>
      </div>
   </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">{{'cancel' | translate}}</button>
    <button *ngIf="isCreateMode()" [disabled]="form.invalid" color="primary" mat-flat-button type="submit" (click)="save()">{{'confirm' | translate }}</button>
    <button *ngIf="isUpdateMode()" [disabled]="form.invalid" color="primary" mat-flat-button type="submit" (click)="save()">{{'update' | translate }}</button>
  </mat-dialog-actions>
</form>
