<h3 class="title">{{ "bookings_page.crumbs.details" | translate }}
  <span style="float: right; margin-right: 1rem;" (click)="cancel()">
    								<img
                      src="assets/img/icons/close-black.svg"
                      class="btn-close">
  </span></h3>
<form class="wrapper" [formGroup]="stepForm">
  <div class="row">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ "participant" | translate }} {{ 1 }}</mat-label>
        <input
          matInput
          disabled
          [value]="utilizer.first_name + ' ' + utilizer.last_name"
        />
        <mat-icon
          class="disabled-icon"
          matPrefix
          fontSet="material-icons-outlined"
        >people</mat-icon
        >
      </mat-form-field>
    </div>
    <div>
      <div class="extra-field-wrapper">
        <mat-form-field appearance="outline" class="extras-field">
          <mat-label>{{ "extras" | translate }} </mat-label>
          <mat-select multiple (selectionChange)="onExtraChange($event)" [value]="selectedExtras"
          [disabled]="!this.possibleExtras || !this.possibleExtras.length">
            <mat-option
              class="extra-field-option"
              *ngFor="let extra of possibleExtras"
              [value]="extra"
            >
              <span>{{ extra.description }} </span>
              <span> {{ extra.price }} </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Mostrar el precio total de extras aplicados a todas las fechas -->
        <span class="extras-price">{{ totalExtrasPrice }}</span>
      </div>
    </div>
  </div>
  <div class="stepButtonsWrapper">
    <button mat-stroked-button type="button" (click)="cancel()">
      {{ "cancel" | translate }}
    </button>
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="submitForm()"
      [disabled]="!isFormValid()"
    >
      {{ "confirm" | translate }}
    </button>
  </div>
</form>
