.wrapper {
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
  padding: 20px;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.row {
  display: flex;
  gap: 1rem;
  > div {
    width: 50%;
    display: flex;
    gap: 1rem;
    align-items: center;
    > * {
      width: 100%;
    }
  }

  .extra-field-wrapper {
    display: flex;
    align-items: center;
  }

  .extras-field {
    flex: 100% 0 1;
  }

  .extras-price {
    color: var(--color-grey1);
    min-width: 6rem;
    text-align: right;
  }
}

::ng-deep {
  .mdc-list-item__primary-text {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: 100%;
    justify-content: space-between;
  }

  .mat-mdc-select,
  .mat-mdc-form-field-infix {
    height: 1.5rem;
  }

  mat-select-trigger {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding-left: 1rem;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .mat-mdc-option.mdc-list-item {
    font-family: var(--font-dm);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
  }
}

.disabled-icon {
  color: var(--color-grey1);
}
.stepButtonsWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
  padding: 1rem;
}
