.sport_icon {
  border-radius: 3px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.noselected {
  background-color: #2f3844;
}

.selected {
  background-color: #e91e63;
}
button {
  border-radius: 3px !important;
}
.sport_checkbox {
  width: calc(50% - 32px);
  border: 1px #c7d0d3 solid;
  padding: 16px;
  border-radius: 3px;
  min-width: 250px;
  label {
    font-size: 14px;
    font-weight: 900;
  }
}

::ng-deep {
  .mat-mdc-table {
    background-color: var(
      --is-light-theme,
      var(--mat-table-background-color)
    ) !important;
  }
  .mat-expansion-panel-body {
    background-color: var(--is-light-theme, white)
      var(--is-dark-theme, var(--color-grey5)) !important;
  }
}

.level {
  ::ng-deep {
    .mat-mdc-checkbox-checked {
      label {
        color: white !important;
      }
    }
    .mdc-checkbox {
      border-radius: 3px;
    }
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}

mat-form-field,
.mat-mdc-form-field,
::ng-deep.mat-mdc-form-field {
  width: 100%;
}
