<p class="stepTitle">{{ "bookings_page.select_utilizers" | translate }}</p>

<form [formGroup]="stepForm">
  <div class="cards-wrapper">
    <label class="utilizerCard" *ngFor="let item of utilizers">
      <mat-checkbox
        [value]="item"
        (change)="onCheckboxChange($event)"
      ></mat-checkbox>
      <img
        [src]="
          item.image !== null && item.image !== '' ? item.image : userAvatar
        "
      />
      <div class="utilizerCard__description">
        <h4>{{ item.first_name }} {{ item.last_name }}</h4>
        <span
          >{{ getLanguage(item.language1_id) }} ·
          {{ calculateAge(item.birth_date) }} &ensp;{{ "years" | translate }} ·
          {{ getCountry(item.country) }}</span
        >
      </div>
    </label>
  </div>
</form>

<div class="stepButtonsWrapper">
  <button mat-button type="button" (click)="handlePrevStep()">
    <mat-icon class="icon-sm" svgIcon="mat:arrow_back"></mat-icon>
    {{ "back" | translate }}
  </button>
  <div>
    <button mat-stroked-button type="button">
      {{ "add_participant" | translate }}
    </button>

    <button
      mat-flat-button
      type="button"
      (click)="completeStep()"
      [disabled]="!isFormValid()"
    >
      {{ "confirm" | translate }}
    </button>
  </div>
</div>
