<ng-container *ngIf="!isDetail">
	<div class="barWrapper">
		<vex-breadcrumbs [crumbs]="[
      { icon: 'reservas' },
      { text: 'bookings', title: true, link: '/bookings' },
      { text: 'bookings_page.creation.title', subtitle: true }
    ]" class="booking-breadcrumb"></vex-breadcrumbs>
	</div>
	<div class="barWrapper">
		<div>
			<button [disabled]="forms.length" [ngClass]="{ active: currentStep === 0, prev: currentStep > 0 }"
				(click)="forceChange(0)" class="crumb">
				{{ "bookings_page.crumbs.client" | translate }}
			</button>
			<button [ngClass]="{ active: currentStep === 1, prev: currentStep > 1 }" (click)="forceChange(1)"
				[disabled]="currentStep <= 1 && selectedIndexForm == null " class="crumb">
				{{ "bookings_page.crumbs.utilizers" | translate }}
			</button>
			<button [ngClass]="{ active: currentStep === 2, prev: currentStep > 2 }" (click)="forceChange(2)"
				[disabled]="currentStep <= 2 && selectedIndexForm == null && (!utilizers || !utilizers?.length)" class="crumb">
				{{ "bookings_page.crumbs.sport" | translate }}
			</button>
			<button [ngClass]="{ active: currentStep === 3, prev: currentStep > 3 }" (click)="forceChange(3)"
				[disabled]="currentStep <= 3 && selectedIndexForm == null &&  sport == null " class="crumb">
				{{ "bookings_page.crumbs.course" | translate }}
			</button>
			<button [ngClass]="{ active: currentStep === 4, prev: currentStep > 4 }" (click)="forceChange(4)"
				[disabled]="currentStep <= 4 && selectedIndexForm == null && course == null " class="crumb">
				{{ "bookings_page.crumbs.details" | translate }}
			</button>
			<button [ngClass]="{ active: currentStep === 5, prev: currentStep > 5 }" (click)="forceChange(5)"
				[disabled]="currentStep <= 5 && selectedIndexForm == null && (!dates || !dates?.length)" class="crumb last">
				{{ "bookings_page.crumbs.observations" | translate }}
			</button>
		</div>
		<div *ngIf="mainClient" class="clientDescription">
			<span>
				{{ "bookings_page.crumbs.client" | translate }}:
			</span>
			{{ mainClient.first_name }} {{ mainClient.last_name }}
		</div>
	</div>
	<div class="bookingContainer">
		<button (click)="openBookingDialog()" mat-button type="button" class="modalButton">
			{{ "bookings_page_descriptionModal_button" | translate }}
		</button>
		<mat-card class="left-column">
			<mat-card class="info-message" *ngIf="forceStep < 5 && selectedIndexForm != null">
				<mat-card-content>
					<mat-icon color="secondary" style="margin-right: 8px;">info</mat-icon>
					<span>{{ "confirm_reset_selections" | translate }}</span>
				</mat-card-content>
			</mat-card>
			<booking-form-stepper [forceStep]="forceStep" [activitiesBooked]="normalizedDates"
				[selectedForm]="selectedForm" [selectedDates]="normalizedDates[selectedIndexForm] || null"
				[allLevels]=allLevels (changedCurrentStep)="currentStep = $event; forceStep = $event;"
				(changedFormData)="handleFormChange($event)"></booking-form-stepper>
		</mat-card>
		<mat-card class="right-column">
			<booking-description-card [utilizers]="utilizers" [allLevels]=allLevels [sport]="sport"
				[sportLevel]="sportLevel" [course]="course" [dates]="dates" [monitors]="monitors"
				[clientObs]="clientObs" [schoolObs]="schoolObs" [total]="total">
			</booking-description-card>
			<button *ngIf="forms.length" (click)="isDetail = true" mat-button type="button">
				{{ "return_to_payment_page" | translate }}
			</button>
		</mat-card>
	</div>
</ng-container>
<ng-container *ngIf="isDetail">
	<div class="bookingDetailContainer">
		<button (click)="openBookingDialog()" style="margin-bottom: 0;" mat-button type="button" class="modalButton">
			{{ "bookings_page_descriptionModal_button" | translate }}
		</button>
		<div class="left-column">
			<div class="activities">
				<booking-description-card *ngFor="let activity of normalizedDates; let i = index"
                                  [index]="i"
					[utilizers]="activity.utilizers" [allLevels]="allLevels" [sport]="activity.sport"
					[sportLevel]="activity.sportLevel" [course]="activity.course" [dates]="activity.dates"
					[monitors]="activity.monitors" [clientObs]="activity.clientObs" [schoolObs]="activity.schoolObs"
					[total]="activity.total" [isDetail]="true" [summaryMode]="true"
					(editActivity)="editActivity($event, i)" (deleteActivity)="deleteModal=true; deleteIndex=i">
				</booking-description-card>
			</div>
		</div>
		<div class="right-column">
			<booking-reservation-detail [client]="mainClient" [activities]="normalizedDates" (endClick)="endModal=true"
				(payClick)="payModal=true" (addClick)="addNewActivity()">
			</booking-reservation-detail>
		</div>
	</div>
	<div class="mobileFixe">
		<div style="width: 100%;">
			<span class="totalPrice" style="
      color: var(--color-dark1);
       font-size: 14px;
       font-family: DM Sans;
       font-weight: 600;
       line-height: 18px;
       word-wrap: break-word">
				<span style="
        color: var(--color-dark1);
         font-size: 14px;
         font-family: DM Sans;
         font-weight: 400;
         line-height: 18px;
         word-wrap: break-word;padding-right: 10px;">{{"total" | translate}}</span>
				{{ sumActivityTotal()| number:'0.2-2' }}
				{{ normalizedDates[0].course.currency }}
			</span>
		</div>
		<div style="width: 100%;display: flex;gap: 10px;">
			<button style="height: 38px; width: calc(50% - 5px);border-radius: 3px;margin-top: 16px;
        color: var(--color-dark1);
         font-size: 14px;
         font-family: DM Sans;
         font-weight: 600;
         line-height: 18px;
         word-wrap: break-word" mat-raised-button type="button" class="client-button">
				{{ "add_activity" | translate }}
			</button>
			<button style="height: 38px; width: calc(50% - 5px);border-radius: 3px;margin-top: 16px;
        color: white;
         font-size: 14px;
         font-family: DM Sans;
         font-weight: 600;
         line-height: 18px;
         word-wrap: break-word" color="primary" mat-raised-button type="button" class="client-button">
				{{ "go_to_payment" | translate }}
			</button>
		</div>
	</div>
</ng-container>

<vex-flux-modal *ngIf="deleteModal" [width]="570" (Close)="deleteModal=false" title="delete_activity">
	<div body>
		<div style="margin: 10px;">
			{{"cancel_activity" | translate}} #{{("00"+deleteIndex+1).slice(-2)}}?
		</div>
	</div>
	<div footer style="display: flex;">
		<button (click)="deleteModal=false"
			style="height: 38px; width: 85px;border-radius: 3px;margin-top: 20px; margin-left: auto;" mat-raised-button
			type="button" class="client-button">
			{{"cancel" | translate }}
		</button>
		<button (click)="deleteActivity(deleteIndex)"
			style="height: 38px; width: 85px;border-radius: 3px;margin-top:20px;margin-left: 20px;" color="primary"
			mat-raised-button type="button" class="client-button">
			{{ "yes_delete" | translate }}
		</button>
	</div>
</vex-flux-modal>

<vex-flux-modal *ngIf="endModal" [width]="570" (Close)="endModal=false" title="{{'end_booking' | translate}}">
	<div body>
		<div style="margin: 10px;">
			{{"leave_page_warning" | translate}}
			<br>
			{{"are_you_sure" | translate}}
		</div>
	</div>
	<div footer style="display: flex;">
		<button (click)="endModal=false"
			style="height: 38px; width: 150px;border-radius: 3px;margin-top: 20px; margin-left: auto;" mat-raised-button
			type="button" class="client-button">
			{{"cancel" | translate }}
		</button>
		<button style="height: 38px; width: 200px;border-radius: 3px;margin-top:20px;margin-left: 20px;" color="primary"
			mat-raised-button type="button" class="client-button">
			{{ "end_reserve_pay" | translate }}
		</button>
	</div>
</vex-flux-modal>

<vex-flux-modal *ngIf="payModal" [width]="570" (Close)="payModal=false;step=1;isPaid=false"
                title="{{'end_booking' | translate}}">
  <div body>
    <div style="margin: 10px;" class="sectionTitle" *ngIf="step === 1">
      <ng-container *ngIf="bookingService.calculatePendingPrice() > 0; else confirmReservation">
        {{"pending_payment" | translate}}: <span class="totalPrice">{{ bookingService.calculatePendingPrice() }}</span>
      </ng-container>
      <ng-template #confirmReservation>
        <p>{{ "confirm_booking_message" | translate }}</p>
      </ng-template>
    </div>

    <div style="margin: 10px;" class="sectionTitle" *ngIf="step === 2">
      <ng-container>
        {{"is_paid" | translate}}:
      </ng-container>
    </div>

    <!-- Paso 1: Selección de método de pago -->
    <div *ngIf="step === 1" style="margin: 10px 0;">
      <mat-radio-group [(ngModel)]="paymentMethod" (change)="onPaymentMethodChange($event)">
        <mat-radio-button [value]="1" style="display: block;">
          {{"direct_payment" | translate}}  <!-- Efectivo / Tarjeta -->
        </mat-radio-button>

        <div *ngIf="paymentMethod === 1" style="margin: 10px 0;">
          <mat-form-field appearance="fill">
            <mat-label>{{"select_payment_method" | translate}}</mat-label>
            <mat-select [(ngModel)]="selectedPaymentOption">
              <mat-option *ngFor="let option of paymentOptions" [value]="option.type" >
                {{option.translation}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-radio-button [value]="3" style="display: block;">
          {{"online_payment" | translate}}  <!-- Online Payment -->
        </mat-radio-button>
        <mat-radio-button [value]="4" style="display: block;">
          {{"payment_no_payment" | translate}}  <!-- Sin Pago -->
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Paso 2: Confirmación de si el cliente pagó -->
    <div *ngIf="step === 2" style="margin: 10px 0;">
      <mat-radio-group [(ngModel)]="isPaid">
        <mat-radio-button [value]="true" style="display: block;">
          {{"payment_confirmed" | translate}}  <!-- Pago Confirmado -->
        </mat-radio-button>
        <mat-radio-button [value]="false" style="display: block;">
          {{"payment_not_confirmed" | translate}}  <!-- Pago No Confirmado -->
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div footer style="display: flex;">
    <!-- Botón Cancelar -->
    <button (click)="cancelPaymentStep()"
            style="height: 38px; width: 150px; border-radius: 3px; margin-top: 20px; margin-left: auto;"
            mat-raised-button type="button" class="client-button">
      {{"cancel" | translate }}
    </button>

    <!-- Botón de Confirmar (Solo si Efectivo o Tarjeta) -->
    <button *ngIf="step === 1 && (selectedPaymentOption === 'Efectivo' || selectedPaymentOption === 'Tarjeta')"
            (click)="goToNextStep()"
            style="height: 38px; width: 200px; border-radius: 3px; margin-top:20px; margin-left: 20px;"
            color="primary" mat-raised-button type="button" class="client-button">
      {{"confirm_booking" | translate }}
    </button>

    <!-- Botón Finalizar Pago o Finalizar Reserva -->
    <button *ngIf="step === 1 && !(selectedPaymentOption === 'Efectivo' || selectedPaymentOption === 'Tarjeta')"
            (click)="finalizeBooking()"
            style="height: 38px; width: 200px; border-radius: 3px; margin-top:20px; margin-left: 20px;"
            color="primary" mat-raised-button type="button" class="client-button">
      {{ (paymentMethod === 3 || paymentMethod === 4 ? 'end_booking' : 'end_reserve_pay') | translate }}
    </button>

    <!-- Botón Finalizar Reserva (Solo si Confirmación de Pago es Sí) -->
    <button *ngIf="step === 2"
            (click)="finalizeBooking()"
            style="height: 38px; width: 200px; border-radius: 3px; margin-top:20px; margin-left: 20px;"
            color="primary" mat-raised-button type="button" class="client-button">
      {{"end_booking" | translate }}
    </button>

<!--    &lt;!&ndash; Botón Cancelar (En cualquier paso) &ndash;&gt;
    <button *ngIf="step === 2 && !isPaid"
            (click)="cancelPaymentStep()"
            style="height: 38px; width: 200px; border-radius: 3px; margin-top:20px; margin-left: 20px;"
            mat-raised-button type="button" class="client-button">
      {{"cancel" | translate }}
    </button>-->
  </div>
</vex-flux-modal>

