$border-color: rgba(
  82,
  63,
  105,
  0.12
); // Equal to Material Design Outline Input Border

.vex-mail-compose-editor {
  min-height: 250px;

  .ql-toolbar.ql-snow {
    border-color: $border-color;
    @apply rounded-t;
  }

  .ql-container.ql-snow {
    border-color: $border-color;
    @apply rounded-b;
  }

  .ql-editor {
    @apply flex-auto;

    &.ql-blank::before {
      font-style: normal;
    }
  }
}

angular-editor {
  min-height: 300px; /* Ajusta la altura mínima */
  height: 100%; /* Hace que crezca si es necesario */
  max-height: 500px; /* Limita el crecimiento */
}

.editor-container {
  height: 400px; /* Ajusta el tamaño según necesidad */
}

.vex-mail-compose-attachment {
  border-color: $border-color;
}

.selected-item {
  border: 2px solid #e01d5f;
  background-color: var(--color-grey3);
}
