<div class="flex items-center"
	mat-dialog-title>
	<p class="flex-auto text-lg font-medium">
		{{'mails.title' | translate}}
	</p>
	<button mat-dialog-close
		mat-icon-button
		type="button">
		<mat-icon svgIcon="mat:close"></mat-icon>
	</button>
</div>

		<mat-dialog-content *ngIf="!loading">
			<div class="block w-full">
				<mat-label>
					{{'mails.type' | translate }}
				</mat-label>
				<br>
				<mat-radio-group [(ngModel)]="emailType"
					style="display: flex;">
					<mat-radio-button [value]="1"
						class="radio">
						{{'mails.dates' | translate}}
					</mat-radio-button>
					<mat-radio-button [value]="2"
						class="radio">
						{{'mails.course' | translate}}
					</mat-radio-button>
				</mat-radio-group>
				<!-- <input cdkFocusInitial matInput type="text"/>
        <button (click)="toggleDropdown()" color="primary" mat-button matSuffix type="button">CC/BCC</button> -->
			</div>
			<div class="block w-full">
				<mat-label>
					{{'mails.who' | translate }}
				</mat-label>
				<br>
				<mat-radio-group [(ngModel)]="emailSend">
					<mat-checkbox [(ngModel)]="sendClients">
						{{'clients' |
            translate}}
					</mat-checkbox>
					<mat-checkbox [(ngModel)]="sendMonitors">
						{{'settings.monitors' |
            translate}}
					</mat-checkbox>
				</mat-radio-group>
				<!-- <input cdkFocusInitial matInput type="text"/>
        <button (click)="toggleDropdown()" color="primary" mat-button matSuffix type="button">CC/BCC</button> -->
			</div>
			<div class="block w-full">
				<mat-form-field appearance="outline">
					<input [matDatepicker]="pickerFrom"
						[(ngModel)]="selectedDateFrom"
						[min]="today"
						(click)="pickerFrom.open()"
						id="date"
						matInput
						placeholder="{{'from' | translate}}"
						readonly>
					<mat-datepicker-toggle [for]="pickerFrom"
						matSuffix></mat-datepicker-toggle>
					<mat-datepicker #pickerFrom
						[startAt]="today"></mat-datepicker>
				</mat-form-field>
				<mat-form-field appearance="outline"
					style="margin: 0 0 0 8%;">
					<input [matDatepicker]="pickerTo"
						[(ngModel)]="selectedDateTo"
						[disabled]="selectedDateFrom === null"
						[min]="selectedDateFrom"
						(click)="pickerTo.open()"
						id="date"
						matInput
						placeholder="{{'to' | translate}}"
						readonly>
					<mat-datepicker-toggle [for]="pickerTo"
						matSuffix></mat-datepicker-toggle>
					<mat-datepicker #pickerTo
						[startAt]="today"></mat-datepicker>
				</mat-form-field>
			</div>
			<!-- <div [@dropdown]="dropdownOpen" class="overflow-hidden">
        <mat-form-field appearance="outline" class="block w-full">
          <mat-label>Cc</mat-label>
          <input matInput type="text"/>
        </mat-form-field>
        <mat-form-field appearance="outline" class="block w-full">
          <mat-label>Bcc</mat-label>
          <input matInput type="text"/>
        </mat-form-field>
      </div> -->
			<div *ngIf="emailType === 2"
				class="block w-full"
				style="margin: 0 0 10% 0;">
				<button [disabled]="selectedDateTo === null"
					(click)="searchCourses()"
					color="primary"
					mat-flat-button
					type="button"
					style="float:right">
					<span>
						{{'mails.search' | translate}}
					</span>
				</button>
			</div>
			<mat-spinner *ngIf="loadingCourses"
				style="margin:0 auto"></mat-spinner>
			<div *ngIf="emailType === 2"
				class="block w-full"
				style="margin: 0 0 5% 0;width: 100%; float:left">
				<mat-checkbox *ngIf="paginatedCourses.length > 0"
					(change)="selectAll($event)">
					{{'choose_all' | translate }}
				</mat-checkbox>
				<div *ngFor="let item of paginatedCourses"
					(click)="addToCourses(item.id)"
					style="cursor:pointer">
					<div [ngClass]="{'selected-item': isSelected(item.id)}"
						style="float: left; width: 100%; margin-bottom: 2%;">
						<div style="float: left;width: 100%;padding: 3%;">
							<div style="float: left; width: 20%;">
								<img [src]="item.course_type===1?item.sport.icon_collective:item.sport.icon_prive"
									width="100"
									height="100">
							</div>
							<div style="float: left; width: 75%;margin:6% 0 0 2%">
								<p>
									<strong>{{item.name}}</strong>
								</p>
								<p>
									{{item.course_type === 1 ? 'colective' : 'private' |
                  translate}} {{ item.sport.name}}
								</p>
								<p *ngIf="item.station">
									{{item.station.name}}
								</p>
							</div>
						</div>
					</div>
				</div>
				<button *ngIf="paginatedCourses.length > 0"
					[disabled]="currentPage * pageSize >= courses.length"
					(click)="nextPage()"
					color="primary"
					mat-flat-button
					type="button"
					style="float:right;margin: 2% 0 0 0;">
					<span>
						{{'next' | translate}}
					</span>
				</button>
				<button *ngIf="paginatedCourses.length > 0"
					[disabled]="currentPage === 1"
					(click)="previousPage()"
					color="primary"
					mat-flat-button
					type="button"
					style="float:left;margin: 2% 0 0 0;">
					<span>
						{{'before' | translate}}
					</span>
				</button>
			</div>
			<div class="block w-full"
				style="margin: 5% 0 0 0">
				<mat-form-field appearance="outline"
					class="block w-full">
					<mat-label>
						{{'subject' | translate}}
					</mat-label>
					<input [(ngModel)]="generalSubjet"
						[value]="generalSubjet"
						matInput
						type="text">
				</mat-form-field>
			</div>
			<div class="vex-mail-compose-editor flex flex-col">
				<p>
					{{ 'message' | translate }}
				</p>
				<angular-editor [(ngModel)]="generalBody" [config]="editorConfig"
					placeholder="{{'enter_text' | translate}}"></angular-editor>
			</div>
			<!-- <div class="vex-mail-compose-attachment mt-4 mb-2 rounded-full border px-4 py-1 flex items-center hover:bg-hover transition duration-200 ease-in-out cursor-pointer relative"
           matRipple>
        <mat-icon class="flex-none text-primary icon-sm" svgIcon="mat:picture_as_pdf"></mat-icon>
        <p class="flex-auto ml-4 text-sm">super-secret-design-document.pdf</p>

        <p class="text-sm text-secondary mr-2 flex-none">54kb</p>
        <button (click)="$event?.stopPropagation()" class="flex-none w-8 h-8 leading-none" mat-icon-button type="button">
          <mat-icon class="icon-sm" svgIcon="mat:close"></mat-icon>
        </button>
      </div>

      <div class="vex-mail-compose-attachment my-2 rounded-full border px-4 py-1 flex items-center hover:bg-hover transition duration-200 ease-in-out cursor-pointer relative"
           matRipple>
        <mat-icon class="flex-none text-primary icon-sm" svgIcon="mat:image"></mat-icon>
        <p class="flex-auto ml-4 text-sm">cute-cat-picture.jpg</p>

        <p class="text-sm text-secondary mr-2 flex-none">16kb</p>
        <button (click)="$event?.stopPropagation()" class="flex-none w-8 h-8 leading-none" mat-icon-button type="button">
          <mat-icon class="icon-sm" svgIcon="mat:close"></mat-icon>
        </button>
      </div> -->
		</mat-dialog-content>
		<mat-dialog-actions>
			<button color="warn"
				mat-dialog-close
				mat-icon-button
				matTooltip="Discard Draft"
				type="button">
				<mat-icon svgIcon="mat:delete"></mat-icon>
			</button>
			<span class="flex-1"></span>
			<!-- <button mat-icon-button matTooltip="Attach File" type="button">
        <mat-icon svgIcon="mat:attach_file"></mat-icon>
      </button> -->
			<button (click)="sendMail()"
				color="primary"
				mat-flat-button
				type="button">
				<span>
					{{'send' | translate}}
				</span>
				<mat-icon class="ml-2 icon-sm"
					svgIcon="mat:send"></mat-icon>
			</button>
		</mat-dialog-actions>

