<div class="flex items-center" mat-dialog-title>
  <p class="flex-auto text-lg font-medium">{{ 'mails.title' | translate }}</p>
  <button mat-dialog-close mat-icon-button type="button">
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>

<mat-dialog-content *ngIf="!loading">
  <div class="block w-full">
    <mat-label>{{ 'mails.type' | translate }}</mat-label>
    <mat-radio-group [(ngModel)]="emailType" class="flex gap-4 mt-2">
      <mat-radio-button [value]="1">{{ 'mails.dates' | translate }}</mat-radio-button>
      <mat-radio-button [value]="2">{{ 'mails.course' | translate }}</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="block w-full mt-4">
    <mat-label>{{ 'mails.who' | translate }}</mat-label>
    <mat-checkbox [(ngModel)]="sendClients">{{ 'clients' | translate }}</mat-checkbox>
    <mat-checkbox [(ngModel)]="sendMonitors">{{ 'settings.monitors' | translate }}</mat-checkbox>
  </div>

  <div class="flex gap-4 mt-4">
    <mat-form-field appearance="outline">
      <input [matDatepicker]="pickerFrom" [(ngModel)]="selectedDateFrom" [min]="today"
             (click)="pickerFrom.open()" id="date" matInput placeholder="{{'from' | translate}}" readonly>
      <mat-datepicker-toggle [for]="pickerFrom" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom [startAt]="today"></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input [matDatepicker]="pickerTo" [(ngModel)]="selectedDateTo" [disabled]="selectedDateFrom === null"
             [min]="selectedDateFrom" (click)="pickerTo.open()" id="date" matInput placeholder="{{'to' | translate}}" readonly>
      <mat-datepicker-toggle [for]="pickerTo" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #pickerTo [startAt]="today"></mat-datepicker>
    </mat-form-field>
  </div>

  <div *ngIf="emailType === 2" class="flex justify-end mt-4">
    <button [disabled]="selectedDateTo === null" (click)="searchCourses()" color="primary" mat-flat-button>
      {{ 'mails.search' | translate }}
    </button>
  </div>

  <mat-spinner *ngIf="loadingCourses" class="m-auto mt-4"></mat-spinner>

  <div *ngIf="emailType === 2" class="block w-full mt-4">
    <mat-checkbox *ngIf="paginatedCourses.length > 0" (change)="selectAll($event)">
      {{ 'choose_all' | translate }}
    </mat-checkbox>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2">
      <div *ngFor="let item of paginatedCourses" (click)="addToCourses(item.id)"
           [class.bg-blue-100]="coursesToSend.includes(item.id)"
           [class.border-blue-500]="coursesToSend.includes(item.id)"
           class="p-3 border rounded-lg cursor-pointer hover:bg-gray-100 flex items-center transition-all">
        <img [src]="item.course_type===1?item.sport.icon_collective:item.sport.icon_prive"
             class="w-16 h-16 rounded-md mr-3">

        <div>
          <p class="font-bold">{{ item.name }}</p>
          <p>{{ item.course_type === 1 ? 'colective' : 'private' | translate }} - {{ item.sport.name }}</p>
          <p *ngIf="item.station">{{ item.station.name }}</p>
        </div>
      </div>
    </div>

    <div class="flex justify-between mt-4">
      <button *ngIf="paginatedCourses.length > 0" [disabled]="currentPage === 1" (click)="previousPage()"
              color="primary" mat-flat-button>
        {{ 'before' | translate }}
      </button>
      <button *ngIf="paginatedCourses.length > 0" [disabled]="currentPage * pageSize >= courses.length"
              (click)="nextPage()" color="primary" mat-flat-button>
        {{ 'next' | translate }}
      </button>
    </div>
  </div>
  <div class="block w-full"
       style="margin: 5% 0 0 0">
    <mat-form-field appearance="outline"
                    class="block w-full">
      <mat-label>
        {{'subject' | translate}}
      </mat-label>
      <input [(ngModel)]="generalSubjet"
             [value]="generalSubjet"
             matInput
             type="text">
    </mat-form-field>
  </div>
  <div class="vex-mail-compose-editor flex flex-col">
    <p>
      {{ 'message' | translate }}
    </p>
    <angular-editor [(ngModel)]="generalBody" [config]="editorConfig"
                    placeholder="{{'enter_text' | translate}}"></angular-editor>
  </div>
  <!-- <div class="vex-mail-compose-attachment mt-4 mb-2 rounded-full border px-4 py-1 flex items-center hover:bg-hover transition duration-200 ease-in-out cursor-pointer relative"
       matRipple>
    <mat-icon class="flex-none text-primary icon-sm" svgIcon="mat:picture_as_pdf"></mat-icon>
    <p class="flex-auto ml-4 text-sm">super-secret-design-document.pdf</p>

    <p class="text-sm text-secondary mr-2 flex-none">54kb</p>
    <button (click)="$event?.stopPropagation()" class="flex-none w-8 h-8 leading-none" mat-icon-button type="button">
      <mat-icon class="icon-sm" svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <div class="vex-mail-compose-attachment my-2 rounded-full border px-4 py-1 flex items-center hover:bg-hover transition duration-200 ease-in-out cursor-pointer relative"
       matRipple>
    <mat-icon class="flex-none text-primary icon-sm" svgIcon="mat:image"></mat-icon>
    <p class="flex-auto ml-4 text-sm">cute-cat-picture.jpg</p>

    <p class="text-sm text-secondary mr-2 flex-none">16kb</p>
    <button (click)="$event?.stopPropagation()" class="flex-none w-8 h-8 leading-none" mat-icon-button type="button">
      <mat-icon class="icon-sm" svgIcon="mat:close"></mat-icon>
    </button>
  </div> -->
</mat-dialog-content>
<mat-dialog-actions>
  <button color="warn"
          mat-dialog-close
          mat-icon-button
          matTooltip="Discard Draft"
          type="button">
    <mat-icon svgIcon="mat:delete"></mat-icon>
  </button>
  <span class="flex-1"></span>
  <!-- <button mat-icon-button matTooltip="Attach File" type="button">
    <mat-icon svgIcon="mat:attach_file"></mat-icon>
  </button> -->
  <button (click)="sendMail()"
          color="primary"
          mat-flat-button
          type="button">
				<span>
					{{'send' | translate}}
				</span>
    <mat-icon class="ml-2 icon-sm"
              svgIcon="mat:send"></mat-icon>
  </button>
</mat-dialog-actions>

