<vex-page-layout>

  <!--<vex-secondary-toolbar>
    <vex-breadcrumbs [crumbs]="[{icon: 'bonos-2', text: ''}, {text: 'list', icon: ''}]" class="flex-auto"></vex-breadcrumbs>
    <button class="ml-2" color="primary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>
  </vex-secondary-toolbar>-->

  <vex-secondary-toolbar current="">
    <i class="icon"><img src="../assets/img/icons/bonos.svg" /></i>
    <h2 class="title">Estadísticas <!-- añadir código --></h2>
    <h3 class="subtitle">Añadir texto dinámico</h3>
  </vex-secondary-toolbar>

  <vex-page-layout-content class="-mt-6 fullwidth">
      <vex-aio-table [columns]="columns" [entity]="entity" [deleteEntity]="deleteEntity" [title]="'bonus'" [route]="'bonuses'" [createComponent]="createComponent" [canDelete]="false" [canDeactivate]="false" [sectionIcon]="icon"></vex-aio-table>
  </vex-page-layout-content>
</vex-page-layout>
