<mat-dialog-content>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Fecha" [(ngModel)]="selectedDate" [min]="today">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker [startAt]="today"></mat-datepicker>
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <input type="text" placeholder="Hora" matInput [matAutocomplete]="auto" [(ngModel)]="selectedHour">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let hour of hours" [value]="hour">
        {{hour}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="{date: selectedDate, hour: selectedHour}">Aceptar</button>
</mat-dialog-actions>
