.cardgroup {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 10px;
  padding: 20px;
  border-bottom: 1px solid #dee6ea;
  font-size: 12px;
  color: var(--color-dark1);
}
.button {
  cursor: pointer;
}
.cardp {
  background-color: #ffffff;
  .emptyText {
    background-color: #dee6ea;
    border-radius: 10px;
    width: 100%;
  }
  .Img1 {
    border-radius: 5px;
  }
  .emptyImg1 {
    background-color: #dee6ea;
  }
  p {
    font-size: 12px;
    min-height: 8px;
  }
}
.sport_icon {
  border-radius: 3px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.noselected {
  background-color: #2f3844;
}

.selected {
  background-color: #e91e63;
}
button {
  border-radius: 3px !important;
}
.sport_checkbox {
  width: calc(50% - 32px);
  border: 1px #c7d0d3 solid;
  padding: 16px;
  border-radius: 3px;
  min-width: 250px;
  label {
    font-size: 14px;
    font-weight: 900;
  }
}

.editbutton {
  cursor: pointer;
  float: right;
}
.check {
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: green;
}

::ng-deep {
  .mat-checkbox-background,
  .mat-checkbox-frame {
    border-radius: 70% !important;
  }
}
