

.custom-card {
  transition: all 0.3s ease;
  box-shadow: none;
  border: 2px solid transparent; /* Añadido para mantener el mismo tamaño de la tarjeta al cambiar el borde */
}

.custom-card:hover, .custom-card.selected {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
  border: 2px solid #e6e6e6; /* Añade un borde del color deseado */
  cursor: pointer;
}

.selected {
  background-color: rgba(255, 48, 133, 0.1); /* Color de fondo ligero para mejorar la selección */
}

.smaller-calendar {
  transform-origin: top left;
  width: 100%; /* Ajusta según la escala para mantener la anchura */
}

/* Opcionalmente, puedes ajustar el tamaño de la fuente si lo consideras necesario */
.smaller-calendar .mat-calendar-body-cell-content {
  font-size: 0.85em; /* Ajusta este valor para cambiar el tamaño de la fuente */
}

.columns-container {
  display: flex;  /* Establecemos un contenedor flex */
  width: 100%;    /* Aseguramos que tome todo el ancho disponible */
  height: 100%; /* Asegura que ocupe toda la altura disponible */

}

.calendar-column {
  flex: 0 0 30%; /* No crecerá, no se reducirá y se establece en un ancho base de 30% */
  padding-right: 16px; /* Agregar un pequeño espacio entre las columnas */
  height: 100%; /* Establece una altura del 100% */
  background-color: white;
  border-radius: 5%;
}

.list-column {
  flex: 2;
  width: 70%; /* o flex: 0.7 si prefieres usar flex */
  display: flex;
  flex-direction: column;
  height: 550px;
}

.list-overflow-container {
  max-height: 100%; /* Cambia esto para que ocupe toda la altura disponible */
  overflow-y: auto;
}


.custom-list-item {
  display: flex;
  align-items: stretch; /* Asegura que todos los hijos ocupen la misma altura */
  height: 100%;
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* Previene que el contenedor se encoja */
  width: 8%; /* Ajusta según el tamaño que desees para la imagen */
  padding: 8px; /* Ajusta según el espacio que desees alrededor de la imagen */
  float: left;
}

.custom-avatar {
  height: 100%;
  width: auto; /* Asegura que la imagen mantenga sus proporciones */
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinea el contenido verticalmente al centro */
  flex-grow: 1; /* Ocupa el espacio restante */
  padding: 10px 0 0 15px;/* Espacio entre la imagen y el contenido */
  float: left;
  width: 90%;
}

.title {
  width: 50%;
  float: left;
}

.price {
  width: 50%;
  text-align: right;
  float: left;
}

mat-list {
  overflow: auto;
}

.selected-item {
  transition: all 0.3s ease;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
  border: 2px solid #ff3085;
  background-color: rgba(255, 48, 133, 0.1);
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
  background: #FF3085;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
	font-family: 'Rubik', sans-serif;
	font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;

  &:hover {
    background-color: darken(#FF3085, 10%);
  }

  &.btn-1 {
    background-color: #FF3085;
    transition: none;

    &:hover {
      box-shadow: 0 4px darken(#FF3085, 10%);
      top: 2px;
    }
  }

}

.add-date {
  box-shadow: none;background: #fff;border: 1px solid #e6e6e6;
}

.icon-date {
  color: #e6e6e6; font-size: 10px;width: 50px;height: 50px;
}

.add-date:hover   {
  box-shadow: none;background: var(--is-light-theme, #e6e6e6) var(--is-dark-theme, #121212);;border: 1px solid #e6e6e6;

}
.add-date:hover .icon-date  {
  color: #fff;
}

.input-container {
  padding: 0 0 0 10px;
  width: 50%;
}

.image-container, .input-container {
  float:left;
}

::ng-deep .mat-step {
  padding: 0 5% 0 0;
}
::ng-deep .mat-vertical-content-container {
  margin: 0 !important;
}
::ng-deep .mdc-evolution-chip__text-label {
  color: white !important;
}

.custom-card {
  transition: all 0.3s ease;
  box-shadow: none;
  border: 1px solid #E6E6E6; /* Añadido para mantener el mismo tamaño de la tarjeta al cambiar el borde */
  color: #E6E6E6;
  text-align: center;
  cursor: pointer;
  float: left;
  width: 30%;
}

.selected-collectif {
  background-color: #FAC710; /* Color de fondo ligero para mejorar la selección */
  color: #fff
}

.selected-prive {
  background-color: #8FD14F; /* Color de fondo ligero para mejorar la selección */
  color: #fff
}

.square-prefix {
  color: white;
  padding: 18px;
}

.mat-form-field-infix {
  align-items: center;
  display: flex;
}

.table-container {
  overflow-x: auto;
}

.mat-table {
  width: 100%;
}

.centered-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

table caption {
  text-align: left;
  font-weight: bold;
  padding: 8px;
}
