.secondary-toolbar {
  background: var(--is-light-theme, #ffffff) var(--is-dark-theme, #222222);
  height: var(--secondary-toolbar-height);
  margin-top: calc(var(--secondary-toolbar-height) * -1);

  &.fixed {
    width: var(--toolbar-width);
    border-bottom: 1px solid var(--is-light-theme, #dee6ea)
      var(--is-dark-theme, #121212);
  }
}

.secondary-toolbar-placeholder {
  height: var(--secondary-toolbar-height);
}

::ng-deep .is-mobile .fixed {
  width: 100%;
}

::ng-deep body .fixed {
  width: calc(100% - var(--sidenav-width));
}

::ng-deep {
  vex-breadcrumbs {
  }

  @screen sm {
    vex-breadcrumbs {
      @apply flex;
    }
  }
}
