<div [ngClass]="{ 'disabled': status == 2 }" class="wrapper">
  <div class="headerWrapper"
       [ngClass]="{'header1': course && course.course_type===1,
      'header2': course && course.course_type===2,
      'header3': course && course.course_type===3}" (click)="isDetail ? summaryMode = !summaryMode : null">
		<span class="sportTitle">
			{{("00"+(+index+1)).slice(-2)}}.
		</span>
    <div *ngIf="sport || course">
      <img [class]="{ sportImg: !course, courseImg: course }" [src]="course?.icon || sport.icon_selected"
           [alt]="sport.name">
    </div>
    <ng-container *ngIf="course">
      <div class="flex flex-col">
        <h4 class="courseTitle">{{ course.name }}</h4>
        <span class="courseSubtitle">
					{{course.typeString | translate}} {{course.is_flexible ? 'Flex' : 'Fix' | translate}}
          {{course.sport.name}}
				</span>
        <div [style.background]="sportLevel?.color" style="
      display: inline-block;
      padding: 0.2rem 0.5rem;
      color: #fff;
      border-radius: 5px;
      text-align: center;
      font-size: 10px;
      width: 3rem;
      overflow: inherit;
    ">
          {{ sportLevel?.league }}
        </div>
      </div>
    </ng-container>
    <div *ngIf="isDetail && status != 2" (click)="deleteActivity.emit(); $event.stopPropagation()"
         style="margin-left: auto;align-content: space-around;">
      <img class="icon24" src="assets/icons/icon/delete.png">
    </div>
  </div>
  <div class="bodyWrapper">
    <div class="section" style="border-bottom: 1px solid #dee6ea;">
      <div class="sectionTitle">
        <img src="assets/img/icons/clientes2.svg" class="icon24">
        {{ "bookings_page.description.utilizers" | translate }}
      </div>
      <ng-container *ngIf="utilizers">
        <div *ngIf="!summaryMode; else summaryUtilizer">
          <div *ngFor="let item of utilizers" class="utilizersWrapper">
            <app-level-user class="avatarImg"
                            mat-card-avatar *ngIf="item.client_sports && item.client_sports.length"
                            [allLevels]="utilsService.getSportLevels(item.client_sports[0].sport_id, allLevels)"
                            [selectLevel]="item.client_sports[0].sport_id?.degree_id" [size]="50"
                            [userImage]="item?.image !== null && item?.image
                        !== '' ? item?.image :  'assets/img/avatar.png'">
            </app-level-user>
            <img *ngIf="!item.client_sports || !item.client_sports.length" [src]="
              item.image !== null && item.image !== ''
                ? item.image
                : 'assets/img/avatar.png'
            " style="min-width: 24px;
          width: 24px;
          height: 24px;" class="avatarImg">

            <div class="utilizersWrapper__description">
              <h4>
                {{ item.first_name }} {{ item.last_name }}
              </h4>
              <span>
								{{ langService.getLanguage(item.language1_id) }} ·
                {{ utilsService.calculateYears(item.birth_date) }} &ensp;{{
                  "years" | translate
                }}
                · {{ utilsService.getCountry(item.country) }}
							</span>
            </div>
          </div>
        </div>
        <ng-template #summaryUtilizer>
          <div class="utilizersWrapper">
            <app-level-user class="avatarImg"
                            mat-card-avatar *ngIf=" utilizers[0]?.client_sports &&  utilizers[0]?.client_sports.length"
                            [allLevels]="utilsService.getSportLevels( utilizers[0]?.client_sports[0].sport_id, allLevels)"
                            [selectLevel]=" utilizers[0]?.client_sports[0].sport_id?.degree_id" [size]="50"
                            [userImage]=" utilizers[0]?.image !== null &&  utilizers[0]?.image
                        !== '' ?  utilizers[0]?.image :  'assets/img/avatar.png'">
            </app-level-user>
            <img *ngIf="! utilizers[0]?.client_sports || ! utilizers[0]?.client_sports.length" [src]="
               utilizers[0]?.image !== null &&  utilizers[0]?.image !== ''
                ?  utilizers[0]?.image
                : 'assets/img/avatar.png'
            " style="min-width: 24px;
          width: 24px;
          height: 24px;" class="avatarImg">
            <div class="utilizersWrapper__description">
              <h4>
                {{ utilizers[0]?.first_name }} {{ utilizers[0]?.last_name
                }}
              </h4>
              <span>
								{{ langService.getLanguage(utilizers[0]?.language1_id) }} ·
                {{ utilsService.calculateYears(utilizers[0]?.birth_date) }}
                &ensp;
                {{ "years" | translate }} · {{
                  utilsService.getCountry(utilizers[0]?.country) }}
							</span>
            </div>
            <!-- Mostrar el número de utilizadores restantes -->
            <div *ngIf="utilizers.length > 1" style="margin-left: auto;background-color: #DEE6EA;border-radius: 3px;
            height: 28px;
            width: 28px;
            text-align: -webkit-center;">
              <p style="
            color: #222222;
             font-size: 14px;
             font-family: DM Sans;
             font-weight: 600;
             line-height: 28px;
             word-wrap: break-word">
                +{{ utilizers.length - 1 }}
              </p>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </div>

    <div class="section">
      <div class="sectionTitle">
        <img src="assets/img/icons/calendar-1.svg">
        {{ "bookings_page.description.date" | translate }}
        <ng-container *ngIf="course && course.course_type!==1">
          <img *ngIf="!summaryMode && isDetail && status != 2"
               (click)="sendEditForm(dates, course, utilizers)"
               src="assets/img/icons/edit-grey.svg" style="float: right" class="icon24">
        </ng-container>
        <ng-container *ngIf="course && course.course_type ==1 && !course.is_flexible ">
          <img *ngIf="!summaryMode && isDetail && status != 2"
               (click)="sendEditForm(dates, course, utilizers)"
               src="assets/img/icons/edit-grey.svg" style="float: right" class="icon24">
        </ng-container>
        <ng-container *ngIf="course && course.course_type ==1 && course.is_flexible ">
          <img *ngIf="!summaryMode && isDetail && status != 2
          && course.course_extras.length"
               (click)="sendEditForm(dates, course, utilizers)"
               src="assets/img/icons/edit-grey.svg" style="float: right" class="icon24">
        </ng-container>
      </div>
      <ng-container *ngIf="dates && dates.length">
        <div *ngIf="!summaryMode; else summaryDates">
          <div *ngFor="let date of dates; let i = index; let last = last;"
               [ngStyle]="!last ? {'border-bottom': '1px solid #dee6ea', 'padding-bottom': '10px'} : {}"
               [ngClass]="{ 'disabled': date.booking_users[0].status == 2 }" class="dateRow">
            <div>
							<span class="date">
								{{ formatDate(date?.date) }}
							</span>
              <span class="hour">
								{{ date.startHour}}h - {{date.endHour}}h
							</span>
              <span *ngIf="shouldShowPrice(course, date, i)" class="price">
                <!-- Mostrar el precio original tachado -->
                <span *ngIf="isDiscounted(date, i)" class="original-price">
                  {{ bookingService.calculateDatePrice(course, date, true) | number:'0.2-2' }} {{ date.currency }}
                </span>

                              <!-- Mostrar el precio con descuento -->
                <span class="discounted-price">
                  {{ calculateDiscountedPrice(date, i) | number:'0.2-2' }} {{ date.currency }}
                </span>
              </span>
            </div>
            <div class="monitorRow" *ngIf="course && course.course_type!==1">
              <div class="row1">

                <div class="sectionTitle">
                  <img src="assets/img/icons/monitores-3.svg" />
                  {{ "bookings_page.description.monitor" | translate }}
                </div>
                <app-level-user class="avatarImg" *ngIf="date.monitor"
                                mat-card-avatar
                                [allLevels]="utilsService.getSportLevels(course.sport_id, allLevels)"
                                [selectLevel]="utilsService.getHighestAuthorizedDegree(date.monitor,
                                course.sport_id, course.school_id)" [size]="40"
                                [userImage]="date.monitor?.image !== null && date.monitor?.image
                  !== '' ? date.monitor?.image : 'assets/img/avatar.png'">
                </app-level-user>
                <span style="align-content: center" *ngIf="date.monitor">
                  {{ date.monitor.first_name }} {{ date.monitor.last_name }}
                  <mat-icon *ngIf="date.changeMonitorOption" matPrefix class="changeMonitorIcon"
                            [class]="date.changeMonitorOption.class" fontSet="material-icons-outlined">{{
                      date.changeMonitorOption.icon }}
                  </mat-icon>
                </span>
                <span class="monitorDetails" *ngIf="!date.monitor">
                  {{ 'not_assigned' | translate }}
                </span>
              </div>

              <ng-container *ngIf="date.utilizers && date.utilizers.length && hasExtrasForDate(date)">
                <div class="sectionTitle monitorDetails">
                  {{ "extras" | translate }}
                </div>
                <ng-container *ngFor="let utilizer of date.utilizers">
                  <ng-container *ngIf="utilizer.extras && utilizer.extras.length">
                    <div *ngIf="utilizer.extras && utilizer.extras.length" class="dateExtras">
                      <h5>{{ utilizer.first_name }} {{ utilizer.last_name
                        }}:</h5>
                      <div *ngFor="let extra of utilizer.extras" class="extraDetails">
                        <span>{{ getExtraName([extra]) }} - {{
                            getExtraDescription([extra]) }}</span>
                        <span class="price">{{ getExtraPrice([extra]) }} {{
                            date.currency }}</span>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
            <div class="monitorRow"  *ngIf="date.extras && date.extras.length">
              <div class="dateExtras">
                {{ (date.utilizer && date.utilizer[0]?.first_name) ?? '' }}
                {{getExtraName(date.extras)}} -
                {{ getExtraDescription(date.extras) }}
                <span class="price">
									{{ getExtraPrice(date.extras) }} {{
                    date.currency }}
								</span>
              </div>
            </div>
          </div>
        </div>
        <ng-template #summaryDates>
          <div class="dateRow">
            <div>
							<span class="date">
								{{ formatDate(dates[0]?.date) }}
							</span>
              <span class="hour">
								{{ dates[0]?.startHour }}h - {{ dates[0]?.endHour
                }}h
							</span>

              <div *ngIf="dates.length > 1" style="margin-left: auto;background-color: #DEE6EA;border-radius: 3px;
            height: 28px;
            width: 28px;
            text-align: -webkit-center;">
                <p style="
            color: #222222;
             font-size: 14px;
             font-family: DM Sans;
             font-weight: 600;
             line-height: 28px;
             word-wrap: break-word">
                  +{{ dates.length - 1 }}
                </p>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="!dates || !dates.length">
        <div class="dateSkeletonsWrapper">
          <div class="skeleton small"></div>
          <div class="skeleton medium"></div>
          <div class="skeleton small last"></div>
        </div>
      </ng-container>
    </div>
    <div class="section" *ngIf="course && course.course_type === 1">
      <div class="sectionTitle">
        <img src="assets/img/icons/monitores-3.svg" />
        {{ "bookings_page.description.monitor" | translate }}
      </div>
      <ng-container *ngIf="dates?.length; else noDates">
        <ng-container *ngIf="uniqueMonitors.length; else noMonitor">
          <div class="monitor__description">
            <h4>{{ uniqueMonitors[0]?.first_name }} {{ uniqueMonitors[0]?.last_name }}
              <span *ngIf="uniqueMonitors.length > 1"
                    style="color: var(--color-dark1); font-size: 14px; font-family: DM Sans; font-weight: 600; line-height: 28px; word-wrap: break-word;">
                +{{ uniqueMonitors.length - 1 }}
              </span>
            </h4>
            <span>
              {{ langService.getLanguage(uniqueMonitors[0]?.language1_id) }} ·
              {{ utilsService.calculateYears(uniqueMonitors[0]?.birth_date) }} &ensp;
              {{ "years" | translate }} ·
              {{ utilsService.getCountry(uniqueMonitors[0]?.country) }}

            </span>

          </div>
        </ng-container>
      </ng-container>
      <ng-template #noMonitor>
        <div class="utilizersWrapper">
          <p>{{ "text_nomonitorset" | translate }}</p>
        </div>
      </ng-template>
      <ng-template #noDates>
        <div class="utilizersWrapper">
          <p>{{ "text_no_dates_month" | translate }}</p>
        </div>
      </ng-template>
    </div>
    <div *ngIf="!summaryMode" class="section observacionSection">
      <div class="sectionTitle">
        {{ "observation_client" | translate }}
        <img *ngIf="!summaryMode && isDetail && status != 2"
             (click)="openObservationsForm(clientObs, schoolObs)" src="assets/img/icons/edit-grey.svg"
             class="icon24" style="float: right;">
      </div>
      <p>{{ clientObs }}</p>
      <div class="sectionTitle mt-5">
        {{ "observation_school" | translate
        }}
      </div>
      <p>{{ schoolObs }}</p>
    </div>
  </div>

  <div class="footerWrapper">
    {{ "bookings_page.description.total" | translate }}
    <ng-container *ngIf="total">
      <span class="totalPrice">{{ total }} {{course.currency}}</span>
    </ng-container>
  </div>
</div>

