<vex-page-layout>

  <vex-secondary-toolbar>
    <vex-breadcrumbs [crumbs]="[{text: '', icon: 'cursos-2'}, {text: 'list', icon: ''}]" class="flex-auto"></vex-breadcrumbs>

    <button class="ml-2" color="primary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>
  </vex-secondary-toolbar>
  <vex-page-layout-content class="-mt-6 fullwidth">
      <vex-aio-table [columns]="columns" [entity]="entity" [deleteEntity]="deleteEntity" [title]="'courses.title'" [route]="'courses'" [createComponent]="createComponent" [canDelete]="false" [canDeactivate]="true"
      [ngClass]="{'table-show-detail': this.showDetail}" [sectionIcon]="icon" [canDuplicate]="true"
      (showDetailEvent)="showDetailEvent($event)"
      [showDetail]="showDetail"
      [updatePage]="'detail'" [filterColumn]="'school_id'" [filterField]="user.schools[0].id"
      ></vex-aio-table>
  </vex-page-layout-content>

  <vex-page-layout-content class="-mt-6 fullwidth" style="width: 35%;float:left" *ngIf="showDetail">
    <mat-card style="padding: 0 3%;">
      <mat-card-header style="display:block">
        <div style="width: 100%;float:left;">
          <mat-card-title style="float: left;width: 35%;">{{'course_detail' | translate}}</mat-card-title>
          <div style="float: left;width: 25px;border-radius: 100%;height: 25px;margin: 0;" [ngStyle]="{'background-color': detailData.active ? '#CEE741' : '#e6e6e6'}"></div>
          <div style="float: left;width: 25px;border-radius: 100%;height: 25px;margin: 0 0 0 25px;" [ngStyle]="{'background-color': detailData.options ? '#CEE741' : '#e6e6e6'}"></div>
          <div style="float: left;width: 25px;border-radius: 100%;height: 25px;margin: 0  25px;"  [ngStyle]="{'background-color': detailData.online ? '#CEE741' : '#e6e6e6'}"></div>
          <mat-icon svgIcon="mat:close" (click)="showDetail = false" style="cursor: pointer;float: right;"></mat-icon>
          <mat-icon style="float: right;cursor: pointer;" svgIcon="mat:edit" (click)="goTo('/courses/detail/'+detailData.id)"></mat-icon>
        </div>
        <div style="width:100%; margin-top:5%;float:left">
          <div style="width: 100%;">
            <p style="float: left;width: 80%;text-align: left;"><b>{{'from' | translate}}</b></p>
            <p style="float: left;width: 20%;text-align: right;"><b>{{'to' | translate}}</b></p>
          </div>
          <div style="width: 100%;">
            <p style="float: left;width: 50%;text-align: left;"><b>{{detailData.date_start | date: 'dd/MM/YYYY'}}</b> {{detailData.course_dates[0].hour_start}}h</p>
            <p style="float: left;width: 50%;text-align: right;"><b>{{detailData.date_end | date: 'dd/MM/YYYY'}}</b> {{detailData.course_dates[0].hour_end}}h</p>
          </div>
        </div>
        <mat-divider style="float: left;width: 100%;margin: 2% 0 0 0;"></mat-divider>

        <div style="width:100%; margin-top:5%;float:left">
          <div style="width: 100%;">
            <p style="float: left;width: 80%;text-align: left;"><b>{{'price' | translate}}</b></p>
            <p style="float: left;width: 20%;text-align: right;"><b>{{'participants' | translate}}</b></p>
          </div>
          <div style="width: 100%;">
            <p style="float: left;width: 50%;text-align: left;"><b>{{detailData.price}}</b> {{detailData.currency}}</p>
            <p style="float: left;width: 50%;text-align: right;"><b>{{detailData.max_participants}}</b></p>
          </div>
        </div>
        <mat-divider style="float: left;width: 100%;margin: 2% 0 0 0;"></mat-divider>
        <div style="float: left; width: 100%;margin-top: 5%;"  *ngIf="detailData.course_type === 1">
          <ul>
            <ng-container *ngFor="let item of detailData.course_dates; let i = index">
              <li *ngIf="item.active || item.active === 1">{{parseDateToText(item.date)}} <i style="text-align: right;float:right">{{item.hour_start}}h - {{item.hour_end}}h</i></li>
            </ng-container>
          </ul>
        </div>
        <div style="float: left; width: 100%;margin-top: 5%;"  *ngIf="detailData.course_type ===2">
          <ul>
            <li>{{parseDateToText(detailData.course_dates[0].date)}} <i style="text-align: right;float:right">{{detailData.course_dates[0].hour_start}}h - {{detailData.course_dates[0].hour_end}}h</i></li>
            <li>{{parseDateToText(detailData.course_dates[detailData.course_dates.length - 1].date)}} <i style="text-align: right;float:right">
              {{detailData.course_dates[detailData.course_dates.length - 1].hour_start}}h - {{detailData.course_dates[detailData.course_dates.length - 1].hour_end}}h
              </i>
            </li>
          </ul>
        </div>
        <mat-divider style="float: left;width: 100%;margin: 2% 0 0 0;"></mat-divider>

      </mat-card-header>
      <mat-card-content *ngIf="detailData.course_type === 2">
        <div style="float: left; width: 100%;">
          <div style="float: left;width: 100%;">
            <div style="float: left; width: 20%; margin-top: 5%">
              <img [src]="'https://school.boukii.com/assets/icons/prive_'+ detailData.sport.name.toLowerCase()+'2x.png'" width="100" height="100">
            </div>
            <div style="float: left; width: 75%;margin:6% 0 0 2%">
              <p><strong>{{detailData.name}}</strong></p>
              <p> {{detailData.course_type === 1 ? 'Collectif' : 'Privee'}} {{ detailData.sport.name}}</p>
              <p>{{detailData.station.name}}</p>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-content *ngIf="detailData.course_type === 1">
        <div style="float: left; width: 100%;">
          <div style="float: left;width: 100%;">
            <div style="float: left; width: 20%; margin-top: 5%">
              <img [src]="'https://school.boukii.com/assets/icons/collectif_'+ detailData.sport.name.toLowerCase()+'2x.png'" width="100" height="100">
            </div>
            <div style="float: left; width: 75%;margin:6% 0 0 2%">
              <p><strong>{{detailData.name}}</strong></p>
              <p> {{detailData.course_type === 1 ? 'colective' : 'private' | translate}} {{ detailData.sport.name}}</p>
              <p>{{detailData.station.name}}</p>
            </div>
          </div>
        </div>
        <mat-divider style="float: left;width: 100%;margin: 5% 0 5% 0;"></mat-divider>
        <div style="float: left; width: 100%;">
          <p><strong>{{'courses.levels_and_groups' | translate }}</strong> <mat-icon svgIcon="mat:cloud_download" style="cursor: pointer;float:right" (click)="exportQR(detailData.id)"></mat-icon></p>

          <ng-container *ngFor="let colorKey of colorKeys">
            <ng-container *ngFor="let level of groupedByColor[colorKey]">
              <div style="float: left; width: 100%;margin-top:3%;cursor: pointer;" *ngIf="getSubGroups(level.id) > 0" (click)="selectGroup(level)">
                <div  style="float: left;width: 22%;border-radius: 11%;height: 110px;padding: 2%;color: #fff;" [style.background-color]="colorKey">
                  <img src="https://school.boukii.com/assets/icons/award_icon.svg" style="width:24px;height:24px;margin: 0 auto;" />

                  <p style="font-size: 12px;text-align: center">{{level.league}}</p>
                  <p style="font-size: 12px;text-align: center">{{level.annotation}} - {{level.name}}</p>
                </div>
                <div  style="float: left;width: 17%;border-radius: 11%;height: 100px;padding: 2%;color: #000;background: #e6e6e6;margin: 0 0 0 2%;text-align:center">
                  <img src="https://school.boukii.com/assets/icons/icons-outline-profile-2-user-white.svg" style="width:24px;height:24px;margin: 0 auto;" />
                  {{'groups' | translate}} <strong style="text-align: center;">{{getGroups(level.id)}}g - {{getSubGroups(level.id)}}p</strong>
                </div>
                <div  style="float: left;width: 17%;border-radius: 11%;height: 100px;padding: 2%;color: #000;background: #e6e6e6;margin: 0 0 0 2%;text-align:center">
                  <img src="https://school.boukii.com/assets/icons/icons-outline-clock.svg" style="width:24px;height:24px;margin: 0 auto;" />
                  {{'days' | translate}} <br><strong style="text-align: center;">{{detailData.course_dates.length}}</strong>
                </div>
                <div  style="float: left;width: 17%;border-radius: 11%;height: 100px;padding: 2%;color: #000;background: #e6e6e6;margin: 0 0 0 2%;text-align:center">
                  <img src="https://school.boukii.com/assets/icons/icons-outline-calendar-tick.svg" style="width:24px;height:24px;margin: 0 auto;" />
                  {{'duration' | translate}} <strong style="text-align: center;">{{calculateFormattedDuration(detailData.course_dates[0].hour_start, detailData.course_dates[0].hour_end)}}</strong>
                </div>
                <div  style="float: left;width: 17%;border-radius: 11%;height: 100px;padding: 2%;color: #000;background: #e6e6e6;margin: 0 0 0 2%;text-align:center">

                  {{'students' | translate}} <strong style="text-align: center;">{{getStudents(level.id)}}/{{getMaxStudents(level.id)}}</strong>
                </div>
                <div *ngFor="let item of selectedGroup; let i = index">
                  <div *ngIf="level.id === item.degree_id" style="float: left; width: 100%; padding: 5%;">
                    <p style="float: left; width: 100%;">{{'groups' | translate}} {{i+1}}</p>
                    <div style="float: left;width: 70%;">
                      <img [src]="getMonitor(item.monitor_id)?.image ? getMonitor(item.monitor_id)?.image : imageAvatar" style="width: 50px;height: 50px;float: left;margin: 5% 0 0 0; border-radius: 100%">
                      <span style="float: left;width: 70%;margin: 9% 0 0 5%;"> {{getMonitor(item.monitor_id)?.first_name ? getMonitor(item.monitor_id)?.first_name + ' ' + getMonitor(item.monitor_id)?.last_name : 'No monitor asigned'}}</span>
                    </div>
                    <div style="float: left;width: 30%;margin: 6% 0 0 0;">
                      <strong style="text-align: right;float: right;">{{getActiveBookingUsers(item.booking_users)}}/{{item.max_participants}} {{'users' | translate}}</strong>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </mat-card-content>
    </mat-card>
  </vex-page-layout-content>
</vex-page-layout>
