.table-show-detail {
  width: 100%;
  float: left;
}

.vex-page-layout-content {
  &.col-right {
    width: 30%;
    float: left;
    position: fixed;
    left: calc(70% - 40px);
    overflow-y: auto;
    max-height: calc(100vh - 180px);
    border-radius: 10px;
    padding: 0px;
    margin-top: 6px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

    @media (max-width: 1280px) {
      width: 50%;
      left: calc(50% - 40px);
    }

    @media (max-width: 1020px) {
      width: 60%;
      left: calc(40% - 40px);
    }

    @media (max-width: 768px) {
      width: 90%;
      left: calc(10% - 40px);
    }

    .mat-mdc-card-subtitle {
      > div {
        display: block !important;
        width: 100% !important;
        text-align: left !important;
      }
    }
  }

  .mat-mdc-card-header {
    background-color: #2f3844;
    padding: 25px 35px !important;

    .mat-mdc-card-title {
      font-weight: 700;
      font-size: 1.5rem;
      color: #fff;
    }

    .mat-icon {
      fill: white !important;
    }
  }

  .mat-mdc-card-content {
    padding: 0px 0px 20px 0px !important;

    .dots {
      padding: 15px 35px;

      .dot {
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
        border-radius: 50%;
      }
    }

    .title-status {
      background-color: var(--color-grey4);
      padding: 15px 35px;
      margin-bottom: 8px;

      b {
        color: var(--color-dark1);
        font-size: 1em;
        font-weight: 700;
      }

      .col-left {
        display: inline-block;
        width: 49%;
      }

      .col-right {
        display: inline-block;
        width: calc(100% - 49%);
        text-align: right;
        font-size: 1em;
        font-weight: 700;
      }
    }

    .title-client {
      padding: 10px 35px;
      color: var(--color-dark1);
      font-size: 1.1em;
      font-weight: 700;
    }

    .holder-client {
      padding-left: 45px;

      .col-left {
        display: inline-block;
        vertical-align: middle;
      }
      .col-right {
        display: inline-block;
        vertical-align: middle;
        padding-left: 15px;

        .client-name {
          font-size: 1.3em;
          font-weight: 700;
          color: var(--color-dark1);
          margin-bottom: 2px;
          max-width: 600px;
        }

        .client-dates {
          font-family: "Montserrat", sans-serif;
          font-size: 0.9em;
        }
      }
    }

    .title-grupos {
      background-color: var(--color-grey4);
      padding: 15px 35px;
      margin-bottom: 8px;

      b {
        color: var(--color-dark1);
        font-size: 1em;
        font-weight: 700;
      }

      .col-left {
        display: inline-block;
        width: 50%;
      }

      .col-right {
        display: inline-block;
        width: 50%;
        text-align: right;
        font-size: 1em;
        font-weight: 700;
      }
    }

    .holder-deporte {
      padding-left: 35px;
      margin-bottom: 20px;

      .col-left {
        display: inline-block;
        vertical-align: middle;
      }
      .col-right {
        display: inline-block;
        vertical-align: middle;
        padding-left: 12px;

        .client-name {
          font-size: 1.3em;
          font-weight: 700;
          color: var(--color-dark1);
          margin-bottom: 2px;
          max-width: 600px;
        }

        .client-dates {
          font-family: "Montserrat", sans-serif;
          font-size: 1em;
        }

        .client-ubicacion {
          font-family: "Montserrat", sans-serif;
          font-size: 1em;
        }
      }
    }

    .grupo-holder {
      display: flex;
      grid-gap: 6px;
      padding: 10px 35px;

      .item {
        cursor: pointer;
        width: 100%;
        height: 140px;
        display: inline-flex;
        vertical-align: top;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        border-radius: 6px;
        padding: 1%;
        color: var(--color-dark1);
        background: var(--is-light-theme, #e6e6e6) var(--is-dark-theme, #121212);

        text-align: center;
        font-size: 12px;
        font-family: "Montserrat", sans-serif;

        &:first-child {
          color: #fff;
        }

        img {
          display: inline-block;
          width: 24px;
          height: 24px;
          margin-bottom: 10px;
        }
      }
    }

    .grupo-bottom-holder {
      .item {
        width: 100%;

        .holder {
          padding: 10px 35px;
        }
      }
    }
  }
}

.list-holder {
  padding: 0px 35px;
  font-size: 1em;
  font-weight: 400;
  color: var(--color-dark1);
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;

  .col-left {
    width: 70%;
    display: inline-block;
    vertical-align: middle;

    .col-l {
      width: 50%;
      display: inline-block;
      vertical-align: middle;
    }
    .col-r {
      width: 50%;
      display: inline-block;
      vertical-align: middle;
      text-align: right;

      span {
        color: #fa9917;
      }
    }
  }
  .col-right {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
  }
}

.title-actividad {
  background-color: var(--color-grey4);
  padding: 15px 35px;
  margin-top: 20px;
  margin-bottom: 10px;

  .title {
    font-size: 1.2em;
    font-weight: 700;
    color: var(--color-dark1);
  }

  b {
    font-weight: 700;
  }

  .col-left {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }

  .col-right {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    text-align: right;

    b {
      color: var(--color-dark1);
      font-size: 1.4em;
      font-weight: 600;
    }
  }
}
