<mat-form-field *ngIf="control" [formGroup]="form" style="margin: 10px 0;cursor: pointer;" appearance="outline">
	<mat-label>
		{{label | translate}}
	</mat-label>
	<input [matAutocomplete]="auto" [type]="type" [value]="value" name="{label | translate}}"
		[formControlName]="control" [required]="required" placeholder="{{label | translate}}" matInput>
	<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="do.emit($event)">
		<mat-option *ngFor="let item of table" [value]="id?item[id]:item">
			{{name?item[name]:item}} {{name2?item[name2]:null}}
		</mat-option>
	</mat-autocomplete>
	<mat-icon matSuffix svgIcon="mat:keyboard_arrow_down"></mat-icon>
</mat-form-field>
<mat-form-field *ngIf="!control" style="margin: 10px 0;cursor: pointer;" appearance="outline">
	<mat-label>
		{{label | translate}}
	</mat-label>
	<input [value]="value" [matAutocomplete]="auto" [type]="type" name="{{label | translate}}" [required]="required"
		placeholder="{{label | translate}}" matInput>
	<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="do.emit($event)">
		<mat-option *ngFor="let item of table" [value]="id?item[id]:item">
			{{name?item[name]:item}} {{name2?item[name2]:null}}
		</mat-option>
	</mat-autocomplete>
	<mat-icon matSuffix svgIcon="mat:keyboard_arrow_down"></mat-icon>
</mat-form-field>