.swiper-container {
  width: 100%;
  overflow: hidden; /* Esto es crucial para ocultar slides adicionales */
}

.swiper-slide {
  width: 25% !important; /* Ajusta este valor según el ancho que quieras para cada slide */
}

/* Estilo por defecto de los botones */
button[mat-button] {
  color: gray;
}

/* Estilo del botón seleccionado */
.selected {
  color: white;
}
