<mat-card>
  <mat-card-header>
      <mat-card-title>
          Moniteurs
      </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-tab-group (selectedTabChange)="onTabChange($event)">
          <!-- Tab Disponibles -->
          <mat-tab label="Disponibles">
              <div class="swiper-container swiper-container-disponibles">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <vex-widget-quick-value-center
                          icon="mat:group"
                          iconClass="text-primary bg-primary/10"
                          label="Moniteur 1"
                          [canShare]="false"
                          [withPercent]="false"
                          ></vex-widget-quick-value-center>
                      </div>
                      <div class="swiper-slide">
                          <vex-widget-quick-value-center
                          icon="mat:group"
                          iconClass="text-primary bg-primary/10"
                          label="Moniteur 2"
                          [canShare]="false"
                          [withPercent]="false"
                          ></vex-widget-quick-value-center>
                      </div>
                      <div class="swiper-slide">
                          <vex-widget-quick-value-center
                          icon="mat:group"
                          iconClass="text-primary bg-primary/10"
                          label="Moniteur 3"
                          [canShare]="false"
                          [withPercent]="false"
                          ></vex-widget-quick-value-center>
                      </div>
                      <div class="swiper-slide">
                          <vex-widget-quick-value-center
                          icon="mat:group"
                          iconClass="text-primary bg-primary/10"
                          label="Moniteur 4"
                          [canShare]="false"
                          [withPercent]="false"
                          ></vex-widget-quick-value-center>
                      </div>

                  <div class="swiper-slide">
                    <vex-widget-quick-value-center
                    icon="mat:group"
                    iconClass="text-primary bg-primary/10"
                    label="Moniteur 7"
                    [canShare]="false"
                    [withPercent]="false"
                    ></vex-widget-quick-value-center>
                </div>

                <div class="swiper-slide">
                  <vex-widget-quick-value-center
                  icon="mat:group"
                  iconClass="text-primary bg-primary/10"
                  label="Moniteur 7"
                  [canShare]="false"
                  [withPercent]="false"
                  ></vex-widget-quick-value-center>
              </div>
                  </div>
                  <!-- Flechas de navegación -->
                  <!-- Para el Swiper de Disponibles -->
<div class="swiper-button-next swiper-button-next-disponibles"></div>
<div class="swiper-button-prev swiper-button-prev-disponibles"></div>
              </div>
          </mat-tab>
          <mat-tab label="No Disponibles">
              <div class="swiper-container swiper-container-non-disponibles">
                <div class="swiper-wrapper">

                  <div class="swiper-slide">
                      <vex-widget-quick-value-center
                      icon="mat:group"
                      iconClass="text-primary bg-primary/10"
                      label="Moniteur 5"
                      [canShare]="false"
                      [withPercent]="false"
                      ></vex-widget-quick-value-center>
                  </div>
                  <div class="swiper-slide">
                      <vex-widget-quick-value-center
                      icon="mat:group"
                      iconClass="text-primary bg-primary/10"
                      label="Moniteur 6"
                      [canShare]="false"
                      [withPercent]="false"
                      ></vex-widget-quick-value-center>
                  </div>
                  <div class="swiper-slide">
                      <vex-widget-quick-value-center
                      icon="mat:group"
                      iconClass="text-primary bg-primary/10"
                      label="Moniteur 7"
                      [canShare]="false"
                      [withPercent]="false"
                      ></vex-widget-quick-value-center>
                  </div>
                  <div class="swiper-slide">
                      <vex-widget-quick-value-center
                      icon="mat:group"
                      iconClass="text-primary bg-primary/10"
                      label="Moniteur 8"
                      [canShare]="false"
                      [withPercent]="false"
                      ></vex-widget-quick-value-center>
                  </div>
                  <div class="swiper-slide">
                      <vex-widget-quick-value-center
                      icon="mat:group"
                      iconClass="text-primary bg-primary/10"
                      label="Moniteur 9"
                      [canShare]="false"
                      [withPercent]="false"
                      ></vex-widget-quick-value-center>
                  </div>
                  <div class="swiper-slide">
                      <vex-widget-quick-value-center
                      icon="mat:group"
                      iconClass="text-primary bg-primary/10"
                      label="Moniteur 10"
                      [canShare]="false"
                      [withPercent]="false"
                      ></vex-widget-quick-value-center>
                  </div>
                </div>
                <!-- Flechas de navegación -->
                <div class="swiper-button-next swiper-button-next-non-disponibles"></div>
<div class="swiper-button-prev swiper-button-prev-non-disponibles"></div>
              </div>
          </mat-tab>
      </mat-tab-group>
  </mat-card-content>
</mat-card>
