<mat-form-field *ngIf="control" [formGroup]="form" (click)="datepicker.open()" style="margin: 10px 0;cursor: pointer;"
	appearance="outline">
	<mat-label>
		{{name | translate}}
	</mat-label>
	<input [matDatepicker]="datepicker" [min]="min" [max]="max" [formControlName]="control"
		(dateInput)="getLocalISOString($event)" matInput readonly>
	<mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
	<mat-datepicker #datepicker [startAt]="startAt"></mat-datepicker>
	<mat-error *ngIf="c[control].touched && c[control].errors">
		{{ getErrorMessage(control) }}
	</mat-error>
</mat-form-field>
<mat-form-field *ngIf="!control" (click)="datepicker.open()" style="margin: 10px 0;cursor: pointer;"
	appearance="outline">
	<mat-label>
		{{name | translate}}
	</mat-label>
	<input [matDatepicker]="datepicker" [min]="min" [value]="value" [max]="max" (dateInput)="getLocalISOString($event)"
		matInput readonly>
	<mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
	<mat-datepicker #datepicker [startAt]="startAt"></mat-datepicker>
</mat-form-field>