@import "~simplebar/dist/simplebar.css";
@import "~highlight.js/styles/androidstudio.css";
// Vex Core
@import "./@vex/styles/core";
@import "../node_modules/angular-calendar/scss/angular-calendar.scss";
@font-face {
  font-family: 'Dinamit';
  font-weight: 100; /* Thin */
  src: url('./assets/fonts/Dinamit/Dinamit Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Dinamit';
  font-weight: 200; /* ExtraLight */
  src: url('./assets/fonts/Dinamit/Dinamit ExtraLight.otf') format('opentype');
}

@font-face {
  font-family: 'Dinamit';
  font-weight: 300; /* Light */
  src: url('./assets/fonts/Dinamit/Dinamit Light.otf') format('opentype');
}

@font-face {
  font-family: 'Dinamit';
  font-weight: 400; /* Regular */
  src: url('./assets/fonts/Dinamit/Dinamit Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Dinamit';
  font-weight: 500; /* Medium */
  src: url('./assets/fonts/Dinamit/Dinamit Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Dinamit';
  font-weight: 600; /* SemiBold */
  src: url('./assets/fonts/Dinamit/Dinamit SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Dinamit';
  font-weight: 700; /* Bold */
  src: url('./assets/fonts/Dinamit/Dinamit Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Dinamit';
  font-weight: 800; /* ExtraBold */
  src: url('./assets/fonts/Dinamit/Dinamit Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Dinamit';
  font-weight: 900; /* Black */
  src: url('./assets/fonts/Dinamit/Dinamit Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Dinamit';
  font-weight: 100; /* Thin */
  font-style: italic;
  src: url('./assets/fonts/Dinamit/Dinamit Thin Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Dinamit';
  font-weight: 200; /* ExtraLight */
  font-style: italic;
  src: url('./assets/fonts/Dinamit/Dinamit ExtraLight Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Dinamit';
  font-weight: 300; /* Light */
  font-style: italic;
  src: url('./assets/fonts/Dinamit/Dinamit Light Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Dinamit';
  font-weight: 400; /* Regular */
  font-style: italic;
  src: url('./assets/fonts/Dinamit/Dinamit Regular Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Dinamit';
  font-weight: 500; /* Medium */
  font-style: italic;
  src: url('./assets/fonts/Dinamit/Dinamit Medium Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Dinamit';
  font-weight: 600; /* SemiBold */
  font-style: italic;
  src: url('./assets/fonts/Dinamit/Dinamit SemiBold Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Dinamit';
  font-weight: 700; /* Bold */
  font-style: italic;
  src: url('./assets/fonts/Dinamit/Dinamit Bold Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Dinamit';
  font-weight: 800; /* ExtraBold */
  font-style: italic;
  src: url('./assets/fonts/Dinamit/Dinamit Bold Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Dinamit';
  font-weight: 900; /* Black */
  font-style: italic;
  src: url('./assets/fonts/Dinamit/Dinamit Bold Italic.otf') format('opentype');
}

vex-calendar {
  .calendar-bg {
    background: url("./assets/img/demo/landscape.jpg") no-repeat center;
    background-size: cover;
  }
}
body {
  font-family: 'Dinamit', sans-serif; /* Usa la fuente Dinamit como fuente predeterminada */
}

/**
 * angular-calendar overwrites
 */
.cal-month-view {
  background: var(--vex-background-card);

  .cal-days {
    @apply border-divider;

    .cal-cell-row {
      @apply border-divider;
    }
  }

  .cal-header .cal-cell {
    @apply py-3 text-sm font-medium;
  }

  .cal-cell-row {
    &:hover {
      background: var(--vex-background-hover);
    }

    .cal-cell {
      &:hover {
        background: var(--vex-background-hover);
      }

      &.cal-open {
        background: var(--vex-background-hover);
        @apply shadow-lg;
      }
    }
  }

  .cal-day-cell {
    min-height: 150px;

    &.cal-today {
      background: var(--vex-background-app-bar);
    }

    &:not(:last-child) {
      @apply border-divider;
    }
  }

  .cal-open-day-events {
    //@apply bg-primary-600 border-b;

    > div {
      align-content: center;
      align-items: center;
      background: var(--vex-background-card);
      color: var(--vex-text-dark);
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      @apply shadow px-6;

      & + div {
        @apply mt-3;
      }

      mwl-calendar-event-title {
        display: flex;
        flex: 1;
        flex-direction: row;

        .cal-event-title {
          //@apply flex-1 text-default text-sm p-3;
        }
      }

      .cal-event-action {
        @apply text-secondary;

        & + .cal-event-action {
          @apply ml-3;
        }
      }
    }
  }
}

.cal-week-view,
.cal-day-view {
  background: var(--vex-background-card);

  .cal-header {
    @apply text-sm font-medium;

    b {
      font-weight: 500;
    }

    &.cal-weekend span {
      @apply text-secondary;
    }

    &.cal-today {
      background: var(--vex-background-app-bar);
    }
  }

  .cal-day-headers .cal-header:hover,
  .cal-day-headers .cal-drag-over {
    background-color: var(--vex-background-hover);
  }

  .cal-hour {
    background: var(--vex-background-card);

    &:nth-child(odd) {
      background: var(--vex-background-card);
    }
  }

  .cal-hour-odd {
    background: var(--vex-background-app-bar);
  }

  .cal-hour-segment {
    &:hover {
      background: var(--vex-background-hover);
    }
  }

  .cal-time-events {
    .cal-day-columns {
      .cal-hour-segment {
        &:hover {
          background: var(--vex-background-hover);
        }
      }
    }
  }

  .cal-event {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    mwl-calendar-event-actions {
      order: 2;
    }

    mwl-calendar-event-title {
      display: block;
      flex: 1;
      order: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .cal-event-title {
        outline: none;
      }
    }

    .cal-event-actions {
      align-content: center;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .cal-event-action {
        @apply text-secondary;
        height: auto;

        .icon {
          font-size: 18px;
          @apply p-1;
        }
      }
    }
  }
}

.cal-event-title {
  //@apply text-default no-underline text-sm;
}

/*
  You can override any CSS Variable or style here
  Example:

  :root {
   --sidenav-background: #333333;
  }

  All possible variables can be found in @vex/styles/core or by simply inspecting the element you want to change
  in Chrome/Firefox DevTools
*/

/**
  Uncomment the below code and adjust the values to fit your colors, the application will automatically adjust
 */
:root {
  // --color-primary: blue;
  // --color-primary-contrast: white;

  // --color-accent: yellow;
  // --color-accent-contrast: black;

  // --color-warn: yellow;
  // --color-warn-contrast: black;
}
