<form >
  <div class="flex items-center" mat-dialog-title>
    <h2 class="headline m-0 flex-auto">Add utilisateur</h2>

    <!--<button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>-->

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col">
    <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
      <mat-form-field class="client-search-container">
        <mat-label>Client</mat-label>
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="clientsForm" [matAutocomplete]="auto" [(ngModel)]="defaults.client_main_id"/>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let client of filteredOptions | async" [value]="client" (onSelectionChange)="ret = client.id">
            {{client.first_name}} {{client.last_name}}
          </mat-option>
        </mat-autocomplete>
        <mat-icon matPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button color="primary" mat-flat-button [mat-dialog-close]="{ret: ret}">Confirmer</button>
    <button color="primary" mat-flat-button [mat-dialog-close]="false">No</button>
  </mat-dialog-actions>
</form>
