.modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  position: absolute;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  var(--color-dark1);
  text-decoration: none;
  cursor: pointer;
}
.modal-background {
  position: fixed;
  z-index: -2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-title {
  color: #222222;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  word-wrap: break-word;
  font-family: Dinamit;
  padding-bottom: 16px;
}

.modal-body {
  padding-top: 20px;
}

