.modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px 0;
  border: 1px solid #888;
  position: absolute;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--color-dark1);
  text-decoration: none;
  cursor: pointer;
}
.modal-background {
  position: fixed;
  z-index: -2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-title {
  color: var(--color-dark1);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  word-wrap: break-word;
  font-family: Dinamit;
}

.modal-body {
  padding: 20px 20px 0;
}
.modal-header {
  padding: 0 20px;
  height: 40px;
}
.modal-footer {
  padding: 0 20px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
