.stepOneSearchInput {
  width: 100%;
}
.mat-mdc-card-avatar {
  margin-bottom: 0 !important;
}
.stepOneButtonsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.client-item {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre avatar y texto */
}

.client-item app-level-user {
  flex-shrink: 0; /* Evita que el avatar cambie de tamaño */
}

.client-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  img {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }
}
.viewport {
  height: 200px; /* Altura visible del área de scroll */
  width: 100%; /* Usar el ancho completo del contenedor */
  overflow-y: auto; /* Habilita el scroll vertical */
}
::ng-deep mat-form-field.stepOneSearchInput {
  label {
    display: flex !important;
    width: 130%;
  }
}
