<vex-page-layout>
	<!-- <vex-secondary-toolbar>
    <vex-breadcrumbs
      [crumbs]="[{text: '', icon: 'reservas-2'}, {text: 'list', icon: ''}]"
      class="flex"
    ></vex-breadcrumbs>

    <button class="ml-2" color="primary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>
  </vex-secondary-toolbar> -->

	<vex-secondary-toolbar current>
		<vex-breadcrumbs [crumbs]="[
    {icon:'reservas'},
    {text:'bookings', title: true},
    {text:'list', subtitle: true},
    ]"
			class="flex"></vex-breadcrumbs>
	</vex-secondary-toolbar>

	<vex-page-layout-content [ngClass]="{'table-show-detail': this.showDetail}"
		class="-mt-6 fullwidth">
		<vex-aio-table [columns]="columns"
			[entity]="entity"
			[deleteEntity]="deleteEntity"
			[title]="'bookings'"
			[route]="'bookings'"
			[createComponent]="createComponent"
			[canDelete]="false"
			[canDeactivate]="false"
			[with]="['bookingUsers.course.sport', 'bookingUsers.monitor',
      'bookingUsers.client.clientSports.degree',
            'bookingUsers.courseSubGroup.degree',
       'clientMain.clientSports.degree', 'user',
       'vouchersLogs.voucher', 'bookingUsers.bookingUserExtras.courseExtra']"
			[filterColumn]="'school_id'"
			[filterField]="user.schools[0].id"
			[sectionIcon]="icon"
			[showDetail]="showDetail"
			(showDetailEvent)="showDetailEvent($event)">
		</vex-aio-table>
	</vex-page-layout-content>
	<vex-page-layout-content *ngIf="showDetail"
		class="fullwidth col-right">
		<mat-card>
			<mat-card-header style="display:block">
				<div style="width: 100%;">
					<span style="display: inline-block;width: 80%; text-align: left;">
						<mat-card-title>
							{{'booking' | translate}}
              #{{detailData?.id}}
						</mat-card-title>
					</span>
					<span style="display: inline-block;width: 20%; text-align: right;">
						<img (click)="goTo('/bookings/update/' + detailData?.id)"
							src="assets/img/icons/edit.svg"
							class="btn-edit">
						<img (click)="showDetail = false"
							src="assets/img/icons/close.svg"
							class="btn-close">
					</span>
				</div>
				<div style="width: 100%; border-top: 1px solid white; margin-top: 5px; padding-top: 5px;">
					<mat-card-subtitle style="width:100%;">
						<div style="color:#868686;">
							<b>
								{{ 'register' | translate}}:
							</b>
							<span style="margin-left: 5px;font-weight: normal;">
								<span style="color:white;">
									{{detailData?.created_at | date: 'dd-MM-yyyy HH:mm'}}h
								</span>
							</span>
						</div>
						<div *ngIf="detailData?.user"
							style="color:#868686;">
							<b>
								{{ "by" | translate }}:
							</b>
							<span style="margin-left: 5px;color:white;">
								{{ detailData?.user.username }} ({{
                detailData?.user.first_name +
                ' ' + detailData?.user.last_name
                }})
							</span>
						</div>
						<div style="color:#868686;font-weight: normal;">
							<b>
								{{ 'from' | translate }}:
							</b>
							<span *ngIf="detailData?.source == 'web'"
								style="margin-left: 5px;color:white;">
								{{'page_created' |
                translate}}
							</span>
							<span *ngIf="detailData?.source == 'admin'"
								style="margin-left: 5px;color:white;">
								{{'api_created' | translate}}
							</span>
						</div>
					</mat-card-subtitle>
				</div>
				<div class="title-status">
					<span *ngIf="isActive"
						style="color:#00C32B;background-color: #B2EFAD;">
						{{'active' | translate | uppercase }}
					</span>
					<span *ngIf="isFinished"
						style="color:rgba(68, 74, 88, 1);background-color: #E3E3E3;">
						{{'finished' | translate | uppercase }}
					</span>
					<span *ngIf="detailData?.status === 2"
						style="color:rgba(146, 26, 0, 1);background-color: #F7BB99;">
						{{'cancelled' | translate | uppercase }}
					</span>
					<span *ngIf="detailData?.status === 3"
						style="color:rgba(83, 65, 0, 1);background-color:#F7E399;">
						{{'partial_cancelled' | translate | uppercase }}
					</span>
					<span class="col-right">
						<span *ngIf="detailData?.status === 1 && detailData?.paid"
							style="color:#00C32B;background-color: #B2EFAD;">
							{{'payed' | translate | uppercase }}
						</span>
						<span *ngIf="detailData?.status === 1 && !detailData?.paid && detailData?.payment_method_id != 3"
							style="color:#FF0000;background-color: #F7BB99;">
							{{'no_payed' | translate | uppercase }}
						</span>
						<span *ngIf="detailData?.status === 1 && !detailData?.paid && detailData?.payment_method_id == 3"
							style="color:#FA9917;background-color: #F7E399;">
							{{'link_send' | translate | uppercase }}
						</span>
					</span>
				</div>
			</mat-card-header>
			<mat-card-content>
				<div style="width: 100%;">
					<div class="title-client">
						{{'client' | translate}}
					</div>
					<div class="holder-client">
						<div class="col-left">
							<!-- <img [src]="detailData?.client_main?.image !== null ? detailData?.client_main?.image : imageAvatar" width="60" height="60" style="border-radius: 100%"> -->
							<app-level-user *ngIf="detailData?.degrees_sport && detailData?.degrees_sport.length"
								[allLevels]="detailData?.degrees_sport"
								[selectLevel]="getClientDegree(detailData?.client_main_id)"
								[size]="60"
								[userImage]="detailData?.client_main?.image !== null && detailData?.client_main?.image !== '' ? detailData?.client_main?.image : imageAvatar"></app-level-user>
						</div>
						<div class="col-right">
							<div class="client-name">
								{{detailData?.client_main?.first_name}}
                {{detailData?.client_main?.last_name}}
							</div>
							<div class="client-dates">
								{{getLanguage(detailData?.client_main?.language1_id)}}
                ·
                {{getCountry(detailData?.client_main?.country) }}
                ·
                {{calculateAge(detailData?.client_main?.birth_date)}}
                &ensp;{{'years' | translate}}
							</div>
							<div style="display: flex;">
								<vex-icon src="chat"></vex-icon>
								<vex-icon src="mail"
									href="mailto:{{detailData?.client_main?.email}}"
									style="cursor:pointer"
									title="{{detailData?.client_main?.email}}">
								</vex-icon>
								<vex-icon src="phone"
									href="tel:{{detailData?.client_main?.phone}}"
									title="{{detailData?.client_main?.phone}}">
								</vex-icon>
							</div>
						</div>
					</div>
				</div>

				<ng-container *ngFor="let bUsers of bookingUsersUnique; let buI = index"
					[style.marginTop]="buI > 0 ? '35px' : ''">
					<div class="title-actividad">
						<div class="col-left">
							<b class="title">
								{{ 'activity' | translate }} {{buI + 1}}:
							</b>
							<b *ngIf="isActiveBookingUser(bUsers)"
								style="color:#00C32B">
								{{'active' | translate | uppercase }}
							</b>
							<b *ngIf="isFinishedBookingUser(bUsers)"
								style="color:#A4A3A3">
								{{'finished' | translate | uppercase }}
							</b>
							<b *ngIf="bUsers.status === 2"
								style="color:#FF0000;margin-left:10px;">
								{{'cancelled' | translate | uppercase }}
							</b>
							<b *ngIf="bUsers.status === 3"
								style="color:#FF0000;margin-left:10px;">
								{{'partial_cancelled' | translate | uppercase }}
							</b>
						</div>
						<div class="col-right">
							<b>
								{{bUsers.price | number:'0.2-2'}} {{ detailData?.currency }}
							</b>
						</div>
					</div>

					<div>
						<div class="holder-content">
							<div>
								<div class="holder-actividad">
									<div class="col-left">
										<div class="c-l">
											<img *ngIf="bUsers?.course?.course_type === 1"
												[src]="bUsers.course.sport.icon_collective"
												class="avatar h-16 w-16 align-middle"
												style="display: inline; margin-right: 0.5rem; border-radius: 5px;">
											<img *ngIf="bUsers?.course?.course_type !== 1"
												[src]="bUsers.course.sport.icon_prive"
												class="avatar h-16 w-16 align-middle"
												style="display: inline; margin-right: 0.5rem; border-radius: 5px;">
										</div>
										<div class="c-r">
											<div class="course-title">
												{{bUsers?.course?.name}}
											</div>
											<div class="course-label">
												{{
                        (bUsers?.course?.course_type === 2 ? 'private' :
                        bUsers?.course?.course_type === 1 ? 'collective' :
                        'activity') | translate
                        }}
                        {{
                        (bUsers?.course?.isFlexible ? 'flex' : 'fix') |
                        translate
                        }}
                        {{bUsers?.course?.sport.name}}
											</div>
											<ng-container *ngIf="bUsers?.course?.course_type == 1">
												<div [style.background]="bUsers?.course_sub_group.degree.color"
													class="placeLevel m-0 body-1">
													{{bUsers?.course_sub_group.degree?.annotation}}
                          {{bUsers?.course_sub_group.degree?.name}}
												</div>
											</ng-container>
											<ng-container *ngIf="bUsers?.course?.course_type !== 1">
												<!-- Para course_type distinto de 1 -->
												<ng-container *ngFor="let item of detailData?.bookingusers">
													<div *ngIf="item.client_id == bUsers.client_id && item.date == bUsers.date">
														<span class="date-course">
															<img class="icon-calendar"
																src="assets/img/icons/calendar-1.svg">
															{{ item.date | date: 'dd-MM-yyyy' }}
															<i>
																{{ item.hour_start }}h
															</i>
															-
                              {{ item.hour_end }}h
														</span>
													</div>
												</ng-container>
											</ng-container>

											<!-- Para course_type 1 -->
											<ng-container *ngIf="bUsers?.course?.course_type === 1">
												<ng-container *ngFor="let item of bUsers.bookingusers">
													<div>
														<span class="date-course">
															<img class="icon-calendar"
																src="assets/img/icons/calendar-1.svg">
															{{ item.date | date: 'dd-MM-yyyy' }}
															<i>
																{{ item.hour_start }}h
															</i>
															-
                              {{ item.hour_end}}h
														</span>
													</div>
												</ng-container>
											</ng-container>
										</div>
									</div>
									<div class="col-right">
										<!-- {{(bUsers?.course?.course_type === 1 ? 'colective' : 'private' )| translate}} {{getSportName(bUsers?.course?.sport_id)}} -->
										{{bUsers?.price | number:'0.2-2'}} {{bUsers?.currency}}
									</div>

								</div>
								<!-- <div style="float: left; width: 100%;" *ngIf="bUsers.course.course_type">
                  <div style="float: left; width: 75%;color:#fff; padding:5%;margin-top: 5%;font-size:12px" [ngStyle]="{'background-color': getDegree(bUsers?.degree_id)?.color}">
                    {{getDegree(bUsers?.degree_id)?.league}} - {{getDegree(bUsers?.degree_id)?.annotation}}/{{getDegree(bUsers?.degree_id)?.name}}
                  </div>
                </div> -->

								<div>
									<div class="subtitle">
										<img class="icon-calendar"
											src="assets/img/icons/clientes2.svg">
										{{'participant' | translate}}
									</div>
									<div class="holder-participante">
										<div class="col-left">
											<div class="c-l">
												<app-level-user *ngIf="detailData?.degrees_sport && detailData?.degrees_sport.length"
													[allLevels]="detailData?.degrees_sport"
													[selectLevel]="getClientDegree(bUsers.client)"
													[size]="60"
													[userImage]="bUsers?.client?.image !== null && bUsers?.client?.image !== '' ? bUsers?.client?.image : imageAvatar"></app-level-user>
											</div>
											<div class="c-r">
												<div class="course-title">
													{{bUsers?.client?.first_name}}
                          {{bUsers?.client?.last_name}}
												</div>
												<div class="course-label">
													{{getLanguage(bUsers?.client?.language1_id)}}
                          ·
                          {{ getCountry(bUsers?.client?.country) }}
                          ·
                          {{calculateAge(bUsers?.client?.birth_date)}}
                          {{'years' | translate }}
												</div>
												<div *ngIf="getClientDegreeObject(bUsers.client)"
													[style.background]="getClientDegreeObject(bUsers.client)?.color"
													class="placeLevel m-0 body-1">
													{{getClientDegreeObject(bUsers.client)?.annotation}}
                          {{getClientDegreeObject(bUsers.client)?.name}}
												</div>
												<div *ngIf="!getClientDegreeObject(bUsers.client)">
													{{"level"
                          | translate}} NDF
												</div>
												<div style="display: flex;">
													<vex-icon src="chat"></vex-icon>
													<vex-icon src="mail"
														href="mailto:{{bUsers?.client?.email}}"
														style="cursor:pointer"
														title="{{bUsers?.client?.email}}">
													</vex-icon>
													<vex-icon src="phone"
														href="tel:{{bUsers?.client?.phone}}"
														title="{{bUsers?.client?.phone}}">
													</vex-icon>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div>
									<div class="subtitle">
										<img class="icon-calendar"
											src="assets/img/icons/monitores-3.svg">
										{{'monitor' | translate}}
									</div>
									<div class="holder-participante">
										<div class="col-left">
											<div *ngIf="bUsers?.monitor"
												class="c-l">
												<app-level-user *ngIf="detailData?.degrees_sport && detailData?.degrees_sport.length"
													[allLevels]="detailData?.degrees_sport"
													[selectLevel]="getHighestAuthorizedDegree(bUsers?.monitor, bUsers?.course?.sport_id)?.degree_id || null"
													[size]="60"
													[userImage]="bUsers?.monitor?.image !== null && bUsers?.monitor?.image !== '' ? bUsers?.monitor?.image : imageAvatar"></app-level-user>
											</div>
											<div class="c-r">
												<div *ngIf="bUsers?.monitor">
													<div class="course-title">
														{{bUsers?.monitor?.first_name}}
                            {{bUsers?.monitor?.last_name}}
													</div>
													<span class="dot"></span>
													<div class="course-label">
														{{getLanguage(bUsers?.monitor?.language1_id)}}
                            ·
                            {{ getCountry(bUsers?.monitor?.country) }}
                            ·
                            {{calculateAge(bUsers?.monitor?.birth_date)}}
                            {{'years' | translate}}
													</div>
													<div style="display: flex;">
														<vex-icon src="chat"></vex-icon>
														<vex-icon src="mail"
															href="mailto:{{bUsers?.client?.email}}"
															style="cursor:pointer"
															title="{{bUsers?.client?.email}}">
														</vex-icon>
														<vex-icon src="phone"
															href="tel:{{bUsers?.client?.phone}}"
															title="{{bUsers?.client?.phone}}">
														</vex-icon>
													</div>
													<!-- <ng-container
                                *ngFor="let item of bUsers?.monitor.monitor_sports_degrees_details"
                              >
                                <div
                                  style="width: calc(33.33% - 4px);display:inline-block;vertical-align:top;margin-right:4px;"
                                  *ngIf="item.school_id === user?.schools[0]?.id && bUsers?.course?.sport_id === item.sport_id"
                                >
                                  <div style="text-align: center;width: 100%;">
                                    <img
                                      [src]="item.sport_icon_selected"
                                      width="50"
                                      height="50"
                                      style="border-radius: 6px; border: solid 1px #808080;display:inline-block;"
                                      [ngStyle]="{'background-color': item.degree?.color}"
                                    />
                                  </div>
                                  <div style="text-align: center;width: 100%;">
                                    {{item?.sport_name}}
                                  </div>
                                  <div style="text-align: center;width: 100%;">
                                    <div
                                      [ngStyle]="{
                      'color': '#fff',
                      'background-color':item.degree?.color,
                      'border-color': item.degree?.color,
                      'width': '100%',
                      'padding': '3px',
                      'border-radius': '6px'
                    }"
                                    >
                                      <div
                                        style="text-align: center;padding: 0px 3px; font-size:12px;"
                                      >
                                        {{item.degree?.annotation}}
                                        {{item.degree?.name}}
                                      </div>
                                    </div>
                                  </div>
                                  <div
                                    style="text-align: center;width: 100%; float: left"
                                  >
                                    <span
                                      *ngFor="let auth of item.monitor_sport_authorized_degrees"
                                    >
                                      <span
                                        style="width: 15px; height: 15px; margin: 4px 0 0 4px;  float: left; border-radius: 3px;"
                                        [style.background]="auth?.degree?.color"
                                      ></span>
                                    </span>
                                  </div>
                                </div>
                              </ng-container> -->
													<!-- <div
                            class="label-user"
                            [ngStyle]="{'background': getDegree(bUsers?.degree_id)?.color !== null ? getDegree(bUsers?.degree_id)?.color : ''}"
                          >
                            {{getDegree(bUsers?.degree_id)?.annotation}}
                            {{getDegree(bUsers?.degree_id)?.level}}
                          </div> -->
												</div>
												<div *ngIf="!bUsers?.monitor">
													<div class="course-label">
														{{'no_monitor' | translate}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</ng-container>
				<div class="title-actividad">
					<div class="col-left">
						<b class="title">
							{{ 'ispaid' | translate }}:
						</b>
					</div>
					<div class="col-right">
						<b>
							{{detailData?.paid_total}} {{ detailData?.currency }}
						</b>
					</div>
				</div>
				<div class="subtitle-sub">
					{{ 'options' | translate }}
				</div>
				<div style="padding: 0px 35px;">
					<div class="list-inner-holder">
						<div class="col-left">
							<mat-slide-toggle [checked]="detailData?.has_cancellation_insurance"
								[disabled]="true"></mat-slide-toggle>
							{{ 'op_rem_abr' | translate }}
						</div>
						<div class="col-right">
							{{detailData?.price_cancellation_insurance | number:'0.2-2'}}
              {{detailData?.currency}}
						</div>
					</div>

					<div class="list-inner-holder">
						<div class="col-left">
							<mat-slide-toggle [disabled]="true"
								[checked]="detailData?.has_boukii_care"></mat-slide-toggle>
							Boukii Care
						</div>
						<div class="col-right">
							{{detailData?.price_boukii_care | number:'0.2-2'}} {{detailData?.currency}}
						</div>
					</div>

					<div class="list-inner-holder">
						<div class="col-left">
							<div *ngIf="true"
								style="width: 100%;">
								<mat-slide-toggle [disabled]="true"
									[checked]="existExtras()"></mat-slide-toggle>
								{{'extras' | translate}}
							</div>
						</div>
						<div class="col-right">
							{{getExtrasPrice() | number:'0.2-2'}} {{detailData?.currency}}
						</div>
					</div>
				</div>
				<div class="subtitle-sub">
					{{ 'method_paiment' | translate }}
				</div>
				<div *ngIf="bonus?.length > 0"
					class="list-holder">
					<div class="col-left">
						{{'bonus' | translate}}
					</div>
					<div class="col-right">
						-{{getBonusPrice() | number:'0.2-2'}} {{detailData?.currency}}
					</div>
				</div>
				<div *ngIf="detailData?.payment_method != 6"
					class="list-holder">
					<div>
						<!-- class="col-left" -->
						<div class="col-l">
							{{ getPaymentMethod(detailData?.payment_method) | translate }}
						</div>
						<!-- TODO: revisar metodo de pago cuando hay varios pagos y que estado poner?? -->
						<!-- <div class="col-r">
                          <span style="#FA9917">En attend de paiment</span>
                        </div>
                      </div>
                      <div class="col-right">
                        165.00 CHF
                      </div> -->
					</div>
				</div>

				<!-- <div style="float: left; width: 100%;margin-top:5%;padding:2%;background:#EFEFEF">
          <h3
            style="font-size: 1.5rem!important;"
            *ngIf="bookingLog.length > 0"
          >
            {{'change_history' | translate}}
          </h3>
          <div class="opaque-box" *ngIf="bookingLog.length > 0">
            <ng-container *ngFor="let item of bookingLog">
              <span style="width: 100%; float:left">
                <p style="float:left" *ngIf="item.action == 'created by api'">
                  {{item.created_at | date: 'dd-MM-yyyy hh:mm:ss'}}:
                  {{'api_created' | translate }}
                </p>
                <p style="float:left" *ngIf="item.action == 'refund'">
                  {{item.created_at | date: 'dd-MM-yyyy hh:mm:ss'}}:
                  {{'cancel_refund' | translate }}
                </p>
                <p
                  style="float:left"
                  *ngIf="item.action == 'refund_boukii_pay'"
                >
                  {{item.created_at | date: 'dd-MM-yyyy hh:mm:ss'}}:
                  {{'refund_boukii_pay' | translate }}
                </p>
                <p style="float:left" *ngIf="item.action == 'full_cancel'">
                  {{item.created_at | date: 'dd-MM-yyyy hh:mm:ss'}}:
                  {{'full_cancel' | translate }}
                </p>
                <p style="float:left" *ngIf="item.action == 'partial_cancel'">
                  {{item.created_at | date: 'dd-MM-yyyy hh:mm:ss'}}:
                  {{'partial_cancel' | translate }}
                </p>
                <p style="float:left" *ngIf="item.action == 'no_refund'">
                  {{item.created_at | date: 'dd-MM-yyyy hh:mm:ss'}}:
                  {{'cancel_no_refund' | translate }}
                </p>
                <p style="float:left" *ngIf="item.action == 'refund_cash'">
                  {{item.created_at | date: 'dd-MM-yyyy hh:mm:ss'}}:
                  {{'refund_cash' | translate }}
                </p>
                <p style="float:left" *ngIf="item.action == 'voucher_refund'">
                  {{item.created_at | date: 'dd-MM-yyyy hh:mm:ss'}}:
                  {{'voucher_refund' | translate }}
                </p>
                <p style="float:left" *ngIf="item.action == 'update'">
                  {{item.created_at | date: 'dd-MM-yyyy hh:mm:ss'}}:
                  {{'mails.type3' | translate }}
                </p>
              </span>
            </ng-container>
          </div>
        </div> -->
				<div class="total-bottom">
					<div class="col-left">
						<ul>
							<li class="total">
								<b>
									{{'total' | translate | uppercase}}
								</b>
							</li>
						</ul>
					</div>
					<div class="col-right">
						<ul>
							<li class="total">
								{{detailData?.price_total | number:'0.2-2'}} {{detailData?.currency}}
							</li>
						</ul>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</vex-page-layout-content>
</vex-page-layout>
