<vex-page-layout>

  <vex-secondary-toolbar>
    <vex-breadcrumbs [crumbs]="['Reservations', 'List']" class="flex-auto"></vex-breadcrumbs>

    <button class="ml-2" color="primary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>
  </vex-secondary-toolbar>
  <vex-page-layout-content class="-mt-6 fullwidth" [ngClass]="{'table-show-detail': this.showDetail}">
      <vex-aio-table [columns]="columns"  [entity]="entity" [deleteEntity]="deleteEntity" [title]="'Reservations'" [route]="'bookings'" [createComponent]="createComponent" [canDelete]="false" [canDeactivate]="false"
      (showDetailEvent)="showDetailEvent($event)" [with]="'&with[]=bookingusers.course'" [filterColumn]="'school_id'" [filterField]="user.schools[0].id"
      [showDetail]="showDetail">
    </vex-aio-table>
  </vex-page-layout-content>
  <vex-page-layout-content class="-mt-6 fullwidth" style="width: 35%;float:left" *ngIf="showDetail">
    <mat-card style="padding: 0 3%;">
      <mat-card-header style="display:block">
        <div style="width: 100%;float: left;">
          <mat-icon style="float: right;cursor: pointer;" svgIcon="mat:close" (click)="showDetail = false"></mat-icon>
          <mat-icon style="float: left;cursor: pointer;" svgIcon="mat:edit" (click)="goTo('/bookings/update/' + detailData.id)"></mat-icon>

        </div>
        <div style="width: 100%;float:left;">
          <mat-card-title style="float: left;width: 90%;">Reservation #{{detailData.id}}</mat-card-title>
        </div>
        <div style="width:100%; margin-top:5%;float:left">
          <div style="width: 100%;">
            <p style="float: left;width: 80%;text-align: left;"><b>Enregistrée</b></p>
            <p style="float: left;width: 20%;text-align: right;"><b>Etat</b></p>
          </div>
          <div style="width: 100%;">
            <p style="float: left;width: 60%;text-align: left;"><b>{{detailData.created_at | date: 'dd/MM/YYYY'}}</b> {{detailData.created_at | date: 'HH:mm'}}</p>
            <p style="float: left;width: 40%;text-align: right;color:#5ade47" *ngIf="detailData.status === 1 && detailData.paid">{{'paiement effectué' | uppercase }}</p>
            <p style="float: left;width: 40%;text-align: right;color:#dbd616" *ngIf="detailData.status === 1 && !detailData.paid">{{'non payé' | uppercase }}</p>
            <p style="float: left;width: 40%;text-align: right;color:#dbd616" *ngIf="detailData.status === 2">{{'anuleé' | uppercase }}</p>
            <p style="float: left;width: 40%;text-align: right;color:#dbd616" *ngIf="detailData.status === 3">{{'partially anuleé' | uppercase }}</p>
          </div>
        </div>
        <mat-divider style="float: left;width: 100%;margin: 5% 0 5% 0;"></mat-divider>
      </mat-card-header>
      <mat-card-content>
        <div style="float: left; width: 100%;">
          <div style="float: left; width: 100%;">
            <p style="font-size: 20px;">Client</p>
          </div>
          <div style="float: left;width: 100%;">
            <div style="float: left; width: 20%; margin-top: 5%">
              <img [src]="getClient(detailData.client_main_id)?.image !== null ? getClient(detailData.client_main_id)?.image : imageAvatar" width="100" height="100" style="border-radius: 100%">
            </div>
            <div style="float: left; width: 75%;margin:6% 0 0 2%">
              <p>{{getLanguage(getClient(detailData?.client_main_id)?.language1_id)}} · {{ getCountry(getClient(detailData?.client_main_id)?.country) }} · {{calculateAge(getClient(detailData?.client_main_id)?.birth_date)}} ans</p>
              <p><strong>{{getClient(detailData?.client_main_id)?.first_name}} {{getClient(detailData?.client_main_id)?.last_name}} (+3)</strong></p>
              <div>
                <mat-icon svgIcon="mat:chat"></mat-icon>
                <mat-icon svgIcon="mat:mail_outline"></mat-icon>
                <mat-icon svgIcon="mat:contact_phone"></mat-icon>
              </div>
            </div>
          </div>
        </div>
        <mat-divider style="float: left;width: 100%;margin: 5% 0 5% 0;"></mat-divider>
        <ng-container *ngFor="let item of detailData.bookingusers">
          <div style="float: left; width: 100%;">
            <div style="float: left; width: 15%;margin: 2% 0 0 0 ">
              <img [src]="getClient(item.client_id)?.image !== null ? getClient(item.client_id)?.image : imageAvatar" width="50" height="50" style="border-radius: 100%">
            </div>
            <div style="float: left; width: 65%;">
              <p>{{getLanguage(getClient(item?.client_id)?.language1_id)}} · {{ getCountry(getClient(item?.client_id)?.country) }} · {{calculateAge(getClient(item?.client_id)?.birth_date)}} ans</p>
                <p>{{getClient(item?.client_id)?.first_name}} {{getClient(item?.client_id)?.last_name}} (+3)</p>
            </div>
            <div style="float: left; width: 20%;">
              <p style="text-align: right;color:#5ade47" *ngIf="item?.status === 1 && detailData.paid">{{'paiement effectué' }}</p>
              <p style="text-align: right;color:#dbd616" *ngIf="item?.status === 1 && !detailData.paid">{{'non payé' }}</p>
              <p style="text-align: right;color:#dbd616"*ngIf="item?.status === 2">{{'Anulée' }}</p>
            </div>
          </div>
          <mat-divider style="float: left;width: 100%;margin: 5% 0 5% 0;"></mat-divider>
          <div style="float: left; width: 100%;">
            <div style="float: left; width: 50%;">
              <div style="float: left; width: 100%;">
                <p style="float: left; width: 100%; font-size: 18px">
                  <strong>{{item?.course?.name}}</strong>
                </p>
                <p style="float: left; width: 100%;">
                  {{item?.course?.type === 1 ? 'Collectif' : 'Privee'}} {{getSportName(item?.course?.sport_id)}} {{item?.price}} {{item?.currency}}
                </p>
              </div>
              <div style="float: left; width: 100%;" *ngIf="item.course.type">
                <div style="float: left; width: 75%;color:#fff; padding:5%;margin-top: 5%;font-size:12px" [ngStyle]="{'background-color': getDegree(item?.degree_id)?.color}">
                  {{getDegree(item?.degree_id)?.league}} - {{getDegree(item?.degree_id)?.annotation}}/{{getDegree(item?.degree_id)?.name}}
                </div>

              </div>
              <div style="float: left; width: 100%;margin-top: 5%;">
                <ul>
                  <li>{{item.date |date: 'dd/MM/YYYY'}} <i>{{item?.hour_start}}h - {{item?.hour_end}}h</i></li>
                </ul>
              </div>
              <div style="float: left; width: 100%;margin-top: 5%;">
                <div style="float: left; width: 20%;">
                  <img [src]="getMonitor(item?.monitor_id) ? getMonitor(item?.monitor_id)?.image : imageAvatar">
                </div>
                <div style="float: left; width: 80%;" *ngIf="getMonitor(item.monitor_id)">
                  <p>{{getMonitor(item?.monitor_id)?.first_name}} {{getMonitor(item?.monitor_id)?.last_name}}</p>
                  <p style="font-size:8px"><i>{{getLanguage(getMonitor(item?.monitor_id)?.language1_id)}} · {{ getCountry(getMonitor(item?.monitor_id)?.country) }} · {{calculateAge(getMonitor(item?.monitor_id)?.birth_date)}} ans</i></p>
                </div>
                <div style="float: left; width: 80%;" *ngIf="!getMonitor(item?.monitor_id)">
                  <p style="margin: 5% 0 0 5%;">No monitor asigned</p>
                </div>

              </div>
              <div style="float: left; width: 100%;margin-top: 5%;">
                <mat-slide-toggle [disabled]="true" [checked]="detailData?.has_cancellation_insurance"></mat-slide-toggle> Op. Rem (10%)
              </div>
              <div style="float: left; width: 100%;margin-top: 5%;">
                <mat-slide-toggle [disabled]="true" [checked]="detailData?.has_boukii_care"></mat-slide-toggle> Boukii Care
              </div>
            </div>
            <div style="float: left; width: 50%;">
              <div style="float: left; width: 100%;" *ngIf="false">
                <mat-slide-toggle></mat-slide-toggle> Alquiler material

              </div>
              <div style="float: left; width: 100%;margin-top: 5%;">
                <mat-slide-toggle [disabled]="true" [checked]="item?.courseExtras?.length > 0"></mat-slide-toggle> Fortrait Ski

              </div>
              <div style="float: left; width: 100%;margin-top: 5%;" *ngIf="false">
                <mat-slide-toggle></mat-slide-toggle> Comida

              </div>
              <div style="float: left; width: 100%;margin-top: 5%;" *ngIf="false">
                <mat-slide-toggle></mat-slide-toggle> Transporte

              </div>
            </div>

          </div>
          <mat-divider style="float: left;width: 100%;margin: 5% 0 5% 0;"></mat-divider>

        </ng-container>
        <div style="float: left; width: 100%;margin-top:5%;padding:2%;background:#EFEFEF">

          <div style="text-align: left;width: 50%;float:left">
            <ul>
              <li *ngIf="detailData?.has_cancellation_insurance">{{'Option Rembousement (10%)'}}</li>
              <li *ngIf="detailData?.has_boukii_care">{{'Boukii Care'}}</li>
              <li *ngIf="existExtras()">{{'Extras'}}</li>
              <li *ngIf="bonus?.length > 0">{{'Bon'}}</li>
              <li *ngIf="getTVA()">{{'TVA'}}</li>
              <li><strong>{{'Montant total' | uppercase}}</strong></li>
            </ul>
          </div>
          <div style="text-align: right;width: 50%;float:left">
            <ul>
              <li *ngIf="detailData?.has_cancellation_insurance"> {{detailData.price_cancellation_insurance}} {{detailData.currency}}</li>
              <li *ngIf="detailData?.has_boukii_care">{{detailData.price_boukii_care}} {{detailData.currency}}</li>
              <li *ngIf="existExtras()">{{getExtrasPrice()}} {{detailData.currency}}</li>
              <li *ngIf="bonus?.length > 0">-{{getBonusPrice()}} {{detailData.currency}}</li>
              <li *ngIf="getTVA()">{{(detailData?.price_total * getTVAValue()).toFixed(2)}} {{detailData.currency}}</li>
              <li><strong>{{detailData?.price_total}} {{detailData.currency}}</strong></li>
            </ul>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </vex-page-layout-content>
</vex-page-layout>
