<vex-page-layout>
  <!--<vex-secondary-toolbar>
    <vex-breadcrumbs
      [crumbs]="[{text: '', icon: 'reservas-2'}, {text: 'list', icon: ''}]"
      class="flex-auto"
    ></vex-breadcrumbs>

    <button class="ml-2" color="primary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>
  </vex-secondary-toolbar>-->

  <vex-secondary-toolbar current="">
    <i class="icon"><img src="../assets/img/icons/reservas.svg" /></i>
    <h2 class="title">{{'bookings' | translate}}</h2>
    <h3 class="subtitle">Añadir texto dinámico</h3>
  </vex-secondary-toolbar>

  <vex-page-layout-content
    class="-mt-6 fullwidth"
    [ngClass]="{'table-show-detail': this.showDetail}"
  >
    <vex-aio-table
      [columns]="columns"
      [entity]="entity"
      [deleteEntity]="deleteEntity"
      [title]="'bookings'"
      [route]="'bookings'"
      [createComponent]="createComponent"
      [canDelete]="false"
      [canDeactivate]="false"
      (showDetailEvent)="showDetailEvent($event)"
      [with]="['bookingusers.course']"
      [filterColumn]="'school_id'"
      [filterField]="user.schools[0].id"
      [sectionIcon]="icon"
      [showDetail]="showDetail"
    >
    </vex-aio-table>
  </vex-page-layout-content>
  <vex-page-layout-content
    class="fullwidth col-right"
    *ngIf="showDetail"
  >
    <mat-card>
      <mat-card-header style="display:block">

        <div style="width: 100%;">
          <span style="display: inline-block;width: 80%; text-align: left;">
            <mat-card-title>{{'booking' | translate}} #{{detailData.id}}</mat-card-title>
          </span>
          <span style="display: inline-block;width: 20%; text-align: right;">
            <!--<mat-icon
              style="cursor: pointer;"
              svgIcon="mat:edit"
              (click)="goTo('/bookings/update/' + detailData.id)"
            ></mat-icon>
            <mat-icon
              style="cursor: pointer;"
              svgIcon="mat:close"
              (click)="showDetail = false"
            ></mat-icon>-->
            <img src="assets/img/icons/edit.svg" (click)="goTo('/bookings/update/' + detailData.id)" class="btn-edit" />
            <img src="assets/img/icons/close.svg" (click)="showDetail = false" class="btn-close" />
          </span>
        </div>

        <div style="width: 100%; border-top: 1px solid white; margin-top: 5px; padding-top: 5px;">
          <mat-card-subtitle style="width:100%;">
            <div style="width: 60%;display:inline-block;text-align: left; color: white;">
              <b>{{ 'register' | translate}}:</b>
              <span style="margin-left: 10px;font-weight: normal;">
                <span>{{detailData.created_at | date: 'dd/MM/YYYY'}}</span><span style="margin-left: 10px;font-style: italic;">{{detailData.created_at | date: 'HH:mm'}}</span>
              </span>
            </div>
            <div style="width: 40%;display:inline-block;text-align: right;color: white;font-weight: normal;">
              Admin <span style="margin-left: 10px;">(Arsene Garcia)</span>
            </div>
          </mat-card-subtitle>
        </div>

      </mat-card-header>

      <mat-card-content>
        <div style="width: 100%;">
          <div class="title-status">
            <span class="col-left">
              <b>{{ 'status' | translate}}:</b>
            </span>
            <span class="col-right">
              <span style="color:#00C32B" *ngIf="detailData.status === 1 && detailData.paid">
                {{'payed' | translate | uppercase }}
              </span>
              <span style="color:#FF0000" *ngIf="detailData.status === 1 && !detailData.paid">
                {{'no_payed' | translate | uppercase }}
              </span>
              <span style="color:#FF0000" *ngIf="detailData.status === 2">
                {{'cancelled' | translate | uppercase }}
              </span>
              <span style="color:#FA9917" *ngIf="detailData.status === 3" >
                {{'partial_cancelled' | translate | uppercase }}
              </span>
            </span>
          </div>

          <div class="title-client">{{'client' | translate}}</div>
          <div class="holder-client">
            <div class="col-left">
              <!--<img [src]="getClient(detailData.client_main_id)?.image !== null ? getClient(detailData.client_main_id)?.image : imageAvatar" width="100" height="100" style="border-radius: 100%">-->
              <app-level-user
                *ngIf="detailData.degrees_sport && detailData.degrees_sport.length"
                [allLevels]="detailData.degrees_sport"
                [selectLevel]="getClientDegree(detailData?.client_main_id)"
                [size]="60"
                [userImage]="getClient(detailData.client_main_id)?.image !== null && getClient(detailData.client_main_id)?.image !== '' ? getClient(detailData.client_main_id)?.image : imageAvatar"
              ></app-level-user>
            </div>
            <div class="col-right">
              <div class="client-name">
                {{getClient(detailData?.client_main_id)?.first_name}}
                {{getClient(detailData?.client_main_id)?.last_name}}
              </div>
              <div class="client-dates">
                {{getLanguage(getClient(detailData?.client_main_id)?.language1_id)}}
                ·
                {{getCountry(getClient(detailData?.client_main_id)?.country) }}
                ·
                {{calculateAge(getClient(detailData?.client_main_id)?.birth_date)}}
                &ensp;{{'years' | translate}}
              </div>
              <div>
                <mat-icon svgIcon="logo:message-text"></mat-icon>
                <a
                  href="mailto:{{getClient(detailData?.client_main_id)?.email}}"
                  style="cursor:pointer"
                  title="{{getClient(detailData?.client_main_id)?.email}}"
                >
                  <mat-icon svgIcon="logo:mail"></mat-icon>
                </a>
                <a
                  href="tel:{{getClient(detailData?.client_main_id)?.phone}}"
                  title="{{getClient(detailData?.client_main_id)?.phone}}"
                >
                  <mat-icon svgIcon="logo:phone"></mat-icon>
                </a>
              </div>
            </div>
          </div>
        </div>

        <ng-container>
          <div class="title-actividad">
            <div class="col-left">
              <b class="title">Actividad 1: </b>
              <b style="color:#FF0000;margin-left:10px;">Anulada</b>
            </div>
            <div class="col-right">
              <b>160.00 CHF</b>
            </div>
          </div>

          <div
            *ngFor="let bUsers of bookingUsersUnique; let buI = index"
            [style.marginTop]="buI > 0 ? '35px' : ''"
          >

            <div class="holder-content">
            <!--<div class="title-status">
              <span class="col-left">
                Actividad 1 <span>Anulada</span>
              </span>
              <span class="col-right">
                160.00 CHF
              </span>
            </div>-->
              <div>
                <div class="holder-actividad">
                  <div class="col-left">
                    <div class="c-l">
                      <img *ngIf="bUsers?.course?.course_type === 1" [src]="bUsers.course.sport.icon_collective" class="avatar h-16 w-16 align-middle"  style="display: inline; margin-right: 0.5rem; border-radius: 5px;" />
                      <img *ngIf="bUsers?.course?.course_type !== 1" [src]="bUsers.course.sport.icon_prive" class="avatar h-16 w-16 align-middle"  style="display: inline; margin-right: 0.5rem; border-radius: 5px;" />
                    </div>
                    <div class="c-r">
                      <div class="course-title">{{bUsers?.course?.name}}</div>
                      <div class="course-label">Prive Flex Ski</div>
                      <ng-container *ngFor="let item of detailData.bookingusers">
                        <div *ngIf="item.client_id == bUsers.client_id">
                          <span class="date-course"><img class="icon-calendar" src="assets/img/icons/calendar-1.svg" /> {{item.date |date: 'dd.MM.YYYY'}} <i>{{item?.hour_start}}h</i> - {{item?.hour_end}}h</span>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <div class="col-right">
                    <!--{{(bUsers?.course?.course_type === 1 ? 'colective' : 'private' )| translate}} {{getSportName(bUsers?.course?.sport_id)}}-->
                    {{bUsers?.price}} {{bUsers?.currency}}
                  </div>
                </div>
                <!--<div style="float: left; width: 100%;" *ngIf="bUsers.course.course_type">
                  <div style="float: left; width: 75%;color:#fff; padding:5%;margin-top: 5%;font-size:12px" [ngStyle]="{'background-color': getDegree(bUsers?.degree_id)?.color}">
                    {{getDegree(bUsers?.degree_id)?.league}} - {{getDegree(bUsers?.degree_id)?.annotation}}/{{getDegree(bUsers?.degree_id)?.name}}
                  </div>
                </div>-->

                <div>
                  <div class="subtitle"><img class="icon-calendar" src="assets/img/icons/clientes2.svg" /> {{'participant' | translate}}</div>
                  <div>
                    <div style="display:inline-block;vertical-align: middle; width: 20%;">
                      <app-level-user
                        *ngIf="detailData.degrees_sport && detailData.degrees_sport.length"
                        [allLevels]="detailData.degrees_sport"
                        [selectLevel]="getClientDegree(bUsers.client_id)"
                        [size]="80"
                        [userImage]="getClient(bUsers.client_id)?.image !== null && getClient(bUsers.client_id)?.image !== '' ? getClient(bUsers.client_id)?.image : imageAvatar"
                      ></app-level-user>
                    </div>
                    <div style="display:inline-block;vertical-align: middle; width: 80%;text-wrap: nowrap;">
                      <div style="margin-left: 1em">
                        <div><b style="font-size: 1.2em;">{{getClient(bUsers?.client_id)?.first_name}} {{getClient(bUsers?.client_id)?.last_name}}</b></div>
                      </div>
                      <div style="margin-left: 1em">
                        <i>
                          {{getLanguage(getClient(bUsers?.client_id)?.language1_id)}}
                          ·
                          {{ getCountry(getClient(bUsers?.client_id)?.country) }}
                          ·
                          {{calculateAge(getClient(bUsers?.client_id)?.birth_date)}}
                          {{'years' | translate }}
                        </i>
                      </div>
                      <div style="margin-left: 1em">
                        <div
                          class="label-user"
                          [ngStyle]="{'background': getDegree(bUsers?.degree_id)?.color !== null ? getDegree(bUsers?.degree_id)?.color : ''}"
                        >
                          {{getDegree(bUsers?.degree_id)?.annotation}}
                          {{getDegree(bUsers?.degree_id)?.level}}
                        </div>
                      </div>
                      <div style="margin-left: 1em">
                        <mat-slide-toggle
                          [disabled]="true"
                          [checked]="detailData?.has_cancellation_insurance"
                        ></mat-slide-toggle>
                        Op. Rem
                      </div>
                    </div>
                  </div>
                </div>

                <div class="subtitle"><img class="icon-calendar" src="assets/img/icons/monitores-3.svg" /> Monitor</div>
                <div>
                  <div style="display:inline-block; vertical-align: middle; width: 20%;">
                    <!--<img
                      [src]="getMonitor(bUsers?.monitor_id) ? getMonitor(bUsers?.monitor_id)?.image : imageAvatar"
                      style="border-radius: 100%;"
                    />-->
                    <app-level-user
                      [allLevels]="detailData.degrees_sport"
                      [selectLevel]="getClientDegree(bUsers.client_id)"
                      [size]="60"
                      [userImage]="getMonitor(bUsers?.monitor_id)?.image !== null && getMonitor(bUsers?.monitor_id)?.image !== '' ? getMonitor(bUsers?.monitor_id)?.image : imageAvatar"
                    ></app-level-user>
                  </div>
                  <div style="display:inline-block;vertical-align: middle;width: 80%;" *ngIf="getMonitor(bUsers.monitor_id)">
                    <div style="margin-left: 1em">
                      <div style="display:inline-block;">
                        <div><b style="font-size: 1.2em;">{{getMonitor(bUsers?.monitor_id)?.first_name}} {{getMonitor(bUsers?.monitor_id)?.last_name}}</b></div>
                        <div>
                          <i>
                            {{getLanguage(getMonitor(bUsers?.monitor_id)?.language1_id)}}
                            · {{ getCountry(getMonitor(bUsers?.monitor_id)?.country) }} ·
                            {{calculateAge(getMonitor(bUsers?.monitor_id)?.birth_date)}}
                            &ensp;{{'years' | translate}}
                          </i>
                        </div>
                      </div>
                      <span class="dot"></span>
                    </div>
                  </div>
                  <div style="display:inline-block;vertical-align: middle;width: 80%;" *ngIf="!getMonitor(bUsers?.monitor_id)">
                    <div style="margin-left: 1em">{{'no_monitor' | translate}}</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="title-actividad">
              <div class="col-left">
                <b class="title">Payé:</b>
              </div>
              <div class="col-right">
                <b>0.00 CHF</b>
              </div>
            </div>
            <div class="subtitle-sub">Opciones de la reservation</div>
            <div style="padding: 0px 35px;">

              <div class="list-inner-holder">
                <div class="col-left">
                  <mat-slide-toggle
                    [checked]="true"
                  ></mat-slide-toggle>
                  Op. Rem
                </div>
                <div class="col-right">
                  15.00 CHF
                </div>
              </div>

              <div class="list-inner-holder">
                <div class="col-left">
                  <mat-slide-toggle
                    [disabled]="true"
                    [checked]="detailData?.has_boukii_care"
                  ></mat-slide-toggle>
                  Boukii Care
                </div>
                <div class="col-right">
                  15.00 CHF
                </div>
              </div>

              <div class="list-inner-holder">
                <div class="col-left">
                  <div style="width: 100%;" *ngIf="true">
                    <mat-slide-toggle></mat-slide-toggle> Alquiler material
                  </div>
                </div>
                <div class="col-right">
                  15.00 CHF
                </div>
              </div>

              <div class="list-inner-holder">
                <div class="col-left">
                  <mat-slide-toggle
                    [disabled]="true"
                    [checked]="bUsers?.courseExtras?.length > 0"
                  ></mat-slide-toggle>
                  Fortait
                </div>
                <div class="col-right">
                  15.00 CHF
                </div>
              </div>

              <div class="list-inner-holder">
                <div class="col-left">
                  <div style="width: 100%;" *ngIf="true">
                    <mat-slide-toggle></mat-slide-toggle> Comida
                  </div>
                </div>
                <div class="col-right">
                  15.00 CHF
                </div>
              </div>

              <div class="list-inner-holder">
                <div class="col-left">
                  <div
                    style="width: 100%;" *ngIf="true">
                    <mat-slide-toggle></mat-slide-toggle> Transporte
                  </div>
                </div>
                <div class="col-right">
                  15.00 CHF
                </div>
              </div>

            </div>
            <div class="subtitle-sub">Méthode de paiment</div>
            <div class="list-holder">
              <div class="col-left">
                Bono
              </div>
              <div class="col-right">
                0.00 CHF
              </div>
            </div>
            <div class="list-holder">
              <div class="col-left">
                <div class="col-l">
                  Link
                </div>
                <div class="col-r">
                  <span style="#FA9917">En attend de paiment</span>
                </div>
              </div>
              <div class="col-right">
                165.00 CHF
              </div>
            </div>
            <!--<div style="float: left; width: 20%;">
              <p style="text-align: right;color:#5ade47" *ngIf="detailData.bookingusers[0]?.status === 1 && detailData.paid">{{'payed' | translate}}</p>
              <p style="text-align: right;color:#dbd616" *ngIf="detailData.bookingusers[0]?.status === 1 && !detailData.paid">{{'no_payed' | translate }}</p>
              <p style="text-align: right;color:#dbd616"*ngIf="detailData.bookingusers[0]?.status === 2">{{'cancelled' | translate | uppercase }}</p>
            </div>-->
            <!--<mat-divider
              style="float: left;width: 100%;margin: 5% 0 0% 0;"
            ></mat-divider>-->
          </div>


        <!--<div style="float: left; width: 100%;" *ngFor="let bUsers of bookingUsersUnique; let buI = index" [style.marginTop]="buI > 0 ? '35px' : '0'">
        <div style="float: left; width: 50%;">
          <div style="float: left; width: 100%;">
            <app-level-user *ngIf="detailData.degrees_sport && detailData.degrees_sport.length" [allLevels]="detailData.degrees_sport"
                            [selectLevel]="getClientDegree(bUsers.client_id)" [size]="44" [userImage]="getClient(bUsers.client_id)?.image !== null
                         && getClient(bUsers.client_id)?.image !== '' ? getClient(bUsers.client_id)?.image : imageAvatar"></app-level-user>
            <div style="float: left; width: 65%;">
              <p>{{getLanguage(getClient(bUsers?.client_id)?.language1_id)}} · {{ getCountry(getClient(bUsers?.client_id)?.country) }} · {{calculateAge(getClient(bUsers?.client_id)?.birth_date)}} &ensp;{{'years' | translate}}</p>
              <p>{{getClient(bUsers?.client_id)?.first_name}} {{getClient(bUsers?.client_id)?.last_name}} </p>
            </div>
            <p style="float: left; width: 100%; font-size: 18px">
              <strong>{{bUsers?.course?.name}}</strong>
            </p>
            <p style="float: left; width: 100%;">
              {{(bUsers?.course?.course_type === 1 ? 'colective' : 'private' )| translate}} {{getSportName(bUsers?.course?.sport_id)}} {{bUsers?.price}} {{bUsers?.currency}}
            </p>
          </div>
          &lt;!&ndash;<div style="float: left; width: 100%;" *ngIf="bUsers.course.course_type">
            <div style="float: left; width: 75%;color:#fff; padding:5%;margin-top: 5%;font-size:12px" [ngStyle]="{'background-color': getDegree(bUsers?.degree_id)?.color}">
              {{getDegree(bUsers?.degree_id)?.league}} - {{getDegree(bUsers?.degree_id)?.annotation}}/{{getDegree(bUsers?.degree_id)?.name}}
            </div>
            </div>&ndash;&gt;
            <ng-container *ngIf="bUsers?.course?.course_type === 1">
              <div style="float: left; width: 100%;margin-top: 5%;" *ngFor="let item of detailData.bookingusers">
                <ul>
                  <li *ngIf="+item.price > 0">{{item.date |date: 'dd/MM/YYYY'}} <i>{{item?.hour_start}}h - {{item?.hour_end}}h</i></li>
                </ul>
              </div>
            </ng-container>
            <ng-container *ngIf="bUsers?.course?.course_type === 2">
              <div style="float: left; width: 100%;margin-top: 5%;" *ngFor="let item of detailData.bookingusers">
                <ul>
                  <li *ngIf="+item.price > 0">{{item.date |date: 'dd/MM/YYYY'}} <i>{{item?.hour_start}}h - {{item?.hour_end}}h</i></li>
                </ul>
              </div>
            </ng-container>
            <div style="float: left; width: 100%;margin-top: 5%;">
              <div style="float: left; width: 20%;">
                <img [src]="getMonitor(bUsers?.monitor_id) ? getMonitor(bUsers?.monitor_id)?.image : imageAvatar" style="border-radius: 100%;">
              </div>
              <div style="float: left; width: 80%;text-wrap: nowrap;" *ngIf="getMonitor(bUsers.monitor_id)">
                <p>
                  <span *ngIf="detailData.color !== ''" class="dot" [ngStyle]="{'background': detailData.color}"></span>
                  {{getMonitor(bUsers?.monitor_id)?.first_name}} {{getMonitor(bUsers?.monitor_id)?.last_name}}</p>
                <p style="font-size:8px"><i>{{getLanguage(getMonitor(bUsers?.monitor_id)?.language1_id)}} · {{ getCountry(getMonitor(bUsers?.monitor_id)?.country) }} · {{calculateAge(getMonitor(bUsers?.monitor_id)?.birth_date)}} {{'years' | translate }}</i></p>
              </div>
              <div style="float: left; width: 80%;" *ngIf="!getMonitor(bUsers?.monitor_id)">
                <p style="margin: 5% 0 0 5%;">{{'no_monitor' | translate}}</p>
              </div>
              <div style="float: left;width: 100%;margin: 2% 0 2% 0; padding:2%; color: #fff"
                  [ngStyle]="{'background': getDegree(bUsers?.degree_id)?.color !== null ? getDegree(bUsers?.degree_id)?.color : ''}">
                {{getDegree(bUsers?.degree_id)?.annotation}} {{getDegree(bUsers?.degree_id)?.level}}
              </div>
            </div>
            <div style="float: left; width: 100%;margin-top: 5%;">
              <mat-slide-toggle [disabled]="true" [checked]="detailData?.has_cancellation_insurance"></mat-slide-toggle> Op. Rem
            </div>
            <div style="float: left; width: 100%;margin-top: 5%;">
              <mat-slide-toggle [disabled]="true" [checked]="detailData?.has_boukii_care"></mat-slide-toggle> Boukii Care
            </div>
          </div>
          <div style="float: left; width: 50%;">
            <div style="float: left; width: 100%;" *ngIf="false">
              <mat-slide-toggle></mat-slide-toggle> Alquiler material
            </div>
            <div style="float: left; width: 100%;margin-top: 5%;">
              <mat-slide-toggle [disabled]="true" [checked]="bUsers?.courseExtras?.length > 0"></mat-slide-toggle> Fortrait
            </div>
            <div style="float: left; width: 100%;margin-top: 5%;" *ngIf="false">
              <mat-slide-toggle></mat-slide-toggle> Comida
            </div>
            <div style="float: left; width: 100%;margin-top: 5%;" *ngIf="false">
              <mat-slide-toggle></mat-slide-toggle> Transporte
            </div>
          </div>
        </div>-->

        </ng-container>


        <!--<div style="float: left; width: 100%;margin-top:5%;padding:2%;background:#EFEFEF">
          <h3
            style="font-size: 1.5rem!important;"
            *ngIf="bookingLog.length > 0"
          >
            {{'change_history' | translate}}
          </h3>
          <div class="opaque-box" *ngIf="bookingLog.length > 0">
            <ng-container *ngFor="let item of bookingLog">
              <span style="width: 100%; float:left">
                <p style="float:left" *ngIf="item.action == 'created by api'">
                  {{item.created_at | date: 'dd/MM/YYYY hh:mm:ss'}}:
                  {{'api_created' | translate }}
                </p>
                <p style="float:left" *ngIf="item.action == 'refund'">
                  {{item.created_at | date: 'dd/MM/YYYY hh:mm:ss'}}:
                  {{'cancel_refund' | translate }}
                </p>
                <p
                  style="float:left"
                  *ngIf="item.action == 'refund_boukii_pay'"
                >
                  {{item.created_at | date: 'dd/MM/YYYY hh:mm:ss'}}:
                  {{'refund_boukii_pay' | translate }}
                </p>
                <p style="float:left" *ngIf="item.action == 'full_cancel'">
                  {{item.created_at | date: 'dd/MM/YYYY hh:mm:ss'}}:
                  {{'full_cancel' | translate }}
                </p>
                <p style="float:left" *ngIf="item.action == 'partial_cancel'">
                  {{item.created_at | date: 'dd/MM/YYYY hh:mm:ss'}}:
                  {{'partial_cancel' | translate }}
                </p>
                <p style="float:left" *ngIf="item.action == 'no_refund'">
                  {{item.created_at | date: 'dd/MM/YYYY hh:mm:ss'}}:
                  {{'cancel_no_refund' | translate }}
                </p>
                <p style="float:left" *ngIf="item.action == 'refund_cash'">
                  {{item.created_at | date: 'dd/MM/YYYY hh:mm:ss'}}:
                  {{'refund_cash' | translate }}
                </p>
                <p style="float:left" *ngIf="item.action == 'voucher_refund'">
                  {{item.created_at | date: 'dd/MM/YYYY hh:mm:ss'}}:
                  {{'voucher_refund' | translate }}
                </p>
                <p style="float:left" *ngIf="item.action == 'update'">
                  {{item.created_at | date: 'dd/MM/YYYY hh:mm:ss'}}:
                  {{'mails.type3' | translate }}
                </p>
              </span>
            </ng-container>
          </div>
        </div>-->
        <div class="total-bottom">
          <div class="col-left">
            <ul>
              <li *ngIf="detailData?.has_cancellation_insurance">
                {{'op_rem' | translate}}
              </li>
              <li *ngIf="detailData?.has_boukii_care">{{'Boukii Care'}}</li>
              <li *ngIf="existExtras()">{{'extras' | translate}}</li>
              <li *ngIf="bonus?.length > 0">{{'bonus' | translate}}</li>
              <li *ngIf="getTVA()">{{'tva' |translate}}</li>
              <li class="total">
                <b>{{'total' | translate | uppercase}}</b>
              </li>
            </ul>
          </div>
          <div class="col-right">
            <ul>
              <li *ngIf="detailData?.has_cancellation_insurance">
                {{detailData.price_cancellation_insurance}}
                {{detailData.currency}}
              </li>
              <li *ngIf="detailData?.has_boukii_care">
                {{detailData.price_boukii_care}} {{detailData.currency}}
              </li>
              <li *ngIf="existExtras()">
                {{getExtrasPrice()}} {{detailData.currency}}
              </li>
              <li *ngIf="bonus?.length > 0">
                -{{getBonusPrice()}} {{detailData.currency}}
              </li>
              <li *ngIf="getTVA()">
                {{(detailData?.price_total * getTVAValue()).toFixed(2)}}
                {{detailData.currency}}
              </li>
              <li class="total">
                {{detailData?.price_total}} {{detailData.currency}}
              </li>
            </ul>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </vex-page-layout-content>
</vex-page-layout>
