<vex-secondary-toolbar current>
	<vex-breadcrumbs [crumbs]="[
    {icon:'bonos-2'},
    {text:'vouchers', title: true, link: '/vouchers'},
    {text:this.mode === 'create' ? 'bonus.new_bonus' :  'bonus.edit_bonus', subtitle: true}
    ]"
		class="flex"></vex-breadcrumbs>
</vex-secondary-toolbar>
<div *ngIf="!loading"
	[@stagger]="true"
	class="p-gutter container"
	style="max-width: none">
	<div class="flex flex-col sm:flex-row gap-4">
		<div @fadeInUp
			class="card flex-auto">
			<div class="px-6 py-4 border-b flex items-center">
				<h2 class="title m-0">
					{{(mode === 'create' ? 'bonus.new_bonus' : 'bonus.edit_bonus') |translate}}
				</h2>
			</div>
			<div [formGroup]="form"
				class="px-6 py-4 flex flex-col">
				<div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
					<mat-form-field [ngStyle]="{'width': mode === 'create' ? '80%' : '100%'}"
						appearance="outline"
						class="flex-auto"
						style="width: 80%;">
						<mat-label>
							{{'bonus.code' |translate}}
						</mat-label>
						<input [(ngModel)]="defaults.code"
							[readonly]="mode === 'update'"
							formControlName="code"
							matInput
							required>
					</mat-form-field>
					<div *ngIf="mode === 'create'"
						class="flex-auto"
						style="width: 20%;">
						<button (click)="generateRandomCode()"
							color="accent"
							class="btn-primary-accent">
							{{'bonus.generate' | translate}}
						</button>
					</div>
				</div>
				<mat-form-field appearance="outline"
					class="flex-auto">
					<mat-label>
						{{'client' | translate}}
					</mat-label>
					<input [formControl]="clientsForm"
						[matAutocomplete]="auto"
						[(ngModel)]="defaults.client_id"
						type="text"
						placeholder="{{'choose_client' | translate}}"
						aria-label="Number"
						matInput>
					<mat-autocomplete #auto="matAutocomplete"
						[displayWith]="displayFn">
						<mat-option *ngFor="let client of filteredOptions | async"
							[value]="client">
							{{client.first_name}} {{client.last_name}}
						</mat-option>
					</mat-autocomplete>
					<mat-icon matPrefix
						svgIcon="mat:person"></mat-icon>
				</mat-form-field>
				<mat-form-field *ngIf="mode === 'create'"
					appearance="outline"
					class="flex-auto">
					<mat-label>
						{{'quantity' | translate}}
					</mat-label>
					<input [(ngModel)]="defaults.quantity"
						formControlName="quantity"
						matInput
						required>
				</mat-form-field>
				<div *ngIf="mode === 'update'"
					class="flex flex-col sm:flex-row gap-2 sm:gap-6">
					<mat-form-field appearance="outline"
						class="flex-auto">
						<mat-label>
							{{'quantity' | translate}}
						</mat-label>
						<input [(ngModel)]="defaults.quantity"
							formControlName="quantity"
							matInput
							required>
					</mat-form-field>
					<mat-form-field appearance="outline"
						class="flex-auto">
						<mat-label>
							{{'quantity_res' | translate}}
						</mat-label>
						<input [value]="defaults.remaining_balance"
							[(ngModel)]="defaults.remaining_balance"
							formControlName="budget"
							matInput
							readonly="true">
					</mat-form-field>
				</div>
				<div *ngIf="mode === 'create'"
					class="flex-auto">
					<mat-label>
						{{'used' | translate}}
					</mat-label>
					<br>
					<mat-slide-toggle [(ngModel)]="defaults.payed"
						color="accent"
						formControlName="payed">
					</mat-slide-toggle>
					<div *ngIf="mode === 'create'"
						class="flex-auto">
						<mat-label>
							{{'bookings_page.cancelations.gift_voucher' | translate}}
						</mat-label>
						<br>
						<mat-slide-toggle [(ngModel)]="defaults.is_gift"
							color="accent"
							formControlName="is_gift">
						</mat-slide-toggle>
					</div>
				</div>
				<div class="flex items-center justify-end gap-2">
					<button (click)="goTo('/vouchers')"
						mat-button
						type="button">
						{{'cancel' | translate }}
					</button>
					<!-- Added (click) event here -->
					<button [disabled]="form.invalid"
						(click)="save()"
						color="primary"
						mat-raised-button
						type="button">
						{{'save' | translate }}
					</button>
				</div>
			</div>
		</div>
	</div>
	<h3 *ngIf="logs.length > 0"
		style="font-size: 1.5rem!important;margin-top: 10px;">
		{{'change_history' | translate}}
	</h3>
	<div *ngIf="logs.length > 0"
		class="opaque-box">
		<ng-container *ngFor="let item of logs">
			<span style="width: 100%; float:left">
				<p *ngIf="item.amount > 0"
					style="float:left">
					{{item.created_at | date: 'dd-MM-yyyy HH:mm'}}h: {{'ispaid' | translate }}: {{item.amount}}
				</p>
				<p *ngIf="item.amount <= 0"
					style="float:left">
					{{item.created_at | date: 'dd-MM-yyyy HH:mm'}}h: {{'refund' | translate }}: {{item.amount}}
				</p>
			</span>
		</ng-container>
	</div>
</div>
