<vex-secondary-toolbar current="{{'bonus' | translate}}">
  <vex-breadcrumbs
    [crumbs]="['bonus', mode === 'create' ? 'bonus.new_bonus' : 'bonus.edit_bonus']"
    class="flex-auto"
  ></vex-breadcrumbs>
  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon svgIcon="mat:more_vert"></mat-icon>
  </button>
</vex-secondary-toolbar>
<div
  [@stagger]="true"
  class="p-gutter container"
  style="max-width: none"
  *ngIf="!loading"
>
  <div class="flex flex-col sm:flex-row gap-4">
    <div @fadeInUp class="card flex-auto">
      <div class="px-6 py-4 border-b flex items-center">
        <h2 class="title m-0">{{(mode === 'create' ? 'bonus.new_bonus' : 'bonus.edit_bonus') |translate}}</h2>
      </div>
      <div class="px-6 py-4 flex flex-col" [formGroup]="form">

        <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">

          <mat-form-field appearance="outline" class="flex-auto" style="width: 80%;" [ngStyle]="{'width': mode === 'create' ? '80%' : '100%'}">
            <mat-label>{{'bonus.code' |translate}}</mat-label>
            <input formControlName="code" [(ngModel)]="defaults.code" matInput required [readonly]="mode === 'update'">
          </mat-form-field>

          <div class="flex-auto" *ngIf="mode === 'create'" style="width: 20%;">
            <button mat-raised-button color="accent" style="color: #fff;background: #f53d7c;padding: 1%;width: 100%; border-radius: 0; margin: 3% 0 0 0;" (click)="generateRandomCode()">{{'bonus.generate' | translate}}</button>
          </div>
        </div>
        <mat-form-field appearance="outline" class="flex-auto">
          <mat-label>{{'client' | translate}}</mat-label>
          <input
            type="text"
            placeholder="{{'choose_client' | translate}}"
            aria-label="Number"
            matInput
            [formControl]="clientsForm"
            [matAutocomplete]="auto"
            [(ngModel)]="defaults.client_id"
          />
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option
              *ngFor="let client of filteredOptions | async"
              [value]="client"
            >
              {{client.first_name}} {{client.last_name}}
            </mat-option>
          </mat-autocomplete>
          <mat-icon matPrefix svgIcon="mat:person"></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="flex-auto" *ngIf="mode === 'create'">
          <mat-label>{{'quantity' | translate}}</mat-label>
          <input formControlName="quantity" [(ngModel)]="defaults.quantity" matInput required>
        </mat-form-field>

        <div class="flex flex-col sm:flex-row gap-2 sm:gap-6" *ngIf="mode === 'update'">

          <mat-form-field appearance="outline" class="flex-auto">
            <mat-label>{{'quantity' | translate}}</mat-label>
            <input formControlName="quantity" [(ngModel)]="defaults.quantity" matInput required>
          </mat-form-field>

          <mat-form-field appearance="outline" class="flex-auto">
            <mat-label>{{'quantity_res' | translate}}</mat-label>
            <input formControlName="budget" matInput [value]="defaults.remaining_balance" [(ngModel)]="defaults.remaining_balance" readonly="true">
          </mat-form-field>
        </div>

        <div class="flex-auto">
          <mat-label>{{'is_payed' | translate}}</mat-label><br>
          <mat-slide-toggle
            color="accent"
            formControlName="payed" [(ngModel)]="defaults.payed">
          </mat-slide-toggle>
        </div>
        <div class="flex items-center justify-end gap-2">
          <button mat-button type="button" (click)="goTo('/bonuses')">{{'cancel' | translate }}</button>
          <!-- Added (click) event here -->
          <button
            color="primary"
            mat-raised-button
            type="button"
            (click)="save()"
            [disabled]="form.invalid"
          >
            {{'save' | translate }}
          </button>
        </div>
      </div>

    </div>


  </div>

  <h3 style="font-size: 1.5rem!important;margin-top: 10px;" *ngIf="logs.length > 0">{{'change_history' | translate}}</h3>

  <div class="opaque-box" *ngIf="logs.length > 0">
    <ng-container *ngFor="let item of logs">
      <span style="width: 100%; float:left">
        <p style="float:left" *ngIf="item.amount > 0">{{item.created_at | date: 'dd/MM/YYYY hh:mm:ss'}}: {{'ispaid' | translate }}: {{item.amount}}</p>
        <p style="float:left" *ngIf="item.amount < 0">{{item.created_at | date: 'dd/MM/YYYY hh:mm:ss'}}: {{'refund' | translate }}: {{item.amount}}</p>
      </span>
    </ng-container>
  </div>
</div>
