/* Puedes necesitar ajustar estos estilos según la estructura exacta de tu HTML y la versión de Angular Material */
.custom-slider.mat-slide-toggle .mat-slide-toggle-bar {
  background-color: #E91E63 !important; /* Color de fondo del toggle cuando está desactivado */
}

.custom-slider.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #E91E63 !important; /* Color de fondo del toggle cuando está activado */
}

.custom-slider.mat-slide-toggle .mat-slide-toggle-thumb {
  background-color: white !important; /* Color de fondo del thumb */
}

/* Estilo para cuando el slide-toggle está activado */
.custom-slider.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
  transform: translate3d(16px, 0, 0) !important; /* Ajusta este valor según sea necesario */
}

/* Estilo para cuando el slide-toggle está desactivado */
.custom-slider.mat-slide-toggle .mat-slide-toggle-thumb-container {
  transform: translate3d(0, 0, 0) !important; /* Ajusta este valor según sea necesario */
}
.opaque-box {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con opacidad del 70% */
  padding: 1rem; /* Espacio interior */
  border-radius: 8px; /* Bordes redondeados */
  margin: 10px auto; /* Centrar la caja */
  float: left;
}

.opaque-box p {
  color: white; /* Texto en blanco para que sea legible contra el fondo negro */
  margin-bottom: 0.5rem; /* Espacio entre los párrafos */
}

.opaque-box p:last-child {
  margin-bottom: 0; /* Elimina el espacio extra en el último párrafo */
}
