<div class="wrapper">
  <div class="headerWrapper">
    <div style="border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
    color: white;">
      {{ 'booking' | translate }} #{{bookingData.id}}
      <span style="display: inline-block;width: 69%; text-align: right;">
									<!-- <img src="assets/img/icons/edit.svg"  (click)="showDetail = false" class="btn-edit" /> -->
									              <img class="icon24" src="assets/icons/icon/delete-white.png"
                                     style="display: inline-flex; cursor: pointer"
                                     (click)="deleteActivity.emit();">
        <img
                    (click)="goTo('/bookings')"
                    src="assets/img/icons/close.svg"
                    class="btn-close">
								</span>
    </div>
    <div style="color:#868686;">
      <b>
        {{ 'register' | translate}}:
      </b>
      <span style="margin-left: 5px;font-weight: normal;">
											<span style="color:white;">
												{{bookingData.created_at | date: 'dd-MM-yyyy HH:mm'}}h
											</span>
										</span>
    </div>
    <div *ngIf="bookingData.user"
         style="color:#868686;font-weight: normal;">
      <b>
        {{ "by" | translate }}:
      </b>
      <span style="margin-left: 5px;color:white;">
											{{ bookingData.user.username }} ({{
          bookingData.user.first_name + ' ' + bookingData.user.last_name
        }})
										</span>
    </div>
    <div style="color:#868686;font-weight: normal;">
      <b>
        {{ 'from' | translate }}:
      </b>
      <span *ngIf="bookingData.source == 'web'"
            style="margin-left: 5px;color:white;">
											{{'page_created' |
        translate}}
										</span>
      <span *ngIf="bookingData.source == 'admin'"
            style="margin-left: 5px;color:white;">
											{{'api_created' |
        translate}}
										</span>
    </div>
    <div class="title-status">
								<span *ngIf="bookingData.cancellation_status == 'active'"
                      style="color:#00C32B;background-color: #B2EFAD;">
									{{'active' | translate | uppercase }}
								</span>
      <span *ngIf="bookingData.cancellation_status == 'finished'"
            style="color:rgba(68, 74, 88, 1);background-color: #E3E3E3;">
									{{'finished' | translate | uppercase }}
								</span>
      <span *ngIf="bookingData.status === 2"
            style="color:rgba(146, 26, 0, 1);background-color: #F7BB99;">
									{{'cancelled' | translate | uppercase }}
								</span>
      <span *ngIf="bookingData.status === 3"
            style="color:rgba(83, 65, 0, 1);background-color:#F7E399;">
									{{'partial_cancelled' | translate | uppercase }}
								</span>
      <span class="col-right">
									<span *ngIf="bookingData.status === 1 && bookingData.paid"
                        style="color:#00C32B;background-color: #B2EFAD;">
										{{'payed' | translate | uppercase }}
									</span>
									<span *ngIf="bookingData.status === 1 && !bookingData.paid && bookingData.payment_method_id != 3"
                        style="color:#FF0000;background-color: #F7BB99;">
										{{'no_payed' | translate | uppercase }}
									</span>
									<span *ngIf="bookingData.status === 1 && !bookingData.paid && bookingData.payment_method_id == 3"
                        style="color:#FA9917;background-color: #F7E399;">
										{{'link_send' | translate | uppercase }}
									</span>
								</span>
    </div>
  </div>
  <div class="bodyWrapper" style="padding-bottom: 0;">
    <div class="section">
      <div class="sectionTitle">
        <img src="assets/img/icons/clientes2.svg" class="icon24" />
        {{'client' | translate}}
      </div>
      <div class="utilizersWrapper">
        <app-level-user class="avatarImg"
                        mat-card-avatar *ngIf="client.client_sports && client.client_sports.length"
                        [allLevels]="utilsService.getSportLevels(client.client_sports[0].sport_id, allLevels)"
                        [selectLevel]="client.client_sports[0].sport_id?.degree_id" [size]="50"
                        [userImage]="client?.image !== null && client?.image
                        !== '' ? client?.image :  'assets/img/avatar.png'">
        </app-level-user>
        <img class="avatarImg" *ngIf="!client.client_sports || !client.client_sports.length"
             [src]="
              client.image !== null && client.image !== ''
                ? client.image
                : 'assets/img/avatar.png'
            " />

        <div class="utilizersWrapper__description">
          <h4>{{ client.first_name }} {{ client.last_name }}</h4>
          <span>{{ langService.getLanguage(client.language1_id) }} ·
            {{ utilsService.calculateYears(client.birth_date) }} &ensp;{{
              "years" | translate
            }}
            · {{ utilsService.getCountry(client.country) }}</span>
          <div style="display: flex;gap: 8px;">
            <img src="assets/icons/icon/chat.png" class="icon24" />
            <vex-icon src="mail"
                      href="mailto:{{ client.email }}"
                      title="{{ client.email }}"
                      class="icon24" />
            <vex-icon src="phone"
                      href="tel:{{ client.phone }}"
                      title="{{ client.phone }}"
                      class="icon24" />


            <img  *ngIf="bookingData.status !== 2" (click)="sendMailInfo()"
                 src="assets/img/icons/send-mail-black.svg" class="icon24"
                 style="margin-left: 12rem; cursor: pointer;">
            <!-- {{ "send" | translate }} {{ "mail" | translate }} -->

          </div>

        </div>
      </div>
    </div>
    <div class="section">
      <div class="sectionTitle">
        {{ "summary" | translate }}
      </div>
      <div class="dateRow" *ngFor="let activity of activities; let i = index">
        <div [ngClass]="{ 'line-through': activity.status == 2 }">
          <span class="date">{{("00"+ (i + 1)).slice(-2)}}.</span>
          <span class="hour"> {{ activity.course.name }} </span>
          <span class="price" [ngClass]="{ 'line-through': activity.status == 2 }">
            <span class="discounted-price">
              {{ activity.total | number:'0.2-2' }}
              {{ activities[0]?.course.currency }}
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="dateRow">
        <div>
          <span class="hour">
            {{ "Subtotal" | translate }}
          </span>
          <span class="price">
            <span class="discounted-price">
              {{ sumActivityTotal()| number:'0.2-2' }}
              {{ activities[0]?.course.currency }}
            </span>
          </span>
        </div>
      </div>
    </div>

    <div class="section" style="margin-bottom: 0;border: none;">
      <div class="dateRow" *ngIf="!bookingData.paid && bookingData.reduction != null">
        <div>
          <span class="hour" (click)="addReduction()" *ngIf="bookingData.reduction == null && this.calculateTotalVoucherPrice()
            < bookingData.price_total && !bookingData.paid" style="
            color: #E91E63;
             font-size: 14px;
             font-family: DM Sans;
             font-weight: 400;
             line-height: 18px; cursor: pointer;
             word-wrap: break-word;display: flex;
             align-items: center;gap: 8px">
            <mat-icon style="margin: 0 8px;">add</mat-icon>
            {{ "apply_reduction" | translate }}
          </span>

          <span style="width: 100%; float:left" *ngIf="bookingData.price_reduction && bookingData.price_reduction > 0;">
            			              <img class="icon24" style="float: left;color: red; cursor:pointer; display: inline-flex"
                                     src="assets/icons/icon/delete.png" *ngIf="!bookingData.paid"
                                     (click)="deleteReduction();">
            <p style="float:left">{{'reduction' |translate}}</p>
            <p style="float:right">
              -{{bookingData.price_reduction}}
              {{activities[0]?.course.currency}}
            </p>
          </span>
        </div>
      </div>
      <div class="dateRow">
        <div>
          <mat-checkbox color="primary" [(ngModel)]="bookingData.has_cancellation_insurance"
                        (change)="calculateRem($event)" [disabled]="isNaN(this.cancellationInsurancePercent) || bookingData.paid"
                        style="float: left;"></mat-checkbox>
          <span class="hour">
            {{ "op_rem" | translate }}
          </span>
          <span class="price">
            {{bookingData.price_cancellation_insurance| number:'0.2-2'}}
            {{activities[0]?.course?.currency}}
          </span>
        </div>
      </div>
    </div>

  </div>
  <div class="footerWrapper">
    {{ "bookings_page.description.total" | translate }}
    <ng-container>
      <span class="totalPrice">
        {{ bookingData.price_total  | number:'0.2-2'}}
        {{ activities[0]?.course?.currency }}
      </span>
    </ng-container>
    <ng-container >
      <span *ngIf="!bookingData.paid && bookingData.price_total - calculateTotalVoucherPrice() > 0">{{ "to_pay" | translate }}</span>
    </ng-container>
    <ng-container *ngIf="!bookingData.paid && bookingData.price_total - calculateTotalVoucherPrice() > 0">
      <span class="totalPrice" *ngIf="bookingData.price_total - calculateTotalVoucherPrice() != 0">
        {{ bookingData.price_total - calculateTotalVoucherPrice()  | number:'0.2-2' }}
        {{ activities[0]?.course?.currency }}
      </span>
    </ng-container>
    <!--    <ng-container *ngIf="bookingData.paid">
          <span class="totalPrice" *ngIf="bookingData.paid_total - calculateTotalVoucherPrice() != 0">
            {{ bookingData.price_total - calculateTotalVoucherPrice() }}
            {{ activities[0]?.course?.currency }}
          </span>
        </ng-container>-->
  </div>
  <div class="historyWrapper">
    <div class="section" style="margin-bottom: 0; border: none">
      <div class="sectionTitle">
        {{ "payment_history" | translate }}
      </div>
      <div class="dateRow" style="border-bottom: 1px solid #dee6ea; padding-bottom: 10px">
        <div>
          <span class="date" style="color:#2fca45"
                *ngIf="bookingData.paid || bookingData.price_total
                - calculateTotalVoucherPrice() <= 0">{{ "ispaid" | translate }}</span>
          <span class="date" style="color:#FB9B1B"
                *ngIf="!bookingData.paid && bookingData.price_total
                - calculateTotalVoucherPrice() > 0">{{ "pending_payment" | translate | uppercase }}</span>
          <span class="price">
            <span class="discounted-price" style="color:#2fca45"
                  *ngIf="bookingData.paid || bookingData.price_total - calculateTotalVoucherPrice() <= 0">
              {{ parseFloat(bookingData.paid_total) + Math.abs(calculateTotalVoucherPrice())  | number:'0.2-2' }}
              {{ activities[0]?.course?.currency }}
            </span>

            <span class="discounted-price" style="color:#FB9B1B"
                  *ngIf="!bookingData.paid && bookingData.price_total - calculateTotalVoucherPrice() > 0">
              {{ parseFloat( bookingData.price_total) - Math.abs(calculateTotalVoucherPrice())  | number:'0.2-2'}}
              {{ activities[0]?.course?.currency }}
            </span>
          </span>
        </div>
      </div>

      <div class="dateRow">
        <div>
          <span class="hour" *ngIf="this.calculateTotalVoucherPrice() < bookingData.price_total && !bookingData.paid"
                (click)="addBonus()" style="
          color: #E91E63;
           font-size: 14px;
           font-family: DM Sans;
           font-weight: 400;
           line-height: 18px; cursor: pointer;
           word-wrap: break-word;display: flex;
           align-items: center;gap: 8px;">
            <mat-icon style="margin: 0 8px;">add</mat-icon>
            {{ "apply_bonus" | translate }}
          </span>

        </div>
      </div>
      <ng-container *ngIf="bookingData.vouchers?.length">
        <div class="dateRow">
          <div>
            <span style="width: 100%; float:left" *ngFor="let item of bookingData.vouchers; let i = index">
              <img class="icon24" src="assets/icons/icon/delete.png"
                   style="display: inline-flex;float: left; cursor: pointer"
                   *ngIf="!bookingData.paid" (click)="deleteBonus(i);">

              <p style="float:left">{{'bonus' |translate}}
                {{item.bonus.code}}</p>
              <p style="float:right">
                {{item.bonus.reducePrice}}
                {{activities[0]?.course?.currency}}
              </p>
            </span>
          </div>
        </div>
      </ng-container>
      <div class="dateRow" *ngFor="let payment of bookingData.payments">
        <div>
          <span class="date"> {{ payment.created_at | date: "dd.MM.yyyy" }}:</span>
          <span class="hour">{{ payment.created_at | date: "hh:mm" }}h </span>
        </div>
        <div>
          <span class="discounted-price">
              {{ payment.status | translate }} - {{ payment.notes ?? 'Boukii Pay' | translate }}
          </span>
          <span class="price">
            {{ payment.amount }} {{activities[0]?.course?.currency}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="historyWrapper">
    <div class="section" style="margin-bottom: 0; border: none">
      <div class="sectionTitle">
        {{ "change_history" | translate }}
      </div>
      <div class="dateRow" *ngFor="let bookingLog of bookingData.booking_logs">
        <div>
          <span class="date"> {{ bookingLog.created_at | date: "dd.MM.yyyy" }}:</span>
          <span class="hour">{{ bookingLog.created_at | date: "hh:mm" }}h </span>
          <span class="price">
            <span class="discounted-price">
              {{ bookingLog.action | translate }}
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>

</div>
<button *ngIf="!bookingData.paid || bookingData.status != 2" style="height: 56px; width: 400px;border-radius: 3px;margin-top: 16px;"
        color="primary" mat-raised-button type="button" class="client-button" (click)="payClick.emit()">
  {{ "Pagar" | translate }}
</button>
