<form>
  <div class="flex items-center" mat-dialog-title>
    <h2 class="headline m-0 flex-auto">{{'bookings_page.edit_dates.title' |
      translate }}</h2>

    <!--<button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>-->

    <button class="text-secondary" mat-dialog-close mat-icon-button
            type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col">

    <mat-dialog-actions align="end">
      <button color="primary" mat-flat-button (click)="closeModal()">{{'confirm'
        | translate}}</button>
      <button color="primary" mat-flat-button [mat-dialog-close]="false">{{'no'
        | translate}}</button>
    </mat-dialog-actions>

    <ng-container>
      <ng-container
        *ngIf="(defaults.course.course_type === 2 || defaults.course.course_type === 3)">
        <mat-form-field appearance="outline" class="flex-auto" style="width: 48%">
          <mat-label>{{ 'hour' | translate }}</mat-label>
          <mat-select [(ngModel)]="hourStart" [ngModelOptions]="{ standalone: true }">
            <mat-option
              *ngFor="let time of generateCourseHours(
        date?.hour_start || defaults.course.course_dates[0].hour_start,
        date?.hour_end || defaults.course.course_dates[0].hour_end,
        '5min',
        '5min'
      )"
              [value]="time"
              [disabled]="!isValidTime(time)"
            >
              {{ time }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <mat-form-field appearance="outline" class="flex-auto" style="width: 48%">
        <mat-label>{{'dates' | translate}}</mat-label>
        <mat-select [(ngModel)]="selectedCourseDateId"
                    [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let date of defaults.course.course_dates" [value]="date.id"
                      [disabled]="!isAfter(date)">
            {{ date.date | date: 'dd-MM-yyyy' }}
          </mat-option>
        </mat-select>
      </mat-form-field>


    </ng-container>

  </mat-dialog-content>

</form>
