.chart-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.chart-column {
  flex: 1 1 calc(15% - 1rem);
  min-width: calc(15% - 1rem);
}

.chart-column-lines {
  flex: 1 1 calc(40% - 1rem);
  min-width: calc(40% - 1rem);
}

.chart-container {
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mt-6 {
  margin-top: 1.5rem;
}

.course-hours {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  min-height: 275.75px;
  max-height: 275.75px;
  overflow-y: scroll;
}

@media (max-width: 1200px) {
  .chart-column, .chart-column-lines {
    flex: 1 1 100%;
    min-width: 100%;
  }
}

/* Additional styles for course details */
.course {
  margin-bottom: 10px;
}

.course-info {
  display: flex;
  align-items: center;
}

.course-bar {
  height: 20px;
  margin-right: 10px;
  border-radius: 5px;
}

.course-bar-container {
  display: flex;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
}

.course-bar-filled {
  height: 100%;
  transition: width 0.5s;
}

.course-bar-empty {
  height: 100%;
  background-color: #ccc; /* Color gris */
}

.course-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.course-name {
  font-weight: bold;
}

.course-value {
  color: #555;
}

::ng-deep .mdc-tab.mdc-tab--active {
  background-color: var(--color-primary-rgb);
}

::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: white !important;
}
