<mat-spinner *ngIf="loading" style="margin: 0 auto"></mat-spinner>
<div [@stagger]="true" class="p-gutter container"
  style="max-width: none;padding: 0.5%;" *ngIf="!loading">
  <div class="flex flex-col sm:flex-row gap-4">
    <div class="column-container">
      <div class="card-container">
        <div style="height: 100%; padding: 1px" @fadeInUp
          class="card flex-auto">
          <div class="px-6 py-4 border-b flex items-center">
            <h2 class="title m-0" style="width: 80%;">{{'booking_info' |
              translate}} - {{booking.id}}</h2>
            <button *ngIf="bookingPendingPrice < 0 && booking.paid"
              mat-raised-button color="primary" class="button-cancel"
              style="color: #fff;background: #fb9b1b;padding: 1%;width: 25%; border-radius: 0; margin: 0 2% 0 0;"
              (click)="refundBooking()">
              {{'bookings_page.cancelations.refund' | translate }}
            </button>
            <button mat-raised-button color="primary" class="button-cancel"
              style="color: #fff;background: #f53d7c;padding: 1%;width: 20%; border-radius: 0; "
              (click)="goTo('/bookings')">{{'back' | translate }}</button>

            <button mat-raised-button [disabled]="booking.status === 2"
              color="accent"
              [ngStyle]="{'background': booking.status === 2 ? 'var(--color-grey5)' : '#f53d7c'}"
              class="button-cancel"
              style="color: #fff;padding: 1%;width: 25%; border-radius: 0; margin: 0 0 0 2%;"
              (click)="deleteBooking()">{{'bookings_page.detail.full_cancel' |
              translate}}</button>
          </div>
          <mat-card class="reservation-detail-card"
            *ngFor="let item of bookingsToCreate; let bI = index">
            <div style="padding: 2%">
              <div style="width: 50%;float: left;">
                <p
                  style="padding: 5% 5% 0 5%;width: 100%;float: left;font-size: 16px;color:#868686"><b>{{'booking'
                    | translate}}</b></p>
                <p
                  style="font-size: 10px;padding: 0 5% 0 5%;width: 100%;float: left;color:#868686"><strong>{{'register'
                    |translate}}</strong>:
                  <span style="color:white">
                    {{
                    bookingsToCreate[0].courseDates[0].created_at | date:
                    'dd-MM-yyyy'}} {{
                    bookingsToCreate[0].courseDates[0].created_at | date:
                    'HH:mm'}}
                  </span>

                </p>
                <p
                  style="font-size: 10px;padding: 0 5% 0 5%;width: 100%;float: left;color:#868686"><strong>{{'from'
                    |translate}}:</strong>: Admin</p>
                <p
                  style="font-size: 10px;padding: 0 5% 0 5%;width: 100%;float: left;color:#868686"><strong>{{'by'
                    |translate}}</strong>:
                  {{getUser(booking.user_id)?.first_name}}
                  {{getUser(booking.user_id)?.last_name}}</p>
              </div>
              <div style="width: 50%;float: left;">
                <p
                  style="padding: 5% 5% 0 0;width: 60%;float: right;font-size: 13px;text-align: center;font-weight: 500;color:#fac710"
                  *ngIf="!booking.paid && item.courseDates[0].status === 1">

                  {{'no_paid' | translate | uppercase }}

                </p>
                <p
                  style="padding: 5% 5% 0 0;width: 60%;float: right;font-size: 13px;text-align: center;font-weight: 500;color:#8fd14f"
                  *ngIf="(booking.status === 1 || booking.status === 3) && booking.paid && item.courseDates[0].status === 1">

                  {{'ispaid' | translate | uppercase }}

                </p>
                <p
                  style="padding: 5% 5% 0 0;width: 60%;float: right;font-size: 13px;text-align: center;font-weight: 500;color:#fac710"
                  *ngIf="item.courseDates[0].status === 2">

                  {{'cancelled' | translate | uppercase }}

                </p>

                <div class="qrcodeImage">
                  <qrcode
                    [qrdata]="item?.courseDates[0]?.client_id?.toString()"
                    [allowEmptyString]="true"
                    [ariaLabel]="'QR Code image with the following content...'"
                    [cssClass]="'center'"
                    [colorDark]="'#808080'"
                    [colorLight]="'var(--color-grey5)'"
                    [elementType]="'canvas'"
                    [errorCorrectionLevel]="'H'"
                    [imageSrc]="'../../../../assets/img/10.png'"
                    [imageHeight]="25"
                    [imageWidth]="25"
                    [margin]="4"
                    [scale]="4"
                    [title]="'A custom title attribute'"
                    [width]="85"></qrcode>
                </div>
              </div>
            </div>

            <mat-divider class="text-border"></mat-divider>
            <div style="float:left; width: 100%">

              <p
                style="padding: 3%;width: 40%;float: left;font-size: 13px; font-weight: bold;">{{'activity'
                | translate}}</p>

              <button mat-icon-button color="success" class="delete-icon"
                (click)="goToEdit(bI, item)" style="float: right;"
                *ngIf="(item?.courseDates[0]?.status === 1) && canUpdate(item?.courseDates[item?.courseDates.length - 1]?.date)">
                <mat-icon svgIcon="mat:sync" style="color:#FF4081"></mat-icon>
              </button>
              <button mat-icon-button color="success" class="delete-icon"
                (click)="editDates(bI, item)" style="float: right;"
                *ngIf="(item?.courseDates[0]?.status === 1 && getCourse(item?.courseDates[0]?.course_id)?.is_flexible) && canUpdate(item?.courseDates[item?.courseDates.length - 1]?.date)">
                <mat-icon svgIcon="mat:edit" style="color:#FF4081"></mat-icon>
              </button>
              <button mat-icon-button color="warn" class="delete-icon"
                (click)="deletePartialBooking(bI, item)" style="float: right;">
                <mat-icon svgIcon="mat:delete"></mat-icon>
              </button>
            </div>

            <mat-card-header>
              <div mat-card-avatar
                [style.background-image]="'url(' + (getCourse(item?.courseDates[0]?.course_id)?.course_type === 1 ? collectifIcon : privateIcon) + ')'"
                style="border-radius: 5px"></div>
              <mat-card-title class="mat-mdc-card-title">
                <div style="float: left;width: 70%;font-size: 14px;">
                  {{getCourse(item?.courseDates[0]?.course_id)?.name}}</div>
                <div class="ng-tns-c545279033-6"
                  style="float: left;font-size: 14px;width: 30%;text-align: right;color: #EA0C60;">
                  {{item?.courseDates[0]?.course_id?.price}}
                  {{item?.courseDates[0]?.course_id?.currency}} </div>
              </mat-card-title>
              <mat-card-subtitle style="margin: 0;float: left;width: 100%;">
                {{getCourse(item?.courseDates[0]?.course_id)?.course_type === 1
                ? 'colective' : 'private' | translate}}
                {{getCourse(item?.courseDates[0]?.course_id)?.sport?.name}}
              </mat-card-subtitle>
              <div style="color: #EA0C60;"
                *ngIf="getCourse(item?.courseDates[0]?.course_id)?.course_type === 2 && getCourse(item?.courseDates[0]?.course_id)?.is_flexible ">
                {{'from' | translate}} {{ getAmountCourse(bookingUsersUnique,
                bI)}} {{getCourse(item?.courseDates[0]?.course_id)?.currency}}
              </div>
              <div style="color: #EA0C60;"
                *ngIf="getCourse(item?.courseDates[0]?.course_id)?.course_type === 1 && getCourse(item?.courseDates[0]?.course_id)?.is_flexible">
                {{ getAmountCourse(bookingUsersUnique, bI)}}
                {{getCourse(item?.courseDates[0]?.course_id)?.currency}}
                {{'/ per day'}}
              </div>
              <div style="color: #EA0C60;"
                *ngIf="!getCourse(item?.courseDates[0]?.course_id)?.is_flexible">
                {{ getAmountCourse(bookingUsersUnique, bI)}}
                {{getCourse(item?.courseDates[0]?.course_id)?.currency}}
              </div>
            </mat-card-header>
            <mat-card-content>
              <ul
                style="font-size: 12px;padding: 0 0 0 18%;margin: 10px 0 0 0; width: 100%;">
                <li *ngFor="let date of item?.courseDates">
                  <mat-icon style="height: 15px;width: 20px;"
                    svgIcon="mat:calendar_today"></mat-icon>{{ date.date |
                  date:'fullDate': '' : translateService.currentLang }} -
                  {{date.hour_start}} / {{ date.hour_end }}
                </li>
              </ul>
            </mat-card-content>

            <mat-divider style="float: left;width: 100%;"
              class="text-border"></mat-divider>
            <div style="float:left; width: 100%">
              <p
                style="padding: 3%;width: 40%;float: left;font-size: 13px; font-weight: bold;">{{'participant'
                | translate}}</p>
            </div>

            <ng-container *ngFor="let bu of bookingUsersUnique">

              <mat-card-header
                *ngIf="booking.old_id === null && courses[bI].course_type === 2 && courses[bI].id === bu.course_id
              && (bookingUsers.length === bookingUsersUnique.length ? bu.course_date_id === item.courseDates[0].course_date_id : findCourseDateId(bu.course_date_id, bookingUsers))">

                <app-level-user mat-card-avatar
                  *ngIf="item.degrees_sport && item.degrees_sport.length"
                  [allLevels]="item.degrees_sport"
                  [selectLevel]="getClientDegree(bu?.client_id, item.sport_id)"
                  [size]="40"
                  [userImage]="getClientAvatar(bu?.client_id) !== null ? getClientAvatar(bu?.client_id) : userAvatar"></app-level-user>
                <!--<div mat-card-avatar [style.background-image]="'url(' + (getClientAvatar(booking.client_main_id) !== null ? getClientAvatar(booking.client_main_id) : userAvatar) + ')'"></div>-->
                <mat-card-subtitle>{{getClientName(bu?.client_id)}}</mat-card-subtitle>
                <mat-card-subtitle>{{
                  getLanguage(getClient(bu?.client_id)?.language1_id) }} · {{
                  getCountry(getClient(bu?.client_id)?.country) }} ·
                  {{calculateAge(getClient(bu?.client_id)?.birth_date) }}
                  {{'years' |translate}}</mat-card-subtitle>

              </mat-card-header>

              <div
                style="float: left;width: 50%;margin: 0 auto; padding:2%; color: #fff"
                *ngIf="booking.old_id === null && courses[bI].course_type === 2 && courses[bI].id === bu.course_id
              && (bookingUsers.length === bookingUsersUnique.length ? bu.course_date_id === item.courseDates[0].course_date_id : findCourseDateId(bu.course_date_id, bookingUsers))"
                [ngStyle]="{'background': getDegree(item.courseDates[0].degree_id)?.color !== null ? getDegree(item.courseDates[0].degree_id)?.color : ''}">
                {{getDegree(item.courseDates[0].degree_id)?.annotation}}
                {{getDegree(item.courseDates[0].degree_id)?.level}}
              </div>
            </ng-container>

            <mat-card-header
              *ngIf="(booking.old_id === null || booking.old_id !== null) && courses[bI].course_type === 1">
              <app-level-user mat-card-avatar
                *ngIf="item.degrees_sport && item.degrees_sport.length"
                [allLevels]="item.degrees_sport"
                [selectLevel]="getClientDegree(item?.courseDates[0]?.client_id,item.sport_id)"
                [size]="40"
                [userImage]="getClientAvatar(item?.courseDates[0]?.client_id) !== '' && getClientAvatar(item?.courseDates[0]?.client_id) !== null ? getClientAvatar(item?.courseDates[0]?.client_id) : userAvatar"></app-level-user>
              <!--<div mat-card-avatar [style.background-image]="'url(' + (getClientAvatar(booking.client_main_id) !== null ? getClientAvatar(booking.client_main_id) : userAvatar) + ')'"></div>-->
              <mat-card-subtitle>{{getClientName(item?.courseDates[0]?.client_id)}}</mat-card-subtitle>
              <mat-card-subtitle>{{
                getLanguage(getClient(item?.courseDates[0]?.client_id)?.language1_id)
                }} · {{
                getCountry(getClient(item?.courseDates[0]?.client_id)?.country)
                }} ·
                {{calculateAge(getClient(item?.courseDates[0]?.client_id)?.birth_date)
                }} {{'years' |translate}}</mat-card-subtitle>
            </mat-card-header>
            <div
              style="float: left;width: 50%;margin: 0 auto; padding:2%; color: #fff"
              *ngIf="(booking.old_id === null || booking.old_id !== null) && courses[bI].course_type === 1"
              [ngStyle]="{'background': getDegree(item.courseDates[0].degree_id)?.color !== null ? getDegree(item.courseDates[0].degree_id)?.color : ''}">
              {{getDegree(item.courseDates[0].degree_id)?.annotation}}
              {{getDegree(item.courseDates[0].degree_id)?.level}}
            </div>

            <mat-card-header
              *ngIf="(booking.old_id === null || booking.old_id !== null) && courses[bI].course_type === 1">
              <app-level-user mat-card-avatar
                *ngIf="item.degrees_sport && item.degrees_sport.length"
                [allLevels]="item.degrees_sport"
                [selectLevel]="getClientDegree(item?.courseDates[0]?.client_id,item.sport_id)"
                [size]="40"
                [userImage]="getClientAvatar(item?.client_id) !== null ? getClientAvatar(item?.client_id) : userAvatar"></app-level-user>
              <!--<div mat-card-avatar [style.background-image]="'url(' + (getClientAvatar(booking.client_main_id) !== null ? getClientAvatar(booking.client_main_id) : userAvatar) + ')'"></div>-->
              <mat-card-subtitle>{{getClientName(item?.courseDates[0]?.client_id)}}</mat-card-subtitle>
              <mat-card-subtitle>{{
                getLanguage(getClient(item?.courseDates[0]?.client_id)?.language1_id)
                }} · {{
                getCountry(getClient(item?.courseDates[0]?.client_id)?.country)
                }} ·
                {{calculateAge(getClient(item?.courseDates[0]?.client_id)?.birth_date)
                }} {{'years' |translate}}</mat-card-subtitle>
            </mat-card-header>
            <div
              style="float: left;width: 50%;margin: 0 auto; padding:2%; color: #fff"
              *ngIf="(booking.old_id === null || booking.old_id !== null) && courses[bI].course_type === 1"
              [ngStyle]="{'background': getDegree(item.courseDates[0].degree_id)?.color !== null ? getDegree(item.courseDates[0].degree_id)?.color : ''}">
              {{getDegree(item.courseDates[0].degree_id)?.annotation}}
              {{getDegree(item.courseDates[0].degree_id)?.level}}
            </div>

            <mat-divider style="float: left;width: 100%;margin-top: 10px"
              class="text-border"></mat-divider>

            <mat-card-content>

              <div style="float: left;width: 100%;margin: 2% 0 2% 0;">
                <div style="float: left;width: 15%;">
                  <img style="float: left;width: 100%;height: 60px;"
                    [src]="item?.courseDates[0]?.monitor_id !== null ? getMonitorAvatar(item?.courseDates[0]?.monitor_id) : userAvatar"
                    alt="Avatar de usuario" class="user-avatar" />

                </div>
                <div style="float: left;width: 80%;margin: 3% 0 0 3%;">
                  <span style="float: left;width: 100%;">{{
                    item?.courseDates[0]?.monitor_id !== null ?
                    getMonitorName(item?.courseDates[0]?.monitor_id) :
                    ("text_nomonitorset" | translate)}}</span><br>
                  <span style="float: left;width: 100%;">{{
                    getLanguage(getMonitorLang(item?.courseDates[0]?.monitor_id))
                    }} · {{
                    getCountry(getMonitorProvince(item.courseDates[0]?.monitor_id))
                    }} ·
                    {{calculateAge(getMonitorBirth(item.courseDates[0]?.monitor_id))
                    }} &ensp;{{'years' | translate}}</span>
                </div>
              </div>
              <mat-divider style="float: left;width: 100%;"
                class="text-border"></mat-divider>

              <p
                style="padding: 5%;width: 40%;float: left;font-size: 13px; font-weight: bold;"
                *ngIf="courses[bI].options">{{'options' | translate}}</p>

              <div style="width: 100%; float:left">
                <div
                  style="width: 100%; float:left;background: var(--is-light-theme, #e6e6e6) var(--is-dark-theme, #121212);;padding: 2%; margin-bottom: 15px;"
                  *ngIf="courses[bI].options">
                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <div style="width: 50%;">
                      <strong>Forfait</strong>
                    </div>

                    <div style="float: right;width: 50%;">
                      <p style="float: right;">
                        +{{getCourseExtraForfaitPrice(item.courseDates[0])}}
                        {{getCourse(item?.courseDates[0]?.course_id)?.currency}}</p>
                    </div>
                  </div>

                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <ul>
                      <li *ngFor="let forfait of settings?.extras?.forfait">
                        <mat-checkbox class="radio" [value]="forfait"
                          [disabled]="item?.courseDates[0]?.status === 2"
                          (change)="setForfait($event, forfait, item, bI)"
                          [checked]="getCourseExtraForfait(forfait, item.courseDates[0])">
                          <span> {{forfait.product}} - {{ forfait.name }}
                          </span>
                        </mat-checkbox>
                      </li>

                    </ul>
                  </div>
                </div>

                <!--<div style="width: 100%; float:left;background: var(--is-light-theme, #e6e6e6) var(--is-dark-theme, #121212);;padding: 2%; margin-bottom: 15px;" *ngIf="false">
                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <div style="width: 65%;">
                      <mat-slide-toggle>Alquiler material</mat-slide-toggle>
                    </div>
                    <div>
                      <p>+ 168 CHF</p>
                    </div>
                  </div>


                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <div class="flex-auto">
                      <mat-checkbox color="accent" [checked]="false">Media Jornada</mat-checkbox>
                    </div>
                    <div class="flex-auto">
                      <mat-checkbox color="accent" [checked]="false">Jornada completa</mat-checkbox>
                    </div>
                  </div>
                </div>

                <div style="width: 100%; float:left;background: var(--is-light-theme, #e6e6e6) var(--is-dark-theme, #121212);;padding: 2%; margin-bottom: 15px;" *ngIf="false">
                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <div style="width: 65%;">
                      <mat-slide-toggle>Comida</mat-slide-toggle>
                    </div>
                    <div>
                      <p>+ 168 CHF</p>
                    </div>
                  </div>

                </div>

                <div style="width: 100%; float:left;background: var(--is-light-theme, #e6e6e6) var(--is-dark-theme, #121212);;padding: 2%;" *ngIf="false">
                  <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
                    <div style="width: 65%;">
                      <mat-slide-toggle>Transporte</mat-slide-toggle>
                    </div>
                    <div>
                      <p>+ 168 CHF</p>
                    </div>
                  </div>
                </div>-->
              </div>
              <div style="width: 100%;float:left; margin-top: 10px">
                <div>
                  <p style="width: 60%;float: left;">{{'options_total' |
                    translate }}</p>
                  <p
                    style="color: #EA0C60;">{{getCourseExtraForfaitPrice(item.courseDates[0])}}
                    {{getCourse(item?.courseDates[0]?.course_id)?.currency}}</p>
                </div>
              </div>

              <mat-divider style="float: left;width: 100%;"
                class="text-border"></mat-divider>

              <div style="width: 100%;float:left;">

                <div>
                  <p
                    style="width: 60%;font-size: 21px;float:left">{{'booking_total'
                    | translate }}</p>
                  <p style="color: #EA0C60;">{{

                    parseFloatValue(getTotalBook(bI, item))

                    + getCourseExtraForfaitPrice(item.courseDates[0])}}
                    {{bookingsToCreate.length > 0 ?
                    bookingsToCreate[0].courseDates[0].currency : ''}}</p>
                </div>
              </div>
              <mat-divider style="float: left;width: 100%;"
                class="text-border"></mat-divider>

              <div
                style="width: 100%;float:left;margin: 20px 0 0 0;padding: 10px">

                <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">

                  <mat-form-field appearance="outline" class="flex-auto">
                    <mat-label>{{'observation_client' | translate }}</mat-label>
                    <input matInput [value]="item.courseDates[0].notes" required
                      type="text" (blur)="setClientsNotes($event)">

                  </mat-form-field>

                </div>

                <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">

                  <mat-form-field appearance="outline" class="flex-auto">
                    <mat-label>{{'observation_school' | translate }}</mat-label>
                    <input [value]="item.courseDates[0].notes_school" matInput
                      required type="text" (blur)="setSchoolNotes($event)">

                  </mat-form-field>

                </div>

              </div>
            </mat-card-content>
          </mat-card>
        </div>

      </div>

    </div>

    <div class="column-container" *ngIf="!loading">
      <div class="card-container">
        <div @fadeInUp class="card flex-auto" style="padding: 1%">
          <div class="px-6 py-4 border-b flex items-center">
            <h2 class="title m-0">{{'client_info' | translate }}</h2>

          </div>
          <mat-card style="width: 100%;padding:1%">
            <mat-card-header>
              <div mat-card-avatar
                [style.background-image]="'url(' + (getClientAvatar(booking.client_main_id) !== null ? getClientAvatar(booking.client_main_id) : userAvatar) + ')'"
                style="width:100px; height: 60px;"></div>
              <mat-card-subtitle>{{getClientName(booking.client_main_id)}}</mat-card-subtitle>
              <mat-card-subtitle>
                {{ getLanguage(getClient(booking.client_main_id)?.language1_id)
                }} · {{ getCountry(getClient(booking.client_main_id)?.country)
                }} ·
                {{calculateAge(getClient(booking.client_main_id)?.birth_date) }}
                &ensp;{{'years' | translate}}
              </mat-card-subtitle>
              <mat-card-subtitle style="display: flex;">
                <vex-icon src="chat">
                </vex-icon>
                <vex-icon
                  src="mail"
                  href="mailto:{{ getClient(booking.client_main_id)?.email }}"
                  style="cursor:pointer"
                  title="{{ getClient(booking.client_main_id)?.email }}">
                </vex-icon>
                <vex-icon
                  src="phone"
                  href="tel:{{ getClient(booking.client_main_id)?.phone }}"
                  title="{{ getClient(booking.client_main_id)?.phone }}">
                </vex-icon>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-divider class="text-border"
              style="margin: 10px 0 10px 0"></mat-divider>
            <button mat-raised-button color="accent" (click)="addReduction()"
              [disabled]="booking.status === 2">{{'apply_reduction' |
              translate}}</button>
            <mat-divider class="text-border"
              style="margin: 10px 0 10px 0"></mat-divider>
            <button mat-raised-button color="accent" (click)="addBonus()"
              [disabled]="booking.status === 2">{{'apply_bonus' |
              translate}}</button>
            <mat-divider class="text-border"
              style="margin: 10px 0 10px 0"></mat-divider>
            <div style="float: left;width: 100%;"
              *ngIf="!isNanValue(this.cancellationInsurance)">
              <p style="float: left;">{{'op_rem' | translate}}</p>
              <mat-slide-toggle color="accent"
                [(ngModel)]="booking.has_cancellation_insurance"
                *ngIf="cancellationInsurance"
                (change)="addCancellationInsurance($event)"
                [disabled]="booking.status === 2"
                style="float: right;"></mat-slide-toggle>
            </div>
            <div style="float: left;width: 100%;"
              *ngIf="!isNanValue(this.boukiiCarePrice) && boukiiCarePrice > 0">
              <p style="float: left;">Boukii Care</p>
              <mat-slide-toggle color="accent"
                [(ngModel)]="booking.has_boukii_care" *ngIf="boukiiCarePrice"
                (change)="addBoukiiCare($event)"
                [disabled]="booking.status === 2"
                style="float: right;"></mat-slide-toggle>
            </div>
            <mat-divider class="text-border"
              style="margin: 10px 0 10px 0"></mat-divider>
            <h3 style="font-size: 1.5rem!important;">{{'summary' |
              translate}}</h3>
            <div class="opaque-box">
              <span style="width: 100%; float:left"
                *ngIf="booking.status !== 2">
                <p style="float:left">{{'base_price' | translate }}</p>
                <p style="float:right">{{getBasePrice(true)}}
                  {{bookingsToCreate.length > 0 ?
                  bookingsToCreate[0].courseDates[0].currency : ''}}</p>
              </span>
              <span style="width: 100%; float:left"
                *ngIf="booking.status === 2">
                <p style="float:left">{{'base_price' | translate }}</p>
                <p style="float:right">{{getBasePriceForAnulations(true)}}
                  {{bookingsToCreate.length > 0 ?
                  bookingsToCreate[0].courseDates[0].currency : ''}}</p>
              </span>

              <span style="width: 100%; float:left"
                *ngIf="booking.has_reduction">
                <p style="float:left">{{'reduction' | translate}}</p>
                <p style="float:right">-{{booking.price_reduction}}
                  {{bookingsToCreate.length > 0 ?
                  bookingsToCreate[0].courseDates[0].currency : ''}}</p>
              </span>

              <ng-container *ngIf="bonus.length > 0">

                <span style="width: 100%; float:left"
                  *ngFor="let item of bonus; let i = index">
                  <mat-icon svgIcon="mat:delete"
                    style="float: left;color: red; cursor:pointer"
                    *ngIf="!item?.bonus?.before"
                    (click)="deleteBonus(i)"></mat-icon>
                  <p style="float:left">{{'bonus' | translate}}
                    {{item?.bonus?.code}}</p>
                  <p style="float:right">-{{item?.bonus.before ?
                    item?.bonus?.currentPay : item?.bonus?.reducePrice}}
                    {{bookingsToCreate.length > 0 ?
                    bookingsToCreate[0].courseDates[0].currency : ''}}</p>
                </span>
              </ng-container>

              <ng-container *ngIf="discounts.length > 0">

                <span style="width: 100%; float:left"
                  *ngFor="let item of discounts; let i = index">
                  <p style="float:left">{{'multidate_discount' | translate}}
                  </p>
                  <p style="float:right">-{{item}} {{bookingsToCreate.length > 0
                    ? bookingsToCreate[0].courseDates[0].currency : ''}}</p>
                </span>
              </ng-container>

              <ng-container *ngFor="let item of courseExtra; let i = index">
                <span style="width: 100%; float:left" *ngIf="item">
                  <p style="float:left">Forfait {{item?.name}}</p>
                  <p style="float:right">{{item?.price}}
                    {{bookingsToCreate.length > 0 ?
                    bookingsToCreate[0].courseDates[0].currency : ''}}</p>
                </span>
              </ng-container>

              <span style="width: 100%; float:left"
                *ngIf="booking.has_cancellation_insurance">
                <p style="float:left">{{'op_rem' | translate }}</p>
                <p style="float:right">{{booking.price_cancellation_insurance}}
                  {{bookingsToCreate.length > 0 ?
                  bookingsToCreate[0].courseDates[0].currency : ''}}</p>
              </span>

              <span style="width: 100%; float:left"
                *ngIf="booking.has_boukii_care">
                <p style="float:left">Boukii Care</p>
                <p style="float:right">{{booking.price_boukii_care}}
                  {{bookingsToCreate.length > 0 ?
                  bookingsToCreate[0].courseDates[0].currency : ''}}</p>
              </span>

              <span style="width: 100%; float:left" *ngIf="booking.has_tva">
                <p style="float:left">{{'tva' | translate | uppercase }}</p>
                <p style="float:right">{{ tvaPrice| number:'0.2-2' }}
                  {{bookingsToCreate.length > 0 ?
                  bookingsToCreate[0].courseDates[0].currency : ''}}</p>
              </span>

              <span style="width: 100%; float:left">
                <p style="float:left">{{'total' | translate | uppercase}}</p>
                <p style="float:right">{{finalPrice| number:'0.2-2'}}
                  {{bookingsToCreate.length > 0 ?
                  bookingsToCreate[0].courseDates[0].currency : ''}}</p>
              </span>

              <span style="width: 100%; float:left"
                *ngIf="bookingPendingPrice < 0 && booking.paid">
                <p style="float:left; color:#FB9B1B">{{'refund_text' | translate
                  | uppercase }}</p>
                <p
                  style="float:right; color:#FB9B1B">{{bookingPendingPrice| number:'0.2-2'}}
                  {{bookingsToCreate.length > 0 ?
                  bookingsToCreate[0].courseDates[0].currency : ''}}</p>
              </span>

              <span style="width: 100%; float:left"
                *ngIf="bookingPendingPrice > 0 && !booking.paid && booking.status === 1">
                <p style="float:left; color:#FB9B1B">{{'pending_payment' |
                  translate | uppercase }}</p>
                <p
                  style="float:right; color:#FB9B1B">{{bookingPendingPrice| number:'0.2-2'}}
                  {{bookingsToCreate.length > 0 ?
                  bookingsToCreate[0].courseDates[0].currency : ''}}</p>
              </span>

              <span style="width: 100%; float:left"
                *ngIf="bookingPendingPrice === 0 && booking.paid && booking.status === 1">
                <p style="float:left; color:#2fca45">{{'ispaid' | translate |
                  uppercase }}</p>
                <p style="float:right; color:#2fca45">{{booking.paid_total}}
                  {{bookingsToCreate.length > 0 ?
                  bookingsToCreate[0].courseDates[0].currency : ''}}</p>
              </span>
            </div>

            <h3 style="font-size: 1.5rem!important;"
              *ngIf="payments.length > 0">{{'payment_history' | translate}}</h3>
            <div class="opaque-box" *ngIf="payments.length > 0">
              <ng-container *ngFor="let item of payments">
                <span style="width: 100%; float:left">
                  <p style="float:left"
                    *ngIf="item.status == 'refund'">{{item.created_at | date:
                    'dd-MM-yyyy hh:mm:ss'}}: {{'refund' | translate }}</p>
                  <p style="float:left"
                    *ngIf="item.status == 'no_refund'">{{item.created_at | date:
                    'dd-MM-yyyy hh:mm:ss'}}: {{'no_refund' | translate }}</p>
                  <p style="float:left"
                    *ngIf="item.status == 'paid'">{{item.created_at | date:
                    'dd-MM-yyyy hh:mm:ss'}}: {{'payment' | translate }}</p>
                  <p style="float:right" *ngIf="item.status === 'refund'">
                    {{item.amount}} {{bookingsToCreate.length > 0 ?
                    bookingsToCreate[0].courseDates[0].currency : ''}}</p>
                  <p style="float:right" *ngIf="item.status == 'no_refund'">
                    {{item.amount}} {{bookingsToCreate.length > 0 ?
                    bookingsToCreate[0].courseDates[0].currency : ''}}</p>
                  <p style="float:right" *ngIf="item.status == 'paid'">
                    {{item.amount}} {{bookingsToCreate.length > 0 ?
                    bookingsToCreate[0].courseDates[0].currency : ''}}</p>
                </span>
              </ng-container>

            </div>

            <h3 style="font-size: 1.5rem!important;"
              *ngIf="bookingLog.length > 0">{{'change_history' |
              translate}}</h3>
            <div class="opaque-box" *ngIf="bookingLog.length > 0">
              <ng-container *ngFor="let item of bookingLog">
                <span style="width: 100%; float:left">
                  <p style="float:left"
                    *ngIf="item.action == 'created by api'">{{item.created_at |
                    date: 'dd-MM-yyyy hh:mm:ss'}}: {{'api_created' | translate
                    }}</p>
                  <p style="float:left"
                    *ngIf="item.action == 'refund'">{{item.created_at | date:
                    'dd-MM-yyyy hh:mm:ss'}}: {{'cancel_refund' | translate
                    }}</p>
                  <p style="float:left"
                    *ngIf="item.action == 'refund_boukii_pay'">{{item.created_at
                    | date: 'dd-MM-yyyy hh:mm:ss'}}: {{'refund_boukii_pay' |
                    translate }}</p>
                  <p style="float:left"
                    *ngIf="item.action == 'full_cancel'">{{item.created_at |
                    date: 'dd-MM-yyyy hh:mm:ss'}}: {{'full_cancel' | translate
                    }}</p>
                  <p style="float:left"
                    *ngIf="item.action == 'partial_cancel'">{{item.created_at |
                    date: 'dd-MM-yyyy hh:mm:ss'}}: {{'partial_cancel' |
                    translate }}</p>
                  <p style="float:left"
                    *ngIf="item.action == 'no_refund'">{{item.created_at | date:
                    'dd-MM-yyyy hh:mm:ss'}}: {{'cancel_no_refund' | translate
                    }}</p>
                  <p style="float:left"
                    *ngIf="item.action == 'refund_cash'">{{item.created_at |
                    date: 'dd-MM-yyyy hh:mm:ss'}}: {{'refund_cash' | translate
                    }}</p>
                  <p style="float:left"
                    *ngIf="item.action == 'voucher_refund'">{{item.created_at |
                    date: 'dd-MM-yyyy hh:mm:ss'}}: {{'voucher_refund' |
                    translate }}</p>
                  <p style="float:left"
                    *ngIf="item.action == 'update'">{{item.created_at | date:
                    'dd-MM-yyyy hh:mm:ss'}}: {{'mails.type3' | translate }}</p>
                </span>
              </ng-container>

            </div>

            <ng-container *ngIf="!booking.paid && booking.status !== 2">
              <mat-divider class="text-border"
                style="margin: 10px 0 10px 0"></mat-divider>
              <div class="square-buttons-container"
                style="padding: 0 10px; gap: 10px;">
                <button mat-raised-button color="accent" class="square-button"
                  (click)="selectedButton='1';selectedSubButton='0';"
                  [class.selected]="selectedButton==='1'">{{'payment_direct' |
                  translate}}</button>
                <button mat-raised-button color="accent" class="square-button"
                  (click)="selectedButton='2';selectedSubButton='0';defaults.payment_method_id = 3"
                  [class.selected]="selectedButton==='2'">{{'payment_online' |
                  translate}}</button>
              </div>
              <mat-divider class="text-border"
                style="margin: 10px 0 10px 0"></mat-divider>
              <div class="square-buttons-container"
                style="padding: 0 10px; gap: 10px;"
                *ngIf="selectedButton==='1'">
                <button mat-raised-button color="accent" class="square-button"
                  (click)="selectedSubButton='1';defaults.payment_method_id = 1"
                  [class.selected]="selectedSubButton==='1'">{{'payment_cash' |
                  translate}}</button>
                <button mat-raised-button color="accent" class="square-button"
                  (click)="selectedSubButton='2'; defaults.payment_method_id = 4"
                  [class.selected]="selectedSubButton==='2'">{{'payment_other' |
                  translate}}</button>
                <button mat-raised-button color="accent" class="square-button"
                  (click)="selectedSubButton='3'; defaults.payment_method_id = 2"
                  [class.selected]="selectedSubButton==='3'"
                  [disabled]="booking.payrexx_reference === null">Boukii
                  Pay</button>
              </div>
              <mat-divider
                *ngIf="selectedSubButton==='1' || selectedSubButton==='2'"
                class="text-border" style="margin: 10px 0 10px 0"></mat-divider>
              <div style="width:100%" class="square-buttons-container"
                *ngIf="selectedSubButton==='1' || selectedSubButton==='2'">
                <p style="float:left;width: 100%;">{{'is_paid' | translate}}</p>
                <mat-slide-toggle color="accent" [(ngModel)]="defaults.paid"
                  [checked]="defaults.paid"
                  style="float: right;"></mat-slide-toggle>
              </div>
              <mat-divider
                *ngIf="selectedSubButton==='1' || selectedSubButton==='2' || selectedSubButton === '3'"
                class="text-border" style="margin: 10px 0 10px 0"></mat-divider>
              <div style="width:100%" class="square-buttons-container"
                *ngIf="selectedSubButton==='1' || selectedSubButton==='2' || selectedSubButton === '3'">
                <button mat-raised-button color="accent" class="square-button"
                  (click)="create()">{{'confirm_booking' | translate }}</button>
              </div>
              <div class="square-buttons-container"
                *ngIf="selectedButton==='2'">
                <button style="width:100%" mat-raised-button color="primary"
                  class="square-button" (click)="create()">{{'confirm_email'
                  |translate}}</button>
              </div>
              <div class="square-buttons-container"
                *ngIf="selectedButton==='3'">
                <button style="width:100%" mat-raised-button color="primary"
                  class="square-button" (click)="create()">{{'confirm_booking' |
                  translate }}</button>
              </div>
            </ng-container>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
